node-red/flows/battery-balancing.json
[
    {
        "id": "f1a2b3c4d5e6f7a8",
        "type": "tab",
        "label": "Battery Balancing",
        "disabled": false,
        "info": "Pylontech battery balancing 1x/30 days. Detects balanced state (SOC=100%, current<0.5A, cell diff<0.02V for 20min). Sets global balancing_needed/balancing_active.",
        "env": []
    },
    {
        "id": "g1a2b3c4d5e6f7a8",
        "type": "group",
        "z": "f1a2b3c4d5e6f7a8",
        "name": "Battery Balancing Logic",
        "style": {
            "fill": "#fff0e0",
            "label": true
        },
        "nodes": [
            "bal_inject_30s",
            "bal_main_func",
            "bal_ha_read_last",
            "bal_ha_write_last",
            "bal_debug"
        ],
        "x": 14,
        "y": 19,
        "w": 932,
        "h": 142
    },
    {
        "id": "bal_inject_30s",
        "type": "inject",
        "z": "f1a2b3c4d5e6f7a8",
        "g": "g1a2b3c4d5e6f7a8",
        "name": "Every 30s",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [["bal_ha_read_last"]]
    },
    {
        "id": "bal_ha_read_last",
        "type": "api-current-state",
        "z": "f1a2b3c4d5e6f7a8",
        "g": "g1a2b3c4d5e6f7a8",
        "name": "Read last_balanced",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_datetime.last_pylontech_balanced",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "lastBalanced",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 280,
        "y": 80,
        "wires": [["bal_main_func"]]
    },
    {
        "id": "bal_main_func",
        "type": "function",
        "z": "f1a2b3c4d5e6f7a8",
        "g": "g1a2b3c4d5e6f7a8",
        "name": "Balancing Logic v1.0",
        "func": "// Pylontech Battery Balancing v1.0\n// Runs every 30s. Detects if balancing is needed (30 days since last).\n// When active: monitors SOC, current, cell voltages for balanced state.\n// Balanced = SOC>=100 && |current|<0.5A && cellDiff<0.02V for 20 continuous minutes.\n\nvar BALANCE_INTERVAL_DAYS = 30;\nvar STABLE_DURATION_MS = 20 * 60 * 1000; // 20 minutes\nvar MAX_CURRENT_A = 0.5;\nvar MAX_CELL_DIFF_V = 0.02;\nvar CYCLE_MS = 30000; // 30s inject cycle\n\n// === READ STATE ===\nvar ha = global.get(\"homeassistant\");\nvar states = (ha && ha.homeAssistant && ha.homeAssistant.states) || {};\n\nvar config = global.get(\"fve_config\") || {};\nvar zakazPretoku = (global.get(\"fve_current_mode\") || \"\") === \"zakaz_pretoku\";\n\n// Battery data from MQTT sensors\nvar batSoc = parseFloat((states[\"sensor.battery_percent\"] || {}).state) || 0;\nvar batSocPrecise = parseFloat((states[\"sensor.battery_soc_precise\"] || {}).state);\nif (isNaN(batSocPrecise)) batSocPrecise = batSoc; // fallback to system-level SOC\nvar batCurrent = parseFloat((states[\"sensor.battery_dc_current\"] || {}).state);\nvar maxCellV = parseFloat((states[\"sensor.battery_max_cell_voltage\"] || {}).state);\nvar minCellV = parseFloat((states[\"sensor.battery_min_cell_voltage\"] || {}).state);\n\n// Solar & price data\nvar solarPower = parseFloat((states[\"sensor.vyroba_fve\"] || {}).state) || 0;\nvar isSolarHour = false;\nvar solarStartHour = config.solar_start_hour || 9;\nvar solarEndHour = config.solar_end_hour || 17;\nvar currentHour = new Date().getHours();\nif (currentHour >= solarStartHour && currentHour < solarEndHour) isSolarHour = true;\n\n// Indoor temp check for pump blocking\nvar indoorTemp = parseFloat((states[\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\"] || {}).state) || 22;\nvar targetTemp = config.topeni_cilova_teplota || 23;\n\n// === LAST BALANCED TIMESTAMP ===\nvar lastBalancedStr = msg.lastBalanced || \"\";\nvar lastBalancedMs = 0;\nif (lastBalancedStr && lastBalancedStr !== \"unknown\" && lastBalancedStr !== \"unavailable\") {\n    lastBalancedMs = new Date(lastBalancedStr).getTime();\n}\nvar now = Date.now();\nvar daysSinceBalance = lastBalancedMs > 0 ? (now - lastBalancedMs) / (1000 * 60 * 60 * 24) : 999;\n\n// === GLOBALS ===\nvar balancingNeeded = global.get(\"balancing_needed\") || false;\nvar balancingActive = global.get(\"balancing_active\") || false;\nvar stableMs = global.get(\"balancing_stable_ms\") || 0;\n\n// === STEP 1: Check if balancing is needed ===\nif (daysSinceBalance >= BALANCE_INTERVAL_DAYS) {\n    balancingNeeded = true;\n} else {\n    balancingNeeded = false;\n    // If not needed anymore (e.g. manual reset), deactivate\n    if (balancingActive) {\n        balancingActive = false;\n        stableMs = 0;\n    }\n}\n\n// === STEP 2: Activate balancing when conditions are right ===\nif (balancingNeeded && !balancingActive && !zakazPretoku) {\n    // Activate during solar hours with decent production\n    if (isSolarHour && solarPower > 1000) {\n        balancingActive = true;\n        node.warn(\"Battery balancing ACTIVATED (solar: \" + solarPower + \"W)\");\n    }\n    // Or during any hour if solar is not available (will use cheapest grid via orchestrator)\n    // But only start if it's a cheap hour (orchestrator will handle this)\n    // We activate and let orchestrator decide NABIJET vs SETRIT per hour\n    else if (!isSolarHour && daysSinceBalance >= BALANCE_INTERVAL_DAYS + 1) {\n        // Wait 1 extra day past deadline before using grid (give solar a chance first)\n        balancingActive = true;\n        node.warn(\"Battery balancing ACTIVATED (grid fallback, \" + Math.round(daysSinceBalance) + \" days)\");\n    }\n}\n\n// === STEP 3: Monitor balanced state ===\nvar balanced = false;\nvar statusReason = \"\";\n\nif (balancingActive) {\n    // Disable during zakaz pretoku (would limit solar production)\n    if (zakazPretoku) {\n        balancingActive = false;\n        stableMs = 0;\n        statusReason = \"Pozastaveno (zákaz přetoků)\";\n    } else {\n        // Check balanced conditions\n        var socOk = batSocPrecise >= 100;\n        var currentOk = !isNaN(batCurrent) && Math.abs(batCurrent) < MAX_CURRENT_A;\n        // Cell voltage check - optional (sensor might be unavailable)\n        var cellDiff = (!isNaN(maxCellV) && !isNaN(minCellV)) ? Math.abs(maxCellV - minCellV) : -1;\n        var cellOk = cellDiff < 0 || cellDiff < MAX_CELL_DIFF_V; // -1 = unavailable = skip check\n\n        if (socOk && currentOk && cellOk) {\n            stableMs += CYCLE_MS;\n            statusReason = \"Stabilizace: \" + Math.round(stableMs / 1000) + \"s / \" + (STABLE_DURATION_MS / 1000) + \"s\";\n            if (stableMs >= STABLE_DURATION_MS) {\n                balanced = true;\n                statusReason = \"VYBALANCOVÁNO!\";\n            }\n        } else {\n            stableMs = 0;\n            var reasons = [];\n            if (!socOk) reasons.push(\"SOC=\" + batSocPrecise + \"%\");\n            if (!currentOk) reasons.push(\"I=\" + (isNaN(batCurrent) ? \"N/A\" : batCurrent.toFixed(2)) + \"A\");\n            if (cellDiff >= 0 && !cellOk) reasons.push(\"cellDiff=\" + cellDiff.toFixed(3) + \"V\");\n            statusReason = \"Čekám: \" + reasons.join(\", \");\n        }\n    }\n} else if (balancingNeeded) {\n    statusReason = \"Potřeba bal. (\" + Math.round(daysSinceBalance) + \"d), čekám na podmínky\";\n} else {\n    statusReason = \"OK (\" + Math.round(daysSinceBalance) + \"d od posledního bal.)\";\n}\n\n// === STEP 4: Handle balanced completion ===\nvar outputMsg = null;\nif (balanced) {\n    balancingActive = false;\n    balancingNeeded = false;\n    stableMs = 0;\n    node.warn(\"Battery balancing COMPLETE!\");\n    // Send message to update HA entity\n    outputMsg = {\n        payload: {\n            domain: \"input_datetime\",\n            service: \"set_datetime\",\n            data: {\n                entity_id: \"input_datetime.last_pylontech_balanced\",\n                datetime: new Date().toISOString().replace(\"T\", \" \").substring(0, 19)\n            }\n        }\n    };\n}\n\n// === SAVE GLOBALS ===\nglobal.set(\"balancing_needed\", balancingNeeded);\nglobal.set(\"balancing_active\", balancingActive);\nglobal.set(\"balancing_stable_ms\", stableMs);\n\n// Block pump during balancing (unless house is cold)\nvar blockPump = false;\nif (balancingActive && indoorTemp >= (targetTemp - 0.2)) {\n    blockPump = true;\n}\nglobal.set(\"balancing_block_pump\", blockPump);\n\n// Status for debug\nvar debugMsg = {\n    payload: {\n        balancingNeeded: balancingNeeded,\n        balancingActive: balancingActive,\n        daysSinceBalance: Math.round(daysSinceBalance * 10) / 10,\n        stableMs: stableMs,\n        blockPump: blockPump,\n        batSocPrecise: batSocPrecise,\n        batCurrent: batCurrent,\n        maxCellV: maxCellV,\n        minCellV: minCellV,\n        cellDiff: (!isNaN(maxCellV) && !isNaN(minCellV)) ? Math.abs(maxCellV - minCellV) : null,\n        status: statusReason\n    }\n};\n\nreturn [outputMsg, debugMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [["bal_ha_write_last"], ["bal_debug"]],
        "outputLabels": ["balanced → update HA", "debug status"]
    },
    {
        "id": "bal_ha_write_last",
        "type": "api-call-service",
        "z": "f1a2b3c4d5e6f7a8",
        "g": "g1a2b3c4d5e6f7a8",
        "name": "Set last_balanced",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "input_datetime",
        "service": "set_datetime",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.last_pylontech_balanced"
        ],
        "labelId": [],
        "data": "{\"datetime\": payload.data.datetime}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "bal_debug",
        "type": "debug",
        "z": "f1a2b3c4d5e6f7a8",
        "g": "g1a2b3c4d5e6f7a8",
        "name": "Balancing Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    }
]
