node-red/flows/boiler.json
[
    {
        "id": "0a2df88897520187",
        "type": "tab",
        "label": "Automatizuj boiler",
        "disabled": false,
        "info": "Optimalizovan├ę flow pro ┼Ö├şzen├ş bojleru s hysterez├ş.\n\nKONFIGURACE: Klikni na node 'ÔÜÖ´ŞĆ Konfigurace' a spus┼ą ho pro nastaven├ş v├Żchoz├şch hodnot.\nPro zm─Ťnu parametr┼» uprav hodnoty v tom nodu a znovu ho spus┼ą.\n\nPriorita rozhodov├ín├ş:\n1. Nejsme doma Ôćĺ MIN┬░C\n2. Rychle tepl├í voda Ôćĺ MAX┬░C\n3. 17:00-19:30 a voda < 58┬░C Ôćĺ VYSOKA┬░C\n4. Sol├írn├ş p┼Öebytek Ôćĺ MAX/VYSOKA┬░C\n5. Levn├í elekt┼Öina (ne v letn├şm re┼żimu) Ôćĺ STREDNI┬░C\n6. Jinak Ôćĺ MIN┬░C",
        "env": []
    },
    {
        "id": "3cf7f93b204c1246",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Spu┼ít─Ťn├ş",
        "style": {
            "stroke": "#92d04f",
            "fill": "#92d04f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "39a25019f11040ab",
            "d7197dbac0af5dec"
        ],
        "x": 5,
        "y": 5,
        "w": 272,
        "h": 142
    },
    {
        "id": "4716d6957365e423",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Na─Źten├ş vstupn├şch parametr┼»",
        "style": {
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "d8271d02d0bbbfd8",
            "6928b9ce6f9095d6",
            "205418b685f04054",
            "9bc05f8969dbf039",
            "bd83ae614ae3aceb",
            "9ae533d8f63f25b9",
            "7adb3cd3d88ce186",
            "e52ed86bbf0b492e",
            "8d4c88c33909fdd1",
            "d7e4abc357eeac72",
            "23c46fbe21db7775",
            "3b8dc5297620970b",
            "bb69a154a4c0febb"
        ],
        "x": 54,
        "y": 179,
        "w": 972,
        "h": 322
    },
    {
        "id": "09797f9996ff875a",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Rozdhodnut├ş a nastaven├ş boileru",
        "style": {
            "fill": "#ffC000",
            "label": true,
            "color": "#000000",
            "label-position": "s"
        },
        "nodes": [
            "f8bbbf2eb77de391",
            "8d401c2a5bd5d0ef",
            "3472b1985ec023f5"
        ],
        "x": 194,
        "y": 539,
        "w": 612,
        "h": 150
    },
    {
        "id": "7d6c1cd0300cfd29",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Inicializace parametr┼» ve flow",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "6d9185dedec4cb65",
            "7efc2560d20a0a05",
            "6fa5674faf1afa4f"
        ],
        "x": 294,
        "y": 39,
        "w": 772,
        "h": 82
    },
    {
        "id": "6d9185dedec4cb65",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "ÔÜÖ´ŞĆ Konfigurace (spus┼ą po deployi)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "7efc2560d20a0a05"
            ]
        ]
    },
    {
        "id": "7efc2560d20a0a05",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "┬ş─Ź├┤┼ü Nastav parametry",
        "func": "// ├ö─Ż├Â├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż┼Ü\n// ├ö─Ż─╣  KONFIGUROVATELNÔöť├ź PARAMETRY - UPRAV HODNOTY N├Ź┼ŻE           ├ö─Ż─╣\n// ├ö─Ż├ť├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż┼ü\n\nconst CONFIG = {\n    // === TEPLOTY (ÔöČÔľĹC) ===\n    TEPLOTA_MAX: 69,        // MaximÔöť├şlnÔöť┼č teplota bojleru\n    TEPLOTA_VYSOKA: 60,     // VysokÔöť├ş teplota (b─Ť┼żnÔöť┼╗ ohÔö╝├ľev)\n    TEPLOTA_STREDNI: 58,    // StÔö╝├ľednÔöť┼č teplota (levnÔöť├ş elektÔö╝├ľina)\n    TEPLOTA_MIN: 20,        // MinimÔöť├şlnÔöť┼č teplota (vypnuto)\n    TEPLOTA_POVINNY_SOLAR: 40, // Teplota v povinnÔöť┼╗ch hodinÔöť├şch kdyÔö╝┼╝ zÔöť┼čtra velkÔöť┼╗ solÔöť├şr\n    \n    // === HYSTEREZE A SPOTÔö╝┼ŤEBA ===\n    HYSTEREZE: 500,         // Hystereze v W (zabraÔö╝┼éuje oscilaci)\n    SPOTREBA_BOJLER: 2500,  // SpotÔö╝├ľeba bojleru v W\n    \n    // === CENOVÔöť├ź PRAHY ===\n    PRICE_LEVEL_LEVNY: 6,   // Level ceny (1-24), kdy je proud levnÔöť┼╗\n    CENA_KWH_LEVNA: 2.6,    // Cena v KÔöÇ┼╣/kWh, kdy je proud levnÔöť┼╗\n    \n    // === FORECAST ===\n    FORECAST_THRESHOLD: 35000  // PrÔöť├şh forecastu v Wh (35kWh)\n};\n\n// ├ö─Ż├Â├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż┼Ü\n// ├ö─Ż─╣  ULOÔö╝┼╗ENÔöť┼╣ DO FLOW PROMÔöÇ├ťNNÔöť┼üCH - NEMÔöÇ├ťNIT                      ├ö─Ż─╣\n// ├ö─Ż├ť├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż├ë├ö─Ż┼ü\n\nfor (const [key, value] of Object.entries(CONFIG)) {\n    flow.set(key, value);\n}\n\nmsg.payload = {\n    status: \"Konfigurace uloÔö╝┼╝ena\",\n    config: CONFIG\n};\n\nnode.status({fill: \"green\", shape: \"dot\", text: \"Konfigurace uloÔö╝┼╝ena\"});\n//node.warn(\"Bojler konfigurace uloÔö╝┼╝ena: \" + JSON.stringify(CONFIG));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 80,
        "wires": [
            [
                "6fa5674faf1afa4f"
            ]
        ]
    },
    {
        "id": "6fa5674faf1afa4f",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "­čôő Konfigurace",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7197dbac0af5dec",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "ÔĆ▒´ŞĆ Ka┼żd├ę 2 minuty",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 151,
        "y": 106,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    },
    {
        "id": "d8271d02d0bbbfd8",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čôŐ Jsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "jsme_doma",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "6928b9ce6f9095d6"
            ]
        ]
    },
    {
        "id": "6928b9ce6f9095d6",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čÜ┐ Rychle tepl├í voda?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.chci_rychle_teplou_vodu",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rychle_voda",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "205418b685f04054"
            ]
        ]
    },
    {
        "id": "205418b685f04054",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čîí´ŞĆ Teplota bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "teplota_bojleru",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9bc05f8969dbf039"
            ]
        ]
    },
    {
        "id": "9bc05f8969dbf039",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čöî Spot┼Öeba bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_bojleru",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "bd83ae614ae3aceb"
            ]
        ]
    },
    {
        "id": "bd83ae614ae3aceb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čöő Stav baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_percent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "9ae533d8f63f25b9"
            ]
        ]
    },
    {
        "id": "9ae533d8f63f25b9",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "ÔśÇ´ŞĆ Rozd├şl v├Żroby a spot┼Öeby",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rozdil_vyroby_a_spotreby",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rozdil_vyroby",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "7adb3cd3d88ce186"
            ]
        ]
    },
    {
        "id": "7adb3cd3d88ce186",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čî× Letn├ş re┼żim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "letni_rezim",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "e52ed86bbf0b492e"
            ]
        ]
    },
    {
        "id": "e52ed86bbf0b492e",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čÜŚ Auto m├í hlad?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_ma_hlad",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_hlad",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "8d4c88c33909fdd1"
            ]
        ]
    },
    {
        "id": "8d4c88c33909fdd1",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čöî Automatizace nab├şjen├ş auta",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatizovat_nabijeni_auta",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_automatizace",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "d7e4abc357eeac72"
            ]
        ]
    },
    {
        "id": "d7e4abc357eeac72",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čĺ░ Level ceny",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.levelcheapesthourbuy",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "price_level",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "23c46fbe21db7775"
            ]
        ]
    },
    {
        "id": "23c46fbe21db7775",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čĺÁ Cena kWh",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.aktualni_cena_kwh",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "cena_kwh",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "3b8dc5297620970b"
            ]
        ]
    },
    {
        "id": "3b8dc5297620970b",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "ÔÜí Celkov├í spot┼Öeba",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.celkova_spotreba",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "celkova_spotreba",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "bb69a154a4c0febb"
            ]
        ]
    },
    {
        "id": "bb69a154a4c0febb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "­čöî Spot┼Öeba ze s├şt─Ť",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.spotreba_ze_site",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_ze_site",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 900,
        "y": 460,
        "wires": [
            [
                "f8bbbf2eb77de391"
            ]
        ]
    },
    {
        "id": "f8bbbf2eb77de391",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "🧠 Rozhodovací logika",
        "func": "// 🧠 Rozhodovací logika bojleru — cílová teplota dle přebytku, ceny, forecastu, FVE módu\nvar TEPLOTA_MAX = flow.get(\"TEPLOTA_MAX\")||69, TEPLOTA_VYSOKA = flow.get(\"TEPLOTA_VYSOKA\")||60;\nvar TEPLOTA_STREDNI = flow.get(\"TEPLOTA_STREDNI\")||58, TEPLOTA_MIN = flow.get(\"TEPLOTA_MIN\")||20;\nvar TEPLOTA_POVINNY_SOLAR = flow.get(\"TEPLOTA_POVINNY_SOLAR\")||40;\nvar HYSTEREZE = flow.get(\"HYSTEREZE\")||500, SPOTREBA_BOJLER = flow.get(\"SPOTREBA_BOJLER\")||2500;\nvar PRICE_LEVEL_LEVNY = flow.get(\"PRICE_LEVEL_LEVNY\")||3, CENA_KWH_LEVNA = flow.get(\"CENA_KWH_LEVNA\")||2.6;\nvar FORECAST_THRESHOLD = flow.get(\"FORECAST_THRESHOLD\")||35000;\nvar forecast_dnes = global.get(\"forecast_vyroba_dnes\")||0, forecast_zitra = global.get(\"forecast_vyroba_zitra\")||0;\nvar cerpadlo_topi = global.get(\"cerpadlo_topi\")===true;\nvar fve_config = global.get(\"fve_config\")||{}, max_grid = fve_config.max_spotreba_sit_w||22000, min_soc = fve_config.min_soc||20;\nvar fve_mode = global.get(\"fve_current_mode\")||\"\";\nvar is_zaporna_cena = fve_mode===\"zaporna_nakupni_cena\", is_zakaz_pretoku = fve_mode===\"zakaz_pretoku\";\nvar climate_entity = global.get(\"homeassistant.homeAssistant.states['climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53']\")||{};\nvar aktualni_target = parseFloat((climate_entity.attributes||{}).temperature)||0;\nvar jsme_doma = msg.jsme_doma===\"on\", rychle_voda = msg.rychle_voda===\"on\";\nvar teplota_bojleru = msg.teplota_bojleru||0, spotreba_bojleru = msg.spotreba_bojleru||0;\nvar battery = msg.battery_percent||0, rozdil_vyroby = msg.rozdil_vyroby||0;\nvar letni_rezim = msg.letni_rezim===\"on\", auto_hlad = msg.auto_hlad===\"on\", auto_automatizace = msg.auto_automatizace===\"on\";\nvar price_level = msg.price_level||24, cena_kwh = msg.cena_kwh||10;\nvar celkova_spotreba = msg.celkova_spotreba||0, spotreba_ze_site = msg.spotreba_ze_site||0;\nvar cas_minuty = new Date().getHours()*60 + new Date().getMinutes();\nvar je_povinny_cas = cas_minuty >= 17*60 && cas_minuty <= 19*60+30, bojler_ohriva = spotreba_bojleru > 100;\nvar sit_limit = max_grid - (fve_config.safety_margin_w||2000);\nvar muzeme_zapnout = bojler_ohriva || ((sit_limit - celkova_spotreba) >= SPOTREBA_BOJLER);\nvar ma_prostor_pod_jisticem = (max_grid - spotreba_ze_site) >= SPOTREBA_BOJLER;\nvar PRAH_ZAPNUTI_MAX = 4000+SPOTREBA_BOJLER+HYSTEREZE, PRAH_VYPNUTI_MAX = 4000;\nvar PRAH_ZAPNUTI_VYSOKA = SPOTREBA_BOJLER+HYSTEREZE, PRAH_VYPNUTI_VYSOKA = -HYSTEREZE;\nvar je_levna = (price_level<=PRICE_LEVEL_LEVNY)||(cena_kwh<=CENA_KWH_LEVNA);\nvar slunecny_den_dnes = forecast_dnes > FORECAST_THRESHOLD, slunecny_den_zitra = forecast_zitra > FORECAST_THRESHOLD;\nvar cilova_teplota = TEPLOTA_MIN, duvod = \"\";\n\n// ROZHODOVACÍ LOGIKA (dle priority, první splněná podmínka vyhraje)\nif (!jsme_doma) { cilova_teplota = TEPLOTA_MIN; duvod = \"Není doma\"; }\nelse if (rychle_voda) { cilova_teplota = TEPLOTA_MAX; duvod = \"Rychle voda\"; }\n// §4.10: Záporná cena → MAX pokud prostor pod jističem, jinak normální logika\nelse if (is_zaporna_cena && ma_prostor_pod_jisticem) {\n    cilova_teplota = TEPLOTA_MAX; duvod = \"Záporná! Volno:\"+Math.round(max_grid-spotreba_ze_site)+\"W\";\n}\n// §4.6: Zákaz přetoků — topíme jen z přebytku/baterie, ne ze sítě\nelse if (is_zakaz_pretoku) {\n    if (rozdil_vyroby >= SPOTREBA_BOJLER) { cilova_teplota = TEPLOTA_MAX; duvod = \"Zákaz+přebytek \"+Math.round(rozdil_vyroby/1000)+\"kW\"; }\n    else if (battery > min_soc+5) { cilova_teplota = TEPLOTA_STREDNI; duvod = \"Zákaz bat:\"+battery+\"%→boiler\"; }\n    else { cilova_teplota = TEPLOTA_MIN; duvod = \"Zákaz bat:\"+battery+\"%→čekám\"; }\n}\n// Povinný čas 17:00-19:30, voda < 58°C\nelse if (je_povinny_cas && teplota_bojleru < 58) {\n    if (!muzeme_zapnout) { cilova_teplota = TEPLOTA_MIN; duvod = \"Pov.čas limit sítě\"; }\n    else if (slunecny_den_zitra) { cilova_teplota = TEPLOTA_POVINNY_SOLAR; duvod = \"Pov.čas zítra sol→\"+TEPLOTA_POVINNY_SOLAR+\"°C\"; }\n    else { cilova_teplota = TEPLOTA_VYSOKA; duvod = \"Pov.ohřev 17-19:30\"; }\n}\n// NIBE topí a přebytek nestačí → OFF\nelse if (cerpadlo_topi && rozdil_vyroby < PRAH_ZAPNUTI_VYSOKA) {\n    cilova_teplota = TEPLOTA_MIN; duvod = \"NIBE přeb:\"+Math.round(rozdil_vyroby/1000)+\"kW\";\n}\n// Baterie plné (>96%) — využijeme solární přebytek\nelse if (battery > 96) {\n    var prah_max = bojler_ohriva ? PRAH_VYPNUTI_MAX : PRAH_ZAPNUTI_MAX;\n    var prah_vysoka = bojler_ohriva ? PRAH_VYPNUTI_VYSOKA : PRAH_ZAPNUTI_VYSOKA;\n    if (rozdil_vyroby > prah_max) {\n        cilova_teplota = (auto_hlad && auto_automatizace) ? TEPLOTA_VYSOKA : TEPLOTA_MAX;\n        duvod = (auto_hlad ? \"Přeb+auto \" : \"Bat plné+přeb \")+Math.round(rozdil_vyroby/1000)+\"kW\";\n    } else if (rozdil_vyroby > prah_vysoka) {\n        cilova_teplota = TEPLOTA_VYSOKA; duvod = \"Přeb \"+Math.round(rozdil_vyroby/1000)+\"kW\";\n    } else if (bojler_ohriva && rozdil_vyroby > -SPOTREBA_BOJLER) {\n        cilova_teplota = flow.get(\"posledni_cilova_teplota\")||TEPLOTA_MIN; duvod = \"Hystereze \"+cilova_teplota+\"°C\";\n    } else {\n        if (!letni_rezim && je_levna && muzeme_zapnout) { cilova_teplota = TEPLOTA_STREDNI; duvod = \"Levná L\"+price_level; }\n        else { cilova_teplota = TEPLOTA_MIN; duvod = letni_rezim ? \"Léto čeká\" : \"Drahá/málo\"; }\n    }\n}\n// Baterie nejsou plné — standardní logika\nelse {\n    var prah_v = bojler_ohriva ? PRAH_VYPNUTI_VYSOKA : PRAH_ZAPNUTI_VYSOKA;\n    var prah_m = bojler_ohriva ? PRAH_VYPNUTI_MAX : PRAH_ZAPNUTI_MAX;\n    if (rozdil_vyroby > prah_m) {\n        cilova_teplota = TEPLOTA_MAX; duvod = \"Velký přeb \"+Math.round(rozdil_vyroby/1000)+\"kW bat:\"+battery+\"%\";\n    } else if (rozdil_vyroby > prah_v) {\n        cilova_teplota = TEPLOTA_VYSOKA; duvod = \"Přeb \"+Math.round(rozdil_vyroby/1000)+\"kW bat:\"+battery+\"%\";\n    } else if (bojler_ohriva && rozdil_vyroby > -SPOTREBA_BOJLER) {\n        cilova_teplota = flow.get(\"posledni_cilova_teplota\")||TEPLOTA_MIN; duvod = \"Hystereze \"+cilova_teplota+\"°C\";\n    } else if (letni_rezim && slunecny_den_dnes) {\n        cilova_teplota = TEPLOTA_MIN; duvod = \"Léto fc:\"+Math.round(forecast_dnes/1000)+\"kWh\";\n    } else if (!letni_rezim && je_levna && muzeme_zapnout) {\n        cilova_teplota = TEPLOTA_STREDNI; duvod = \"Levná L\"+price_level+\" \"+cena_kwh+\"Kč\";\n    } else { cilova_teplota = TEPLOTA_MIN; duvod = letni_rezim?\"Léto solar\":!muzeme_zapnout?\"Limit sítě\":\"Drahá\"; }\n}\n\nflow.set(\"posledni_cilova_teplota\", cilova_teplota);\nvar stav_klimatu = (climate_entity||{}).state||\"unavailable\";\nif (stav_klimatu===\"unavailable\") { node.status({fill:\"red\",shape:\"ring\",text:\"Meross UNAVAIL\"}); return null; }\nif (cilova_teplota===aktualni_target) { node.status({fill:\"blue\",shape:\"dot\",text:cilova_teplota+\"/\"+aktualni_target+\"°C BEZ ZMĚNY \"+duvod}); return null; }\nmsg.payload = {teplota: cilova_teplota, duvod: duvod, debug: {\n    jsme_doma: jsme_doma, rychle_voda: rychle_voda, teplota_bojleru: teplota_bojleru, battery: battery,\n    rozdil_vyroby: rozdil_vyroby, letni_rezim: letni_rezim, price_level: price_level, cena_kwh: cena_kwh,\n    je_levna: je_levna, celkova_spotreba: celkova_spotreba, muzeme_zapnout: muzeme_zapnout, fve_mode: fve_mode\n}};\nvar barva = cilova_teplota >= TEPLOTA_VYSOKA ? \"green\" : cilova_teplota >= TEPLOTA_STREDNI ? \"yellow\" : \"grey\";\nnode.status({fill: barva, shape: bojler_ohriva ? \"ring\" : \"dot\", text: cilova_teplota+\"°C \"+duvod});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "8d401c2a5bd5d0ef",
                "3472b1985ec023f5"
            ]
        ]
    },
    {
        "id": "8d401c2a5bd5d0ef",
        "type": "api-call-service",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "­čöą Nastav teplotu boileru",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53"
        ],
        "labelId": [],
        "data": "{\"temperature\": payload.teplota}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3472b1985ec023f5",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "­čôő Debug v├Żstup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "39a25019f11040ab",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "ÔľÂ´ŞĆ Ru─Źn├ş spu┼ít─Ťn├ş",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 141,
        "y": 46,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    }
]