node-red/flows/boiler.json
[
    {
        "id": "0a2df88897520187",
        "type": "tab",
        "label": "Automatizuj boiler",
        "disabled": false,
        "info": "Optimalizované flow pro řízení bojleru s hysterezí.\n\nKONFIGURACE: Klikni na node '⚙️ Konfigurace' a spusť ho pro nastavení výchozích hodnot.\nPro změnu parametrů uprav hodnoty v tom nodu a znovu ho spusť.\n\nPriorita rozhodování:\n1. Nejsme doma → MIN°C\n2. Rychle teplá voda → MAX°C\n3. 17:00-19:30 a voda < 58°C → VYSOKA°C\n4. Solární přebytek → MAX/VYSOKA°C\n5. Levná elektřina (ne v letním režimu) → STREDNI°C\n6. Jinak → MIN°C",
        "env": []
    },
    {
        "id": "3cf7f93b204c1246",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Spuštění",
        "style": {
            "stroke": "#92d04f",
            "fill": "#92d04f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "39a25019f11040ab",
            "d7197dbac0af5dec"
        ],
        "x": 5,
        "y": 5,
        "w": 272,
        "h": 142
    },
    {
        "id": "4716d6957365e423",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Načtení vstupních parametrů",
        "style": {
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "d8271d02d0bbbfd8",
            "6928b9ce6f9095d6",
            "205418b685f04054",
            "9bc05f8969dbf039",
            "bd83ae614ae3aceb",
            "9ae533d8f63f25b9",
            "7adb3cd3d88ce186",
            "e52ed86bbf0b492e",
            "8d4c88c33909fdd1",
            "d7e4abc357eeac72",
            "23c46fbe21db7775",
            "3b8dc5297620970b",
            "bb69a154a4c0febb"
        ],
        "x": 54,
        "y": 179,
        "w": 972,
        "h": 322
    },
    {
        "id": "09797f9996ff875a",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Rozdhodnutí a nastavení boileru",
        "style": {
            "fill": "#ffC000",
            "label": true,
            "color": "#000000",
            "label-position": "s"
        },
        "nodes": [
            "f8bbbf2eb77de391",
            "8d401c2a5bd5d0ef",
            "3472b1985ec023f5"
        ],
        "x": 194,
        "y": 539,
        "w": 612,
        "h": 150
    },
    {
        "id": "7d6c1cd0300cfd29",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Inicializace parametrů ve flow",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "6d9185dedec4cb65",
            "7efc2560d20a0a05",
            "6fa5674faf1afa4f"
        ],
        "x": 294,
        "y": 39,
        "w": 772,
        "h": 82
    },
    {
        "id": "6d9185dedec4cb65",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "⚙️ Konfigurace (spusť po deployi)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "7efc2560d20a0a05"
            ]
        ]
    },
    {
        "id": "7efc2560d20a0a05",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "­čôŁ Nastav parametry",
        "func": "// ÔĽöÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽŚ\n// ÔĽĹ  KONFIGUROVATELN├ë PARAMETRY - UPRAV HODNOTY NÍŽE           ÔĽĹ\n// ÔĽÜÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽŁ\n\nconst CONFIG = {\n    // === TEPLOTY (┬░C) ===\n    TEPLOTA_MAX: 69,        // Maxim├íln├ş teplota bojleru\n    TEPLOTA_VYSOKA: 60,     // Vysok├í teplota (běžn├Ż oh┼Öev)\n    TEPLOTA_STREDNI: 58,    // St┼Öedn├ş teplota (levn├í elekt┼Öina)\n    TEPLOTA_MIN: 20,        // Minim├íln├ş teplota (vypnuto)\n    TEPLOTA_POVINNY_SOLAR: 40, // Teplota v povinn├Żch hodin├ích kdy┼ż z├ştra velk├Ż sol├ír\n    \n    // === HYSTEREZE A SPOT┼śEBA ===\n    HYSTEREZE: 500,         // Hystereze v W (zabra┼łuje oscilaci)\n    SPOTREBA_BOJLER: 2500,  // Spot┼Öeba bojleru v W\n    \n    // === CENOV├ë PRAHY ===\n    PRICE_LEVEL_LEVNY: 6,   // Level ceny (1-24), kdy je proud levn├Ż\n    CENA_KWH_LEVNA: 2.6,    // Cena v K─Ź/kWh, kdy je proud levn├Ż\n    \n    // === FORECAST ===\n    FORECAST_THRESHOLD: 35000  // Pr├íh forecastu v Wh (35kWh)\n};\n\n// ÔĽöÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽŚ\n// ÔĽĹ  ULO┼ŻEN├Ź DO FLOW PROM─ÜNN├ŁCH - NEM─ÜNIT                      ÔĽĹ\n// ÔĽÜÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽÉÔĽŁ\n\nfor (const [key, value] of Object.entries(CONFIG)) {\n    flow.set(key, value);\n}\n\nmsg.payload = {\n    status: \"Konfigurace ulo┼żena\",\n    config: CONFIG\n};\n\nnode.status({fill: \"green\", shape: \"dot\", text: \"Konfigurace ulo┼żena\"});\n//node.warn(\"Bojler konfigurace ulo┼żena: \" + JSON.stringify(CONFIG));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 80,
        "wires": [
            [
                "6fa5674faf1afa4f"
            ]
        ]
    },
    {
        "id": "6fa5674faf1afa4f",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "📋 Konfigurace",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7197dbac0af5dec",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "⏱️ Každé 2 minuty",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 151,
        "y": 106,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    },
    {
        "id": "d8271d02d0bbbfd8",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "📊 Jsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "jsme_doma",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "6928b9ce6f9095d6"
            ]
        ]
    },
    {
        "id": "6928b9ce6f9095d6",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🚿 Rychle teplá voda?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.chci_rychle_teplou_vodu",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rychle_voda",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "205418b685f04054"
            ]
        ]
    },
    {
        "id": "205418b685f04054",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🌡️ Teplota bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "teplota_bojleru",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9bc05f8969dbf039"
            ]
        ]
    },
    {
        "id": "9bc05f8969dbf039",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Spotřeba bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_bojleru",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "bd83ae614ae3aceb"
            ]
        ]
    },
    {
        "id": "bd83ae614ae3aceb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔋 Stav baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_percent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "9ae533d8f63f25b9"
            ]
        ]
    },
    {
        "id": "9ae533d8f63f25b9",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "☀️ Rozdíl výroby a spotřeby",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rozdil_vyroby_a_spotreby",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rozdil_vyroby",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "7adb3cd3d88ce186"
            ]
        ]
    },
    {
        "id": "7adb3cd3d88ce186",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🌞 Letní režim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "letni_rezim",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "e52ed86bbf0b492e"
            ]
        ]
    },
    {
        "id": "e52ed86bbf0b492e",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🚗 Auto má hlad?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_ma_hlad",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_hlad",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "8d4c88c33909fdd1"
            ]
        ]
    },
    {
        "id": "8d4c88c33909fdd1",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Automatizace nabíjení auta",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatizovat_nabijeni_auta",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_automatizace",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "d7e4abc357eeac72"
            ]
        ]
    },
    {
        "id": "d7e4abc357eeac72",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "💰 Level ceny",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.levelcheapesthourbuy",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "price_level",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "23c46fbe21db7775"
            ]
        ]
    },
    {
        "id": "23c46fbe21db7775",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "💵 Cena kWh",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.aktualni_cena_kwh",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "cena_kwh",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "3b8dc5297620970b"
            ]
        ]
    },
    {
        "id": "3b8dc5297620970b",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "⚡ Celková spotřeba",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.celkova_spotreba",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "celkova_spotreba",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "bb69a154a4c0febb"
            ]
        ]
    },
    {
        "id": "bb69a154a4c0febb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Spotřeba ze sítě",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.spotreba_ze_site",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_ze_site",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 900,
        "y": 460,
        "wires": [
            [
                "f8bbbf2eb77de391"
            ]
        ]
    },
    {
        "id": "f8bbbf2eb77de391",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "🧠 Rozhodovací logika",
        "func": "// 🧠 Rozhodovací logika bojleru — cílová teplota dle přebytku, ceny, forecastu\nvar TM=flow.get(\"TEPLOTA_MAX\")||69,TV=flow.get(\"TEPLOTA_VYSOKA\")||60,TS=flow.get(\"TEPLOTA_STREDNI\")||55;\nvar TMI=flow.get(\"TEPLOTA_MIN\")||20,TPS=flow.get(\"TEPLOTA_POVINNY_SOLAR\")||40;\nvar HY=flow.get(\"HYSTEREZE\")||500,SB=flow.get(\"SPOTREBA_BOJLER\")||2500;\nvar PLV=flow.get(\"PRICE_LEVEL_LEVNY\")||3,CKL=flow.get(\"CENA_KWH_LEVNA\")||2.6;\nvar FT=flow.get(\"FORECAST_THRESHOLD\")||35000;\nvar mxS=global.get(\"max_spotreba_sit\")||24000,fD=global.get(\"forecast_vyroba_dnes\")||0,fZ=global.get(\"forecast_vyroba_zitra\")||0;\nvar cerp=global.get(\"cerpadlo_topi\")===true;\nvar clE=global.get(\"homeassistant.homeAssistant.states['climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53']\")||{};\nvar aktT=parseFloat((clE.attributes||{}).temperature)||0;\nvar cfg=global.get(\"fve_config\")||{},MG=cfg.max_spotreba_sit_w||22000,SM=cfg.safety_margin_w||2000,SL=MG-SM;\nvar dom=msg.jsme_doma===\"on\",rv=msg.rychle_voda===\"on\",tB=msg.teplota_bojleru||0;\nvar sBA=msg.spotreba_bojleru||0,bat=msg.battery_percent||0,rV=msg.rozdil_vyroby||0;\nvar let2=msg.letni_rezim===\"on\",aH=msg.auto_hlad===\"on\",aA=msg.auto_automatizace===\"on\";\nvar pL=msg.price_level||24,cK=msg.cena_kwh||10,cS=msg.celkova_spotreba||0,sSit=msg.spotreba_ze_site||0;\nvar hr=new Date().getHours(),mn=new Date().getMinutes(),cm=hr*60+mn;\nvar jPC=cm>=17*60&&cm<=19*60+30,bO=sBA>100,vK=SL-cS,mZ=bO||(vK>=SB);\nvar PZM=4000+SB+HY,PVM=4000,PZV=SB+HY,PVV=-HY;\nvar jLE=(pL<=PLV)||(cK<=CKL),sD=fD>FT,sDZ=fZ>FT;\nvar isZapNak=(global.get(\"fve_current_mode\")||\"\")===\"zaporna_nakupni_cena\";\nvar hasBoilerHR=(MG-sSit)>=SB;\nvar cT=TMI,dv=\"\";\nif(!dom){cT=TMI;dv=\"Není doma\";}\nelse if(rv){cT=TM;dv=\"Rychle voda\";}\nelse if(isZapNak&&hasBoilerHR){cT=TM;dv=\"Záporná! Volno:\"+Math.round(MG-sSit)+\"W\";}\nelse if(jPC&&tB<58){if(!mZ){cT=TMI;dv=\"Pov.čas limit sítě\";}\nelse if(sDZ&&tB>=TPS){cT=TPS;dv=\"Pov.čas zítra sol→\"+TPS+\"°C\";}\nelse if(sDZ){cT=TPS;dv=\"Pov.ohřev na \"+TPS+\"°C\";}\nelse{cT=TV;dv=\"Pov.ohřev 17-19:30\";}}\nelse if(cerp&&rV<PZV){cT=TMI;dv=\"NIBE přeb:\"+Math.round(rV/1000)+\"kW\";}\nelse if(bat>96){var pM=bO?PVM:PZM,pV=bO?PVV:PZV;\nif(rV>pM){cT=aH&&aA?TV:TM;dv=(aH?\"Přeb+auto\":\"Bat plné+přeb \")+(Math.round(rV/1000))+\"kW\";}\nelse if(rV>pV){cT=TV;dv=\"Přeb \"+Math.round(rV/1000)+\"kW\";}\nelse if(bO&&rV>-SB){cT=flow.get(\"posledni_cilova_teplota\")||TMI;dv=\"Hystereze \"+cT+\"°C\";}\nelse{if(!let2&&jLE&&mZ){cT=TS;dv=\"Levná L\"+pL;}else{cT=TMI;dv=let2?\"Léto čeká\":\"Drahá/málo\";}}}\nelse{var p5=bO?PVV:PZV,pM5=bO?PVM:PZM;\nif(rV>pM5){cT=TM;dv=\"Velký přeb \"+Math.round(rV/1000)+\"kW bat:\"+bat+\"%\";}\nelse if(rV>p5){cT=TV;dv=\"Přeb \"+Math.round(rV/1000)+\"kW bat:\"+bat+\"%\";}\nelse if(bO&&rV>-SB){cT=flow.get(\"posledni_cilova_teplota\")||TMI;dv=\"Hystereze \"+cT+\"°C\";}\nelse if(let2&&sD){cT=TMI;dv=\"Léto fc:\"+Math.round(fD/1000)+\"kWh\";}\nelse if(!let2&&jLE&&mZ){cT=TS;dv=\"Levná L\"+pL+\" \"+cK+\"Kč\";}\nelse{cT=TMI;dv=let2?\"Léto solar\":!mZ?\"Limit sítě\":\"Drahá\";}}\nflow.set(\"posledni_cilova_teplota\",cT);\nvar clSt=(clE||{}).state||\"unavailable\";\nif(clSt===\"unavailable\"){node.status({fill:\"red\",shape:\"ring\",text:\"Meross UNAVAIL\"});return null;}\nif(cT===aktT){node.status({fill:\"blue\",shape:\"dot\",text:cT+\"/\"+aktT+\"°C BEZ ZMĚNY \"+dv});return null;}\nmsg.payload={teplota:cT,duvod:dv,debug:{dom:dom,rv:rv,tB:tB,bat:bat,rV:rV,let2:let2,pL:pL,cK:cK,jLE:jLE,cS:cS,mZ:mZ}};\nvar b=\"grey\";if(cT>=TV)b=\"green\";else if(cT>=TS)b=\"yellow\";\nnode.status({fill:b,shape:bO?\"ring\":\"dot\",text:cT+\"°C \"+dv});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "8d401c2a5bd5d0ef",
                "3472b1985ec023f5"
            ]
        ]
    },
    {
        "id": "8d401c2a5bd5d0ef",
        "type": "api-call-service",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "🔥 Nastav teplotu boileru",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53"
        ],
        "labelId": [],
        "data": "{\"temperature\": payload.teplota}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3472b1985ec023f5",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "📋 Debug výstup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "39a25019f11040ab",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "▶️ Ruční spuštění",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 141,
        "y": 46,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    }
]