node-red/flows/boiler-altan.json
[
    {
        "id": "39739f2e96f39f57",
        "type": "tab",
        "label": "Automatizuj ohřívač v altánu",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee0d741fdc5cbfdd",
        "type": "inject",
        "z": "39739f2e96f39f57",
        "name": "5 minut",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "5d99886761325d1d"
            ]
        ]
    },
    {
        "id": "7cab9c28a5473d81",
        "type": "api-current-state",
        "z": "39739f2e96f39f57",
        "name": "Jsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 151,
        "y": 320,
        "wires": [
            [
                "02750065ac5e632a"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "02750065ac5e632a",
        "type": "moment",
        "z": "39739f2e96f39f57",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Prague",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "cs-CZ",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Prague",
        "x": 155,
        "y": 460,
        "wires": [
            [
                "6d245da5ca53613e"
            ]
        ]
    },
    {
        "id": "6d245da5ca53613e",
        "type": "time-range-switch",
        "z": "39739f2e96f39f57",
        "name": "je den a musí být nahřáto?",
        "lat": "50.1064015",
        "lon": "14.7405731",
        "startTime": "12:00",
        "endTime": "19:30",
        "startOffset": "0",
        "endOffset": "0",
        "x": 507,
        "y": 460,
        "wires": [
            [
                "9750b05dcbbff9f7"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "4d56aa02abf550cf",
        "type": "api-call-service",
        "z": "39739f2e96f39f57",
        "name": "Průtokáč OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 880,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9750b05dcbbff9f7",
        "type": "api-call-service",
        "z": "39739f2e96f39f57",
        "name": "Průtokáč ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 870,
        "y": 453,
        "wires": [
            []
        ]
    },
    {
        "id": "5d99886761325d1d",
        "type": "api-current-state",
        "z": "39739f2e96f39f57",
        "name": "Je letní režim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "7cab9c28a5473d81"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "c7421fe2.cb11c",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "fab4d3bd7e039188",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-contrib-moment": "5.0.0",
            "node-red-contrib-time-range-switch": "1.2.0"
        }
    }
]