node-red/flows/filtrace-bazenu.json
[
    {
        "id": "ea6d31715793bece",
        "type": "tab",
        "label": "Automatizuj filtraci v bazénu",
        "disabled": false,
        "info": "Filtrace bazénu v3 — plně optimalizovaná.\nPreferuje solar, skenuje FVE plán, chrání baterii.\nLÉTO: min 2h/den (>10°C), ZIMA: min 1h/den.",
        "env": []
    },
    {
        "id": "filtrace_grp_data",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Sběr dat",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "filtrace_st_state",
            "filtrace_st_letni",
            "filtrace_st_surplus",
            "filtrace_st_soc",
            "filtrace_st_auto",
            "filtrace_st_flag"
        ],
        "x": 274,
        "y": 119,
        "w": 602,
        "h": 182
    },
    {
        "id": "filtrace_grp_logic",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Rozhodování",
        "style": {
            "fill": "#fff2cc",
            "label": true
        },
        "nodes": [
            "filtrace_decision"
        ],
        "x": 474,
        "y": 344,
        "w": 232,
        "h": 112
    },
    {
        "id": "filtrace_grp_actions",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Akce",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "filtrace_act_on",
            "filtrace_act_off",
            "filtrace_flag_on",
            "filtrace_flag_off"
        ],
        "x": 364,
        "y": 499,
        "w": 502,
        "h": 182
    },
    {
        "id": "filtrace_grp_trigger",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Trigger",
        "style": {
            "fill": "#f3f3d3",
            "label": true
        },
        "nodes": [
            "e840eaa72d311da7",
            "filtrace_auto_check"
        ],
        "x": -6,
        "y": 19,
        "w": 432,
        "h": 82
    },
    {
        "id": "e840eaa72d311da7",
        "type": "inject",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_trigger",
        "name": "2 minuty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "filtrace_auto_check"
            ]
        ]
    },
    {
        "id": "filtrace_auto_check",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_trigger",
        "name": "Automatizovat filtraci?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatizovat_filtraci_v_bazenu",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "filtrace_st_state"
            ],
            []
        ]
    },
    {
        "id": "filtrace_st_state",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Stav filtrace",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.filtrace",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "filtraceState",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "filtrace_st_letni"
            ]
        ]
    },
    {
        "id": "filtrace_st_letni",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Letní režim",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "letniRezim",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "filtrace_st_surplus"
            ]
        ]
    },
    {
        "id": "filtrace_st_surplus",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Přebytek výroby",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rozdil_vyroby_a_spotreby",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "solarSurplus",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "filtrace_st_soc"
            ]
        ]
    },
    {
        "id": "filtrace_st_soc",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "SOC baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "batterySoc",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "filtrace_st_auto"
            ]
        ]
    },
    {
        "id": "filtrace_st_auto",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Auto má hlad?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_ma_hlad",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "autoMaHlad",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "filtrace_st_flag"
            ]
        ]
    },
    {
        "id": "filtrace_st_flag",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Spuštěna dříve?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.filtrace_spustena_drive",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "filtraceSpustenaDrive",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "filtrace_decision"
            ]
        ]
    },
    {
        "id": "filtrace_decision",
        "type": "function",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_logic",
        "name": "Rozhodnutí filtrace",
        "func": "// Filtrace bazénu v3b — optimalizace pro solární přebytek\n// ZIMA: min 1h/den, LÉTO: min 2h/den (bazén > 10°C)\n// Léto + bazén ≤ 10°C: žádné povinné minimum (jen solar surplus)\n// Žádný hard cutoff — deadline jen spouští urgentní režim\n\n// === Konfigurace z fve_config ===\nvar cfg = global.get(\"fve_config\") || {};\nvar S_ON  = cfg.filtrace_surplus_on_w  || 2500;\nvar S_OFF = cfg.filtrace_surplus_off_w || 1500;\nvar MIN_W = cfg.filtrace_min_zima_min  || 60;\nvar MIN_S = cfg.filtrace_min_leto_min  || 120;\nvar T_MIN = cfg.filtrace_pool_temp_min || 10;\nvar DEAD  = cfg.filtrace_deadline_h    || 23;\nvar ANTI  = (cfg.filtrace_anti_cycle_min || 10) * 60 * 1000;\nvar SOC_LOW  = cfg.filtrace_soc_low      || 40;\nvar SOLAR_OK = cfg.filtrace_solar_ok_kwh || 10;\nvar TICK = 2;\n\n// === Vstupní data z msg ===\nvar fOn = msg.filtraceState === \"on\";\nvar letni = msg.letniRezim === \"on\";\nvar surplus = parseFloat(msg.solarSurplus) || 0;\nvar soc = parseFloat(msg.batterySoc) || 0;\nvar hlad = msg.autoMaHlad === \"on\";\n\n// NIBE kompresor aktivní → filtrace pauza (nižší priorita než NIBE)\nvar nibeCompE = global.get(\"homeassistant.homeAssistant.states['binary_sensor.nibe_kompresory_aktivni_binarni']\") || {};\nvar nibeComp = nibeCompE.state === \"on\";\n\n// Teplota bazénu z HA\nvar tE = global.get(\"homeassistant.homeAssistant.states['sensor.hp2551ae_pro_v2_1_0_temperature_1']\") || {};\nvar poolT = parseFloat(tE.state);\nif (isNaN(poolT)) poolT = 0;\n\n// FVE plán\nvar planData = global.get(\"fve_plan\") || {};\nvar plan = planData.plan || [];\nvar cur = plan.length > 0 ? plan[0] : {};\nvar mode = cur.mode || \"setrit\";\nvar pLvl = cur.priceLevel || 0;\n\n// Solární předpověď — zbývající dnes\nvar remE = global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_today_remaining_3']\") || {};\nvar solRemain = parseFloat(remE.state) || 0;\n\n// === Čas ===\nvar d = new Date();\nvar tp = d.toLocaleTimeString(\"en-GB\", {timeZone: \"Europe/Prague\", hour12: false}).split(\":\");\nvar hr = parseInt(tp[0]), mn = parseInt(tp[1]);\nvar nowM = hr * 60 + mn;\nvar now = d.getTime();\n\n// === Denní tracker ===\nvar today = d.toLocaleDateString(\"en-CA\", {timeZone: \"Europe/Prague\"});\nvar sDate = flow.get(\"filt_date\") || \"\";\nvar run = flow.get(\"filt_run\") || 0;\nvar newDay = today !== sDate;\n\nvar isRestart = sDate === \"\";\nif (isRestart) {\n    // NR restart — load counter from HA global (survives NR restart)\n    var _saved = {};\n    try { var _fs = global.get(\"fs\"); _saved = JSON.parse(_fs.readFileSync(\"/config/filt_persist.json\", \"utf8\")); } catch(e) {}\n    if (_saved.date === today) { run = _saved.run || 0; }\n    else if (hr >= 12) { run = minReq > 0 ? minReq : 60; }\n    flow.set(\"filt_date\", today);\n    flow.set(\"filt_run\", run);\n} else if (newDay) {\n    run = 0;\n    flow.set(\"filt_date\", today);\n    flow.set(\"filt_run\", 0);\n}\nif (fOn) {\n    run += TICK;\n    flow.set(\"filt_run\", run);\n}\n// Persist counter via HA global (survives NR restart)\ntry { var _fs = global.get(\"fs\"); _fs.writeFileSync(\"/config/filt_persist.json\", JSON.stringify({date: today, run: run}), \"utf8\"); } catch(e) {}\n\n// === Analýza FVE plánu ===\nvar futureSolar = 0;\nfor (var i = 1; i < plan.length; i++) {\n    if (plan[i].isSolarHour) futureSolar++;\n}\nvar hasFutureSolar = futureSolar > 0 || solRemain >= SOLAR_OK;\n\n// === Výpočty ===\n// Léto + bazén ≤ 10°C → žádné minimum (0), jen solar surplus\nvar minReq = letni ? (poolT > T_MIN ? MIN_S : 0) : MIN_W;\nvar rem = Math.max(0, minReq - run);\nvar met = rem <= 0;\nvar minToDead = Math.max(0, (DEAD * 60) - nowM);\nvar urgent = !met && minReq > 0 && minToDead <= (rem + 15);\n\n// Podmínky\nvar gSurp = surplus >= S_ON;\nvar oSurp = surplus >= S_OFF;\nvar carP = hlad && soc < 85;\nvar inSetrit = mode === \"setrit\";\nvar inNormal = mode === \"normal\";\nvar lowSOC = soc < SOC_LOW;\n\n// Anti-cycling\nvar lastOn = flow.get(\"filt_on_ts\") || 0;\nvar lastOff = flow.get(\"filt_off_ts\") || 0;\n\n// === ROZHODOVÁNÍ ===\nvar act = \"none\", rsn = \"\";\n\nif (!fOn) {\n    // 0. NIBE kompresor aktivní → nepouštět filtraci (NIBE má vyšší prioritu)\n    if (nibeComp) {\n        node.status({fill: \"grey\", shape: \"ring\", text: \"NIBE komp. běží → pauza \" + run + \"/\" + minReq + \"m\"});\n        return [null, null, null, null];\n    }\n    // 1. Solární přebytek → ON (zdarma)\n    if (gSurp && !carP && !met) {\n        act = \"on\";\n        rsn = \"Solar +\" + Math.round(surplus) + \"W\";\n    }\n    // 2. Nesplněno min + ŠETŘIT + žádný budoucí solar → ON\n    else if (!met && minReq > 0 && inSetrit && !hasFutureSolar && !carP) {\n        act = \"on\";\n        rsn = \"Šetřit L\" + pLvl + \", žádný solar, zbývá \" + rem + \"min\";\n    }\n    // 3. URGENT + ŠETŘIT → ON\n    else if (urgent && inSetrit && !carP) {\n        act = \"on\";\n        rsn = \"Deadline! \" + rem + \"min do \" + DEAD + \":00 (šetřit)\";\n    }\n    // 4. URGENT + NORMAL + SOC OK → ON\n    else if (urgent && inNormal && !lowSOC && !carP) {\n        act = \"on\";\n        rsn = \"Deadline! \" + rem + \"min (normal, SOC \" + soc + \"%)\";\n    }\n    // 5. SUPER URGENT (< 20 min do deadline) → ON za každou cenu\n    else if (!met && minReq > 0 && minToDead <= 20 && minToDead > 0 && !carP) {\n        act = \"on\";\n        rsn = \"EMERGENCY! \" + minToDead + \"min do deadline\";\n    }\n\n    // Anti-cycling\n    if (act === \"on\" && (now - lastOff) < ANTI) {\n        act = \"none\"; rsn = \"\";\n    }\n\n} else {\n    // --- BĚŽÍ ---\n    // 0. NIBE kompresor aktivní → vypnout filtraci (NIBE má vyšší prioritu)\n    if (nibeComp) {\n        act = \"off\"; rsn = \"NIBE komp. běží\";\n    }\n    // Žádný hard cutoff — filtrace může běžet přes deadline pokud plní minimum\n\n    // 1. Minimum splněno → OFF (zákon 10.1: nesmí běžet déle než požadováno)\n    if (met) {\n        act = \"off\";\n        rsn = \"OK \" + run + \"/\" + minReq + \"min\";\n    }\n    // 2. NORMAL mód + nízký SOC + žádný přebytek → OFF (ochrana baterie)\n    else if (!oSurp && inNormal && lowSOC) {\n        act = \"off\";\n        rsn = \"Ochrana bat! SOC:\" + soc + \"%, mode:\" + mode;\n    }\n    // 3. Min nesplněno + přebytek klesl + budoucí solar → PAUZA\n    else if (!met && minReq > 0 && !oSurp && hasFutureSolar && !urgent) {\n        act = \"off\";\n        rsn = \"Pauza → čeká solar (\" + solRemain.toFixed(0) + \"kWh rem)\";\n    }\n    // 4. Min nesplněno + přebytek klesl + není šetřit + není urgent → PAUZA\n    else if (!met && minReq > 0 && !oSurp && !inSetrit && !urgent) {\n        act = \"off\";\n        rsn = \"Pauza (normal mód, SOC:\" + soc + \"%)\";\n    }\n    // Pokud minReq=0 (léto+studený bazén) a žádný přebytek → OFF\n    else if (minReq === 0 && !oSurp) {\n        act = \"off\";\n        rsn = \"Bez minima, přebytek \" + Math.round(surplus) + \"W\";\n    }\n\n    // Anti-cycling (bez výjimek — žádný hard cutoff)\n    if (act === \"off\" && (now - lastOn) < ANTI && !nibeComp) {\n        act = \"none\"; rsn = \"\";\n    }\n}\n\n// Track transitions\nif (act === \"on\") flow.set(\"filt_on_ts\", now);\nif (act === \"off\") flow.set(\"filt_off_ts\", now);\n\n// === Status ===\nvar st = (letni ? \"L\" : \"Z\") + (fOn ? \"•ON\" : \"•OFF\");\nst += \" \" + run + \"/\" + minReq + \"m\";\nst += \" ΔP:\" + Math.round(surplus) + \"W\";\nst += \" SOC:\" + soc + \"% \" + mode + \"/L\" + pLvl;\nst += \" T:\" + poolT + \"°C\";\nif (hasFutureSolar) st += \" ☀\" + solRemain.toFixed(0) + \"kWh\";\nif (act !== \"none\") st += \" → \" + act + \": \" + rsn;\nvar cl = act === \"on\" ? \"blue\" : act === \"off\" ? \"yellow\" : \"green\";\nnode.status({fill: cl, shape: \"dot\", text: st});\n\n// === Výstupy [0]=ON, [1]=OFF, [2]=flag_on, [3]=flag_off ===\nvar out = [null, null, null, null];\nif (act === \"on\") out[0] = {payload: \"on\", reason: rsn};\nif (act === \"off\") out[1] = {payload: \"off\", reason: rsn};\nif (act === \"on\" && gSurp) out[2] = {payload: \"on\"};\nif (newDay) out[3] = {payload: \"off\"};\n\n// Export status pro dashboard\nglobal.set(\"filtrace_status\", {run: run, minReq: minReq, met: met, remaining: Math.max(0, minReq - run)});\n\nreturn out;",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "filtrace_act_on"
            ],
            [
                "filtrace_act_off"
            ],
            [
                "filtrace_flag_on"
            ],
            [
                "filtrace_flag_off"
            ]
        ]
    },
    {
        "id": "filtrace_act_on",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Filtrace ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.filtrace"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_act_off",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Filtrace OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.filtrace"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 690,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_flag_on",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Spuštěna dříve = ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.filtrace_spustena_drive"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 490,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_flag_off",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Spuštěna dříve = OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.filtrace_spustena_drive"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 640,
        "wires": [
            []
        ]
    }
]