node-red/flows/filtrace-bazenu.json
[
    {
        "id": "ea6d31715793bece",
        "type": "tab",
        "label": "Automatizuj filtraci v bazénu",
        "disabled": false,
        "info": "Řízení filtrace bazénu podle sezóny, přebytku a SOC.\nRefaktorováno: 1 rozhodovací funkce místo 30+ nodes.",
        "env": []
    },
    {
        "id": "filtrace_grp_data",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Sběr dat",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "filtrace_st_state",
            "filtrace_st_letni",
            "filtrace_st_surplus",
            "filtrace_st_soc",
            "filtrace_st_auto",
            "filtrace_st_flag"
        ],
        "x": 274,
        "y": 119,
        "w": 602,
        "h": 182
    },
    {
        "id": "filtrace_grp_logic",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Rozhodování",
        "style": {
            "fill": "#fff2cc",
            "label": true
        },
        "nodes": [
            "filtrace_decision"
        ],
        "x": 474,
        "y": 344,
        "w": 232,
        "h": 112
    },
    {
        "id": "filtrace_grp_actions",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Akce",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "filtrace_act_on",
            "filtrace_act_off",
            "filtrace_flag_on",
            "filtrace_flag_off"
        ],
        "x": 364,
        "y": 499,
        "w": 502,
        "h": 182
    },
    {
        "id": "filtrace_grp_trigger",
        "type": "group",
        "z": "ea6d31715793bece",
        "name": "Trigger",
        "style": {
            "fill": "#f3f3d3",
            "label": true
        },
        "nodes": [
            "e840eaa72d311da7",
            "filtrace_auto_check"
        ],
        "x": -6,
        "y": 19,
        "w": 432,
        "h": 82
    },
    {
        "id": "e840eaa72d311da7",
        "type": "inject",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_trigger",
        "name": "2 minuty",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "filtrace_auto_check"
            ]
        ]
    },
    {
        "id": "filtrace_auto_check",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_trigger",
        "name": "Automatizovat filtraci?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatizovat_filtraci_v_bazenu",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "filtrace_st_state"
            ],
            []
        ]
    },
    {
        "id": "filtrace_st_state",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Stav filtrace",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.filtrace",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "filtraceState",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "filtrace_st_letni"
            ]
        ]
    },
    {
        "id": "filtrace_st_letni",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Letní režim",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "letniRezim",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "filtrace_st_surplus"
            ]
        ]
    },
    {
        "id": "filtrace_st_surplus",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Přebytek výroby",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rozdil_vyroby_a_spotreby",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "solarSurplus",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "filtrace_st_soc"
            ]
        ]
    },
    {
        "id": "filtrace_st_soc",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "SOC baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "batterySoc",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "filtrace_st_auto"
            ]
        ]
    },
    {
        "id": "filtrace_st_auto",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Auto má hlad?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_ma_hlad",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "autoMaHlad",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "filtrace_st_flag"
            ]
        ]
    },
    {
        "id": "filtrace_st_flag",
        "type": "api-current-state",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_data",
        "name": "Spuštěna dříve?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.filtrace_spustena_drive",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "filtraceSpustenaDrive",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 770,
        "y": 260,
        "wires": [
            [
                "filtrace_decision"
            ]
        ]
    },
    {
        "id": "filtrace_decision",
        "type": "function",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_logic",
        "name": "Rozhodnutí filtrace",
        "func": "// Filtrace bazénu — rozhodovací logika (léto: 8/9-12h solar, 16-19h odpoledne; zima: 2-3h)\nvar fOn=msg.filtraceState===\"on\",letni=msg.letniRezim===\"on\",surplus=parseFloat(msg.solarSurplus)||0;\nvar soc=parseFloat(msg.batterySoc)||0,hlad=msg.autoMaHlad===\"on\",early=msg.filtraceSpustenaDrive===\"on\";\nvar tp=new Date().toLocaleTimeString('en-GB',{timeZone:'Europe/Prague',hour12:false}).split(':');\nvar hr=parseInt(tp[0]),mn=parseInt(tp[1]),nowM=hr*60+mn;\nvar SON=3000,SOFF=2000,SOC_H=85,SOC_VH=94;\nfunction iW(h1,m1,h2,m2){return nowM>=(h1*60+m1)&&nowM<=(h2*60+m2);}\nvar act=\"none\",rsn=\"\";\nif(!fOn){if(letni){\nif(iW(7,59,8,15)&&surplus>SON){act=\"on_early\";rsn=\"8:00+přebytek \"+Math.round(surplus)+\"W\";}\nelse if(iW(8,59,9,15)){act=\"on_normal\";rsn=\"9:00 start\";}\nelse if(iW(15,59,16,15)&&!hlad){if(soc>=SOC_H&&surplus>SON){act=\"on\";rsn=\"16:00 SOC:\"+soc+\"%\";}\nelse if(soc>=SOC_VH){act=\"on\";rsn=\"16:00 SOC:\"+soc+\"%≥\"+SOC_VH;}}}\nelse{if(iW(1,59,2,3)){act=\"on\";rsn=\"02:00 zima\";}}}\nelse{if(letni){if(early&&iW(10,59,11,15)){act=\"off\";rsn=\"11:00 konec(early)\";}\nelse if(!early&&iW(11,59,12,15)){act=\"off\";rsn=\"12:00 konec\";}\nif(act===\"none\"){if(iW(17,59,18,15)){if(soc<SOC_H){act=\"off\";rsn=\"18:00 SOC:\"+soc+\"%<\"+SOC_H;}\nelse if(surplus<SOFF){act=\"off\";rsn=\"18:00 přeb:\"+Math.round(surplus)+\"W<\"+SOFF;}}\nelse if(iW(18,59,19,15)){act=\"off\";rsn=\"19:00 deadline\";}}}\nelse{if(iW(2,59,3,5)){act=\"off\";rsn=\"03:00 konec zima\";}}}\nvar st=(letni?\"LÉTO\":\"ZIMA\")+\" | \"+(fOn?\"ON\":\"OFF\")+\" | SOC:\"+soc+\"% | ΔP:\"+Math.round(surplus)+\"W\";\nif(early)st+=\" | EARLY\";if(act!==\"none\")st+=\" → \"+act+\": \"+rsn;\nvar cl={on_early:\"blue\",on_normal:\"blue\",on:\"blue\",off:\"yellow\",none:\"green\"};\nnode.status({fill:cl[act]||\"green\",shape:\"dot\",text:st});\nvar out=[null,null,null,null];\nif(act===\"on_early\"||act===\"on_normal\"||act===\"on\")out[0]={payload:act,reason:rsn};\nif(act===\"off\")out[1]={payload:\"off\",reason:rsn};\nif(act===\"on_early\")out[2]={payload:\"on\"};\nif(act===\"on_normal\")out[3]={payload:\"off\"};\nreturn out;",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "filtrace_act_on"
            ],
            [
                "filtrace_act_off"
            ],
            [
                "filtrace_flag_on"
            ],
            [
                "filtrace_flag_off"
            ]
        ]
    },
    {
        "id": "filtrace_act_on",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Filtrace ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.filtrace"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 490,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_act_off",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Filtrace OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.filtrace"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 690,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_flag_on",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Spuštěna dříve = ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.filtrace_spustena_drive"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 490,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "filtrace_flag_off",
        "type": "api-call-service",
        "z": "ea6d31715793bece",
        "g": "filtrace_grp_actions",
        "name": "Spuštěna dříve = OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.filtrace_spustena_drive"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 640,
        "wires": [
            []
        ]
    }
]