node-red/flows/fve-config.json
[
    {
        "id": "3f2680578b66e78f",
        "type": "tab",
        "label": "FVE Config",
        "disabled": false,
        "info": "Konfigurace FVE automatizace - parametry a inicializace",
        "env": []
    },
    {
        "id": "2d77556df552e86d",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Konfigurace FVE",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "2df5b10f83b0e39d",
            "44025571f9d270fb",
            "2e5f28e1a0b06f19"
        ],
        "x": 14,
        "y": 19,
        "w": 702,
        "h": 82
    },
    {
        "id": "c7e025194045b1be",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Aktuální ceny energie",
        "style": {
            "fill": "#f3e8d3",
            "label": true
        },
        "nodes": [
            "7c3b58eeb3106ded",
            "caf460b8b3af03dd",
            "402735a3f30a84e8",
            "f1cea1e4214578c4"
        ],
        "x": 14,
        "y": 279,
        "w": 822,
        "h": 82
    },
    {
        "id": "da4c9bfc3dddec82",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Aktuální stav systému",
        "style": {
            "fill": "#f3d3d3",
            "label": true
        },
        "nodes": [
            "322c6a3de64b51b5",
            "90dca62607936795",
            "88d08735b548d24c",
            "8cfae471cfa68d3f"
        ],
        "x": 14,
        "y": 379,
        "w": 832,
        "h": 82
    },
    {
        "id": "452576adb7294b87",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Synchronizace s Home Assistant",
        "style": {
            "fill": "#d3e8f3",
            "label": true
        },
        "nodes": [
            "2986fe2bccfe8740",
            "ae5590b0cd6e6b6a",
            "3fefdad956c6ae27",
            "4a5169173535c2a2",
            "f4160d8797285db7",
            "926f790a1d6a8f6e",
            "2ae318112884ef14",
            "e4b2b9aa5b862db7"
        ],
        "x": 14,
        "y": 119,
        "w": 832,
        "h": 142
    },
    {
        "id": "2df5b10f83b0e39d",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Inicializace při startu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "init",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "44025571f9d270fb"
            ]
        ]
    },
    {
        "id": "44025571f9d270fb",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Nastav konfiguraci",
        "func": "// =============================================================================\n// FVE Konfigurace — čtení z HA entit + výchozí hodnoty\n// =============================================================================\n\n// Pomocné funkce pro čtení z HA\nfunction getHAFloat(entityId, fallback) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + entityId + \"']\") || {};\n    var v = parseFloat(e.state);\n    return isNaN(v) ? fallback : v;\n}\nfunction getHABool(entityId, fallback) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + entityId + \"']\") || {};\n    if (e.state === \"on\") return true;\n    if (e.state === \"off\") return false;\n    return fallback;\n}\n\nconst config = {\n    // =====================================================================\n    // BATERIE — kapacita a amortizace čteny z HA (input_number)\n    // =====================================================================\n    kapacita_baterie_kwh: getHAFloat(\"input_number.fve_kapacita_baterie\", 28),\n    min_soc: 20,\n    max_daily_soc: 80,\n    amortizace_baterie_czk_kwh: getHAFloat(\"input_number.fve_amortizace_baterie\", 1.5),\n    charge_efficiency: 0.90,           // 10% ztráta při nabíjení\n    discharge_efficiency: 0.90,        // 10% ztráta při vybíjení\n    charge_rate_kwh: 5,                // rychlost nabíjení ze sítě (kWh/h)\n    soc_drop_normal_pct: 5,            // % pokles SOC za hodinu v NORMAL módu\n    daily_consumption_kwh: 20,         // odhadovaná denní spotřeba domu (kWh)\n    soc_drop_setrit_pct: 1,\n\n    // =====================================================================\n    // S֛ — limity čteny z HA (input_number)\n    // =====================================================================\n    max_feed_in_w: getHAFloat(\"input_number.fve_max_feed_in\", 7600),\n    max_spotreba_sit_w: getHAFloat(\"input_number.fve_max_spotreba_sit\", 22000),\n    safety_margin_w: 2000,\n    charger_max_amper: 16,             // max ampéry wallboxu\n    charger_faze: 3,                   // počet fází wallboxu\n    sit_napeti: 230,                   // napětí sítě (V)\n    jistic_a: getHAFloat(\"input_number.fve_jistic\", 32),\n\n    // =====================================================================\n    // NABÍJENÍ AUTA\n    // =====================================================================\n    nabijeni_auta_forecast_kwh: 40,    // min forecast výroby (kWh) pro letní solární nabíjení\n    nabijeni_auta_min_soc: 95,         // min SOC baterie pro nabíjení ze sítě (%)\n    nabijeni_auta_solar_w: 4000,       // min přebytek výroby pro sluneční nabíjení (W)\n    nabijeni_auta_cena_prah_vyssi: 4.3,// max cena kWh pro nabíjení ze sítě (Kč) - vyšší práh\n    nabijeni_auta_cena_prah_nizsi: 3.0,// max cena kWh pro nabíjení ze sítě (Kč) - nižší práh\n    nabijeni_auta_min_soc_slunce: 85,  // min SOC baterie pro povolení solárního nabíjení (%)\n    nabijeni_auta_pretizeni_w: 18000,  // práh přetížení sítě při nabíjení auta (W)\n    nabijeni_auta_soc_drain_prah: 95,  // SOC práh pro drain mód solárního nabíjení (%)\n    nabijeni_auta_soc_drain_w: 1000,   // max odběr z baterie v drain módu při SOC>=95% (W)\n    nabijeni_auta_max_sell_price: 2.5,  // max prodejní cena pro solární nabíjení (Kč/kWh) — §5.1: nad tuto cenu se nabíjení zastaví a prodává se do sítě (vyjimka: zákaz přetoků). HA entita neexistuje, hardcoded hodnota.\n    nabijeni_auta_soc_charge_w: 1000,  // rezerva solaru pro nabíjení baterie při SOC<95% (W)\n    nabijeni_auta_target_batt_w: 1000, // cíl nabíjení baterie při sol. nabíjení (W)\n    nabijeni_auta_dead_band_w: 500,    // dead band korekce ±W (neaktivni — nahrazeno nabijeni_auta_charge_deadband_w)\n    nabijeni_auta_charge_deadband_w: 300,  // v30.10: deadband kolem max_charge_w pro anti-oscilaci (W). Smycka resi pouze bW (gridW=ignoruje, vyradeni vlivu boiler/NIBE).\n\n    // =====================================================================\n    // FVE INSTALACE\n    // =====================================================================\n    fve_peak_kwp: 3,\n    fve_azimut: 270,\n    fve_sklon: 50,\n\n    // =====================================================================\n    // VICTRON MQTT\n    // =====================================================================\n    victron_id: \"c0619ab69c71\",\n    victron_mqtt_prefix: \"victron\",\n\n    // =====================================================================\n    // SOLÁRNÍ PŘEDPOVĚĎ\n    // =====================================================================\n    solar_forecast_source: \"VICTRON\",  // \"VICTRON\" nebo \"OPEN_METEO\"\n\n    // =====================================================================\n    // CENOVÉ PRAHY\n    // =====================================================================\n    prah_levna_energie: 4,             // level <= prah = levná energie\n    prah_draha_energie: 12,            // level >= prah = drahá energie\n    prah_ultra_levna_nakup: 1.0,       // nákupní cena (Kč/kWh) pod kterou platí ultra-levný režim\n\n    // =====================================================================\n    // *** NOČNÍ REŽIM (22:00 – 04:00) ***\n    // =====================================================================\n    topeni_nocni_snizeni: 0.5,         // noční snížení cílové teploty (°C) — platí i pro vysoký solární den\n    topeni_nocni_od: 22,               // začátek nočního režimu (hodina)\n    topeni_nocni_do: 4,                // konec nočního režimu (hodina)\n    topeni_nouzova_teplota: 18,        // nouzová teplota — topit i v drahých hodinách (°C)\n\n    // =====================================================================\n    // *** NÁDRŽ — MIN °C PRO OBĚH (jen Node-RED config; max nádrže = HA input_number.topeni_max_teplota_nadrze) ***\n    // =====================================================================\n    topeni_min_teplota_nadrze: 33,\n\n    // =====================================================================\n    // *** TOPENÍ DOMU — HYSTEREZE A PRAHY ***\n    // topeni_max_teplota_patron se čte z HA (input_number)\n    // =====================================================================\n    topeni_bezpecny_pokles: 0.7,       // bezpečný pokles pod target (°C)\n    topeni_hystereze_chlazeni: 0.3,    // hystereze ZAP chlazeni nad nastavenou teplotou (°C); §8.0 (B): ZAP pri tgtT+0.3, OFF pri tgtT\n    topeni_solar_forecast_kwh: 30,     // forecast (kWh) nad kterou méně agresivní s topením\n    topeni_solar_high_day_kwh: 50,     // práh pro \"vysoký solární den\" — NIBE defer (kWh)\n    plan_aggressive_solar_day_kwh: 50, // §4.9: při vysoké denní predikci preferuj NORMAL\n    plan_aggressive_soc_pct: 60,       // §4.9: min SOC pro agresivnější NORMAL chování\n    plan_aggressive_remaining_solar_kwh: 0, // §4.9: min zbývající solar dnes (kWh)\n    plan_auto_demand_kwh: 25,          // §4.5: odhad zítřejší/dnešní spotřeby auta (kWh) když má hlad — agresivní prodej\n    plan_sell_min_tesla_soc: 65,       // §4.5 (18.6.2026): prodej i pri auto_ma_hlad=ON kdyz sensor.tesla_soc >= tento prah (%)\n    plan_solar_insufficient_threshold_kwh: 30, // pod tímto forecastem dnes = „nízký solar“ pro ZP+nabíjení,\n    plan_extreme_low_solar_kwh: getHAFloat(\"input_number.fve_plan_extreme_low_solar_kwh\", 5), // §4.9.1 práh extrémně slabého dne (kWh/d)\n    plan_letni_min_solar_kwh: 30,      // §4.9 LETO: pokud zitra fZ >= toto, agresivni drain (sellTarget=25%, replCost=0, minSell=0.5 Kc).\n                                        // Pod timto v lete = letni extrem -> konzervativne (jako zima).\n    plan_solar_sell_threshold_kwh: 6.0, // §4.5 (12.5.2026): pod timto forecastem (kWh/h) se SMI prodavat z baterie i v solar hodine.\n                                        // Predchozi 1.0 byl moc nizky -> blokoval prodej v rannich drahych hodinach (h7 sell=2.52, solar 1.22 kWh).\n                                        // 6.0 kWh = ~80% feed-in cap (7.6 kW) -> baterie prodava jen kdyz solar nezaplnuje cely feed-in.\n                                        // Solar dominantni hodiny (>=6 kWh, typ. polodne) zustavaji blokovany pro prodej z baterie.\n    topeni_solar_override_w: 8000,     // práh solárního přebytku pro NIBE bez blokace (W)\n    topeni_solar_defer_margin: 0.2,    // margin pro deferral k solární výrobě (°C)\n    topeni_final_solar_kwh: 20,        // zbývající solar pro aktivaci mustHeatByPrice (kWh)\n    topeni_final_hours: 3,             // hodiny před koncem solaru pro mustHeatByPrice\n    topeni_solar_margin_hours: 2,      // hodiny před koncem solaru přestat čekat na patrony\n    topeni_zakaz_pretok_defer_max_sol_kwh: 30,   // pod timto (kWh zitra) = nizka predikce pro odlozeni NIBE do ZP\n    topeni_zakaz_pretok_defer_safe_margin_extra: 0.2, // °C: o kolik nizsi podlaha nez bezpecny pokles pri cekani na ZP (sirsi defer)\n\n    // =====================================================================\n    // AUTOMATICKE PREPINANI LETO/ZIMA REZIMU (§ 19) - hardcoded literaly,\n    // HA entity neexistuji. Orchestrator v fve-modes.json (alr_fn_decide).\n    // =====================================================================\n    topeni_auto_rezim_indoor_gap: 0.5,           // jak hluboko pod cil spusti prepnuti na zimu (°C)\n    topeni_auto_rezim_indoor_min_minut: 60,      // jak dlouho musi indoor pod cilem trvat (min)\n    topeni_auto_rezim_outdoor_now_zima: 12,      // max aktualni outdoor pro prepnuti na zimu (°C) - jen skutecny chlad\n    topeni_auto_rezim_outdoor_max_24h: 10,       // max predpovedi venku 24h pro prepnuti na zimu (°C) - studeny front\n    topeni_auto_rezim_outdoor_now_leto: 14,      // min aktualni outdoor pro prepnuti na leto (°C)\n    topeni_auto_rezim_outdoor_min_48h: 10,       // min predpovedi venku 48h pro prepnuti na leto (°C)\n    topeni_auto_rezim_manual_override_h: 12,     // jak dlouho respektovat rucni prepnuti uzivatele (h)\n    topeni_auto_rezim_anti_flap_h: 12,           // min doba mezi dvema automatickymi prepnutimi (h)\n\n\n\n    // =====================================================================\n    // *** NIBE TEPELNÉ ČERPADLO ***\n    // =====================================================================\n    nibe_peak_w: 14000,                // peak odběr NIBE (W)\n    nibe_cooldown_min: 3,              // min doba mezi NIBE přepnutími (min)\n    nibe_est_consumption_kwh: 7.0,\n    topeni_nibe_dt_per_cycle: 6,     // odhadovaná spotřeba NIBE za hodinu (kWh)\n\n    // =====================================================================\n    // *** PATRONY — max teplota z HA (input_number) ***\n    // =====================================================================\n    topeni_min_pretok_patron_w: 3000,  // min přebytek pro start 1. patrony (W)\n    topeni_patron_faze_w: 3000,        // výkon jedné fáze patrony (W)\n    topeni_min_soc_patron: 90,         // min SOC baterie pro patron ohřev (%)\n    topeni_max_teplota_patron: getHAFloat(\"input_number.topeni_max_teplota_patron\", 53),\n    topeni_patron_max_grid_draw_w: 200,// max odběr ze sítě při patrony (W)\n    topeni_patron_max_sell_price: 0.9,   // max prodejní cena pro patrony (Kč/kWh). HA entita neexistuje, hardcoded hodnota.\n    chlazeni_nocni_hystereze_c: 0.2,    // §8.0(B v2): nesolarni/nocni hystereze chlazeni nad tgtT (°C) — max drift ktery user akceptuje\n    chlazeni_levne_drift_c: 0.4,    // §8.0(B v3): v drahe nesolarni hodine + zitra velka vyroba (isDraha && bigSolTom) necha drift az ke tgtT+drift (°C), chlazeni se odsune na solarni hodiny\n    chlazeni_predchlazeni_offset_c: 0.5, // predchlazeni v solarnich hodinach: chladit az na tgtT - offset (banka chladu pri prebytku)\n    chlazeni_predchlazeni_min_solar_w: 2000, // min solarni prebytek pro predchlazeni pod tgtT (W)\n    chlazeni_spotreba_kwh_h: 1.0,       // odhad pridavne spotreby chlazeni v nesolarni hodine (kWh/h) — rezerva v sellTarget\n    sell_correction_enabled: true,     // §4.5 BUG E: zapnout sebekorekci preprodej->nocni nakup\n    sell_correction_max_kwh: 5,        // strop perzistentni korekce nightCons (kWh)\n    sell_correction_decay_kwh: 0.5,    // denni uvolneni korekce pri cistem dni (kWh/den)\n    sell_correction_night_buy_prah_kwh: 0.3, // min nocni nakup pro detekci poruseni (kWh/h)\n    prah_nevyhodneho_prodeje_kc: 0.5,    // §8.5+§11.7: pod tuto prodejní cenu (Kč/kWh) se patrony při SOC≥95% chovají jako při zákazu přetoků (force-all 3 fáze, korekce vyřazena). Vyžaduje solar ≥ topeni_patron_min_solar_w pro low-sell trigger.\n    topeni_boost_max_sell_price: 2,    // max prodejní cena pro NIBE+Patrony boost (Kč/kWh)\n    topeni_patron_min_solar_w: 5000,   // min solar pro patrony (W)\n    topeni_patron_discharge_limit_w: 50,   // max vybíjení baterie při SOC 90-95% (W)\n    topeni_patron_drain_soc_prah: 95,      // SOC práh pro drain mód patronů (%)\n    topeni_patron_drain_w: 1000,           // max odběr z baterie v drain módu (W)\n    topeni_patron_discharge_hyst: 3,       // hystereze fází patrony\n    posledni_solarni_hodiny: 2,          // pocet poslednich solarnich hodin kde se patrony/auto NESPOUSTI (baterie na 100%)\n    topeni_dump_solar_soc: 85,\n    topeni_chladna_nadrz: 40,              // práh chladné nádrže pro proaktivní ohřev (°C)         // min SOC pro dump solar do NIBE/tanku při zákaz přetoků (%)\n\n    // =========================================================================\n    // *** FILTRACE BAZÉNU ***\n    // =========================================================================\n    filtrace_surplus_on_w: 2500,       // min přebytek pro zapnutí filtrace (W)\n    filtrace_surplus_off_w: 1500,      // hystereze pro vypnutí (W)\n    // Filtrace bazénu — denní limit dle TEPLOTY VODY (§10.1, §10.2). letni_rezim NENÍ vstup.\n    filtrace_pool_temp_min: 2,             // HARD CUT-OFF: pod touto teplotou filtrace VŮBEC NEBĚŽÍ (°C, §10.1)\n    filtrace_pool_temp_threshold_c: 10,    // přepínač studená↔teplá voda pro denní limit (°C, §10.2)\n    filtrace_pool_temp_hysterese_c: 1,     // hystereze prahu studená/teplá (°C) — proti oscilaci\n    filtrace_min_studena_min: 60,          // min běh při teplotě < threshold (min/den)\n    filtrace_min_tepla_min: 120,           // min běh při teplotě ≥ threshold (min/den)\n    filtrace_deadline_h: 23,           // deadline pro splnění minima (hodina)\n    filtrace_anti_cycle_min: 10,       // anti-cycling ochrana (min)\n    filtrace_soc_low: 40,             // min SOC pro grid běh (%) — pod tímto nebاet na grid\n    filtrace_solar_ok_kwh: 10,\n    filtrace_min_run_min: 15,        // min nepřetržitý běh filtrace (min) — zákon 10.1        // zbývající solar (kWh) = \"čekej na solar\"\n\n    // =========================================================================\n    // *** POOL HEATING — VYTÁPĚNÍ BAZÉNU (§11) ***\n    // =========================================================================\n    pool_enabled: getHABool(\"input_boolean.automatizovat_vytapeni_bazenu\", false),  // §11.1\n    pool_na_max: getHABool(\"input_boolean.bazen_na_max\", false),                    // §11.6 pripad 3\n    pool_cilova_teplota_vody: getHAFloat(\"input_number.pozadovana_teplota_v_bazenu\", 28),  // §11.5\n    pool_min_teplota_nadrz: getHAFloat(\"input_number.min_teplota_nadrz_bazen\", 30),  // §11.3 (vypnuti ventilu)\n    pool_max_teplota_nadrz: getHAFloat(\"input_number.max_teplota_nadrz_bazen\", 60),  // §11.3 (ABSOLUTNI MAX)\n    pool_ventil_start_c: 55,                // §11.3: idealni teplota nadrze pro otevreni ventilu (°C)\n    pool_nibe_min_runtime_sec: 1800,        // §11.6: min dobeh NIBE bez vyjimky (s) — kompresor\n    pool_nibe_solar_zere_baterii_kwh: 8,    // §11.6: solar prah, nad kterym NIBE smi zrat baterii (kWh)\n    pool_nibe_plan_horizon_h: 24,           // §11.6.1: horizont planovace pro bazen_na_max (h)\n    pool_nibe_zaporna_cena_threshold: 0,    // §11.6 pripad 1: prah zaporne ceny pro NIBE → bazen (Kc/kWh)\n    pool_nibe_zakaz_pretoku_solar_kwh: 13,  // §11.6 pripad 2: min solar pro trigger zakaz pretoku (kWh)\n    pool_nibe_w: 3500,                      // §11.6 pr. 3 (23.5.2026): odhad spotreby NIBE pro solar guard (W). NIBE bazen ohrev ~3.5 kW.\n    pool_cykly_per_degree: 2,               // §11.6.1: odhad cyklu NIBE na 1°C bazenu (kalibrace)\n    pool_filtrace_cooldown_min: 10,         // §11.4: filtrace po konci topeni (min)\n\n\n    // =========================================================================\n    // // =====================================================================\n    // BLOKACE A ŠETŘENÍ\n    // =====================================================================\n    min_vybijeni_blokace_w: 1300,      // povinná spotřeba domu z baterie při blokaci (W)\n    setrit_grid_bias_w: 150,           // grid setpoint bias v ŠETŘIT módu (W)\n\n    // =====================================================================\n    // ZÁPORNÁ NÁKUPNÍ CENA (§4.10)\n    // =====================================================================\n    zaporna_psp_max_w: 18000,       // §4.10 (24.5.2026 user): max cíl importu ze sítě — jistič 22 kW, rezerva 4 kW → max 18 kW\n    zaporna_nibe_reserve_w: 8000,       // NIBE běží → PSP ~14 kW (NIBE peak ~14 kW, minimum flex)\n    zaporna_flex_reserve_w: 4000,       // jen flex → PSP 18 kW (22-4)\n    zaporna_prah_critical_w: 20000,     // arbitr PEAK nad 20 kW (jistič 22 kW, margin 2 kW)\n    zaporna_prah_safe_w: 19000,         // arbitr NORMAL pod 19 kW (deadband 1 kW pod critW)\n    zaporna_prah_emergency_w: 1000,     // nad critW+1kW (21 kW) → okamzite pat=0 auto=6A boj=OFF\n    // OLD zaporna_nibe_reserve_w: 5000,       // rezerva PSP pri NIBE (§4.10.1)\n    zaporna_buffer_cooldown_s: 30,      // §4.10.5: cooldown JEN pro směr „uvolnit zpět\" (s)\n    zaporna_buffer_interval_s: 1,\n    // §4.11 PRODEJ PREBYTKU misto nabijeni (AUTO) — export solarniho prebytku do site,\n    // kdyz je nocni rezerva nabita a ulozeni dalsiho prebytku nema hodnotu (levny budouci nakup) nebo je baterie plna.\n    prodej_misto_nabijeni_enabled: true,    // master prepinac AUTO exportu prebytku\n    min_export_advantage_czk: 0.3,          // min vyhoda exportu ted vs ulozeni (Kc/kWh)\n    prodej_misto_nabijeni_buffer_soc: 5,    // rezerva nad sellTarget, ktera se nabije driv nez se zacne exportovat (%)       // §4.10.5: frekvence centrálního arbitra (s) — bylo 5, pak 2, na 1 s per pozadavek 4.6.2026\n    zaporna_psp_boost_w: 2000,          // §4.10.5: o kolik snížit PSP při peaku (Victron pak aktivuje PowerAssist)\n    zaporna_peak_sustain_ticks: 2,      // §4.10.5: kolik tiku peaku NEZ krátíme spotřebiče (baterie absorbuje)\n    zaporna_bat_max_discharge_w: 12000, // §4.10.5: odhad max vybití baterie (PowerAssist buffer)\n    zaporna_min_solar_passthrough_w: 5000,\n\n    // =====================================================================\n    // HYSTEREZE SPOTŘEBIČŮ\n    // =====================================================================\n    hystereze_zapnuti_w: 500,\n    hystereze_vypnuti_w: 200,\n\n    // =====================================================================\n    // PLÁNOVÁNÍ\n    // =====================================================================\n    plan_interval_min: 1,              // interval aktualizace plánu (min)\n    plan_horizon_hours: 12,            // horizont plánování (hodiny)\n\n    // =====================================================================\n    // BALANCOVÁNÍ\n    // =====================================================================\n    balancing_force_stop_hours: 3,\n    balancing_interval_days: 30,\n    balancing_min_solar_kwh: 3,\n    balancing_grid_reserve_w: 1000,\n\n    // =====================================================================\n    // NOČNÍ REZERVA\n    // =====================================================================\n    night_target_soc_margin: 5,        // margin nad minSOC pro noční cíl (%)\n    night_reserve_kwh: 10,             // rezerva na noční spotřebu (kWh)\n\n    // =====================================================================\n    // CENOVÁ ARBITRÁŽ — boolean z HA (input_boolean)\n    // =====================================================================\n    min_arbitrage_profit_czk: 3,\n    min_sell_profit_czk: 3,\n    prodej_z_baterie_enabled: getHABool(\"input_boolean.fve_prodej_z_baterie\", true),\n    blokace_vybijeni: getHABool(\"input_boolean.fve_blokace_vybijeni\", false),\n\n    // =====================================================================\n    // MANUÁLNÍ MÓD — z HA (input_select)\n    // =====================================================================\n    manual_mod: (function() {\n        var modeMap = {\n            \"\\u{1F916} Automaticky\": \"auto\",\n            \"\\u{1F7E2} Normální provoz\": \"normal\",\n            \"\\u{1F7E1} Šetřit baterii\": \"setrit\",\n            \"\\u{1F535} Nabíjet ze sítě\": \"nabijet_ze_site\",\n            \"\\u{1F534} Prodávat do sítě\": \"prodavat\",\n            \"\\u{1F7E3} Zákaz přetoků\": \"zakaz_pretoku\",\n            \"\\u26A1 Balancování baterie\": \"Balancování\"\n        };\n        var e = global.get(\"homeassistant.homeAssistant.states['input_select.fve_manual_mod']\") || {};\n        return modeMap[e.state] || \"auto\";\n    })(),\n\n    // =====================================================================\n    // AUTOMATIZACE + LETNÍ REŽIM — z HA (input_boolean)\n    // =====================================================================\n    automatizace_enabled: getHABool(\"input_boolean.fve_automatizace\", true),\n    letni_rezim: getHABool(\"input_boolean.letni_rezim\", false),\n\n    // =====================================================================\n    // MÓDY\n    // =====================================================================\n    mody: {\n        NORMAL: \"normal\",\n        SETRIT: \"setrit\",\n        NABIJET_ZE_SITE: \"nabijet_ze_site\",\n        PRODAVAT: \"prodavat\",\n        ZAKAZ_PRETOKU: \"zakaz_pretoku\",\n        BALANCOVANI: \"Balancování\"\n    },\n\n    // =====================================================================\n    // PRIORITA SPOTŘEBIČŮ (nižší = vyšší priorita)\n    // =====================================================================\n    priority: {\n        tepelne_cerpadlo: 1,\n        bojler: 2,\n        baterie_nabijeni: 3,\n        auto_nabijeni: 4,\n        ostatni: 5\n    },\n\n    // =====================================================================\n    // RYCHLE NABIJENI AUTA v25.0 (priorita #1)\n    // =====================================================================\n    rychle_nabit_deadline_h: 6 // max delka rychle rezimu (h) - po deadline boolean turn_off\n};\n\n// Uložit do global kontextu\nglobal.set(\"fve_config\", config);\n\n// Uložit jednotlivé hodnoty pro zpětnou kompatibilitu\nglobal.set(\"max_spotreba_sit\", config.max_spotreba_sit_w);\nglobal.set(\"forecast_vyroba_dnes\", 0);\nglobal.set(\"forecast_vyroba_zitra\", 0);\n\nmsg.payload = config;\nmsg.topic = \"fve/config\";\n\nnode.status({fill: \"green\", shape: \"dot\", text: \"Config OK (\" + config.kapacita_baterie_kwh + \"kWh, \" + (config.letni_rezim ? \"LÉTO\" : \"ZIMA\") + \")\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "2ae318112884ef14"
            ]
        ]
    },
    {
        "id": "2e5f28e1a0b06f19",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Config Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c3b58eeb3106ded",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Každou minutu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f1cea1e4214578c4"
            ]
        ]
    },
    {
        "id": "caf460b8b3af03dd",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Zpracuj ceny",
        "func": "// Zpracování cenových dat z databáze - aktualizace každou minutu\n// Deduplikace: pokud tabulka obsahuje data z více dní,\n// zachováme poslední (nejaktuálnější) záznam pro každou hodinu\nconst prices = msg.payload || [];\nconst config = global.get(\"fve_config\") || {};\nconst rezim = config.rezim_casu || \"hodina\";\n\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\nconst currentQuarter = Math.floor(currentMinute / 15);\n\n// Deduplikace po hodinách - pozdější záznamy přepíší starší\nvar priceMap = {};\nfor (var i = 0; i < prices.length; i++) {\n    var row = prices[i];\n    var key = String(row.hour);\n    if (rezim === \"ctvrthodina\" && row.minute !== undefined) {\n        key = row.hour + \"_\" + row.minute;\n    }\n    priceMap[key] = row;\n}\nvar dedupedPrices = [];\nvar keys = Object.keys(priceMap);\nfor (var k = 0; k < keys.length; k++) {\n    dedupedPrices.push(priceMap[keys[k]]);\n}\n\n// Najít aktuální cenu\nlet currentPrice = null;\nlet priceLevel = 5; // default střední\n\nfor (const row of dedupedPrices) {\n    if (row.hour === currentHour) {\n        if (rezim === \"ctvrthodina\") {\n            if (row.minute === currentQuarter * 15) {\n                currentPrice = {\n                    buy: row.priceCZKquarterBuy,\n                    sell: row.priceCZKquarterProd,\n                    levelBuy: row.levelCheapestQuarterBuy,\n                    levelSell: row.levelMostExpensiveQuarterProd\n                };\n                priceLevel = row.levelCheapestQuarterBuy;\n                break;\n            }\n        } else {\n            currentPrice = {\n                buy: row.priceCZKhourBuy,\n                sell: row.priceCZKhourProd,\n                levelBuy: row.levelCheapestHourBuy,\n                levelSell: row.levelMostExpensiveHourProd\n            };\n            priceLevel = row.levelCheapestHourBuy;\n            break;\n        }\n    }\n}\n\n// Uložit do global kontextu\nglobal.set(\"fve_current_price\", currentPrice);\nglobal.set(\"fve_price_level\", priceLevel);\nglobal.set(\"fve_prices_forecast\", dedupedPrices);\n\nmsg.payload = {\n    currentPrice: currentPrice,\n    priceLevel: priceLevel,\n    pricesCount: dedupedPrices.length,\n    rawCount: prices.length,\n    timestamp: now.toISOString()\n};\n\nconst levelText = priceLevel <= 4 ? \"levná\" : (priceLevel >= 7 ? \"drahá\" : \"střední\");\nnode.status({fill: priceLevel <= 4 ? \"green\" : (priceLevel >= 7 ? \"red\" : \"yellow\"), shape:\"dot\", text: `Level ${priceLevel} (${levelText}) | ${dedupedPrices.length}/${prices.length} řádků`});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "402735a3f30a84e8"
            ]
        ]
    },
    {
        "id": "402735a3f30a84e8",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Prices Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "322c6a3de64b51b5",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Každou minutu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "90dca62607936795"
            ]
        ]
    },
    {
        "id": "90dca62607936795",
        "type": "api-current-state",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Stav baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_soc",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "88d08735b548d24c"
            ]
        ]
    },
    {
        "id": "88d08735b548d24c",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Aktualizuj stav",
        "func": "// Sestavení aktuálního stavu systému\nconst config = global.get(\"fve_config\") || {};\nconst priceLevel = global.get(\"fve_price_level\") || 5;\nconst currentPrice = global.get(\"fve_current_price\") || {};\n\nconst status = {\n    timestamp: new Date().toISOString(),\n    \n    // Baterie\n    battery_soc: msg.battery_soc || 0,\n    battery_energy_kwh: (msg.battery_soc / 100) * (config.kapacita_baterie_kwh || 28),\n    battery_available_kwh: Math.max(0, ((msg.battery_soc - (config.min_soc || 20)) / 100) * (config.kapacita_baterie_kwh || 28)),\n    battery_free_kwh: ((100 - msg.battery_soc) / 100) * (config.kapacita_baterie_kwh || 28),\n    \n    // Ceny\n    price_level: priceLevel,\n    price_buy: currentPrice.buy || 0,\n    price_sell: currentPrice.sell || 0,\n    is_cheap: priceLevel <= (config.prah_levna_energie || 4),\n    is_expensive: priceLevel >= (config.prah_draha_energie || 7),\n    \n    // Konfigurace\n    automatizace_enabled: config.automatizace_enabled !== false,\n    prodej_z_baterie_enabled: config.prodej_z_baterie_enabled === true,\n    blokace_vybijeni: config.blokace_vybijeni === true,\n    manual_mod: config.manual_mod || \"auto\"\n};\n\n// Uložit do global kontextu\nglobal.set(\"fve_status\", status);\n\nmsg.payload = status;\n\nconst socText = `SOC: ${status.battery_soc}% | Level: ${status.price_level}`;\nnode.status({fill: status.battery_soc > 50 ? \"green\" : (status.battery_soc > 20 ? \"yellow\" : \"red\"), shape:\"dot\", text: socText});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "8cfae471cfa68d3f"
            ]
        ]
    },
    {
        "id": "8cfae471cfa68d3f",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Status Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "f1cea1e4214578c4",
        "type": "sqlite",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM \"own_energy_prices_total\";\n",
        "name": "Vyber tabulku cen",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "caf460b8b3af03dd"
            ]
        ]
    },
    {
        "id": "2986fe2bccfe8740",
        "type": "server-state-changed",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "HA Config změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.fve_kapacita_baterie",
                "number.min_soc",
                "input_number.fve_amortizace_baterie",
                "input_number.fve_max_feed_in",
                "input_number.fve_max_spotreba_sit",
                "input_boolean.fve_automatizace",
                "input_boolean.fve_prodej_z_baterie",
                "input_boolean.fve_blokace_vybijeni",
                "input_boolean.letni_rezim",
                "input_number.predpoved_solarni_vyroby_dnes",
                "input_number.predpoved_solarni_vyroby_zitra",
                "input_select.fve_rezim_casu",
                "input_select.fve_manual_mod",
                "input_number.zbyvajici_solarni_vyroba_dnes",
                "sensor.energy_production_today_3",
                "sensor.energy_production_tomorrow_3",
                "sensor.energy_production_today_remaining_3",
                "sensor.energy_current_hour_3",
                "input_number.fve_plan_extreme_low_solar_kwh",
                "input_boolean.automatizovat_vytapeni_bazenu",
                "input_boolean.bazen_na_max",
                "input_boolean.automatizovat_filtraci_v_bazenu",
                "input_number.pozadovana_teplota_v_bazenu",
                "input_number.min_teplota_nadrz_bazen",
                "input_number.max_teplota_nadrz_bazen"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 160,
        "wires": [
            [
                "3fefdad956c6ae27",
                "ae5590b0cd6e6b6a"
            ]
        ]
    },
    {
        "id": "ae5590b0cd6e6b6a",
        "type": "api-current-state",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Načti všechny FVE stavy",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.fve_kapacita_baterie",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "kapacita_baterie",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "3fefdad956c6ae27"
            ]
        ]
    },
    {
        "id": "3fefdad956c6ae27",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Zpracuj HA stavy",
        "func": "// Zpracuj HA stavy — aktualizace fve_config z HA entity změn\nconst config=global.get(\"fve_config\")||{};\nconst eid=msg.entity_id||\"\",val=msg.payload;\nvar modeMap={\"🤖 Automaticky\":\"auto\",\"🟢 Normální provoz\":\"normal\",\"🟡 Šetřit baterii\":\"setrit\",\"🔵 Nabíjet ze sítě\":\"nabijet_ze_site\",\"🔴 Prodávat do sítě\":\"prodavat\",\"🟣 Zákaz přetoků\":\"zakaz_pretoku\"};\nswitch(eid){\ncase \"input_number.fve_kapacita_baterie\":config.kapacita_baterie_kwh=parseFloat(val)||28;break;\ncase \"number.min_soc\":config.min_soc=parseFloat(val)||20;break;\ncase \"input_number.fve_amortizace_baterie\":config.amortizace_baterie_czk_kwh=parseFloat(val)||1.0;break;\ncase \"input_number.fve_max_feed_in\":config.max_feed_in_w=parseFloat(val)||7600;break;\ncase \"input_number.fve_max_spotreba_sit\":config.max_spotreba_sit_w=parseFloat(val)||22000;global.set(\"max_spotreba_sit\",config.max_spotreba_sit_w);break;\ncase \"input_boolean.fve_automatizace\":config.automatizace_enabled=(val===\"on\");break;\ncase \"input_boolean.fve_prodej_z_baterie\":config.prodej_z_baterie_enabled=(val===\"on\");break;\ncase \"input_boolean.fve_blokace_vybijeni\":config.blokace_vybijeni=(val===\"on\");break;\ncase \"input_boolean.letni_rezim\":config.letni_rezim=(val===\"on\");break;\ncase \"input_number.predpoved_solarni_vyroby_dnes\":config.forecast_vyroba_dnes=parseFloat(val)||0;global.set(\"forecast_vyroba_dnes\",config.forecast_vyroba_dnes);break;\ncase \"input_number.predpoved_solarni_vyroby_zitra\":config.forecast_vyroba_zitra=parseFloat(val)||0;global.set(\"forecast_vyroba_zitra\",config.forecast_vyroba_zitra);break;\ncase \"input_number.zbyvajici_solarni_vyroba_dnes\":config.zbyvajici_solar_dnes=parseFloat(val)||0;global.set(\"zbyvajici_solar_dnes\",config.zbyvajici_solar_dnes);break;\ncase \"sensor.energy_production_today_3\":config.forecast_vyroba_dnes_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.forecast_vyroba_dnes=config.forecast_vyroba_dnes_om;global.set(\"forecast_vyroba_dnes\",config.forecast_vyroba_dnes);}break;\ncase \"sensor.energy_production_tomorrow_3\":config.forecast_vyroba_zitra_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.forecast_vyroba_zitra=config.forecast_vyroba_zitra_om;global.set(\"forecast_vyroba_zitra\",config.forecast_vyroba_zitra);}break;\ncase \"sensor.energy_production_today_remaining_3\":config.zbyvajici_solar_dnes_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.zbyvajici_solar_dnes=config.zbyvajici_solar_dnes_om;global.set(\"zbyvajici_solar_dnes\",config.zbyvajici_solar_dnes);}break;\ncase \"sensor.energy_current_hour_3\":config.forecast_current_hour_kwh=parseFloat(val)||0;global.set(\"forecast_current_hour_kwh\",config.forecast_current_hour_kwh);break;\ncase \"input_select.fve_rezim_casu\":config.rezim_casu=val;break;\ncase \"input_number.fve_plan_extreme_low_solar_kwh\":config.plan_extreme_low_solar_kwh=parseFloat(val)||5;break;\ncase \"input_select.fve_manual_mod\":config.manual_mod=modeMap[val]||val;break;}\nglobal.set(\"fve_config\",config);\nmsg.payload={entity_id:eid,value:val,config:config};\nnode.status({fill:\"blue\",shape:\"dot\",text:eid.split(\".\")[1]+\": \"+val});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f4160d8797285db7",
                "4a5169173535c2a2"
            ]
        ]
    },
    {
        "id": "4a5169173535c2a2",
        "type": "switch",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Je změna módu?",
        "property": "entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "input_select.fve_manual_mod",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "926f790a1d6a8f6e"
            ]
        ]
    },
    {
        "id": "f4160d8797285db7",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Sync Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "926f790a1d6a8f6e",
        "type": "link out",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "→ Přepočti plán",
        "mode": "link",
        "links": [],
        "x": 805,
        "y": 180,
        "wires": []
    },
    {
        "id": "2ae318112884ef14",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Parametry z dashboardu (override)",
        "func": "// Override fve_config hodnotami z HA dashboard entit (cfg_*).\n// Default z \"Nastav konfiguraci\" zustava jako fallback. Generovano (vetev parameters).\nvar PARAM_MAP = {\n    \"input_number.cfg_max_daily_soc\": \"max_daily_soc\",\n    \"input_number.cfg_daily_consumption_kwh\": \"daily_consumption_kwh\",\n    \"input_number.cfg_safety_margin_w\": \"safety_margin_w\",\n    \"input_number.cfg_charger_max_amper\": \"charger_max_amper\",\n    \"input_number.cfg_charger_faze\": \"charger_faze\",\n    \"input_number.cfg_sit_napeti\": \"sit_napeti\",\n    \"input_number.cfg_nabijeni_auta_forecast_kwh\": \"nabijeni_auta_forecast_kwh\",\n    \"input_number.cfg_nabijeni_auta_min_soc\": \"nabijeni_auta_min_soc\",\n    \"input_number.cfg_nabijeni_auta_solar_w\": \"nabijeni_auta_solar_w\",\n    \"input_number.cfg_nabijeni_auta_cena_prah_vyssi\": \"nabijeni_auta_cena_prah_vyssi\",\n    \"input_number.cfg_nabijeni_auta_cena_prah_nizsi\": \"nabijeni_auta_cena_prah_nizsi\",\n    \"input_number.cfg_nabijeni_auta_min_soc_slunce\": \"nabijeni_auta_min_soc_slunce\",\n    \"input_number.cfg_nabijeni_auta_pretizeni_w\": \"nabijeni_auta_pretizeni_w\",\n    \"input_number.cfg_nabijeni_auta_soc_drain_prah\": \"nabijeni_auta_soc_drain_prah\",\n    \"input_number.cfg_nabijeni_auta_soc_drain_w\": \"nabijeni_auta_soc_drain_w\",\n    \"input_number.cfg_nabijeni_auta_max_sell_price\": \"nabijeni_auta_max_sell_price\",\n    \"input_number.cfg_nabijeni_auta_soc_charge_w\": \"nabijeni_auta_soc_charge_w\",\n    \"input_number.cfg_nabijeni_auta_target_batt_w\": \"nabijeni_auta_target_batt_w\",\n    \"input_number.cfg_prah_levna_energie\": \"prah_levna_energie\",\n    \"input_number.cfg_prah_draha_energie\": \"prah_draha_energie\",\n    \"input_number.cfg_prah_ultra_levna_nakup\": \"prah_ultra_levna_nakup\",\n    \"input_number.cfg_topeni_nocni_snizeni\": \"topeni_nocni_snizeni\",\n    \"input_number.cfg_topeni_nocni_od\": \"topeni_nocni_od\",\n    \"input_number.cfg_topeni_nocni_do\": \"topeni_nocni_do\",\n    \"input_number.cfg_topeni_nouzova_teplota\": \"topeni_nouzova_teplota\",\n    \"input_number.cfg_topeni_min_teplota_nadrze\": \"topeni_min_teplota_nadrze\",\n    \"input_number.cfg_topeni_bezpecny_pokles\": \"topeni_bezpecny_pokles\",\n    \"input_number.cfg_topeni_hystereze_chlazeni\": \"topeni_hystereze_chlazeni\",\n    \"input_number.cfg_topeni_solar_forecast_kwh\": \"topeni_solar_forecast_kwh\",\n    \"input_number.cfg_topeni_solar_high_day_kwh\": \"topeni_solar_high_day_kwh\",\n    \"input_number.cfg_plan_aggressive_solar_day_kwh\": \"plan_aggressive_solar_day_kwh\",\n    \"input_number.cfg_plan_aggressive_soc_pct\": \"plan_aggressive_soc_pct\",\n    \"input_number.cfg_plan_aggressive_remaining_solar_kwh\": \"plan_aggressive_remaining_solar_kwh\",\n    \"input_number.cfg_plan_auto_demand_kwh\": \"plan_auto_demand_kwh\",\n    \"input_number.cfg_plan_sell_min_tesla_soc\": \"plan_sell_min_tesla_soc\",\n    \"input_number.cfg_plan_solar_insufficient_threshold_kwh\": \"plan_solar_insufficient_threshold_kwh\",\n    \"input_number.cfg_plan_letni_min_solar_kwh\": \"plan_letni_min_solar_kwh\",\n    \"input_number.cfg_plan_solar_sell_threshold_kwh\": \"plan_solar_sell_threshold_kwh\",\n    \"input_number.cfg_topeni_solar_override_w\": \"topeni_solar_override_w\",\n    \"input_number.cfg_topeni_solar_defer_margin\": \"topeni_solar_defer_margin\",\n    \"input_number.cfg_topeni_final_solar_kwh\": \"topeni_final_solar_kwh\",\n    \"input_number.cfg_topeni_final_hours\": \"topeni_final_hours\",\n    \"input_number.cfg_topeni_solar_margin_hours\": \"topeni_solar_margin_hours\",\n    \"input_number.cfg_topeni_zakaz_pretok_defer_max_sol_kwh\": \"topeni_zakaz_pretok_defer_max_sol_kwh\",\n    \"input_number.cfg_topeni_zakaz_pretok_defer_safe_margin_extra\": \"topeni_zakaz_pretok_defer_safe_margin_extra\",\n    \"input_number.cfg_topeni_auto_rezim_indoor_gap\": \"topeni_auto_rezim_indoor_gap\",\n    \"input_number.cfg_topeni_auto_rezim_indoor_min_minut\": \"topeni_auto_rezim_indoor_min_minut\",\n    \"input_number.cfg_topeni_auto_rezim_outdoor_now_zima\": \"topeni_auto_rezim_outdoor_now_zima\",\n    \"input_number.cfg_topeni_auto_rezim_outdoor_max_24h\": \"topeni_auto_rezim_outdoor_max_24h\",\n    \"input_number.cfg_topeni_auto_rezim_outdoor_now_leto\": \"topeni_auto_rezim_outdoor_now_leto\",\n    \"input_number.cfg_topeni_auto_rezim_outdoor_min_48h\": \"topeni_auto_rezim_outdoor_min_48h\",\n    \"input_number.cfg_topeni_auto_rezim_manual_override_h\": \"topeni_auto_rezim_manual_override_h\",\n    \"input_number.cfg_topeni_auto_rezim_anti_flap_h\": \"topeni_auto_rezim_anti_flap_h\",\n    \"input_number.cfg_nibe_peak_w\": \"nibe_peak_w\",\n    \"input_number.cfg_topeni_min_pretok_patron_w\": \"topeni_min_pretok_patron_w\",\n    \"input_number.cfg_topeni_patron_faze_w\": \"topeni_patron_faze_w\",\n    \"input_number.cfg_topeni_min_soc_patron\": \"topeni_min_soc_patron\",\n    \"input_number.cfg_topeni_patron_max_grid_draw_w\": \"topeni_patron_max_grid_draw_w\",\n    \"input_number.cfg_topeni_patron_max_sell_price\": \"topeni_patron_max_sell_price\",\n    \"input_number.cfg_chlazeni_nocni_hystereze_c\": \"chlazeni_nocni_hystereze_c\",\n    \"input_number.cfg_chlazeni_predchlazeni_offset_c\": \"chlazeni_predchlazeni_offset_c\",\n    \"input_number.cfg_chlazeni_predchlazeni_min_solar_w\": \"chlazeni_predchlazeni_min_solar_w\",\n    \"input_number.cfg_chlazeni_spotreba_kwh_h\": \"chlazeni_spotreba_kwh_h\",\n    \"input_number.cfg_sell_correction_max_kwh\": \"sell_correction_max_kwh\",\n    \"input_number.cfg_sell_correction_decay_kwh\": \"sell_correction_decay_kwh\",\n    \"input_number.cfg_sell_correction_night_buy_prah_kwh\": \"sell_correction_night_buy_prah_kwh\",\n    \"input_number.cfg_prah_nevyhodneho_prodeje_kc\": \"prah_nevyhodneho_prodeje_kc\",\n    \"input_number.cfg_topeni_boost_max_sell_price\": \"topeni_boost_max_sell_price\",\n    \"input_number.cfg_topeni_patron_min_solar_w\": \"topeni_patron_min_solar_w\",\n    \"input_number.cfg_topeni_patron_drain_soc_prah\": \"topeni_patron_drain_soc_prah\",\n    \"input_number.cfg_posledni_solarni_hodiny\": \"posledni_solarni_hodiny\",\n    \"input_number.cfg_topeni_dump_solar_soc\": \"topeni_dump_solar_soc\",\n    \"input_number.cfg_topeni_chladna_nadrz\": \"topeni_chladna_nadrz\",\n    \"input_number.cfg_filtrace_surplus_on_w\": \"filtrace_surplus_on_w\",\n    \"input_number.cfg_filtrace_surplus_off_w\": \"filtrace_surplus_off_w\",\n    \"input_number.cfg_filtrace_pool_temp_min\": \"filtrace_pool_temp_min\",\n    \"input_number.cfg_filtrace_pool_temp_threshold_c\": \"filtrace_pool_temp_threshold_c\",\n    \"input_number.cfg_filtrace_pool_temp_hysterese_c\": \"filtrace_pool_temp_hysterese_c\",\n    \"input_number.cfg_filtrace_min_studena_min\": \"filtrace_min_studena_min\",\n    \"input_number.cfg_filtrace_min_tepla_min\": \"filtrace_min_tepla_min\",\n    \"input_number.cfg_filtrace_deadline_h\": \"filtrace_deadline_h\",\n    \"input_number.cfg_filtrace_anti_cycle_min\": \"filtrace_anti_cycle_min\",\n    \"input_number.cfg_filtrace_soc_low\": \"filtrace_soc_low\",\n    \"input_number.cfg_filtrace_solar_ok_kwh\": \"filtrace_solar_ok_kwh\",\n    \"input_number.cfg_filtrace_min_run_min\": \"filtrace_min_run_min\",\n    \"input_number.cfg_pool_ventil_start_c\": \"pool_ventil_start_c\",\n    \"input_number.cfg_pool_nibe_min_runtime_sec\": \"pool_nibe_min_runtime_sec\",\n    \"input_number.cfg_pool_nibe_plan_horizon_h\": \"pool_nibe_plan_horizon_h\",\n    \"input_number.cfg_pool_nibe_zaporna_cena_threshold\": \"pool_nibe_zaporna_cena_threshold\",\n    \"input_number.cfg_min_vybijeni_blokace_w\": \"min_vybijeni_blokace_w\",\n    \"input_number.cfg_setrit_grid_bias_w\": \"setrit_grid_bias_w\",\n    \"input_number.cfg_zaporna_psp_max_w\": \"zaporna_psp_max_w\",\n    \"input_number.cfg_zaporna_nibe_reserve_w\": \"zaporna_nibe_reserve_w\",\n    \"input_number.cfg_zaporna_flex_reserve_w\": \"zaporna_flex_reserve_w\",\n    \"input_number.cfg_zaporna_prah_critical_w\": \"zaporna_prah_critical_w\",\n    \"input_number.cfg_zaporna_prah_safe_w\": \"zaporna_prah_safe_w\",\n    \"input_number.cfg_zaporna_prah_emergency_w\": \"zaporna_prah_emergency_w\",\n    \"input_number.cfg_min_export_advantage_czk\": \"min_export_advantage_czk\",\n    \"input_number.cfg_zaporna_psp_boost_w\": \"zaporna_psp_boost_w\",\n    \"input_number.cfg_zaporna_bat_max_discharge_w\": \"zaporna_bat_max_discharge_w\",\n    \"input_number.cfg_plan_horizon_hours\": \"plan_horizon_hours\",\n    \"input_number.cfg_balancing_force_stop_hours\": \"balancing_force_stop_hours\",\n    \"input_number.cfg_balancing_interval_days\": \"balancing_interval_days\",\n    \"input_number.cfg_balancing_min_solar_kwh\": \"balancing_min_solar_kwh\",\n    \"input_number.cfg_balancing_grid_reserve_w\": \"balancing_grid_reserve_w\",\n    \"input_number.cfg_night_target_soc_margin\": \"night_target_soc_margin\",\n    \"input_number.cfg_night_reserve_kwh\": \"night_reserve_kwh\",\n    \"input_number.cfg_min_arbitrage_profit_czk\": \"min_arbitrage_profit_czk\",\n    \"input_number.cfg_min_sell_profit_czk\": \"min_sell_profit_czk\",\n    \"input_number.cfg_rychle_nabit_deadline_h\": \"rychle_nabit_deadline_h\",\n    \"input_boolean.cfg_sell_correction_enabled\": [\"sell_correction_enabled\", true],\n    \"input_boolean.cfg_prodej_misto_nabijeni_enabled\": [\"prodej_misto_nabijeni_enabled\", true]\n};\nvar config = global.get(\"fve_config\") || {};\nvar n = 0;\nfor (var eid in PARAM_MAP) {\n    var spec = PARAM_MAP[eid];\n    var st = global.get(\"homeassistant.homeAssistant.states['\" + eid + \"']\");\n    if (!st || st.state === undefined || st.state === null) continue;\n    var sv = String(st.state);\n    if (sv === \"unavailable\" || sv === \"unknown\" || sv === \"\") continue;\n    if (Array.isArray(spec)) { config[spec[0]] = (sv === \"on\"); }\n    else { var v = parseFloat(sv); if (!isNaN(v)) config[spec] = v; }\n    n++;\n}\nglobal.set(\"fve_config\", config);\nif (config.max_spotreba_sit_w !== undefined) global.set(\"max_spotreba_sit\", config.max_spotreba_sit_w);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Dashboard override: \" + n + \" param\" });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 130,
        "wires": [
            [
                "2e5f28e1a0b06f19"
            ]
        ]
    },
    {
        "id": "e4b2b9aa5b862db7",
        "type": "server-state-changed",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Param dashboard zmena",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [],
            "substring": [],
            "regex": [
                "^(input_number|input_boolean)\\.cfg_"
            ]
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 320,
        "wires": [
            [
                "2ae318112884ef14"
            ]
        ]
    }
]