node-red/flows/fve-orchestrator.json
[
    {
        "id": "d86bb11fab512182",
        "type": "tab",
        "label": "FVE Orchestrator",
        "disabled": false,
        "info": "Hlavní orchestrace FVE - plánování a rozhodování o módech",
        "env": []
    },
    {
        "id": "4580a451a0858d03",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Plánování",
        "style": {
            "fill": "#fff3cd",
            "label": true
        },
        "nodes": [
            "22e7b3b8965c20db",
            "f037d87ec94c7da2",
            "9333668b1d326a83",
            "df085ac4da095340",
            "39019d1a78677231",
            "517215d5f730e80c",
            "701e94d82c3aead0",
            "aabb001122334455",
            "aabb001122334466",
            "rf_prep_params_01",
            "rf_cena_discharge2",
            "rf_arb_trimming_3",
            "rf_gen_plan_0004",
            "rf_plan_output_05"
        ],
        "x": 14,
        "y": 19,
        "w": 1052,
        "h": 302
    },
    {
        "id": "c0d4d6462d4ebded",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Exekuce plánu",
        "style": {
            "fill": "#d4edda",
            "label": true
        },
        "nodes": [
            "44d31ff3c04741b7",
            "c36915a8599c5282",
            "8eef6d1d51c9c644",
            "19a783a61de3519b",
            "f10a91fcb4de6bd3",
            "7f051a6595e57c3e",
            "185f95d7c56fe799",
            "a706b353f30c25d1",
            "a86bc5233cfa0458",
            "solar123456789abc",
            "blokace_file_update",
            "blokace_file_write",
            "lo_orch_balancovani",
            "lo_orch_zaporna_nakup",
            "lo_orch_prodat_prebytek"
        ],
        "x": 14,
        "y": 339,
        "w": 1032,
        "h": 332
    },
    {
        "id": "66210c073baa5af0",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Kontrola priorit",
        "style": {
            "fill": "#d1ecf1",
            "label": true
        },
        "nodes": [
            "fc848e97e2c781c1",
            "376106d716756636",
            "dc8da09248ec1e29",
            "sauna_state_changed",
            "sauna_set_global",
            "sauna_reset_minsoc",
            "sauna_trigger_plan",
            "virivka_state_changed",
            "virivka_set_global",
            "virivka_trigger_plan",
            "auto_reset_minsoc",
            "auto_trigger_plan"
        ],
        "x": 14,
        "y": 699,
        "w": 932,
        "h": 242
    },
    {
        "id": "22e7b3b8965c20db",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Každých 30 sekund",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "f037d87ec94c7da2",
        "type": "link in",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "← Manuální trigger",
        "links": [],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "9333668b1d326a83",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Sbírka dat pro plánování",
        "func": "// Sbírka dat pro plánování — čte HA entity, solární forecast, spotřebu\nvar cfg=global.get(\"fve_config\")||{},st=global.get(\"fve_status\")||{},pr=global.get(\"fve_prices_forecast\")||[];\nvar src=(cfg.solar_forecast_source||\"VICTRON\").toUpperCase();\nfunction gF(id){var e=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\")||{};return(e&&e.state&&!isNaN(parseFloat(e.state)))?parseFloat(e.state):0;}\nvar eD,eZ,eR;\nif(src===\"OPEN_METEO\"){eD=\"sensor.energy_production_today_3\";eZ=\"sensor.energy_production_tomorrow_3\";eR=\"sensor.energy_production_today_remaining_3\";}\nelse{eD=\"input_number.predpoved_solarni_vyroby_dnes\";eZ=\"input_number.predpoved_solarni_vyroby_zitra\";eR=\"input_number.zbyvajici_solarni_vyroba_dnes\";}\nvar fD=gF(eD);if(fD<=0)fD=global.get(\"forecast_vyroba_dnes\")||0;\nvar fZ=gF(eZ);if(fZ<=0)fZ=global.get(\"forecast_vyroba_zitra\")||0;\nvar rS=gF(eR);if(rS<=0)rS=global.get(\"zbyvajici_solar_dnes\")||0;\nvar cA=global.get(\"fve_consumption_analysis\")||{},cP=global.get(\"fve_consumption_predictions\")||[];\nvar sunR=global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_rising']\")||{};\nvar sunS=global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_setting']\")||{};\nfunction pH(e){var s=(e&&e.state)?e.state:null;if(!s)return null;var d=new Date(s);return isNaN(d.getTime())?null:d.getHours();}\nvar srH=pH(sunR),ssH=pH(sunS);\nvar solS=(srH!==null)?Math.max(srH,5):9,solE=(ssH!==null)?Math.min(ssH,20):17;\nvar fPH={},cH=new Date().getHours(),fPHT={};\nif(src===\"OPEN_METEO\"){\nvar tE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_today_3']\")||{};\nvar tW=(tE.attributes&&tE.attributes.wh_period)?tE.attributes.wh_period:{};\nfor(var k in tW){var d=new Date(k);if(!isNaN(d.getTime()))fPH[d.getHours()]=(fPH[d.getHours()]||0)+(tW[k]||0)/1000;}\nvar tmE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_tomorrow_3']\")||{};\nvar tmW=(tmE.attributes&&tmE.attributes.wh_period)?tmE.attributes.wh_period:{};\nfor(var k2 in tmW){var d2=new Date(k2);if(!isNaN(d2.getTime()))fPHT[d2.getHours()]=(fPHT[d2.getHours()]||0)+(tmW[k2]||0)/1000;}\nvar curH=gF(\"sensor.energy_current_hour_3\");if(curH>0)fPH[cH]=curH;\n}else{\nvar tE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_today_3']\")||{};\nvar tW=(tE.attributes&&tE.attributes.wh_period)?tE.attributes.wh_period:{};\nfor(var k in tW){var d=new Date(k);if(!isNaN(d.getTime()))fPH[d.getHours()]=(fPH[d.getHours()]||0)+(tW[k]||0)/1000;}\nvar sfE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_tomorrow_3']\")||{};\nvar wp=(sfE.attributes&&sfE.attributes.wh_period)?sfE.attributes.wh_period:{};\nfor(var k3 in wp){var d3=new Date(k3);if(!isNaN(d3.getTime()))fPHT[d3.getHours()]=(fPHT[d3.getHours()]||0)+(wp[k3]||0)/1000;}}\nvar curHV=gF(\"input_number.zbyvajici_solarni_vyroba_tato_hodina\");if(curHV>0)fPH[cH]=curHV;\nfor(var _fh=solS-1;_fh>=5;_fh--){if((fPH[_fh]||0)>0.05||(fPHT[_fh]||0)>0.05)solS=_fh;}\nfor(var _fh=solE;_fh<=20;_fh++){if((fPH[_fh]||0)>0.05||(fPHT[_fh]||0)>0.05)solE=_fh+1;}\nmsg.planData={config:cfg,status:st,prices:pr,forecast:{zitra:fZ,dnes:fD},zbyvajiciSolar:rS,\nconsumptionAnalysis:cA,consumptionPredictions:cP,solarStartHour:solS,solarEndHour:solE,\nsunriseHour:srH,sunsetHour:ssH,forecastPerHour:fPH,forecastPerHourTomorrow:fPHT,\nsolarForecastSource:src,timestamp:new Date().toISOString()};\nnode.status({fill:\"blue\",shape:\"dot\",text:src+\" | ☀\"+Math.round(rS)+\"kWh | \"+solS+\"-\"+solE+\"h\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "aabb001122334455"
            ]
        ]
    },
    {
        "id": "df085ac4da095340",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Ulož plán",
        "func": "global.set(\"fve_plan\", msg.payload);\nglobal.set(\"fve_current_mode\", msg.payload.currentMode);\n\nmsg.ha_update = {\n    state: msg.payload.currentMode,\n    attributes: {\n        current_mode: msg.payload.currentMode,\n        current_reason: msg.payload.currentReason,\n        current_hour: msg.payload.currentHour,\n        plan: msg.payload.plan,\n        soc: msg.payload.status.soc,\n        forecast_dnes: msg.payload.status.forecastDnes,\n        forecast_zitra: msg.payload.status.forecastZitra,\n        last_update: msg.payload.generatedAt,\n        blokace_text: msg.payload.status.blokaceText || \"NE\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 160,
        "wires": [
            [
                "517215d5f730e80c"
            ]
        ]
    },
    {
        "id": "39019d1a78677231",
        "type": "debug",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Plan Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "517215d5f730e80c",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj HA sensor",
        "func": "var planData = msg.payload || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\n\nnode.status({fill:\"green\", shape:\"dot\", text: \"Mód: \" + currentMode + \", hodina: \" + currentHour});\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    blokace_text: planData.status ? (planData.status.blokaceText || \"NE\") : \"NE\",\n    filtrace_status: (function() {\n        var fs = global.get(\"filtrace_status\") || {};\n        return {run: fs.run || 0, minReq: fs.minReq || 0, met: fs.met || false, remaining: fs.remaining || 0};\n    })(),\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 160,
        "wires": [
            [
                "701e94d82c3aead0"
            ]
        ]
    },
    {
        "id": "701e94d82c3aead0",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Zapiš plán do souboru",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 940,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "44d31ff3c04741b7",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Každých 15 sekund",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "c36915a8599c5282"
            ]
        ]
    },
    {
        "id": "c36915a8599c5282",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Kontrola podmínek",
        "func": "// Kontrola podmínek — čte plán, řeší automatizaci, grid lost, SOC target switching\nvar cfg=global.get(\"fve_config\")||{},plan=global.get(\"fve_plan\")||{};\nvar planMode=(plan&&plan.currentMode)?plan.currentMode:\"normal\";\nvar manual=cfg.manual_mod||\"auto\";\nvar mode=manual!==\"auto\"?manual:planMode;\nvar wasE=flow.get(\"automatizace_was_enabled\")||false;\nif(cfg.automatizace_enabled===false){\n    if(wasE){flow.set(\"automatizace_was_enabled\",false);flow.set(\"auto_off_normal_sent\",false);\n    global.set(\"fve_current_mode\",\"normal\");msg.currentMode=\"normal\";msg.autoNabijeniAktivni=false;\n    msg.cerpadloTopi=global.get(\"cerpadlo_topi\")||false;msg.saunaAktivni=global.get(\"sauna_aktivni\")||false;msg.virivkaAktivni=global.get(\"virivka_aktivni\")||false;\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"AUTO OFF→NORMAL\"});return msg;}\n    if(!(flow.get(\"auto_off_normal_sent\")||false)){flow.set(\"auto_off_normal_sent\",true);\n    global.set(\"fve_current_mode\",\"normal\");msg.currentMode=\"normal\";msg.autoNabijeniAktivni=false;\n    msg.cerpadloTopi=global.get(\"cerpadlo_topi\")||false;msg.saunaAktivni=global.get(\"sauna_aktivni\")||false;msg.virivkaAktivni=global.get(\"virivka_aktivni\")||false;\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Auto OFF (reset)\"});return msg;}\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Auto OFF\"});return null;}\nflow.set(\"automatizace_was_enabled\",true);flow.set(\"auto_off_normal_sent\",false);\nvar autoN=global.get(\"auto_nabijeni_aktivni\")||false;\nvar glState=global.get(\"homeassistant.homeAssistant.states['sensor.grid_lost_ciselny']\")||{};\nvar gridLost=parseInt(glState.state||\"0\")>=2;\nvar _nibeKP=global.get(\"homeassistant.homeAssistant.states['binary_sensor.nibe_kompresory_aktivni_binarni']\")||{};var cerp=_nibeKP.state===\"on\"||global.get(\"cerpadlo_topi\")||false,sauna=global.get(\"sauna_aktivni\")||false,virivka=global.get(\"virivka_aktivni\")||false;\nif(gridLost&&mode===\"nabijet_ze_site\"){mode=\"setrit\";node.status({fill:\"red\",shape:\"dot\",text:\"GRID LOST→Šetřit\"});}\nif(virivka&&mode===\"prodavat\"){mode=\"normal\";node.status({fill:\"yellow\",shape:\"dot\",text:\"Vířivka ON→Normal (blokace prodeje)\"});}\nglobal.set(\"fve_current_mode\",mode);\nvar bI=[];if(gridLost)bI.push(\"Výpadek sítě\");if(cerp)bI.push(\"Topení\");if(sauna)bI.push(\"sauna\");if(virivka)bI.push(\"vířivka (jen prodej)\");\nvar bTxt=bI.length>0?\"ANO - \"+bI.join(\",\"):\"NE\";\nvar cp=global.get(\"fve_plan\")||{};if(!cp.status)cp.status={};cp.status.blokaceText=bTxt;global.set(\"fve_plan\",cp);\nmsg.blokaceText=bTxt;msg.autoNabijeniAktivni=autoN;msg.cerpadloTopi=cerp;msg.gridLost=gridLost;msg.saunaAktivni=sauna;msg.virivkaAktivni=virivka;msg.config=cfg;msg.plan=plan;\n// SOC → Šetřit: u ZP (prodej≤0) končit nabíjení až u max_daily−2 %, jinak tSoc+2 %\nif(mode===\"nabijet_ze_site\"&&manual===\"auto\"){\n    var tSoc=(plan&&plan.smartCharging)?plan.smartCharging.targetSocFromGrid:0;\n    var _haKc=global.get(\"homeassistant.homeAssistant.states\")||{};\n    var _bpKc=parseFloat((_haKc[\"sensor.battery_percent\"]||{}).state);\n    var cSoc=isNaN(_bpKc)?((global.get(\"fve_status\")||{}).battery_soc||0):_bpKc;\n    var _hNab=2;\n    var _maxD=cfg.max_daily_soc!=null?cfg.max_daily_soc:80;\n    var _sellF=false,_sellNow=0,_prN=global.get(\"fve_prices_forecast\")||[],_hNn=new Date().getHours();\n    for(var _si=0;_si<_prN.length;_si++){\n        if(_prN[_si].hour===_hNn&&(_prN[_si].minute===0||_prN[_si].minute===undefined)){\n            _sellNow=parseFloat(_prN[_si].priceCZKhourProd)||0;_sellF=true;break;\n        }\n    }\n    var _exitNab=tSoc+_hNab;\n    if(_sellF&&_sellNow<=0&&planMode===\"nabijet_ze_site\"){\n        _exitNab=Math.max(_exitNab,Math.min(_maxD-2,100));\n    }\n    if(tSoc>0&&cSoc>=_exitNab){mode=\"setrit\";global.set(\"fve_current_mode\",mode);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"SOC \"+Math.round(cSoc)+\"%≥\"+Math.round(_exitNab)+\"%→Šetřit\"});}}\n// Prodej → normal po dosažení cíle (živé SOC)\nif(mode===\"prodavat\"&&manual===\"auto\"){\n    var sTgt=(plan&&plan.sellTargetSoc!==undefined)?plan.sellTargetSoc:0;\n    var _haP=global.get(\"homeassistant.homeAssistant.states\")||{};\n    var _bpP=parseFloat((_haP[\"sensor.battery_percent\"]||{}).state);\n    var cSoc2=isNaN(_bpP)?((global.get(\"fve_status\")||{}).battery_soc||0):_bpP;\n    if(sTgt>0&&cSoc2<=sTgt){mode=\"normal\";global.set(\"fve_current_mode\",mode);\n    node.status({fill:\"green\",shape:\"dot\",text:\"Prodej→Normal SOC:\"+Math.round(cSoc2)+\"%\"});}}\nmsg.sellTargetSoc=(plan&&plan.sellTargetSoc!==undefined)?plan.sellTargetSoc:(cfg.min_soc||20);\nmsg.currentMode=mode;\nvar src=manual!==\"auto\"?\"(man)\":\"(auto)\";\nvar info=\"\";if(gridLost)info+=\" ⚡GL\";if(cerp)info+=\" Čerp\";if(sauna)info+=\" Sauna\";if(virivka)info+=\" Vířivka\";if(autoN)info+=\" Auto\";\nnode.status({fill:manual!==\"auto\"?\"blue\":\"green\",shape:\"dot\",text:mode+\" \"+src+info});\n\n// --- Opportunistic balancing monitoring (law 12.5) ---\nvar _ha=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar _cSoc=parseFloat((_ha[\"sensor.battery_percent\"]||{}).state)||0;\nvar _bI=parseFloat((_ha[\"sensor.battery_dc_current\"]||{}).state);\nvar _oppSince=global.get(\"opp_soc100_since\")||0;\nvar _oppMon=global.get(\"opp_bal_monitoring\")||false;\nvar _oppIdleMs=global.get(\"opp_bal_idle_ms\")||0;\nvar _oppMaxIdleMs=global.get(\"opp_bal_max_idle_ms\")||0;\nvar _oppLastCheck=global.get(\"opp_bal_last_check\")||0;\nvar _oppMonStart=global.get(\"opp_bal_mon_start\")||0;\nvar _now=Date.now();\nvar _cfg2=global.get(\"fve_config\")||{};\nvar _balForceH=_cfg2.balancing_force_stop_hours||2;\nvar _balIntDays=_cfg2.balancing_interval_days||30;\nif(_cSoc>=100){\n  if(!_oppSince){global.set(\"opp_soc100_since\",_now);global.set(\"opp_bal_last_check\",_now);}\n  else if(!_oppMon&&(_now-_oppSince)>3600000){\n    global.set(\"opp_bal_monitoring\",true);global.set(\"opp_bal_idle_ms\",0);\n    global.set(\"opp_bal_max_idle_ms\",0);global.set(\"opp_bal_last_check\",_now);\n    global.set(\"opp_bal_mon_start\",_now);\n  }\n  if(_oppMon&&_oppLastCheck>0){\n    var _dt=_now-_oppLastCheck;\n    if(!isNaN(_bI)&&Math.abs(_bI)<0.5){_oppIdleMs+=_dt;}else{_oppIdleMs=0;}\n    global.set(\"opp_bal_idle_ms\",_oppIdleMs);\n    if(_oppIdleMs>_oppMaxIdleMs)global.set(\"opp_bal_max_idle_ms\",_oppIdleMs);\n  }\n  global.set(\"opp_bal_last_check\",_now);\n}else{\n  if(_oppMon){\n    var _maxMs2=global.get(\"opp_bal_max_idle_ms\")||0;\n    var _isOk=_maxMs2>=1200000;\n    var _d=new Date();var _dtStr=_d.toISOString().slice(0,19).replace(\"T\",\" \");\n    var _monDurH=_oppMonStart>0?(_now-_oppMonStart)/3600000:0;\n    global.set(\"opp_bal_pending\",{datetime:_dtStr,ok:_isOk,passive:true,\n      durationH:Math.round(_monDurH*10)/10,maxIdleMin:Math.round(_maxMs2/60000)});\n  }\n  if(_oppSince||_oppMon){\n    global.set(\"opp_soc100_since\",0);global.set(\"opp_bal_monitoring\",false);\n    global.set(\"opp_bal_idle_ms\",0);global.set(\"opp_bal_max_idle_ms\",0);\n    global.set(\"opp_bal_last_check\",0);global.set(\"opp_bal_mon_start\",0);\n  }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 460,
        "wires": [
            [
                "8eef6d1d51c9c644",
                "blokace_file_update"
            ]
        ]
    },
    {
        "id": "8eef6d1d51c9c644",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Rozhodnutí o akci",
        "func": "var mode = msg.currentMode;\nvar skipBattery = msg.skipBatteryControl || false;\nvar config = global.get(\"fve_config\") || {};\n\nswitch (mode) {\n    case \"normal\": msg.modeIndex = 0; break;\n    case \"setrit\": msg.modeIndex = 1; break;\n    case \"nabijet_ze_site\": msg.modeIndex = 2; break;\n    case \"prodavat\": msg.modeIndex = 3; break;\n    case \"zakaz_pretoku\": msg.modeIndex = 4; break;\n    case \"solar_charging\": msg.modeIndex = 5; break;\n    case \"Balancování\": msg.modeIndex = 6; break;\n    case \"zaporna_nakupni_cena\": msg.modeIndex = 7; break;\n    case \"prodavat_misto_nabijeni\": msg.modeIndex = 8; break;\n    default: msg.modeIndex = 0;\n}\n\n// v23: Track balancing start time\n// Force-stop is now handled by BALANCOVÁNÍ Logic (so it can send service call)\nif (mode === \"Balancování\") {\n    if (!global.get(\"balancing_started_at\")) {\n        global.set(\"balancing_started_at\", Date.now());\n    }\n    var startedAt = global.get(\"balancing_started_at\");\n    var maxMs = (config.balancing_force_stop_hours || 3) * 3600 * 1000;\n    if (Date.now() - startedAt > maxMs) {\n        // v23: Don't switch mode — let BALANCOVÁNÍ Logic handle force-stop\n        // This ensures the service call to update last_pylontech_balanced is sent\n        msg.forceStopBalancing = true;\n    }\n} else {\n    global.set(\"balancing_started_at\", null);\n    global.set(\"balancing_completed\", false);\n}\n\n// Set balancing globals for heating integration\nglobal.set(\"balancing_active\", mode === \"Balancování\");\nif (mode !== \"Balancování\") {\n    global.set(\"balancing_block_pump\", false);\n}\n\nmsg.skipBatteryControl = skipBattery;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            [
                "19a783a61de3519b"
            ]
        ]
    },
    {
        "id": "19a783a61de3519b",
        "type": "switch",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Směrování podle módu",
        "property": "modeIndex",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 9,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "f10a91fcb4de6bd3"
            ],
            [
                "7f051a6595e57c3e"
            ],
            [
                "185f95d7c56fe799"
            ],
            [
                "a706b353f30c25d1"
            ],
            [
                "a86bc5233cfa0458"
            ],
            [
                "solar123456789abc"
            ],
            [
                "lo_orch_balancovani"
            ],
            [
                "lo_orch_zaporna_nakup"
            ],
            [
                "lo_orch_prodat_prebytek"
            ]
        ]
    },
    {
        "id": "f10a91fcb4de6bd3",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Normal",
        "mode": "link",
        "links": [
            "8b55cfc5181b9eb7"
        ],
        "x": 1005,
        "y": 380,
        "wires": []
    },
    {
        "id": "7f051a6595e57c3e",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Šetřit",
        "mode": "link",
        "links": [
            "ec611f6aba7d5c59"
        ],
        "x": 1005,
        "y": 420,
        "wires": []
    },
    {
        "id": "185f95d7c56fe799",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Nabíjet",
        "mode": "link",
        "links": [
            "1d98a0541716ce58"
        ],
        "x": 1005,
        "y": 460,
        "wires": []
    },
    {
        "id": "a706b353f30c25d1",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Prodávat",
        "mode": "link",
        "links": [
            "179ed150020d459c"
        ],
        "x": 1005,
        "y": 500,
        "wires": []
    },
    {
        "id": "a86bc5233cfa0458",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Zákaz přetoků",
        "mode": "link",
        "links": [
            "c682224043634fcd"
        ],
        "x": 1005,
        "y": 540,
        "wires": []
    },
    {
        "id": "lo_orch_zaporna_nakup",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Záporná nákupní cena",
        "mode": "link",
        "links": [
            "li_modes_zaporna_nakup"
        ],
        "x": 1005,
        "y": 580,
        "wires": []
    },
    {
        "id": "fc848e97e2c781c1",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Změna stavu wallboxu",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 840,
        "wires": [
            [
                "376106d716756636"
            ]
        ]
    },
    {
        "id": "376106d716756636",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Kontrola nabíjení auta",
        "func": "var state = msg.payload;\nvar chargingStates = [\"Charging\", \"Nabíjení\", \"2\"];\nvar isCharging = chargingStates.some(function(s) {\n    return state.toLowerCase().indexOf(s.toLowerCase()) !== -1 || state === s;\n});\nmsg.autoNabijeni = isCharging;\nnode.status({fill: isCharging ? \"yellow\" : \"green\", shape:\"dot\", text: isCharging ? \"Auto se nabíjí\" : \"Auto se nenabíjí\"});\n// Output 2: při zastavení nabíjení → přepočet plánu (BEZ resetu min_soc!)\nif (!isCharging) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Auto STOP → retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 840,
        "wires": [
            [
                "dc8da09248ec1e29"
            ],
            [
                "auto_trigger_plan"
            ]
        ]
    },
    {
        "id": "dc8da09248ec1e29",
        "type": "change",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global",
        "rules": [
            {
                "t": "set",
                "p": "auto_nabijeni_aktivni",
                "pt": "global",
                "to": "autoNabijeni",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "aabb001122334455",
        "type": "sqlite",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM \"own_energy_prices_total\"",
        "name": "Čti čerstvé ceny z DB",
        "x": 640,
        "y": 100,
        "wires": [
            [
                "aabb001122334466"
            ]
        ]
    },
    {
        "id": "aabb001122334466",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj ceny v planData",
        "func": "// Nahraď stará data čerstvými z DB\nvar freshPrices = msg.payload || [];\nif (freshPrices.length > 0) {\n    msg.planData.prices = freshPrices;\n    // Aktualizuj i global pro ostatní\n    global.set(\"fve_prices_forecast\", freshPrices);\n    node.status({fill:\"green\", shape:\"dot\", text: freshPrices.length + \" cen z DB\"});\n} else {\n    node.status({fill:\"yellow\", shape:\"dot\", text: \"DB prázdná, použit global\"});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "rf_prep_params_01"
            ]
        ]
    },
    {
        "id": "solar123456789abc",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Solární nabíjení",
        "mode": "link",
        "links": [
            "e93b8f3e662c6190"
        ],
        "x": 1005,
        "y": 580,
        "wires": []
    },
    {
        "id": "sauna_state_changed",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Změna stavu sauny",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.sauna"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "x": 130,
        "y": 900,
        "wires": [
            [
                "sauna_set_global"
            ]
        ]
    },
    {
        "id": "sauna_set_global",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global sauna",
        "func": "var state = msg.payload;\nvar isActive = (state === \"on\");\nglobal.set(\"sauna_aktivni\", isActive);\nnode.status({fill: isActive ? \"red\" : \"green\", shape: \"dot\", text: isActive ? \"Sauna ON\" : \"Sauna OFF\"});\n// Output 2: při vypnutí → přepočet plánu (BEZ resetu min_soc!)\nif (!isActive) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Sauna OFF → retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 900,
        "wires": [
            [],
            [
                "sauna_trigger_plan"
            ]
        ]
    },
    {
        "id": "blokace_file_update",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Aktualizuj blokaci v souboru",
        "func": "var planData = global.get(\"fve_plan\") || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\nvar blokaceText = (planData.status && planData.status.blokaceText) ? planData.status.blokaceText : \"NE\";\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    blokace_text: blokaceText,\n    filtrace_status: (function() {\n        var fs = global.get(\"filtrace_status\") || {};\n        return {run: fs.run || 0, minReq: fs.minReq || 0, met: fs.met || false, remaining: fs.remaining || 0};\n    })(),\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "blokace_file_write"
            ]
        ]
    },
    {
        "id": "blokace_file_write",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Zapiš blokaci",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 650,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "sauna_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "sauna_trigger_plan"
            ]
        ]
    },
    {
        "id": "sauna_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger přepočet plánu",
        "func": "// Po vypnutí sauny okamžitě přepočítej plán\n// (aby se min_soc=20% projevilo hned, ne až za minutu)\nnode.status({fill:\"blue\", shape:\"dot\", text:\"→ přepočet plánu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 820,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "virivka_state_changed",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Změna stavu vířivky",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.virivka"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "x": 130,
        "y": 780,
        "wires": [
            [
                "virivka_set_global"
            ]
        ]
    },
    {
        "id": "virivka_set_global",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global vířivka",
        "func": "var state = msg.payload;\nvar isActive = (state === \"on\");\nglobal.set(\"virivka_aktivni\", isActive);\nnode.status({fill: isActive ? \"red\" : \"green\", shape: \"dot\", text: isActive ? \"Vířivka ON\" : \"Vířivka OFF\"});\nif (!isActive) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Vířivka OFF → retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 780,
        "wires": [
            [],
            [
                "virivka_trigger_plan"
            ]
        ]
    },
    {
        "id": "virivka_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger přepočet plánu (vířivka)",
        "func": "node.status({fill:\"blue\", shape:\"dot\", text:\"→ přepočet plánu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 780,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "auto_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20 (auto)",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "auto_trigger_plan"
            ]
        ]
    },
    {
        "id": "auto_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger přepočet plánu (auto)",
        "func": "// Po zastavení nabíjení auta okamžitě přepočítej plán\nnode.status({fill:\"blue\", shape:\"dot\", text:\"→ přepočet plánu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 740,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "lo_orch_balancovani",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Balancování",
        "mode": "link",
        "links": [
            "li_modes_balancovani"
        ],
        "x": 1005,
        "y": 630,
        "wires": []
    },
    {
        "id": "rf_prep_params_01",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "1. Příprava parametrů",
        "func": "// [1/5] Příprava parametrů — config, stav, forecast, solární křivky\nvar d = msg.planData, cfg = d.config || {}, st = d.status || {}, fc = d.forecast || {};\nvar prices = d.prices || global.get(\"fve_prices_forecast\") || [];\nvar MODY = {NORMAL:\"normal\",SETRIT:\"setrit\",NABIJET:\"nabijet_ze_site\",PRODAVAT:\"prodavat\",ZAKAZ:\"zakaz_pretoku\",SOLAR:\"solar_charging\",BAL:\"Balancování\",ZAP_NAK:\"zaporna_nakupni_cena\"};\nvar C = {\n    kap:cfg.kapacita_baterie_kwh||28, minSoc:cfg.min_soc||20, maxDaily:cfg.max_daily_soc||80,\n    amort:cfg.amortizace_baterie_czk_kwh||1.5, chEff:cfg.charge_efficiency||0.90, dchEff:cfg.discharge_efficiency||0.90,\n    chKwh:cfg.charge_rate_kwh||5, socN:cfg.soc_drop_normal_pct||5, socS:cfg.soc_drop_setrit_pct||1,\n    dayCons:cfg.daily_consumption_kwh||20, LEVNA:cfg.prah_levna_energie||4, DRAHA:cfg.prah_draha_energie||12,\n    hor:cfg.plan_horizon_hours||12, maxGrid:cfg.max_spotreba_sit_w||22000, maxFeed:cfg.max_feed_in_w||7600,\n    prodej:cfg.prodej_z_baterie_enabled===true, blokace:cfg.blokace_vybijeni===true,\n    manual:cfg.manual_mod||\"auto\", letni:cfg.letni_rezim===true,\n    minArb:cfg.min_arbitrage_profit_czk||3, minSell:cfg.min_sell_profit_czk||3,\n    nResKwh:cfg.night_reserve_kwh||10, nMargin:cfg.night_target_soc_margin||5,\n    nibeKwh:cfg.nibe_est_consumption_kwh||7.0,prahUltra:cfg.prah_ultra_levna_nakup||1.0, balInt:cfg.balancing_interval_days||30,\n    balStop:cfg.balancing_force_stop_hours||2, balMinSol:cfg.balancing_min_solar_kwh||2,\n    solOverKwh:(cfg.topeni_solar_override_w||8000)/1000,\n    planAggSolarKwh:cfg.plan_aggressive_solar_day_kwh||50,\n    planAggSoc:cfg.plan_aggressive_soc_pct||60,\n    planAggRemainKwh:cfg.plan_aggressive_remaining_solar_kwh||0,\n    setritRank:cfg.plan_cheapest_hours_setrit||3,\n    planExtremeLowSolarKwh: (function(){var v=cfg.plan_extreme_low_solar_kwh; if(v==null||v===\"\")return 5; var n=parseFloat(v); return isNaN(n)?5:n;})()\n};\nC.rtEff=C.chEff*C.dchEff; C.nResPct=(C.nResKwh/C.kap)*100;\nvar solS=d.solarStartHour||cfg.solar_start_hour||9, solE=d.solarEndHour||cfg.solar_end_hour||17;\nvar now=new Date(), cH=now.getHours(), cMin=now.getMinutes(), fFrac=(60-cMin)/60;\nvar cM=now.getMonth(), isW=(cM>=9||cM<=2), cSoc=st.battery_soc||50;\nvar fD=fc.dnes||0, fZ=fc.zitra||0, fPH=d.forecastPerHour||{}, fPHT=d.forecastPerHourTomorrow||{};\nvar hMid=(24-cH)%24; if(hMid===0)hMid=24;\nfor(var m=0;m<24;m++){var o=(m-cH+24)%24;if(o>=hMid&&fPHT[m]!==undefined)fPH[m]=fPHT[m];}\nvar rS=d.zbyvajiciSolar||0;\nvar mMax=cfg.month_max_solar_kwh||[15,35,60,90,110,120,115,105,75,50,20,12];\nif(rS>mMax[cM])rS=mMax[cM];\nvar mxT=mMax[cM]; var dom=now.getDate(),dim=new Date(now.getFullYear(),cM+1,0).getDate();\nif(dom>=dim-2)mxT=Math.max(mxT,mMax[(cM+1)%12]||100);\nif(fZ>mxT)fZ=mxT;\n// Solární křivky (kompaktní — 12 měsíců)\nvar SC=cfg.solar_curves||{0:{8:.02,9:.08,10:.14,11:.18,12:.2,13:.18,14:.12,15:.06,16:.02},1:{7:.01,8:.04,9:.09,10:.14,11:.17,12:.19,13:.17,14:.11,15:.06,16:.02},2:{6:.01,7:.02,8:.06,9:.1,10:.13,11:.15,12:.16,13:.14,14:.11,15:.07,16:.04,17:.01},3:{5:.01,6:.02,7:.04,8:.07,9:.1,10:.12,11:.14,12:.14,13:.13,14:.1,15:.07,16:.04,17:.02},4:{5:.01,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.02},5:{5:.02,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.01},6:{5:.02,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.01},7:{5:.01,6:.02,7:.05,8:.08,9:.1,10:.12,11:.14,12:.14,13:.12,14:.1,15:.07,16:.04,17:.01},8:{6:.01,7:.03,8:.07,9:.1,10:.13,11:.15,12:.15,13:.14,14:.11,15:.07,16:.03,17:.01},9:{7:.02,8:.05,9:.1,10:.14,11:.16,12:.17,13:.16,14:.11,15:.06,16:.03},10:{8:.03,9:.08,10:.14,11:.18,12:.2,13:.18,14:.12,15:.06,16:.01},11:{8:.02,9:.07,10:.14,11:.19,12:.22,13:.19,14:.12,15:.05}};\nvar cw=SC[cM]||SC[5], tW=0;\nfor(var h=solS;h<solE;h++)tW+=cw[h]||0;\nif(tW===0)tW=1;\n// NIBE + blokace\nvar ha=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar inT=parseFloat((ha[\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\"]||{}).state)||22;\nvar tgT=parseFloat((ha[\"input_number.nastavena_teplota_v_dome\"]||{}).state)||23;\nvar nibeOn=((ha[\"switch.nibe_topeni\"]||{}).state)===\"on\";\n// §8.2 + §8.0(B): v letnim rezimu NIBE topeni domu je VZDY OFF — ignoruj residue switch state i inT<tgT (chlazeni resi switch.nibe_chlazeni). Bez teto gates plan generuje \"(NIBE topi)\" v solar levne hodine i v lete (bug 2026-05-09).\nvar nibeK=C.letni?0:((nibeOn||(inT<tgT&&tgT>18))?C.nibeKwh:0);\nvar outdoorT=parseFloat((ha[\"sensor.nibe_venkovni_teplota\"]||{}).state);if(isNaN(outdoorT))outdoorT=5;\nvar deltaT=Math.max(0,tgT-outdoorT);\nvar nibeDtPerCycle=cfg.topeni_nibe_dt_per_cycle||6;\nvar nibeCyklu=nibeK>0?Math.max(1,Math.round(deltaT/nibeDtPerCycle)):0;\nvar cerp=global.get(\"cerpadlo_topi\")||false,autoN=global.get(\"auto_nabijeni_aktivni\")||false,sauna=global.get(\"sauna_aktivni\")||false,virivka=global.get(\"virivka_aktivni\")||false;\nvar bI=[];if(cerp)bI.push(\"topení\");if(autoN)bI.push(\"auto\");if(sauna)bI.push(\"sauna\");if(virivka)bI.push(\"vířivka (jen prodej)\");\nvar lF=global.get(\"fve_last_full_charge\")||null;\nif(!lF){global.set(\"fve_last_full_charge\",now.toISOString());lF=now.toISOString();}\nvar dF=Math.floor((Date.now()-new Date(lF).getTime())/86400000);\nif(cSoc>=99)global.set(\"fve_last_full_charge\",now.toISOString());\nvar liveConsE=ha[\"sensor.celkova_spotreba\"]||{};var liveCons=(parseFloat(liveConsE.state)||0)/1000;\nvar autoHlad=((ha[\"input_boolean.auto_ma_hlad\"]||{}).state)===\"on\";var autoK=autoHlad?(cfg.nabijeni_auta_sit_max_amperage||16)*230/1000:0;\nmsg.ctx={MODY:MODY,C:C,prices:prices,cfg:cfg,solS:solS,solE:solE,cH:cH,cM:cM,fFrac:fFrac,isW:isW,cSoc:cSoc,now:now,fD:fD,fZ:fZ,fPH:fPH,rS:rS,cPred:d.consumptionPredictions||[],nibeK:nibeK,nibeCyklu:nibeCyklu,outdoorT:outdoorT,bTxt:bI.length>0?\"ANO - \"+bI.join(\", \"):\"NE\",dF:dF,cw:cw,tW:tW,fc:fc,liveCons:liveCons,autoK:autoK,virivka:virivka};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Prep SOC:\"+cSoc+\"% ☀\"+solS+\"-\"+solE});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "rf_cena_discharge2"
            ]
        ]
    },
    {
        "id": "rf_cena_discharge2",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "2. Cena + replCost",
        "func": "// [2/5] Cenová mapa + replCost invariant (refactor: replCost nahrazuje v27/v28/v29/v30.7/v30.8 patche)\n// CIL §1.0: nikdy neprodavat/nesetrit energii, kterou bychom pak museli koupit draz.\n//   replCost(h) = nejlevnejsi zpusob, jak prodanou kWh nahradit pred prvni solarni hodinou:\n//     - h >= fSol      ⇒ 0  (zitrejsi solar zaplni zdarma — §1.2)\n//     - solar zitra pokryje refill+noc+rezerva ⇒ 0\n//     - jinak nejdrazsi nakup v okne (h, fSol) / chEff\nvar x = msg.ctx, C = x.C, pr = x.prices;\n\n// fP — najdi cenovy zaznam pro hodinu/offset (priorita: dnes, zitra, fallback)\nfunction fP(hour, off) {\n    var nd = (x.cH + (off || 0)) >= 24, p = nd ? \"hoursTomorrow\" : \"hoursToday\", o = nd ? \"hoursToday\" : \"hoursTomorrow\";\n    for (var i = 0; i < pr.length; i++) if (pr[i].day === p && pr[i].hour === hour && pr[i].minute === 0) return pr[i];\n    for (var j = 0; j < pr.length; j++) if (pr[j].day === p && pr[j].hour === hour) return pr[j];\n    for (var k = 0; k < pr.length; k++) if (pr[k].day === o && pr[k].hour === hour && pr[k].minute === 0) return pr[k];\n    for (var m = 0; m < pr.length; m++) if (pr[m].hour === hour) return pr[m];\n    return null;\n}\nx.fP = fP;\n\n// Cenova mapa hp (12h+ horizont) — buy, sell, levely\nvar hp = [];\nfor (var i = 0; i < C.hor; i++) {\n    var hh = (x.cH + i) % 24, e = fP(hh, i);\n    hp.push({\n        offset: i, hour: hh,\n        buy: e ? parseFloat(e.priceCZKhourBuy) || 0 : 0,\n        sell: e ? parseFloat(e.priceCZKhourProd) || 0 : 0,\n        levelBuy: e ? e.levelCheapestHourBuy || 5 : 5,\n        levelSell: e ? e.levelMostExpensiveHourProd || 5 : 5\n    });\n}\nx.hp = hp;\n\n// Solar mapa: sO[offset]=true pokud je v solarnim okne; sR=skutecna realna vyroba >0.5 kWh\nvar sO = {}, sC = 0;\nfor (var s = 0; s < C.hor; s++) {\n    var sh = (x.cH + s) % 24;\n    if (sh >= x.solS && sh < x.solE) { sO[s] = true; sC++; }\n}\nvar sR = {};\nfor (var sr = 0; sr < C.hor; sr++) {\n    if (sO[sr] && ((x.fPH[(x.cH + sr) % 24] || 0) > 0.5)) sR[sr] = true;\n}\n// §4.5 (8.5.2026): solar hodina s NIZKOU vyrobou (sunset/sunrise, fPH < prah) NEBLOKUJE prodej\n// z baterie. Vychazi z §1.0 \"prodavat za nejdraz\" — slunce zapada, produkce ~0.5 kWh, baterie\n// muze vykryt zbytek feed-in 7.6 kW limitu i v solar okne.\nvar solSellPrah = (x.cfg && parseFloat(x.cfg.plan_solar_sell_threshold_kwh)) || 1.0;\nvar solBlock = {}; // true = aktivne produkujici solar = blokuj prodej z baterie\nfor (var sb = 0; sb < C.hor; sb++) {\n    if (sO[sb] && ((x.fPH[(x.cH + sb) % 24] || 0) >= solSellPrah)) solBlock[sb] = true;\n}\nx.solBlock = solBlock;\n// fSol = prvni offset s realnou solarni vyrobou (nebo C.hor pokud zadny). §4.9: skip pokud teprve\n// jsme uvnitr aktualniho solar okna, hledame az dalsi rade — pres-noc drain.\nvar _fk = 0;\nwhile (_fk < C.hor && sR[_fk]) _fk++;\nwhile (_fk < C.hor && !sR[_fk]) _fk++;\nvar fSol = _fk < C.hor ? _fk : C.hor;\nx.sO = sO; x.sC = sC; x.fSol = fSol;\n\n// nightCons (h od ted do fSol) — primarne z historickeho logu spotreby, jinak config fallback\n// FALLBACK CHAIN: cPred -> /homeassistant/fve_consumption_history.json -> dayCons/24\nfunction consAt(hour) {\n    for (var i = 0; i < x.cPred.length; i++) {\n        var p = x.cPred[i];\n        if (p.hour === hour && p.avgConsumptionKwh > 0 && p.sampleCount >= 3) return p.avgConsumptionKwh;\n    }\n    try {\n        var _fs = global.get(\"fs\");\n        if (_fs) {\n            var _h = global.get(\"_consAt_hist\");\n            var _now = Date.now();\n            var _ts = global.get(\"_consAt_hist_ts\") || 0;\n            if (!_h || (_now - _ts) > 60000) {\n                _h = JSON.parse(_fs.readFileSync(\"/homeassistant/fve_consumption_history.json\", \"utf8\"));\n                global.set(\"_consAt_hist\", _h);\n                global.set(\"_consAt_hist_ts\", _now);\n            }\n            var _rec = _h[String(hour)];\n            if (_rec) {\n                // §4.5 v32: MEDIAN z poslednich 20 dni napric weekday+weekend (robustni proti vyjimecnym\n                // odberum jako vareni v 21h, sauna, sporadicke spotrebice). Lifetime avg z `avgConsumptionKwh`\n                // je zkresleny outliery (uzivatel 9.5.2026: noc bezne 1 kWh/h, ale h21 lifetime=2.53 kvuli\n                // 2 outlierum 6.7 a 7.11 kWh).\n                var _cutoff = _now - 20 * 86400000;\n                var _samples = [];\n                var _typs = [\"weekday\", \"weekend\"];\n                for (var _ti = 0; _ti < _typs.length; _ti++) {\n                    var _ss = ((_rec[_typs[_ti]] || {}).samples) || [];\n                    for (var _si = 0; _si < _ss.length; _si++) {\n                        var _s = _ss[_si];\n                        var _t = new Date(_s.timestamp).getTime();\n                        if (_t >= _cutoff && _s.consumptionKwh > 0) _samples.push(_s.consumptionKwh);\n                    }\n                }\n                if (_samples.length >= 3) {\n                    _samples.sort(function (a, b) { return a - b; });\n                    var _mid = Math.floor(_samples.length / 2);\n                    return (_samples.length % 2) ? _samples[_mid] : (_samples[_mid - 1] + _samples[_mid]) / 2;\n                }\n                // fallback: lifetime avg ze stejneho hour (predchozi chovani)\n                var _dow = new Date().getDay();\n                var _key = (_dow === 0 || _dow === 6) ? \"weekend\" : \"weekday\";\n                var _sub = _rec[_key];\n                if (_sub && _sub.count >= 3 && _sub.avgConsumptionKwh > 0) return _sub.avgConsumptionKwh;\n                var _altKey = _key === \"weekend\" ? \"weekday\" : \"weekend\";\n                var _alt = _rec[_altKey];\n                if (_alt && _alt.count >= 3 && _alt.avgConsumptionKwh > 0) return _alt.avgConsumptionKwh;\n            }\n        }\n    } catch (_e) {}\n    return C.dayCons / 24;\n}\nx.consAt = consAt;\n\n\n// SEZONNI / PRODEJOVY MOD §4.5 (uzivatel 8.5.2026 19:22 — prepsana 4 pravidla):\n//   fZ > 50 + hlad ON  -> PRODAVAT (auto sezere ~25, ale 50-25 = 25 kWh > refill+noc, baterie se doplni)\n//   fZ > 50 + hlad OFF -> PRODAVAT (zadne odebrani autem, 50 kWh staci na refill+spotrebu+rezervu)\n//   fZ < 50 + hlad ON  -> NEPRODAVAT (auto sezere zitra solar, baterie se nedoplni zdarma)\n//   fZ < 50 + hlad OFF, leto  -> PRODAVAT (letni spotreba domu nizka, baterie postaci)\n//   fZ < 50 + hlad OFF, zima  -> NEPRODAVAT (zimni spotreba vysoka, baterie pro topeni)\n// Klicovy prah je RAW fZ (ne effSolar) — uzivatelske rozhodnuti: 50 kWh je dost\n// na vsechny zatazene fixy (auto + dum + refill + rezerva) i pri max nasobeni.\nvar fZprah = (x.cfg && parseFloat(x.cfg.plan_aggressive_solar_day_kwh)) || 50;\nvar isLeto = !!(x.cfg && x.cfg.letni_rezim);\nvar autoHladEnt = global.get(\"homeassistant.homeAssistant.states['input_boolean.auto_ma_hlad']\") || {};\nvar autoMaHlad = autoHladEnt.state === \"on\";\nvar bazenMaxEnt = global.get(\"homeassistant.homeAssistant.states['input_boolean.bazen_na_max']\") || {};\nvar bazenNaMax = bazenMaxEnt.state === \"on\";\nvar fZraw = x.fZ || 0;\nvar fZvelky = fZraw >= fZprah;\n// §4.5 (uzivatel 23.5.2026 21:54): ZJEDNODUSENE PRAVIDLO — prodavame z baterie do site\n// POUZE pokud splnime VSECHNY 3 podminky AND zaroven:\n//   1) fZ >= 50 kWh (parametr plan_aggressive_solar_day_kwh)\n//   2) auto_ma_hlad = OFF (auto si solar zitra nevezme)\n//   3) bazen_na_max = OFF (jinak je vyhodnejsi propalit do nadrze pres patrony, §8.7+§11.7)\n// Pokud kterakoliv selze -> NEPRODAVAT (energie bude potreba: noc do domu / rano do auta /\n// patrony do nadrze). Predchozi 4-radkova tabulka (zima/leto x slaby/silny solar) sjednocena.\nvar muzemeProdavat = fZvelky && !autoMaHlad && !bazenNaMax;\n// isAggrSummer = jeden rezim drainu (sellTarget je vzdy stejny per §4.5 r.238 = nightCons-based).\n// Drive: isLeto && fZvelky (zima s fZ>50 mela bezpecnejsi drain). Po sjednoceni = muzemeProdavat.\n// Aktivuje minSellEff=0.5 Kc + drainEffT=8 v solveru (rf_arb_trimming_3).\nvar isAggrSummer = muzemeProdavat;\n// solarPokryvaVse: zitrejsi solar zdarma doplni baterii -> replCost=0, setritTop NEAKTIVNI.\n// Mapuje se 1:1 na muzemeProdavat (pokud prodavame, davame se svetlem — solar zitra pokryje).\nvar solarPokryvaVse = muzemeProdavat;\n// Pro debug/UI zachovavame i puvodni effSolarZitra (jen informativni).\nvar planAutoDemandKwh = (x.cfg && parseFloat(x.cfg.plan_auto_demand_kwh)) || 25;\nvar effSolarZitra = fZraw - (autoMaHlad ? planAutoDemandKwh : 0);\nx.isLeto = isLeto;\nx.isAggrSummer = isAggrSummer;\nx.letniMinSolar = fZprah;\nx.autoMaHlad = autoMaHlad;\nx.bazenNaMax = bazenNaMax;\nx.effSolarZitra = effSolarZitra;\nx.fZvelky = fZvelky;\nx.muzemeProdavat = muzemeProdavat;// nightCons = SOUCET SPOTREBY POUZE V NON-SOLAR NORMAL/SETRIT HODINACH (do fSol).\n// 1) Solar window (sR[nc]=true) — pokryt solarem zdarma, baterie nemusi.\n// 2) Aktualni hodina v aggressive summer + drahy buy = bude PRODAVAT (drain do site, ne dom).\n//    Zahrnovat ji do nightCons by overestimovalo drain a zvedalo sellTarget zbytecne.\n// §4.5 STABILNI cíl (H11): nightCons pocita VZDY od solE (konec dnesniho slunce)\n// do fSolHour (prvni ranni solarni hodina). NEZAVISI na cH (current hour) — proto\n// stabilni napric vecerem (v 20:00, 21:00, 22:00 stejne `nightCons`, stejny sellTarget).\n// Predchozi varianta (od cH s vyloucenim _curIsLikelyProdavat) zpusobila pohyblivy\n// sellTarget — kazdou hodinu klesal o consAt(currentHour), prodej pokracoval az do\n// nepretrzite nizkeho SOC. To je presne to, co § 4.5 zakazuje:\n// \"Cil je STABILNI — zavisi na spotrebe a cenach, ne na aktualnim SOC.\"\nvar fSolHour = (x.solS != null) ? x.solS : ((x.cH + fSol) % 24);\nvar nightStartH = ((x.solE != null) ? x.solE : (x.cH)) % 24;\n// §8.0(B v2) BUG D: v letnim rezimu s povolenym chlazenim pricti odhad pridavne spotreby chlazeni\n// (~1 kWh/h) na kazdou nesolarni nocni hodinu — chlazeni v noci bere vic nez NORMAL, baterie si musi\n// nechat rezervu (prodavame mene), aby se v noci nemuselo nakupovat draho (problemy.txt #5).\nvar _coolEnt = global.get(\"homeassistant.homeAssistant.states['input_boolean.chlazeni']\") || {};\nvar _coolActive = !!(x.cfg && x.cfg.letni_rezim) && _coolEnt.state === \"on\";\nvar _coolKwhH = (x.cfg && parseFloat(x.cfg.chlazeni_spotreba_kwh_h)) || 1.0;\nvar nightCons = 0, _nightConsHours = 0, _nightCoolKwh = 0;\nvar _h = nightStartH, _guard = 24;\nwhile (_h !== fSolHour && _guard-- > 0) {\n    var _coolH = _coolActive ? _coolKwhH : 0;\n    nightCons += consAt(_h) + _coolH;\n    _nightCoolKwh += _coolH;\n    _nightConsHours++;\n    _h = (_h + 1) % 24;\n}\n// §4.5 BUG E: sebekorekce — pricti perzistentni korekci z minulych preprodeju (pocita se ve fve-history).\n// Kdyz jsme nedavno po dennim prodeji museli v noci nakupovat (SOC u dna), korekce zvysi nightCons -> vyssi\n// sellTarget -> pristi den prodame mene. Po cistych dnech korekce decayuje na 0 (samo-uvolneni). §4.5.\nvar _sellCorrKwh = global.get(\"fve_sell_correction_kwh\") || 0;\nif (x.cfg && x.cfg.sell_correction_enabled === false) _sellCorrKwh = 0;\nnightCons += _sellCorrKwh;\nx.sellCorrKwh = _sellCorrKwh;\nx.nightCons = nightCons;\nx.nightConsHours = _nightConsHours;\nx.nightStartH = nightStartH;\nx.fSolHour = fSolHour;\n\n// sellTarget §4.5 (uzivatel 8.5.2026 19:54): \"PRODAVAS DO ZBYTECNE NIZKEHO SOC!!!\n// KDYBYS PRODAL DO SOC ~69 %, NEMUSELO BY SE SETRIT!!! NEJDRIV SI VYPOCITEJ, DO\n// JAKEHO SOC MAS VYBIT BATERII, ABY SE NEMUSELO SETRIT!!!\"\n// → sellTarget MUSI pokryt nightCons + minSoc + nMargin VZDY (i v aggressive summer).\n// Bez ohledu na zitrejsi solar — dnesni noc je vlastni problem, baterie ji musi\n// pokryt bez nakupu (§4.5 hlavni pravidlo: \"nikdy neprodavat energii, kterou pak\n// musime drazsi v noci nakupit\").\n// §4.9: \"pred prvni solarni hodinou musime mit SOC cca 25 procent v baterii.\"\n// Toto se dosahne PRIRODNIM NORMAL drainem do domu pres noc, NE pres prodej.\n// §4.5 (uzivatel 4.6.2026): kdyz zitra velka solarni predpoved (solarPokryvaVse=true), NErezervovat na nocni CHLAZENI — prebytek nad bazni nocni spotrebu se ma DNES vecer prodat za vysokou cenu, protoze zitrejsi solar baterii zdarma doplni (jinak by se prebytek druhy den propalil do patron za ~0). Na slabych solarnich dnech (solarPokryvaVse=false) zustava plna rezerva vc. chlazeni.\nvar _nightConsSell = solarPokryvaVse ? Math.max(0, nightCons - _nightCoolKwh) : nightCons;\nvar nightNeedSoc = Math.ceil((_nightConsSell / (C.kap * C.dchEff)) * 100);\n// FIX § 4.5 ř. 238: souctovy vzorec (minSoc + nightNeedSoc + nMargin),\n// NE Math.max — predchozi varianta zahodila nMargin kdyz nightNeedSoc > nMargin,\n// drain do sellTarget pak skoncil presne na minSoc -> SETRIT v noci (porusi § 4.5 ř. 257).\nx.sellTarget = C.minSoc + nightNeedSoc + C.nMargin;\nx.nightNeedSoc = nightNeedSoc;\nx.nightCons = nightCons;\n// (solarPokryvaVse jiz vypocteno vyse podle 4 user pravidel z 8.5.2026 §4.5)\nvar refillNeed = (100 - x.cSoc) / 100 * C.kap;\nx.solarPokryvaVse = solarPokryvaVse;\n\n// Nejdrazsi nakup v okne [now, fSol) — pro replCost\nvar maxBuyToFSol = 0;\nfor (var mb = 0; mb < fSol; mb++) if (hp[mb].buy > maxBuyToFSol) maxBuyToFSol = hp[mb].buy;\n// replCost(h) — kolik bych zaplatil za nahradu prodane kWh pred prvnim solarem\nfunction replCost(h) {\n    if (h >= fSol) return 0;\n    if (solarPokryvaVse) return 0;\n    return maxBuyToFSol / C.chEff;\n}\nx.replCost = replCost;\nx.maxBuyToFSol = maxBuyToFSol;\n\n// charging budget §4.4 — nabijet ze site jen pokud po solaru bude SOC pod minSoc+rezerva\nvar saf = 5;\nif (x.fZ < C.dayCons * 0.3) saf = 10;\nelse if (x.fZ < C.dayCons * 0.5) saf = 7;\nvar rS = x.rS || 0, hToMid = 24 - x.cH, estRestCons = (C.dayCons / 24) * Math.max(0, hToMid);\nif (hToMid > 0 && estRestCons > 1) {\n    var rsRatio = rS / estRestCons;\n    if (rS < C.nResKwh || rsRatio < 0.35 || (x.fD > 0 && rS < x.fD * 0.2)) saf = Math.max(saf, 12);\n}\nvar minR = C.minSoc + saf;\n// Predikce SOC po solaru (pokud nic nezmenime)\nvar sGT = 0;\nfor (var sg = 0; sg < C.hor; sg++) {\n    if (!sO[sg]) continue;\n    var sgh = (x.cH + sg) % 24, sgK = x.fPH[sgh] || 0;\n    sGT += Math.max(0, (sgK - C.dayCons / 24) * C.chEff / C.kap) * 100;\n}\nvar sAD = x.cSoc - 0; // drain pocitame v solveru, tady jen baseline\nx.tSoc = x.cSoc; x.gN = 0; x.hN = 0; x.asgn = 0; x.viab = []; x.mnt = false;\nx.zpNabijetOk = false;\nvar zpThr = parseFloat((x.cfg || {}).plan_solar_insufficient_threshold_kwh);\nif (isNaN(zpThr) || zpThr <= 0) zpThr = 30;\nif (x.fD < zpThr && rS < Math.max(C.nResKwh * 1.2, estRestCons * 0.42)) x.zpNabijetOk = true;\n// Maintenance balancing (1x/30 dni)\nif (x.isW && x.dF >= C.balInt && x.cSoc < 100) { x.mnt = true; x.tSoc = 100; x.gN = ((100 - x.cSoc) / 100) * C.kap / C.chEff; }\n// Pokud zitra nestaci (saf>=10) a SOC pod cilem, naplanuj grid charge\nif (!x.mnt && saf >= 10 && x.cSoc + sGT < minR) {\n    x.tSoc = Math.min(C.maxDaily, x.cSoc + Math.ceil(minR - (x.cSoc + sGT)));\n    x.gN = Math.max(0, ((x.tSoc - x.cSoc) / 100) * C.kap / C.chEff);\n}\nx.hN = Math.ceil(x.gN / C.chKwh);\nx.minR = minR; x.sAD = sAD; x.drB = 0; x.bgt = 0; x.uKwh = 0; x.effT = C.DRAHA; x.pSoc = x.cSoc; x.sGT = sGT;\n\nvar _statSeason = isAggrSummer ? \" PRODEJ\" : (isLeto ? \" LETO-NEPRO\" : \" ZIMA-NEPRO\");\nvar _statAuto = autoMaHlad ? \" HLAD\" : \"\";\nvar _statBazen = bazenNaMax ? \" BAZ-MAX\" : \"\";\nnode.status({ fill: \"blue\", shape: \"dot\", text: \"Cena fSol:\" + fSol + \" sT:\" + x.sellTarget + \"% rC:\" + Math.round(maxBuyToFSol * 100) / 100 + _statSeason + _statAuto + _statBazen + (x.sellCorrKwh > 0 ? \" corr+\" + Math.round(x.sellCorrKwh * 10) / 10 : \"\") + \" fZ:\" + Math.round(fZraw) + (solarPokryvaVse ? \" PROD-OK\" : \" NE-PROD\") });\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "rf_arb_trimming_3"
            ]
        ]
    },
    {
        "id": "rf_arb_trimming_3",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "3. Solver per-hour",
        "func": "// [3/5] Solver per-hour — jediny algoritmus rozhoduje mod kazde hodiny dle replCost invariantu\n// PRIORITY (prvni splnena vyhrava, §4.9.2):\n//   1. ZAP_NAK    — buy < 0 (max odber, baterie buffer)\n//   2. ZAKAZ      — sell <= 0 (vc. ultra-levna nabijet ze site §4.9.2 1a)\n//   3. BAL        — balancovani okno\n//   4. NABIJET    — netBuy + minArb <= bestFutureSell, SOC pod tSoc (§4.4)\n//   5. PRODAVAT   — sell·dchEff − amort − replCost >= minSell, SOC > sellTarget (§4.5)\n//   6. NORMAL     — drahe nesolarni hodiny + SOC > sellTarget (vybij baterii)\n//   7. SETRIT     — default (levna/stredni hodiny, baterie nevybij)\nvar x = msg.ctx, C = x.C, hp = x.hp, M = x.MODY;\nvar aCO = {}, aSO = {}, cO = {}, dO = {}, sellMap = {}, aS = {};\nvar balancovanoV = 0;\n// SEZONNI parametry §4.9 (z 02_cena_replcost):\n//   aggressive summer (leto + zitra >= plan_letni_min_solar_kwh):\n//     - minSellEff = 0.5 Kc (nizsi prah profitu, ochotni prodavat i za mensi spread)\n//     - drainEffT  = (LEVNA + DRAHA) / 2  (NORMAL drain i ve stredne drahych hodinach)\n//   jinak (zima nebo leto s slabym solarem): plne konzervativne (C.minSell, C.DRAHA)\n// FIX 12.5.2026: agresivni prah 0.5 Kc PRO VSECHNY scenare se solarPokryvaVse=true,\n// ne jen aggressive summer (isLeto&fZvelky). V zime s fZ>50 mame replCost=0,\n// muzeme prodavat za nizsi profit, protoze nakup nedelame (§ 4.5 r. 269).\n// Bez fixu winter+fZ>50 melo minSellEff=C.minSell=3 Kc -> nedosazitelny prah.\nvar minSellEff = x.solarPokryvaVse ? 0.5 : C.minSell;\nvar drainEffT = x.isAggrSummer ? Math.floor((C.LEVNA + C.DRAHA) / 2) : C.DRAHA;\nvar ha = global.get(\"homeassistant.homeAssistant.states\") || {};\nvar _dtEnt = ha[\"input_datetime.last_pylontech_balanced\"] || {};\nvar _balDt = (_dtEnt.state && _dtEnt.state !== \"unknown\" && _dtEnt.state !== \"unavailable\") ? String(_dtEnt.state) : \"\";\nvar _balMs = _balDt ? Date.parse(_balDt.indexOf(\"T\") >= 0 ? _balDt : _balDt.replace(\" \", \"T\")) : NaN;\nvar dnuOdBal = (_balDt && !isNaN(_balMs)) ? (Date.now() - _balMs) / 86400000 : 999;\nvar potrebaBal = dnuOdBal >= C.balInt;\nvar balancingStartTs = global.get(\"balancing_started_at\") || 0;\nvar balBehez = balancingStartTs > 0 ? (Date.now() - balancingStartTs) / 3600000 : 0;\n\n// bestFutureSell(h) — nejdrazsi sell za hodinou h (pro arbitraz)\nfunction bestFutureSell(h) {\n    var mx = 0;\n    for (var i = h + 1; i < hp.length; i++) if (hp[i].sell > mx) mx = hp[i].sell;\n    return mx;\n}\n\n// §4.3 + §4.5 (uzivatel 8.5.2026 19:51): \"prodavame do SOC, aby v noci nemuselo SETRIT\".\n// SetritTop = top N nejlevnejsich non-solar hodin -> v nich SETRIT misto NORMAL drain.\n// FIX § 4.5 r. 257 (12.5.2026): SETRIT v noci = bug pokud solar zitra dorovna baterii.\n// Stara logika 'if (solarPokryvaVse && !isAggrSummer)' aktivovala SETRIT prave KDYZ\n// solar zitra dorovna refill+noc — to je opacne nez ma smysl.\n//\n// Spravna logika: setritTop chrani baterii pro budoucnost, JEN kdyz solar nedorovna.\n//   - solarPokryvaVse=true  => drainovat v noci OK, solar zitra zdarma doplni (§ 1.2)\n//   - solarPokryvaVse=false => SETRIT TOP N chrani baterii pred drazsi siti pozdeji\n//\n// User 12.5.2026: 'PROC SE PLANUJE SETRIT, KDYZ PAK V PRVNICH SOLARNICH HODINACH MAME VELKE SOC!!!'\n// Pri solarPokryvaVse=true solar zitra (>50 kWh) dorovna baterii i z minSoc na 95%+,\n// SETRIT v noci jen prodluzuje nakup ze site za vyssi cenu nez NORMAL drain z baterie.\nvar setritTop = {};\n// §4.3 BUG C: SETRIT (= nakup v levne hodine misto vybijeni baterie) ma smysl JEN kdyz baterie NESTACI\n// pokryt nesolarni hodiny do dalsiho slunce bez poklesu pod sellTarget. Pokud baterie staci\n// (peakSoc >= sellTarget), zadny zbytecny nakup — NORMAL drain z baterie (problemy.txt #2).\nvar _peakSocC = Math.min(100, x.cSoc + (x.sGT || 0));\nif (!x.solarPokryvaVse && _peakSocC < x.sellTarget) {\n    var nonSolarSorted = [];\n    for (var ns = 0; ns < hp.length; ns++) if (!x.sO[ns]) nonSolarSorted.push({ off: ns, buy: hp[ns].buy });\n    nonSolarSorted.sort(function (a, b) { return a.buy - b.buy; });\n    for (var nt = 0; nt < C.setritRank && nt < nonSolarSorted.length; nt++) setritTop[nonSolarSorted[nt].off] = true;\n}\nx.setritTop = setritTop;\n\n// Hlavni solver — pro kazdy offset urci mod a zaznamena do setu (cO/dO/sellMap/aCO/aSO)\nfor (var h = 0; h < hp.length; h++) {\n    var hh = hp[h], buy = hh.buy, sell = hh.sell, level = hh.levelBuy, isSol = !!x.sO[h];\n    // solBlock=true: aktivne produkujici solar (fPH >= prah) — blokuj prodej a drain.\n    // isSol && !solBlock: solar hodina s nizkou vyrobou (sunset/sunrise) — DOVOL prodej i drain.\n    var solBlk = !!x.solBlock[h];\n    var ultraLevna = buy < (C.prahUltra || 1.0);\n    // 1. Zaporna nakupni cena §4.10\n    if (buy < 0) continue; // exec rozhodne ZAP_NAK + max odber\n\n    // 2. Zakaz pretoku §4.6\n    if (sell <= 0) {\n        // 2a. §4.9.2 1a: slaby solarni den + ultra levna + SOC pod max → NABIJET ze site\n        if (ultraLevna && x.zpNabijetOk && x.cSoc < C.maxDaily - 3) cO[h] = true;\n        continue;\n    }\n\n    // 3. Balancovani — solarni hodiny pri potrebabal\n    var muzeBal = potrebaBal && balancovanoV < C.balStop && (h === 0 ? balBehez < C.balStop : true);\n    if (muzeBal && isSol) {\n        var solK = x.fPH[hh.hour] !== undefined ? x.fPH[hh.hour] : 0;\n        if (solK >= C.balMinSol) { balancovanoV++; continue; /* exec rozhodne BAL */ }\n    }\n\n    // 4. NABIJET ZE SITE §4.4 — levna hodina, arbitraz vyplaci, SOC pod cilem\n    var netBuy = buy / C.rtEff + C.amort;\n    if (level <= C.LEVNA && !isSol) {\n        var bs = bestFutureSell(h);\n        var arbProfit = bs - netBuy; // raw cena diff (po efektivite + amort jiz v netBuy)\n        if (arbProfit >= C.minArb && x.cSoc < x.tSoc + 5) {\n            cO[h] = true;\n            // Arbitrazni par pro UI flag\n            for (var ai = h + 1; ai < hp.length; ai++) {\n                if (hp[ai].sell === bs) {\n                    aCO[h] = { targetHour: hp[ai].hour, rawSpread: Math.round((bs - buy) * 100) / 100, effProfit: Math.round(arbProfit * 100) / 100 };\n                    if (hp[ai].sell * C.dchEff - C.amort > netBuy) aSO[ai] = { rawSpread: Math.round((bs - buy) * 100) / 100 };\n                    break;\n                }\n            }\n            continue;\n        }\n        // Maintenance / planovany grid charge (z 02)\n        if (x.gN > 0 && level <= C.LEVNA) { cO[h] = true; continue; }\n    }\n\n    // 5. PRODAVAT §4.5 — netSell − replCost >= minSellEff, peakSoc > sellTarget\n    //   minSellEff: aggressive summer = 0.5 Kc, jinak C.minSell (typ. 3 Kc)\n    //   solBlk: jen aktivne produkujici solar blokuje prodej (low-solar sunset OK).\n    //   peakSoc = cSoc + sGT (solar boost dnesni solar window doplni baterii pred PRODAVAT hodinou).\n    //   Pouzit cSoc by ignorovalo solar boost a vyradilo prodej kdyz cSoc=sellTarget pred solar peakem.\n    if (C.prodej && !x.virivka && !solBlk) {\n        var netSell = sell * C.dchEff - C.amort;\n        var rC = x.replCost(h);\n        var profit = netSell - rC;\n        var _peakSocLoop = Math.min(100, x.cSoc + (x.sGT || 0));\n        if (profit >= minSellEff && _peakSocLoop > x.sellTarget) {\n            sellMap[h] = true;\n            continue;\n        }\n    }\n\n    // 6. NORMAL — drahe (i mid v lete) nesolarni / low-solar hodiny, vybij baterii\n    //   drainEffT: aggressive summer = (LEVNA+DRAHA)/2, jinak C.DRAHA\n    if (!solBlk && level >= drainEffT && x.cSoc > C.minSoc + 5) {\n        dO[h] = true;\n        if (level < x.effT) x.effT = level;\n        continue;\n    }\n    // 6b. SETRIT — top N nejlevnejsich nesolarnich (§4.3 — chrani baterii)\n    if (!solBlk && setritTop[h]) { aS[h] = true; continue; }\n    // 6c. Aktivne produkujici solar — exec rozhodne NORMAL/SETRIT podle ziskProc\n    if (solBlk) continue;\n    // 7. Default nesolarni / low-solar stredni — NORMAL (baterie vybiji na spotrebu §4.2)\n    dO[h] = true;\n    if (level < x.effT) x.effT = level;\n}\n\n// POST-PROCESS §4.5 (uzivatel 10.5.2026 20:20 — GREEDY DESC):\n// § 4.5 hlavni princip: \"PRODAVAME ZA NEJDRAZSI HODINY — od nejvyssi sell ceny dolu\".\n// Algoritmus:\n//   1. Kandidaty serad podle sell DESC (nejdrazsi prvni).\n//   2. Pro kazdy kandidat: zkus pridat do _picked. Spust chronologickou sim SOC\n//      pres celou _picked sadu. Pokud kandidat NEzustal v \"bad\" (= jeho hodinu\n//      sim dosahla SOC > sellTarget), trvale ho ponech. Jinak rollback.\n// Tim se zachova § 4.5 line 195 (priorita nejdrazsich) i § 4.5 STABILNI cil\n// (sellTarget z node 02). Soucasne se vyhne situaci, kdy \"first-by-offset\" vybral\n// h20 (sell=2.54) misto h21 (sell=2.62, drazsi).\nvar peakSoc = Math.min(100, x.cSoc + (x.sGT || 0));\nvar sellSocPerH = (C.maxFeed / 1000 / C.dchEff / C.kap) * 100;\n\n// #region sticky-fix § 4.5 NEHALUCINOVAT\n// Drzi PRODAVAT rozhodnuti pro hour z minuleho tiku (60s) dokud:\n//  - aktualni SOC > sellTarget (mame co prodavat)\n//  - sell cena se nezmenila pod prah ziskovosti (zachycene v sellMin)\n//  - !solBlock (nezacalo aktivne svitit pro tu hodinu)\n//  - hodina jeste neuplynula (cH zachycen v stickyData.cH)\n// Reset po 75 min (jiz po cH posunu).\nvar __stickyKey = \"plan_sticky_sellMap_v1\";\nvar __nowMs = Date.now();\nvar stickyData = global.get(__stickyKey) || { ts: 0, cH: -1, byHour: {} };\nif ((__nowMs - stickyData.ts) > 75 * 60 * 1000 || stickyData.cH !== x.cH) {\n    stickyData = { ts: __nowMs, cH: x.cH, byHour: {} };\n}\n// #endregion\nvar _candidates = Object.keys(sellMap).map(Number);\n\nfunction _simChrono(pickedSet) {\n    // FIX (12.5.2026): per-hour gate `s > sellTarget` byl moc restriktivni pro RANNI prodej.\n    // Pro h7/h8 simulovany SOC po nocnim drainu = 30-32 %, sellTarget = 45 % (letni nightCons),\n    // takze solver vyhodil h7+h8 bad — ackoliv solar dnes (66 kWh, sGT do polodne ~70 %)\n    // baterii dobije na ~85-100 % a po nocnim drainu zitra by zbylo > sellTarget.\n    // § 4.5 hlavni princip: \"nikdy neprodavat energii, kterou bychom v noci dokoupit draz\" =\n    // noc ZITRA (po solar dni), ne v okamzik prodeje. Per-hour gate proto uvolnen na minSafe\n    // (= minSoc+nMargin, baterie nesmi prodat pod safety net), globalni gate endSoc>=sellTarget\n    // garantuje nocni rezervu rigorozne. Pokud endSoc nestaci, rollback nejmene cenneho prodeje.\n    var s = x.cSoc;\n    var bad = [];\n    var minSafeForSell = C.minSoc + C.nMargin;\n    for (var _hh = 0; _hh < hp.length; _hh++) {\n        var _hour = hp[_hh].hour;\n        var _frac = _hh === 0 ? (x.fFrac || 1) : 1;\n        var _inWin = (_hour >= x.solS && _hour < x.solE);\n        var _sk = (x.fPH[_hour] || 0);\n        var _cn = x.consAt ? x.consAt(_hour) : (C.dayCons / 24);\n        if (pickedSet[_hh]) {\n            if (s > minSafeForSell) {\n                var _add = sellSocPerH * _frac;\n                s = Math.max(C.minSoc, s - _add);\n            } else {\n                bad.push(_hh);\n            }\n            continue;\n        }\n        if (_inWin) s = Math.min(100, s + Math.max(0, (_sk - _cn) * _frac * C.chEff / C.kap * 100));\n        else s = Math.max(C.minSoc, s - (_cn * _frac / C.dchEff / C.kap) * 100);\n    }\n    // Globalni gate: endSoc na konci horizontu (= polodne dnes po solar dobiti) musi byt >= sellTarget.\n    // sellTarget = minSoc + nightCons/(kap*dchEff)*100 + nMargin (z node 02). Garantuje, ze po vecernim\n    // drainu az do prvni ranni solarni hodiny ZITRA zbude SOC > minSoc+nMargin (=> nemusi se setrit v noci).\n    // Pokud endSoc < sellTarget, rollback nejmene ceneny prodej (nejnizsi profit z pickedSet).\n    if (!x.solarPokryvaVse && s < x.sellTarget) {\n        var _worstOff = -1, _worstProfit = Infinity;\n        for (var _po in pickedSet) {\n            var _po_int = parseInt(_po);\n            if (bad.indexOf(_po_int) >= 0) continue;\n            var _po_profit = hp[_po_int].sell * C.dchEff - C.amort - x.replCost(_po_int);\n            if (_po_profit < _worstProfit) {\n                _worstProfit = _po_profit;\n                _worstOff = _po_int;\n            }\n        }\n        if (_worstOff !== -1) bad.push(_worstOff);\n    }\n    return bad;\n}\n\n// Sort kandidaty by sell DESC (nejdrazsi prvni).\nvar _sorted = _candidates.slice().sort(function (a, b) { return hp[b].sell - hp[a].sell; });\nvar _picked = {};\n// FIX § 4.5 ř. 195 + ř. 286: budget check — greedy DESC stopuje po vycerpani sellBudgetSoc\n// (= peakSoc - sellTarget). Bez budget check algoritmus pridaval kazdou hodinu kde s>sellTarget\n// na zacatku, coz vedlo k 2 hodinam prodeje (60% drain) pri budgetu jen 32% -> drain pod sellTarget\n// pres noc -> SETRIT (porusi § 4.5 ř. 257). Last-hour clip toleruje pulhodinu (>50% zbytku budgetu),\n// jinak by se neprodal ANI 1× kdyz budget < sellSocPerH.\nvar _sellBudgetSocEarly = Math.max(0, peakSoc - x.sellTarget);\nvar sellUsedTrack = 0;\n\n// #region sticky-fix § 4.5 NEHALUCINOVAT — sticky picks first\nvar __stickyHits = 0;\nfor (var __ssi = 0; __ssi < _sorted.length; __ssi++) {\n    var __stry = _sorted[__ssi];\n    var __hour2 = hp[__stry].hour;\n    var __sk = stickyData.byHour[__hour2];\n    if (!__sk) continue;\n    if (x.cSoc <= x.sellTarget) continue;\n    if (x.solBlock[__stry]) continue;\n    if (hp[__stry].sell < __sk.sellMin) continue;\n    var __sfrac = __stry === 0 ? (x.fFrac || 1) : 1;\n    var __sadd = sellSocPerH * __sfrac;\n    _picked[__stry] = true;\n    var __sbad = _simChrono(_picked);\n    var __sIsBad = false;\n    for (var __sbi = 0; __sbi < __sbad.length; __sbi++) {\n        if (__sbad[__sbi] === __stry) { __sIsBad = true; break; }\n    }\n    if (__sIsBad) { delete _picked[__stry]; continue; }\n    sellUsedTrack += __sadd;\n    __stickyHits++;\n}\n// #endregion\n\nfor (var _si = 0; _si < _sorted.length; _si++) {\n    var _try = _sorted[_si];\n    if (_picked[_try]) continue; // sticky-fix: already picked above\n    var _frac_try = _try === 0 ? (x.fFrac || 1) : 1;\n    var _add_try = sellSocPerH * _frac_try;\n    var _remaining = _sellBudgetSocEarly - sellUsedTrack;\n    if (_remaining < _add_try * 0.5) continue; // zbytek budgetu < polovina hodiny -> SKIP\n    _picked[_try] = true;\n    var _bad = _simChrono(_picked);\n    var _isBad = false;\n    for (var _bi = 0; _bi < _bad.length; _bi++) { if (_bad[_bi] === _try) { _isBad = true; break; } }\n    if (_isBad) { delete _picked[_try]; continue; } // rollback (sim ukazala bad)\n    sellUsedTrack += _add_try;\n}\n\n// Rebuild sellMap z _picked.\nsellMap = {};\nvar sellUsed = 0;\nfor (var _pk in _picked) {\n    sellMap[_pk] = true;\n    sellUsed += sellSocPerH * (parseInt(_pk) === 0 ? (x.fFrac || 1) : 1);\n}\n\n// Safety net dO (uzivatel 10.5.2026 20:20): VSECHNY puvodni sell kandidaty\n// (= hodiny s sell profit >= minSellEff = \"drahe enough na drain\") dostanou dO=true,\n// BEZ level filtru. resolveMode da sellMap prednost (PRODAVAT) pokud soc>sellTarget;\n// jinak NORMAL drain misto SETRIT fallback (§4.2 — draha hodina vybij baterii).\n// Bez tohoto fixu eliminovane sell kandidaty s level<drainEffT (h02 sell=2.34 lvl=6)\n// fallthrough na fallback \"Setrim baterii\" → ridiculous SETRIT mezi 2 NORMAL hodinami.\nfor (var _ck = 0; _ck < _candidates.length; _ck++) {\n    var _co = _candidates[_ck];\n    if (!x.solBlock[_co] && x.cSoc > C.minSoc + 5) {\n        dO[_co] = true;\n    }\n}\nvar sellBudgetSoc = _sellBudgetSocEarly; // moved up above greedy DESC for budget check\n\n// #region sticky-fix § 4.5 NEHALUCINOVAT — save for next tick\nvar __newSticky = { ts: __nowMs, cH: x.cH, byHour: {} };\nfor (var __pk2 in _picked) {\n    var __po = parseInt(__pk2);\n    // sellMin = current sell - 0.10 Kc tolerance (mala fluktuace nezruzi sticky,\n    // ale realny pokles ceny pod prah ziskovosti ano).\n    __newSticky.byHour[hp[__po].hour] = { sellMin: Math.max(0.01, hp[__po].sell - 0.10) };\n}\nglobal.set(__stickyKey, __newSticky);\n// #endregion\n\n// UI metriky pro 05\nx.cO = cO; x.dO = dO; x.sellMap = sellMap; x.aCO = aCO; x.aSO = aSO; x.aS = aS;\nx.bgt = sellBudgetSoc / 100 * C.kap;\nx.uKwh = sellUsed / 100 * C.kap;\nx.asgn = Object.keys(cO).length;\nx.viab = []; for (var vi = 0; vi < hp.length; vi++) if (hp[vi].levelBuy <= C.LEVNA && !x.sO[vi]) x.viab.push(hp[vi]);\nx.pSoc = Math.min(100, x.cSoc + x.sGT);\nx.potrebaBal = potrebaBal;\n\nvar _seasonStat = x.isAggrSummer ? \" AGRO\" : \"\";\nnode.status({ fill: \"blue\", shape: \"dot\", text: \"Solver sell:\" + Object.keys(sellMap).length + \" ch:\" + Object.keys(cO).length + \" dch:\" + Object.keys(dO).length + _seasonStat });\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 200,
        "wires": [
            [
                "rf_gen_plan_0004"
            ]
        ]
    },
    {
        "id": "rf_gen_plan_0004",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "4. Format plan",
        "func": "// [4/5] Format plan — naformatuje plan items + simuluje SOC + NIBE cykly (§4.9.1)\n// Per-hour: precte mode z 03 (cO/dO/sellMap/aS), prevede na text reason, simuluje SOC.\nvar x = msg.ctx, C = x.C, hp = x.hp, M = x.MODY;\nvar nibeZbyva = x.nibeCyklu || 0, nibeCD = 0;\nvar poolNibeH = global.get(\"pool_nibe_planned_hours\") || [];\n\n// === AUTO mod prodat_prebytek (export prebytku do site MISTO nabijeni baterie) ===\n// Bezpecnost: exportuje JEN kdyz je nocni rezerva uz nabita (soc >= sellTarget+buffer),\n// sell>0 a neni balancovani. Pak: B) baterie plna => anti-curtailment, NEBO\n// A) ulozeni dalsiho prebytku nema hodnotu (levny budouci nakup) => prodej misto nabiti na max.\nvar cfg04 = global.get(\"fve_config\") || {};\nvar ppEnabled = cfg04.prodej_misto_nabijeni_enabled === true;\nvar ppMinAdv = (cfg04.min_export_advantage_czk != null) ? cfg04.min_export_advantage_czk : 0.3;\nvar ppBuffer = (cfg04.prodej_misto_nabijeni_buffer_soc != null) ? cfg04.prodej_misto_nabijeni_buffer_soc : 5;\nfunction ppMaxBuyFuture(off) { var mx = 0; for (var i = off + 1; i < hp.length; i++) if (hp[i].buy > mx) mx = hp[i].buy; return mx; }\nfunction ppWorthIt(off, soc) {\n    if (!ppEnabled) return false;\n    if (x.potrebaBal || global.get(\"balancing_active\")) return false; // balancovani chce 100% SOC\n    var sell = hp[off].sell;\n    if (sell <= 0) return false;                                       // pri zaporne cene NIKDY neexportovat\n    if (soc >= 100) return false;                                       // baterie fyzicky plna: prebytek nelze ulozit -> export (anti-curtailment, nezasahuje nocni rezervu)\n    var reserveSoc = (x.sellTarget || (C.minSoc + C.nMargin)) + ppBuffer;\n    var futureGain = remGain[off + 1] || 0;\n    if (soc + futureGain >= 100) return sell > ppMinAdv;               // ANTI-CURTAILMENT (dopoledne): budouci solar baterii zaplni na 100% i bez teto h -> tento prebytek by se curtailoval -> prodej\n    if (soc < reserveSoc && (soc + futureGain) < reserveSoc) return false; // nocni rezerva PRVNI (jen kdyz ji budouci solar nedoplni) - self-limiting\n    if (soc >= C.maxDaily) return true;                                // B) baterie plna -> anti-curtailment\n    var rt = C.rtEff || (C.chEff * C.dchEff) || 0.81;\n    var storeValue = rt * ppMaxBuyFuture(off) - C.amort;               // hodnota ulozeni 1 kWh pro pozdejsi nakup\n    return sell > storeValue + ppMinAdv;                               // A) ulozeni nema smysl -> prodej prebytek\n}\n\n// FIX (12.5.2026): NIBE pick podle CENY (§ 8.3 r. 916 \"DUM BUDE NATOPENY ZA CO NEJLEPSI CENU\").\n// Bug pred fixem: hlavni iterace brala prvni-prijde-prvni-bere → NIBE v drazsich hodinach.\n// Greedy pick: nejlevnejsi solarni hodina prvni, blokovat sousedni (cooldown 1h per § 4.9.1 r. 405).\n// Pokud cooldown zablokuje vsechny dalsi kandidaty, picknu mene nez nibeZbyva — preferuje\n// nejlevnejsi cenu pred maxim cyklu (user explicitne 12.5.2026: \"v te nejlevnejsi hodine\").\nvar nibeAssigned = {};\nif (x.nibeK > 0 && !C.letni && nibeZbyva > 0) {\n    var nibeCands = [];\n    for (var ni = 0; ni < hp.length; ni++) {\n        if (x.sO[ni] && hp[ni].levelBuy < C.DRAHA) nibeCands.push({off: ni, lvl: hp[ni].levelBuy, b: hp[ni].buy});\n    }\n    nibeCands.sort(function(a, b) { return a.lvl - b.lvl || a.b - b.b; });\n    var nibePicked = 0;\n    for (var nc = 0; nc < nibeCands.length && nibePicked < nibeZbyva; nc++) {\n        var noff = nibeCands[nc].off;\n        if (nibeAssigned[noff - 1] || nibeAssigned[noff + 1]) continue;\n        nibeAssigned[noff] = true; nibePicked++;\n    }\n}\n\nvar consAt = x.consAt || function(hour) {\n    for (var i = 0; i < x.cPred.length; i++) {\n        var p = x.cPred[i];\n        if (p.hour === hour && p.avgConsumptionKwh > 0 && p.sampleCount >= 3) return p.avgConsumptionKwh;\n    }\n    return C.dayCons / 24;\n};\nfunction solarKwh(hour) { return x.fPH[hour] !== undefined ? x.fPH[hour] : 0; }\nfunction clamp(v) { return Math.min(100, Math.max(C.minSoc, Math.round(v))); }\n\n// Rozhodni mod per offset (pouziva sety z 03 + per-hour pravidla)\nfunction resolveMode(off, soc, frac) {\n    var hh = hp[off], hour = hh.hour, isSol = !!x.sO[off];\n    var level = hh.levelBuy, buy = hh.buy, sell = hh.sell;\n    if (C.manual !== \"auto\") return { m: C.manual, r: \"Manuální režim, SOC \" + Math.round(soc) + \"%\" };\n    if (buy < 0) return { m: M.ZAP_NAK, r: (sell <= 0 ? \"Záporný nákup + bez exportu\" : \"Max. odběr (záporný nákup)\") + \", SOC \" + Math.round(soc) + \"%\" };\n    if (sell <= 0) {\n        if (x.cO[off]) return { m: M.NABIJET, r: \"Nabíjení ze sítě (ZP, ultra levná), SOC \" + Math.round(soc) + \"%\" };\n        return { m: M.ZAKAZ, r: \"Zákaz přetoků, SOC \" + Math.round(soc) + \"%\" };\n    }\n    if (x.cO[off]) {\n        if (x.aCO[off]) return { m: M.NABIJET, r: \"Arbitráž → \" + x.aCO[off].targetHour + \":00, SOC \" + Math.round(soc) + \"%\" };\n        return { m: M.NABIJET, r: \"Nabíjení ze sítě na \" + Math.round(x.tSoc) + \"%, SOC \" + Math.round(soc) + \"%\" };\n    }\n    // FIX (12.5.2026): per-hour gate `soc > sellTarget` byl nekonzistentni s _simChrono node 03 fix.\n    // Solver (node 03) jiz validoval pickedSet pres _simChrono globalni gate (endSoc >= sellTarget).\n    // Tady stejny per-hour gate by zahodil legitimni prodeje, kde v okamzik prodeje soc < sellTarget,\n    // ale po solar dni endSoc >= sellTarget. Per-hour zde proto jen safety net (minSafe = minSoc+nMargin).\n    var minSafeForSell = C.minSoc + C.nMargin;\n    if (x.sellMap[off] && soc > minSafeForSell) {\n        var rC = x.replCost(off), netSell = sell * C.dchEff - C.amort, profit = netSell - rC;\n        // UI: jen kratke info — zisk + drain trajektorie (per § 4.5 r. 287 SOC XX% format).\n        var dropSoc = Math.max(C.minSoc, Math.round(soc - (C.maxFeed / 1000 * frac / C.dchEff / C.kap * 100)));\n        return { m: M.PRODAVAT, r: \"Prodej (zisk \" + Math.round(profit * 10) / 10 + \" Kč/kWh), SOC \" + Math.round(soc) + \"% → \" + dropSoc + \"%\" };\n    }\n    if (isSol) {\n        if (ppWorthIt(off, soc)) return { m: \"prodavat_misto_nabijeni\", r: \"Solár do sítě místo nabití\" };\n        // FIX (12.5.2026): nibeAssigned[off] (pre-compute greedy by lvl) nahrazuje chronologicky chyceny pick.\n        var nibePopis = nibeAssigned[off] ? \" (NIBE topí)\" : \"\";\n        // Zachovan fix: smazana podminka `soc > C.minSoc` z draha detekce — solar pridava do baterie,\n        // neni problem labelovat solarni hodinu jako drahou i pri SOC = minSoc (h8 misnomer fix).\n        if (level >= C.DRAHA) return { m: M.NORMAL, r: \"Solární + drahá hodina\" + nibePopis + \", SOC \" + Math.round(soc) + \"%\" };\n        return { m: M.NORMAL, r: \"Solární hodina\" + nibePopis + \", SOC \" + Math.round(soc) + \"%\" };\n    }\n    if (x.dO[off] && soc > C.minSoc) return { m: M.NORMAL, r: (level >= C.DRAHA ? \"Drahá hodina\" : \"Střední cena\") + \", SOC \" + Math.round(soc) + \"%\" };\n    if (soc <= C.minSoc) return { m: M.SETRIT, r: \"Ochrana min. SOC, SOC \" + Math.round(soc) + \"%\" };\n    return { m: M.SETRIT, r: \"Šetřím baterii, SOC \" + Math.round(soc) + \"%\" };\n}\n\n// Simulace SOC pro dany mod\nfunction simulujSOC(mod, hour, soc, frac, level) {\n    var jeSol = hour >= x.solS && hour < x.solE;\n    if (mod === \"prodavat_misto_nabijeni\") return soc; // prebytek exportovan, baterie idle\n    if (mod === M.NABIJET) return Math.min(x.tSoc || 100, soc + (C.chKwh * frac * C.chEff / C.kap * 100));\n    // FIX (12.5.2026): drain nemuze zvedat SOC nahoru -> clamp na minSoc (consistency s _simChrono).\n    // Predchozi `Math.max(x.sellTarget, ...)` falesne ukazoval SOC=sellTarget i kdyz v okamzik prodeje\n    // skutecny SOC byl pod sellTarget (drain reklame nahoru — bug v UI a v simulaci pro nasledne hodiny).\n    if (mod === M.PRODAVAT) return Math.max(C.minSoc, soc - (C.maxFeed / 1000 * frac / C.dchEff / C.kap * 100));\n    if (mod === M.SETRIT) {\n        if (jeSol) {\n            var sk = solarKwh(hour), c = consAt(hour);\n            return Math.min(100, soc + Math.max(0, ((sk - c) * frac * C.chEff / C.kap) * 100));\n        }\n        return soc;\n    }\n    if (mod === M.NORMAL) {\n        if (jeSol) {\n            var sk2 = solarKwh(hour), c2 = consAt(hour);\n            return Math.min(100, Math.max(C.minSoc, soc + ((sk2 - c2) * frac * C.chEff / C.kap) * 100));\n        }\n        // §4.9.1: NORMAL drain z baterie do domu deli /dchEff (vybijeci ucinnost ~90% — pro 1 kWh do domu baterie vyda 1.11 kWh).\n        // Bez dchEff drain underestimovany ~10%/h, end-of-night SOC overestimovany (37% misto realnych 32%) — porusuje § 4.9 \"pred prvni solarni hodinou ~25% SOC\".\n        return Math.max(C.minSoc, soc - (consAt(hour) * frac / C.dchEff / C.kap) * 100);\n    }\n    if (mod === M.ZAKAZ) return jeSol ? Math.min(100, soc + Math.max(0, (solarKwh(hour) - consAt(hour)) * frac * C.chEff / C.kap * 100)) : Math.max(C.minSoc, soc - (consAt(hour) * frac / C.dchEff / C.kap) * 100);\n    if (mod === M.ZAP_NAK) return Math.min(100, soc + (C.chKwh * frac * C.chEff / C.kap * 100));\n    if (mod === M.BAL) return jeSol ? Math.min(100, soc + (C.chKwh * frac * C.chEff / C.kap * 100)) : soc;\n    return soc;\n}\n\nvar nazevModu = { normal: \"Normální provoz\", setrit: \"Šetřit baterii\", nabijet_ze_site: \"Nabíjet ze sítě\", prodavat: \"Prodávat do sítě\", zakaz_pretoku: \"Zákaz přetoků\", \"Balancování\": \"Balancování baterie\", zaporna_nakupni_cena: \"Záporný nákup\", prodavat_misto_nabijeni: \"Prodej přebytku do sítě\" };\nvar remGain = new Array(hp.length + 1); remGain[hp.length] = 0;\nfor (var _rg = hp.length - 1; _rg >= 0; _rg--) { var _g = x.sO[_rg] ? Math.max(0, (solarKwh(hp[_rg].hour) - consAt(hp[_rg].hour)) * C.chEff / C.kap * 100) : 0; remGain[_rg] = remGain[_rg + 1] + _g; }\nvar plan = [], soc = x.cSoc;\nfor (var pi = 0; pi < hp.length; pi++) {\n    var hod = hp[pi].hour, jPD = (x.cH + pi) >= 24, frac = pi === 0 ? x.fFrac : 1;\n    var rz = resolveMode(pi, soc, frac);\n    soc = simulujSOC(rz.m, hod, soc, frac, hp[pi].levelBuy);\n    plan.push({\n        hour: hod, offset: pi, mode: rz.m, modeCZ: nazevModu[rz.m] || rz.m, reason: rz.r,\n        priceLevel: hp[pi].levelBuy, priceBuy: hp[pi].buy, priceSell: hp[pi].sell,\n        simulatedSoc: Math.round(soc), isNextDay: jPD,\n        isChargingHour: !!x.cO[pi], isSolarHour: !!x.sO[pi], isDischargeHour: !!x.dO[pi],\n        isArbitrageCharge: !!x.aCO[pi], isArbitrageSell: !!x.aSO[pi],\n        isBalancovani: rz.m === M.BAL, isPoolNibeHour: poolNibeH.includes(pi)\n    });\n}\nx.plan = plan;\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Plan \" + plan.length + \"h SOC:\" + x.cSoc + \"->\" + Math.round(soc) + \"%\" });\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 220,
        "wires": [
            [
                "rf_plan_output_05"
            ]
        ]
    },
    {
        "id": "rf_plan_output_05",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "5. Výstup plánu",
        "func": "// [5/5] Výstup plánu — msg.payload pro uložení\nvar x=msg.ctx, C=x.C, p=x.plan;\nvar cS=0,cN=0,cNb=0,cP=0,cB=0,cZN=0;\nfor(var i=0;i<p.length;i++){var m=p[i].mode;if(m===\"setrit\")cS++;else if(m===\"normal\")cN++;else if(m===\"nabijet_ze_site\")cNb++;else if(m===\"prodavat\")cP++;else if(m===\"Balancování\")cB++;else if(m===\"zaporna_nakupni_cena\")cZN++;}\nvar cur=p.length>0?p[0].mode:\"normal\", sTgt=C.minSoc;\n// §4.5 BUG A: publikuj STABILNI sellTarget (z node 02), NE p[0].simulatedSoc (klouzal s SOC dolu -> preprodej).\n// §4.5 BUG B: pro aktualni hodinu pripocti rezervu pro BUDOUCI DRAZSI prodejni hodiny — prodavame nejdriv\n// nejdrazsi celou hodinu, levejsi drivejsi hodina dostane jen zbytek rozpoctu (problemy.txt: H20 3.3 Kc cela,\n// H19 3.0 Kc jen ~15 min). floor = sellTarget + kapacita rezervovana pro pozdejsi DRAZSI prodejni hodiny.\nif(cur===\"prodavat\"){\n    var _stBase=(x.sellTarget!=null?x.sellTarget:C.minSoc);\n    var _perHourCapSoc=(C.maxFeed/1000/C.dchEff/C.kap)*100;\n    var _curSell=(p[0]&&p[0].priceSell!=null)?p[0].priceSell:0;\n    var _reserveDearer=0;\n    for(var _ri=1;_ri<p.length;_ri++){\n        if(p[_ri].mode===\"prodavat\"&&p[_ri].priceSell>_curSell+0.001)_reserveDearer+=_perHourCapSoc;\n    }\n    var _capRes=Math.max(0,x.cSoc-_stBase);\n    if(_reserveDearer>_capRes)_reserveDearer=_capRes;\n    sTgt=Math.min(100,_stBase+_reserveDearer);\n}\n\n// Law 12.5: header shows LATEST bal (passive global OR planned entity)\nvar _ha2=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar _entDt=(_ha2[\"input_datetime.last_pylontech_balanced\"]||{}).state||\"\";\nvar _entOk=(_ha2[\"input_boolean.pylontech_balancing_ok\"]||{}).state===\"on\";\nvar _hdr=global.get(\"bal_header_info\");\nvar _lbDt=_entDt,_lbOk=_entOk;\nif(_hdr&&_hdr.datetime){\n  var _hdrT=new Date(_hdr.datetime.replace(\" \",\"T\")).getTime();\n  var _entT=(_entDt&&_entDt!==\"unknown\")?new Date(_entDt).getTime():0;\n  if(_hdrT>_entT){_lbDt=_hdr.datetime;_lbOk=_hdr.ok;}\n}\nvar _balTxt=\"\";\nif(_lbDt&&_lbDt!==\"unknown\"){var _lbStr=typeof _lbDt===\"string\"?_lbDt.replace(\" \",\"T\"):_lbDt;var _bd=new Date(_lbStr);\n  _balTxt=\"\\u26a1 Posledn\\u00ed balancing: \"+String(_bd.getDate()).padStart(2,\"0\")+\".\"+\n  String(_bd.getMonth()+1).padStart(2,\"0\")+\". \"+String(_bd.getHours()).padStart(2,\"0\")+\":\"+\n  String(_bd.getMinutes()).padStart(2,\"0\")+\" \"+(_lbOk?\"\\u2705\":\"\\u274c\");\n}else{_balTxt=\"\\u26a1 Balancing: dosud neprob\\u011bhl\";}\nmsg.payload={\n    currentMode:cur, currentReason:p.length>0?p[0].reason:\"\", sellTargetSoc:sTgt, currentHour:x.cH, plan:p,\n    config:{prah_levna:C.LEVNA,prah_draha:C.DRAHA,effective_threshold:x.effT,solarStartHour:x.solS,solarEndHour:x.solE},\n    proteus:{firstSolarOffset:x.fSol,dischargeHoursCount:Object.keys(x.dO).length,solarHoursCount:Object.keys(x.sO).length,\n        energyBudgetKwh:Math.round(x.bgt*10)/10,usedEnergyKwh:Math.round(x.uKwh*10)/10,effectiveThreshold:x.effT,\n        peakSoc:Math.round(x.pSoc),totalSolarAvailable:Math.round((x.rS+x.fZ)*10)/10,forecastZitra:x.fZ,\n        drainBeforeSolarPct:x.drB,socAfterDrain:Math.round(x.sAD),minRequiredSoc:x.minR},\n    smartCharging:{targetSocFromGrid:Math.round(x.tSoc),gridChargeNeeded:Math.round(x.gN*10)/10,\n        hoursNeeded:x.hN,assignedHours:x.asgn,viableHoursAvailable:x.viab.length,\n        remainingSolar:Math.round(x.rS*10)/10,roundTripEfficiency:Math.round(C.rtEff*100),\n        amortizace:C.amort,daysToFullCharge:x.dF,maintenanceCharge:x.mnt,isWinter:x.isW,\n        chargingReason:x.gN>0?(x.mnt?\"maintenance\":(x.zpNabijetOk?\"deficit+nizky solar ZP\":\"deficit\")):(x.zpNabijetOk?\"nizky solar ceka levne okno\":\"nepotřeba\")},\n    planSummary:{setritHours:cS,normalHours:cN,nabijetHours:cNb,prodavatHours:cP,balancovaniHours:cB,zapornaHours:cZN},\n    status:{soc:x.cSoc,remainingSolar:x.rS,forecastZitra:x.fZ,forecastDnes:x.fc.dnes||0,\n        prodejEnabled:C.prodej,blokaceVybijeni:C.blokace,blokaceText:x.bTxt},\n    generatedAt:x.now.toISOString(),balancingStatus:{lastDate:_lbDt,ok:_lbOk,text:_balTxt}};\nvar cl={normal:\"green\",setrit:\"yellow\",nabijet_ze_site:\"blue\",prodavat:\"red\",zakaz_pretoku:\"purple\",\"Balancování\":\"cyan\",zaporna_nakupni_cena:\"red\"};\nnode.status({fill:cl[cur]||\"grey\",shape:\"dot\",text:\"Š:\"+cS+\" N:\"+cN+\" Nab:\"+cNb+\" P:\"+cP+\" B:\"+cB+(cZN>0?\" ZN:\"+cZN:\"\")+\" SOC:\"+x.cSoc+\"%\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "df085ac4da095340",
                "39019d1a78677231"
            ]
        ]
    },
    {
        "id": "lo_orch_prodat_prebytek",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Prodat přebytek",
        "mode": "link",
        "links": [
            "li_modes_prodat_prebytek"
        ],
        "x": 1005,
        "y": 620,
        "wires": []
    }
]