node-red/flows/fve-orchestrator.json
[
    {
        "id": "d86bb11fab512182",
        "type": "tab",
        "label": "FVE Orchestrator",
        "disabled": false,
        "info": "Hlavnв”ңЕҹ orchestrace FVE - plв”ңГӯnovв”ңГӯnв”ңЕҹ a rozhodovв”ңГӯnв”ңЕҹ o mв”ңв”Ӯdech",
        "env": []
    },
    {
        "id": "4580a451a0858d03",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Plв”ңГӯnovв”ңГӯnв”ңЕҹ",
        "style": {
            "fill": "#fff3cd",
            "label": true
        },
        "nodes": [
            "22e7b3b8965c20db",
            "f037d87ec94c7da2",
            "9333668b1d326a83",
            "9e0b46a9dfedea33",
            "df085ac4da095340",
            "39019d1a78677231",
            "517215d5f730e80c",
            "701e94d82c3aead0",
            "aabb001122334455",
            "aabb001122334466"
        ],
        "x": 14,
        "y": 19,
        "w": 1032,
        "h": 262
    },
    {
        "id": "c0d4d6462d4ebded",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Exekuce plв”ңГӯnu",
        "style": {
            "fill": "#d4edda",
            "label": true
        },
        "nodes": [
            "44d31ff3c04741b7",
            "c36915a8599c5282",
            "8eef6d1d51c9c644",
            "19a783a61de3519b",
            "f10a91fcb4de6bd3",
            "7f051a6595e57c3e",
            "185f95d7c56fe799",
            "a706b353f30c25d1",
            "a86bc5233cfa0458",
            "solar123456789abc",
            "blokace_file_update",
            "blokace_file_write"
        ],
        "x": 14,
        "y": 299,
        "w": 1032,
        "h": 282
    },
    {
        "id": "66210c073baa5af0",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Kontrola priorit",
        "style": {
            "fill": "#d1ecf1",
            "label": true
        },
        "nodes": [
            "fc848e97e2c781c1",
            "376106d716756636",
            "dc8da09248ec1e29",
            "sauna_state_changed",
            "sauna_set_global",
            "sauna_reset_minsoc",
            "sauna_trigger_plan",
            "auto_reset_minsoc",
            "auto_trigger_plan"
        ],
        "x": 14,
        "y": 599,
        "w": 932,
        "h": 242
    },
    {
        "id": "22e7b3b8965c20db",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Kaв”јЕјdou minutu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "f037d87ec94c7da2",
        "type": "link in",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Г”ДҮГү Manuв”ңГӯlnв”ңЕҹ trigger",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "9333668b1d326a83",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Sbв”ңЕҹrka dat pro plв”ңГӯnovв”ңГӯnв”ңЕҹ",
        "func": "var config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar prices = global.get(\"fve_prices_forecast\") || [];\n// v18.21: Forecast z input_number entit (primв”ңГӯrnв”ңЕҹ zdroj)\nvar forecastZitraIN = global.get(\"homeassistant.homeAssistant.states['input_number.predpoved_solarni_vyroby_zitra']\");\nvar forecastZitraKwh = (forecastZitraIN && forecastZitraIN.state && !isNaN(parseFloat(forecastZitraIN.state)))\n    ? parseFloat(forecastZitraIN.state) : 0;\nvar forecastZitra = (forecastZitraKwh > 0) ? forecastZitraKwh : (global.get(\"forecast_vyroba_zitra\") || 0);\n// v18.21: Zbв”ңЕ»vajв”ңЕҹcв”ңЕҹ vв”ңЕ»roba z input_number entity (primв”ңГӯrnв”ңЕҹ zdroj)\nvar zbyvajiciIN = global.get(\"homeassistant.homeAssistant.states['input_number.zbyvajici_solarni_vyroba_dnes']\");\nvar zbyvajiciKwh = (zbyvajiciIN && zbyvajiciIN.state && !isNaN(parseFloat(zbyvajiciIN.state)))\n    ? parseFloat(zbyvajiciIN.state) : 0;\nvar zbyvajiciSolar = (zbyvajiciKwh > 0) ? zbyvajiciKwh : (global.get(\"zbyvajici_solar_dnes\") || 0);\nvar consumptionAnalysis = global.get(\"fve_consumption_analysis\") || {};\nvar consumptionPredictions = global.get(\"fve_consumption_predictions\") || [];\n\n// v17: в”ҖГ®tenв”ңЕҹ vв”ңЕ»chodu/zв”ңГӯpadu slunce z HA entit\n// Tyto entity obsahujв”ңЕҹ ISO datetime string, extrahujeme hodinu\nvar sunRising = global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_rising']\") || {};\nvar sunSetting = global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_setting']\") || {};\nvar sunNoon = global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_noon']\") || {};\n\n// Parsovв”ңГӯnв”ңЕҹ hodiny z ISO stringu nebo state value\nfunction parseHourFromEntity(entity) {\n    var state = (entity && entity.state) ? entity.state : null;\n    if (!state) return null;\n    // State je ISO datetime: \"2026-02-19T06:45:00+01:00\" nebo podobnв”ңЕ» formв”ңГӯt\n    var d = new Date(state);\n    if (isNaN(d.getTime())) return null;\n    return d.getHours();\n}\n\nvar sunriseHour = parseHourFromEntity(sunRising);\nvar sunsetHour = parseHourFromEntity(sunSetting);\n\n// Solв”ңГӯrnв”ңЕҹ okno: sunrise + 1h offset (slunce musв”ңЕҹ bв”ңЕ»t vв”ңЕ»в”јГӯ) aв”јЕј sunset\n// Fallback na config hodnoty pokud entity nejsou dostupnв”ңДҷ\nvar solarStart = (sunriseHour !== null) ? Math.max(sunriseHour + 1, 7) : 9;\nvar solarEnd = (sunsetHour !== null) ? Math.min(sunsetHour, 20) : 17;\n\nmsg.planData = {\n    config: config,\n    status: status,\n    prices: prices,\n    forecast: {\n        zitra: forecastZitra,\n        dnes: (function() {\n    var dnesIN = global.get(\"homeassistant.homeAssistant.states['input_number.predpoved_solarni_vyroby_dnes']\");\n    var dnesKwh = (dnesIN && dnesIN.state && !isNaN(parseFloat(dnesIN.state))) ? parseFloat(dnesIN.state) : 0;\n    return (dnesKwh > 0) ? dnesKwh : (global.get(\"forecast_vyroba_dnes\") || 0);\n})()\n    },\n    zbyvajiciSolar: zbyvajiciSolar,\n    consumptionAnalysis: consumptionAnalysis,\n    consumptionPredictions: consumptionPredictions,\n    // v17: Dynamickв”ңДҷ solв”ңГӯrnв”ңЕҹ hodiny z HA\n    solarStartHour: solarStart,\n    solarEndHour: solarEnd,\n    sunriseHour: sunriseHour,\n    sunsetHour: sunsetHour,\n    timestamp: new Date().toISOString()\n};\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Solar: \" + Math.round(zbyvajiciSolar) + \"kWh | Г”ЕӣГҮ\" + solarStart + \"-\" + solarEnd + \"h\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "aabb001122334455"
            ]
        ]
    },
    {
        "id": "9e0b46a9dfedea33",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Vв”ңЕ»poв”ҖЕ№et plв”ңГӯnu na 12h (v18.22)",
        "func": "// FVE Smart Plan v18.22 - mв”ҖЕӨsв”ңЕҹв”ҖЕ№nв”ңЕҹ solв”ңГӯrnв”ңЕҹ kв”јГ–ivky + cap forecastZitra\n// v17.0 Opravy:\n//   1. targetSocFromGrid: nabв”ңЕҹjet JEN pokud currentSoc nestaв”ҖЕ№в”ңЕҹ na drahв”ңДҷ hodiny pв”јГ–ed solarem\n//      - Starв”ңЕ» projectedEndSoc byl в”јГӯpatnв”ҖЕӨ (poв”ҖЕ№в”ңЕҹtal drain i v в”јГЎetв”јГ–it kde SOC zв”јВ»stв”ңГӯvв”ңГӯ)\n//      - Novв”ңЕ»: realDrain = POUZE drahв”ңДҷ hodiny * socDropNormal\n//   2. solar_start/end_hour z HA entit (sensor.sun_next_rising/setting)\n//   3. Maintenance charge: 20 dnв”ңЕҹ, pouze v zimв”ҖЕӨ (в”јГ–в”ңЕҹjen-bв”јГ–ezen)\n// Pravidla:\n//   - Solв”ңГӯrnв”ңЕҹ nabв”ңЕҹjenв”ңЕҹ mв”ңГӯ Vв”јЕ»DY pв”јГ–ednost pв”јГ–ed nabв”ңЕҹjenв”ңЕҹm ze sв”ңЕҹtв”ҖЕӨ\n//   - Nabв”ңЕҹjet ze sв”ңЕҹtв”ҖЕӨ POUZE pokud baterie nestaв”ҖЕ№в”ңЕҹ do solaru\n//   - Baterie by mв”ҖЕӨla bв”ңЕ»t в”ҖЕ№asto blв”ңЕҹzko minSoc pв”јГ–ed solв”ңГӯrnв”ңЕҹm nabв”ңЕҹjenв”ңЕҹm\n//   - NORMAL = vybв”ңЕҹjenв”ңЕҹ baterie (drahв”ңДҷ + stв”јГ–ednв”ңЕҹ hodiny dle kapacity)\n//   - в”јГЎETв”јЕӣIT = baterie zamв”ҖЕ№enв”ңГӯ (SOC se nemв”ҖЕӨnв”ңЕҹ)\n\nvar data = msg.planData;\nvar config = data.config || {};\nvar status = data.status || {};\nvar forecast = data.forecast || {};\n\nvar prices = data.prices || global.get(\"fve_prices_forecast\") || [];\n\nvar MODY = {\n    NORMAL: \"normal\",\n    SETRIT: \"setrit\",\n    NABIJET_ZE_SITE: \"nabijet_ze_site\",\n    PRODAVAT: \"prodavat\",\n    ZAKAZ_PRETOKU: \"zakaz_pretoku\",\n    SOLAR_CHARGING: \"solar_charging\"\n};\n\n// === PARAMETRY Z CONFIGU ===\nvar kapacitaBaterie = config.kapacita_baterie_kwh || 28;\nvar minSoc = config.min_soc || 20;\nvar maxDailySoc = config.max_daily_soc || 80;\nvar amortizace = config.amortizace_baterie_czk_kwh || 1.5;\nvar chargeEfficiency = config.charge_efficiency || 0.90;\nvar dischargeEfficiency = config.discharge_efficiency || 0.90;\nvar roundTripEfficiency = chargeEfficiency * dischargeEfficiency;\nvar chargeRateKwh = config.charge_rate_kwh || 5;\nvar socDropNormal = config.soc_drop_normal_pct || 5;\nvar dailyConsumptionKwh = config.daily_consumption_kwh || 20;\nvar PRAH_LEVNA = config.prah_levna_energie || 4;\nvar PRAH_DRAHA = config.prah_draha_energie || 12;\nvar horizont = config.plan_horizon_hours || 12;\nvar maxGridW = config.max_spotreba_sit_w || 22000;\nvar maxFeedInW = config.max_feed_in_w || 7600;\nvar prodejZBaterieEnabled = config.prodej_z_baterie_enabled === true;\nvar blokaceVybijeni = config.blokace_vybijeni === true;\nvar manualMod = config.manual_mod || \"auto\";\nvar letniRezim = config.letni_rezim === true;\nvar socDropSetrit = config.soc_drop_setrit_pct || 1;\nvar minDischargeBlokaceW = config.min_vybijeni_blokace_w || 1300;\n// v18.8: SOC drop pв”јГ–i blokaci (1.3kW povinnв”ңГӯ spotв”јГ–eba domu)\nvar socDropBlokace = (minDischargeBlokaceW / 1000 / kapacitaBaterie) * 100;\n\n// v17: Dynamickв”ңДҷ solв”ңГӯrnв”ңЕҹ hodiny z HA (pв”јГ–edanв”ңДҷ z Sbв”ңЕҹrka dat)\nvar solarStartHour = data.solarStartHour || config.solar_start_hour || 9;\nvar solarEndHour = data.solarEndHour || config.solar_end_hour || 17;\n\n// === AKTUв”ңГјLNв”ңЕ№ STAV ===\nvar currentSoc = status.battery_soc || 50;\n\n// v18.2: Blokace info pro dashboard\nvar cerpadloTopi = global.get(\"cerpadlo_topi\") || false;\nvar autoNabijeni = global.get(\"auto_nabijeni_aktivni\") || false;\nvar saunaAktivni = global.get(\"sauna_aktivni\") || false;\nvar blokaceItems = [];\nif (cerpadloTopi) blokaceItems.push(\"topenв”ңЕҹ\");\nif (autoNabijeni) blokaceItems.push(\"auto\");\nif (saunaAktivni) blokaceItems.push(\"sauna\");\nvar blokaceText = blokaceItems.length > 0 ? \"ANO - \" + blokaceItems.join(\", \") : \"NE\";\nvar forecastZitra = forecast.zitra || 0;\nvar remainingSolarKwh = data.zbyvajiciSolar || 0;\n\n// v18.13: Sanity check - max dennв”ңЕҹ vв”ңЕ»roba dle mв”ҖЕӨsв”ңЕҹce pro 17kWp, az190, sklon45, 50N\n// Hodnoty odpovв”ңЕҹdajв”ңЕҹ realistickв”ңДҷmu maximu pro danв”ңЕ» mв”ҖЕӨsв”ңЕҹc\n// v18.20: Realistickв”ңГӯ maxima pro 17kWp, az190, sklon45, 50N (Horouв”јГӯany)\nvar monthMaxSolarKwh = [15, 35, 60, 90, 110, 120, 115, 105, 75, 50, 20, 12];\nvar currentMonth = new Date().getMonth(); // 0-11\nvar maxSolarToday = monthMaxSolarKwh[currentMonth];\nif (remainingSolarKwh > maxSolarToday) {\n    remainingSolarKwh = maxSolarToday;\n}\n// v18.22: Cap forecastZitra stejnв”ҖЕӨ jako remainingSolar\n// VRM API mв”јВ»в”јЕјe vracet nerealisticky vysokв”ңДҷ hodnoty (56 kWh v в”ңв•‘noru)\n// Zв”ңЕҹtв”јГ–ek: pokud jsme poslednв”ңЕҹch 3 dny v mв”ҖЕӨsв”ңЕҹci, pouв”јЕјв”ңЕҹt max(aktuв”ңГӯlnв”ңЕҹ, pв”јГ–в”ңЕҹв”јГӯtв”ңЕҹ mв”ҖЕӨsв”ңЕҹc)\nvar dayOfMonth = new Date().getDate();\nvar daysInMonth = new Date(new Date().getFullYear(), currentMonth + 1, 0).getDate();\nvar maxSolarForTomorrow = maxSolarToday;\nif (dayOfMonth >= daysInMonth - 2) {\n    var nextMonthMax = monthMaxSolarKwh[(currentMonth + 1) % 12];\n    maxSolarForTomorrow = Math.max(maxSolarToday, nextMonthMax);\n}\nif (forecastZitra > maxSolarForTomorrow) {\n    forecastZitra = maxSolarForTomorrow;\n}\n\n// v18: Predikce vв”ңЕ»roby a spotв”јГ–eby per hodinu z historie\nvar consumptionPredictions = data.consumptionPredictions || [];\n\n// v18: Pomocnв”ңГӯ funkce - zв”ңЕҹskej predikci pro danou hodinu\nfunction getPredictionForHour(hour) {\n    for (var pi = 0; pi < consumptionPredictions.length; pi++) {\n        if (consumptionPredictions[pi].hour === hour) {\n            return consumptionPredictions[pi];\n        }\n    }\n    return null;\n}\n\n// v18: Vв”ңЕ»poв”ҖЕ№et solв”ңГӯrnв”ңЕҹho pв”јГ–в”ңЕҹrв”јВ»stku per hodinu\n// v18.22: Mв”ҖЕӨsв”ңЕҹв”ҖЕ№nв”ңЕҹ solв”ңГӯrnв”ңЕҹ kв”јГ–ivky pro Horouв”јГӯany (50.105N, 14.741E)\n// Azimut 190в”¬в–‘ (JZ), sklon 45в”¬в–‘, 17 kWp\n// Kaв”јЕјdв”ңЕ» mв”ҖЕӨsв”ңЕҹc mв”ңГӯ vlastnв”ңЕҹ distribuci vв”ңЕ»roby per hodina (normalizovв”ңГӯno na 1.0)\n// Zima: krв”ңГӯtkв”ңЕ» den, vв”ңЕ»roba soustв”јГ–edв”ҖЕӨna kolem poledne\n// Lв”ңДҷto: dlouhв”ңЕ» den, vв”ңЕ»roba rozprostв”јГ–ena, dв”јГ–в”ңЕҹvв”ҖЕӨjв”јГӯв”ңЕҹ start\nvar monthlySolarCurves = {\n    // Leden (index 0): vв”ңЕ»chod ~7:50, zв”ңГӯpad ~16:20, krв”ңГӯtkв”ңЕ» den\n    0:  {8: 0.02, 9: 0.08, 10: 0.14, 11: 0.18, 12: 0.20, 13: 0.18, 14: 0.12, 15: 0.06, 16: 0.02},\n    // в”ңГңnor: vв”ңЕ»chod ~6:50, zв”ңГӯpad ~17:15\n    1:  {7: 0.01, 8: 0.04, 9: 0.09, 10: 0.14, 11: 0.17, 12: 0.19, 13: 0.17, 14: 0.11, 15: 0.06, 16: 0.02},\n    // Bв”јГ–ezen: vв”ңЕ»chod ~6:00, zв”ңГӯpad ~18:00\n    2:  {6: 0.01, 7: 0.02, 8: 0.06, 9: 0.10, 10: 0.13, 11: 0.15, 12: 0.16, 13: 0.14, 14: 0.11, 15: 0.07, 16: 0.04, 17: 0.01},\n    // Duben: vв”ңЕ»chod ~5:20, zв”ңГӯpad ~19:30\n    3:  {5: 0.01, 6: 0.02, 7: 0.04, 8: 0.07, 9: 0.10, 10: 0.12, 11: 0.14, 12: 0.14, 13: 0.13, 14: 0.10, 15: 0.07, 16: 0.04, 17: 0.02},\n    // Kvв”ҖЕӨten: vв”ңЕ»chod ~4:30, zв”ңГӯpad ~20:20\n    4:  {5: 0.01, 6: 0.03, 7: 0.05, 8: 0.08, 9: 0.10, 10: 0.12, 11: 0.13, 12: 0.13, 13: 0.12, 14: 0.10, 15: 0.07, 16: 0.04, 17: 0.02},\n    // в”ҖГ®erven: vв”ңЕ»chod ~4:10, zв”ңГӯpad ~20:50 (nejdelв”јГӯв”ңЕҹ den)\n    5:  {5: 0.02, 6: 0.03, 7: 0.05, 8: 0.08, 9: 0.10, 10: 0.12, 11: 0.13, 12: 0.13, 13: 0.12, 14: 0.10, 15: 0.07, 16: 0.04, 17: 0.01},\n    // в”ҖГ®ervenec: podobnв”ңЕ» в”ҖЕ№ervnu\n    6:  {5: 0.02, 6: 0.03, 7: 0.05, 8: 0.08, 9: 0.10, 10: 0.12, 11: 0.13, 12: 0.13, 13: 0.12, 14: 0.10, 15: 0.07, 16: 0.04, 17: 0.01},\n    // Srpen: vв”ңЕ»chod ~5:00, zв”ңГӯpad ~20:00\n    7:  {5: 0.01, 6: 0.02, 7: 0.05, 8: 0.08, 9: 0.10, 10: 0.12, 11: 0.14, 12: 0.14, 13: 0.12, 14: 0.10, 15: 0.07, 16: 0.04, 17: 0.01},\n    // Zв”ңГӯв”јГ–в”ңЕҹ: vв”ңЕ»chod ~5:50, zв”ңГӯpad ~18:50\n    8:  {6: 0.01, 7: 0.03, 8: 0.07, 9: 0.10, 10: 0.13, 11: 0.15, 12: 0.15, 13: 0.14, 14: 0.11, 15: 0.07, 16: 0.03, 17: 0.01},\n    // в”јЕӣв”ңЕҹjen: vв”ңЕ»chod ~6:40, zв”ңГӯpad ~17:30\n    9:  {7: 0.02, 8: 0.05, 9: 0.10, 10: 0.14, 11: 0.16, 12: 0.17, 13: 0.16, 14: 0.11, 15: 0.06, 16: 0.03},\n    // Listopad: vв”ңЕ»chod ~7:10, zв”ңГӯpad ~16:20\n    10: {8: 0.03, 9: 0.08, 10: 0.14, 11: 0.18, 12: 0.20, 13: 0.18, 14: 0.12, 15: 0.06, 16: 0.01},\n    // Prosinec: vв”ңЕ»chod ~7:50, zв”ңГӯpad ~16:00 (nejkratв”јГӯв”ңЕҹ den)\n    11: {8: 0.02, 9: 0.07, 10: 0.14, 11: 0.19, 12: 0.22, 13: 0.19, 14: 0.12, 15: 0.05}\n};\n// Vyber kв”јГ–ivku pro aktuв”ңГӯlnв”ңЕҹ mв”ҖЕӨsв”ңЕҹc\nvar solarCurveWeights = monthlySolarCurves[currentMonth] || monthlySolarCurves[5];\n\n// Spoв”ҖЕ№в”ңЕҹtej celkovou vв”ңГӯhu pro aktivnв”ңЕҹ solв”ңГӯrnв”ңЕҹ hodiny v plв”ңГӯnu\nvar totalCurveWeight = 0;\nfor (var cwh = solarStartHour; cwh < solarEndHour; cwh++) {\n    totalCurveWeight += solarCurveWeights[cwh] || 0;\n}\nif (totalCurveWeight === 0) totalCurveWeight = 1; // safety\n\nfunction getSolarCurveShare(hour) {\n    // Vrв”ңГӯtв”ңЕҹ podв”ңЕҹl hodiny na celkovв”ңДҷ vв”ңЕ»robв”ҖЕӨ (0-1) v rв”ңГӯmci aktivnв”ңЕҹch solв”ңГӯrnв”ңЕҹch hodin\n    var weight = solarCurveWeights[hour] || 0;\n    return weight / totalCurveWeight;\n}\n\nfunction getSolarGainForHour(hour, remainingSolar, solarHours, hFraction) {\n    var frac = (hFraction !== undefined) ? hFraction : 1.0;\n    var curveShare = getSolarCurveShare(hour);\n\n    // v18.6: Historickв”ңГӯ spotв”јГ–eba per hodina (pв”јГ–esnв”ҖЕӨjв”јГӯв”ңЕҹ neв”јЕј dennв”ңЕҹ prв”јВ»mв”ҖЕӨr)\n    var pred = getPredictionForHour(hour);\n    var hourlyConsumption = (pred && pred.avgConsumptionKwh > 0)\n        ? pred.avgConsumptionKwh\n        : (config.daily_consumption_kwh || 20) / 24;\n\n    if (pred && pred.sampleCount >= 3 && pred.avgSolarKwh > 0) {\n        // Historickв”ңГӯ data: в”ҖЕ№istв”ңЕ» pв”јГ–ebytek solaru (vв”ңЕ»roba - spotв”јГ–eba)\n        var netGain = pred.netSolarGainKwh || 0;\n        // v18.5: Sanity check - omezit historickв”ңЕ» gain kв”јГ–ivkou\n        if (remainingSolar > 0 && solarHours > 0) {\n            var maxFromCurve = remainingSolar * curveShare;\n            var maxNetKwh = maxFromCurve - hourlyConsumption;\n            if (netGain > maxNetKwh * 2 && maxNetKwh > 0) {\n                netGain = maxNetKwh;\n            }\n        }\n        // v18.6: Aplikovat zlomek hodiny\n        return (netGain * frac * chargeEfficiency / kapacitaBaterie) * 100;\n    }\n    // Fallback: rozdв”ҖЕӨlenв”ңЕҹ zbв”ңЕ»vajв”ңЕҹcв”ңЕҹho solaru podle kв”јГ–ivky\n    if (solarHours > 0 && remainingSolar > 0) {\n        var hourKwh = remainingSolar * curveShare;\n        // v18.13: Zв”ңГӯpornв”ңЕ» netKwh = spotв”јГ–eba > vв”ңЕ»roba, baterie dodв”ңГӯ rozdв”ңЕҹl\n        var netKwh = hourKwh - hourlyConsumption * frac;\n        return (netKwh * frac * chargeEfficiency / kapacitaBaterie) * 100;\n    }\n    // Plв”ңГӯn v noci pro zв”ңЕҹtв”јГ–ek - pouв”јЕјв”ңЕҹt forecast\n    if (forecastZitra > 0 && curveShare > 0) {\n        var hourKwhForecast = forecastZitra * curveShare;\n        // v18.13: Zв”ңГӯpornв”ңЕ» = spotв”јГ–eba > forecast vв”ңЕ»roba\n        var netKwhForecast = hourKwhForecast - hourlyConsumption * frac;\n        return (netKwhForecast * frac * chargeEfficiency / kapacitaBaterie) * 100;\n    }\n    return 0;\n}\n\n// v17: Maintenance charge - 20 dnв”ңЕҹ, pouze v zimв”ҖЕӨ (в”јГ–в”ңЕҹjen-bв”јГ–ezen)\nvar lastFullCharge = global.get(\"fve_last_full_charge\") || null;\nif (!lastFullCharge) {\n    global.set(\"fve_last_full_charge\", new Date().toISOString());\n    lastFullCharge = global.get(\"fve_last_full_charge\");\n}\nvar daysSinceFullCharge = lastFullCharge\n    ? Math.floor((Date.now() - new Date(lastFullCharge).getTime()) / (1000 * 60 * 60 * 24))\n    : 999;\nif (currentSoc >= 99) {\n    global.set(\"fve_last_full_charge\", new Date().toISOString());\n}\n\nvar now = new Date();\nvar currentHour = now.getHours();\nvar currentMinute = now.getMinutes();\nvar firstHourFraction = (60 - currentMinute) / 60; // v18.6: zlomek zbв”ңЕ»vajв”ңЕҹcв”ңЕҹ prvnв”ңЕҹ hodiny\nvar currentMonth = now.getMonth() + 1; // 1-12\nvar isWinter = (currentMonth >= 10 || currentMonth <= 3); // в”јГ–в”ңЕҹjen-bв”јГ–ezen\n\n// === POMOCNв”ңГј FUNKCE: NAJDI CENOVв”ңЕҒ Zв”ңГјZNAM ===\nfunction findPriceEntry(hour, offset) {\n    var isNextDay = (currentHour + (offset || 0)) >= 24;\n    var preferDay = isNextDay ? \"hoursTomorrow\" : \"hoursToday\";\n    var otherDay = isNextDay ? \"hoursToday\" : \"hoursTomorrow\";\n    \n    for (var i = 0; i < prices.length; i++) {\n        if (prices[i].day === preferDay && prices[i].hour === hour && prices[i].minute === 0) {\n            return { entry: prices[i], method: \"exact_\" + preferDay };\n        }\n    }\n    for (var j = 0; j < prices.length; j++) {\n        if (prices[j].day === preferDay && prices[j].hour === hour) {\n            return { entry: prices[j], method: \"dayHour_\" + preferDay };\n        }\n    }\n    for (var k = 0; k < prices.length; k++) {\n        if (prices[k].day === otherDay && prices[k].hour === hour && prices[k].minute === 0) {\n            return { entry: prices[k], method: \"exact_\" + otherDay };\n        }\n    }\n    for (var m = 0; m < prices.length; m++) {\n        if (prices[m].day === otherDay && prices[m].hour === hour) {\n            return { entry: prices[m], method: \"dayHour_\" + otherDay };\n        }\n    }\n    for (var n = 0; n < prices.length; n++) {\n        if (prices[n].hour === hour) {\n            return { entry: prices[n], method: \"any_\" + (prices[n].day || \"noday\") };\n        }\n    }\n    return { entry: null, method: \"none\" };\n}\n\n// === KROK 1: CENOVв”ңГј MAPA HORIZONTU ===\nvar hourPrices = [];\nvar debugMatches = [];\nfor (var hi = 0; hi < horizont; hi++) {\n    var hh = (currentHour + hi) % 24;\n    var found = findPriceEntry(hh, hi);\n    var entry = found.entry;\n    hourPrices.push({\n        offset: hi,\n        hour: hh,\n        buy: entry ? (parseFloat(entry.priceCZKhourBuy) || 0) : 0,\n        sell: entry ? (parseFloat(entry.priceCZKhourProd) || 0) : 0,\n        levelBuy: entry ? (entry.levelCheapestHourBuy || 5) : 5,\n        levelSell: entry ? (entry.levelMostExpensiveHourProd || 5) : 5\n    });\n    debugMatches.push({\n        offset: hi, hour: hh, method: found.method,\n        day: entry ? entry.day : null, min: entry ? entry.minute : null,\n        buy: entry ? entry.priceCZKhourBuy : null, lvl: entry ? entry.levelCheapestHourBuy : null\n    });\n}\n\n// === KROK 2: IDENTIFIKUJ SOLв”ңГјRNв”ңЕ№ HODINY (potв”јГ–ebuji je dв”јГ–в”ңЕҹve pro vв”ңЕ»poв”ҖЕ№et nabв”ңЕҹjenв”ңЕҹ) ===\nvar solarOffsets = {};\nvar solarHoursCount = 0;\nfor (var sh = 0; sh < horizont; sh++) {\n    var shh = (currentHour + sh) % 24;\n    if (shh >= solarStartHour && shh < solarEndHour) {\n        solarOffsets[sh] = true;\n        solarHoursCount++;\n    }\n}\n\n// === KROK 3: NAJDI DRAHв”ңГ« HODINY Pв”јЕӣED SOLAREM ===\n// Klв”ңЕҹв”ҖЕ№ovв”ңЕ» vв”ңЕ»poв”ҖЕ№et: kolik drahв”ңЕ»ch hodin je Pв”јЕӣED dalв”јГӯв”ңЕҹm solв”ңГӯrnв”ңЕҹm oknem?\n// Tyto hodiny MUSв”ңЕ№ pokrв”ңЕ»t baterie (vybв”ңЕҹjenв”ңЕҹm)\nvar expensiveBeforeSolar = [];\nvar firstSolarOffset = horizont;\nfor (var fso = 0; fso < horizont; fso++) {\n    if (solarOffsets[fso]) {\n        firstSolarOffset = fso;\n        break;\n    }\n}\n\nfor (var eo = 0; eo < hourPrices.length; eo++) {\n    var hp = hourPrices[eo];\n    var isSolarHour = solarOffsets[eo];\n    if (hp.levelBuy >= PRAH_DRAHA && !isSolarHour && eo < firstSolarOffset) {\n        expensiveBeforeSolar.push(hp);\n    }\n}\n\n// Vв”јГӯechny drahв”ңДҷ hodiny (pro finanв”ҖЕ№nв”ңЕҹ kalkulaci)\nvar allExpensiveHours = hourPrices.filter(function(hp) {\n    return hp.levelBuy >= PRAH_DRAHA && !solarOffsets[hp.offset];\n});\nvar avgExpensivePrice = 0;\nif (allExpensiveHours.length > 0) {\n    var sum = 0;\n    for (var ei = 0; ei < allExpensiveHours.length; ei++) {\n        sum += allExpensiveHours[ei].buy;\n    }\n    avgExpensivePrice = sum / allExpensiveHours.length;\n}\n\n// === KROK 4: KOLIK ENERGIE POTв”јЕӣEBUJI ZE Sв”ңЕ№Tв”ҖГң? ===\n// v17: Pв”јЕӣESNв”ңЕҒ vв”ңЕ»poв”ҖЕ№et - nabв”ңЕҹjet JEN pokud currentSoc nestaв”ҖЕ№в”ңЕҹ\n//\n// Logika:\n// 1. Spoв”ҖЕ№в”ңЕҹtej reв”ңГӯlnв”ңЕ» drain do solaru = drahв”ңДҷ hodiny pв”јГ–ed solarem в”ңЕҡ socDropNormal\n// 2. SOC po vybв”ңЕҹjenв”ңЕҹ = currentSoc - drain\n// 3. Pokud SOC po vybв”ңЕҹjenв”ңЕҹ >= minSoc + safety Г”ДҮДә NENABв”ңЕ№JET (solв”ңГӯr dobije)\n// 4. Pokud SOC po vybв”ңЕҹjenв”ңЕҹ < minSoc + safety Г”ДҮДә nabв”ңЕҹt JEN deficit\n//\n// Pв”јГ–в”ңЕҹklad z problemy.txt:\n//   currentSoc=42%, drahв”ңДҷ hodiny pв”јГ–ed solarem=3 (06,07,08), drain=15%\n//   SOC po vybв”ңЕҹjenв”ңЕҹ = 42% - 15% = 27%\n//   minSoc + safety = 20% + 5% = 25%\n//   27% > 25% Г”ДҮДә NENABв”ңЕ№JET Г”ЕҘГҙ\n\nvar drainBeforeSolarPct = expensiveBeforeSolar.length * socDropNormal;\nvar socAfterDrain = currentSoc - drainBeforeSolarPct;\n\n// Safety margin zв”ңГӯvisв”ңЕҹ na solв”ңГӯrnв”ңЕҹ pв”јГ–edpovв”ҖЕӨdi\nvar safetyMargin = 5;\nif (forecastZitra < dailyConsumptionKwh * 0.3) {\n    safetyMargin = 10; // в”јГӯpatnв”ңГӯ pв”јГ–edpovв”ҖЕӨв”ҖДҶ\n} else if (forecastZitra < dailyConsumptionKwh * 0.5) {\n    safetyMargin = 7; // stв”јГ–ednв”ңЕҹ pв”јГ–edpovв”ҖЕӨв”ҖДҶ\n}\n\nvar minRequiredSoc = minSoc + safetyMargin;\nvar gridChargeNeeded = 0;\nvar targetSocFromGrid = currentSoc; // default: nenabв”ңЕҹjet\n\n// Nabв”ңЕҹjet ze sв”ңЕҹtв”ҖЕӨ JEN pokud SOC po vybв”ңЕҹjenв”ңЕҹ drahв”ңЕ»ch hodin nestaв”ҖЕ№в”ңЕҹ\nif (socAfterDrain < minRequiredSoc) {\n    // Deficit: kolik % chybв”ңЕҹ?\n    var deficitPct = minRequiredSoc - socAfterDrain;\n    // Nabв”ңЕҹt tak, aby po vybв”ңЕҹjenв”ңЕҹ drahв”ңЕ»ch hodin zв”јВ»stalo minRequiredSoc\n    targetSocFromGrid = Math.min(maxDailySoc, currentSoc + Math.ceil(deficitPct));\n    gridChargeNeeded = Math.max(0, ((targetSocFromGrid - currentSoc) / 100) * kapacitaBaterie / chargeEfficiency);\n}\n\n// Pokud target je moc blв”ңЕҹzko currentSoc, nenabв”ңЕҹjet\nif (targetSocFromGrid <= currentSoc + 3) {\n    gridChargeNeeded = 0;\n    targetSocFromGrid = currentSoc;\n}\n\n// v17: Maintenance charge - 20 dnв”ңЕҹ, pouze v zimв”ҖЕӨ\nvar maintenanceCharge = false;\nif (isWinter && daysSinceFullCharge >= 20 && targetSocFromGrid < 100) {\n    targetSocFromGrid = 100;\n    gridChargeNeeded = ((100 - currentSoc) / 100) * kapacitaBaterie / chargeEfficiency;\n    maintenanceCharge = true;\n}\n\n// === KROK 4b: FINANв”ҖГ®Nв”ңЕ№ SMYSLUPLNOST NABв”ңЕ№JENв”ңЕ№ ===\nvar viableChargingHours = [];\nif (gridChargeNeeded > 0) {\n    for (var vi = 0; vi < hourPrices.length; vi++) {\n        var chp = hourPrices[vi];\n        if (chp.levelBuy > PRAH_LEVNA) continue;\n        if (!solarOffsets[chp.offset]) { // nenabв”ңЕҹjet v solв”ңГӯrnв”ңЕҹch hodinв”ңГӯch ze sв”ңЕҹtв”ҖЕӨ\n            var effectiveCost = chp.buy / roundTripEfficiency + amortizace;\n            if (effectiveCost < avgExpensivePrice || avgExpensivePrice === 0 || maintenanceCharge) {\n                viableChargingHours.push(chp);\n            }\n        }\n    }\n    viableChargingHours.sort(function(a, b) { return a.buy - b.buy; });\n}\n\nvar hoursNeeded = Math.ceil(gridChargeNeeded / chargeRateKwh);\n\n// === KROK 5: Pв”јЕӣIв”јЕӣAв”ҖГ„ NABв”ңЕ№JECв”ңЕ№ HODINY ===\nvar chargingOffsets = {};\nvar assignedHours = 0;\n\nif (viableChargingHours.length > 0) {\n    for (var ci = 0; ci < viableChargingHours.length && assignedHours < hoursNeeded; ci++) {\n        chargingOffsets[viableChargingHours[ci].offset] = true;\n        assignedHours++;\n    }\n}\n\n// Fallback: pokud nestaв”ҖЕ№в”ңЕҹ viable hours, hledej dalв”јГӯв”ңЕҹ levnв”ңДҷ\nif (assignedHours < hoursNeeded) {\n    var cheapestAvail = hourPrices.slice().filter(function(hp) {\n        return !chargingOffsets[hp.offset] && hp.levelBuy <= PRAH_LEVNA && !solarOffsets[hp.offset];\n    });\n    cheapestAvail.sort(function(a, b) { return a.buy - b.buy; });\n    for (var ca = 0; ca < cheapestAvail.length && assignedHours < hoursNeeded; ca++) {\n        chargingOffsets[cheapestAvail[ca].offset] = true;\n        assignedHours++;\n    }\n}\n\n// Maintenance: pokud stв”ңГӯle nestaв”ҖЕ№в”ңЕҹ, pouв”јЕјij i draв”јЕјв”јГӯв”ңЕҹ hodiny\nif (maintenanceCharge && assignedHours < hoursNeeded) {\n    var remaining = hourPrices.filter(function(hp) {\n        return !chargingOffsets[hp.offset] && hp.levelBuy < PRAH_DRAHA && !solarOffsets[hp.offset];\n    });\n    remaining.sort(function(a, b) { return a.buy - b.buy; });\n    for (var ri = 0; ri < remaining.length && assignedHours < hoursNeeded; ri++) {\n        chargingOffsets[remaining[ri].offset] = true;\n        assignedHours++;\n    }\n}\n\n// Upravit target pokud se nepodaв”јГ–ilo pв”јГ–iв”јГ–adit dost hodin\nif (assignedHours < hoursNeeded && !maintenanceCharge) {\n    var actualChargeKwh = assignedHours * chargeRateKwh * chargeEfficiency;\n    targetSocFromGrid = Math.min(targetSocFromGrid,\n        currentSoc + Math.round(actualChargeKwh / kapacitaBaterie * 100));\n    gridChargeNeeded = actualChargeKwh;\n}\n\n// Odstraв”јЕӮ solв”ңГӯrnв”ңЕҹ hodiny z chargingOffsets (pro jistotu)\nfor (var cso in chargingOffsets) {\n    if (solarOffsets[cso]) {\n        delete chargingOffsets[cso];\n    }\n}\n\n// === KROK 6: SOLв”ңГјRNв”ңЕ№ SOC GAIN ===\nvar solarSocGainTotal = 0;\nif (solarHoursCount > 0 && remainingSolarKwh > 0) {\n    solarSocGainTotal = (remainingSolarKwh * chargeEfficiency / kapacitaBaterie) * 100;\n}\n\n// === KROK 7: DYNAMICKв”ңЕҒ PRв”ңГјH VYBв”ңЕ№JENв”ңЕ№ ===\nvar dischargeCandidate = [];\nfor (var dc = 0; dc < hourPrices.length; dc++) {\n    if (!solarOffsets[dc] && !chargingOffsets[dc]) {\n        dischargeCandidate.push({\n            offset: dc,\n            hour: hourPrices[dc].hour,\n            levelBuy: hourPrices[dc].levelBuy,\n            buy: hourPrices[dc].buy\n        });\n    }\n}\n\ndischargeCandidate.sort(function(a, b) {\n    if (b.levelBuy !== a.levelBuy) return b.levelBuy - a.levelBuy;\n    return b.buy - a.buy;\n});\n\nvar availableBatteryKwh = Math.max(0, (currentSoc - minSoc) / 100 * kapacitaBaterie * dischargeEfficiency);\nvar energyBudgetKwh = availableBatteryKwh;\n\nvar dischargeOffsets = {};\nvar effectiveThreshold = PRAH_DRAHA;\nvar usedEnergyKwh = 0;\nvar dischargeDebug = [];\n\nfor (var di = 0; di < dischargeCandidate.length; di++) {\n    var cand = dischargeCandidate[di];\n    var energyForThisHour = socDropNormal / 100 * kapacitaBaterie;\n    \n    if (usedEnergyKwh + energyForThisHour <= energyBudgetKwh) {\n        dischargeOffsets[cand.offset] = true;\n        usedEnergyKwh += energyForThisHour;\n        effectiveThreshold = Math.min(effectiveThreshold, cand.levelBuy);\n        dischargeDebug.push({\n            offset: cand.offset, hour: cand.hour, level: cand.levelBuy,\n            price: cand.buy, action: \"NORMAL\",\n            usedKwh: Math.round(usedEnergyKwh * 10) / 10,\n            budgetKwh: Math.round(energyBudgetKwh * 10) / 10\n        });\n    } else if (cand.levelBuy >= PRAH_DRAHA && usedEnergyKwh < energyBudgetKwh) {\n        // v18.17: Budget nestaв”ҖЕ№в”ңЕҹ na celou hodinu, ale levelBuy je drahв”ңЕ»\n        // Pв”јГ–idв”ңГӯme hodinu - baterie se vybije co mв”јВ»в”јЕјe (aв”јЕј na minSoc)\n        dischargeOffsets[cand.offset] = true;\n        usedEnergyKwh = energyBudgetKwh; // vyв”ҖЕ№erpв”ңГӯme zbytek budgetu\n        effectiveThreshold = Math.min(effectiveThreshold, cand.levelBuy);\n        dischargeDebug.push({\n            offset: cand.offset, hour: cand.hour, level: cand.levelBuy,\n            price: cand.buy, action: \"NORMAL (partial, budget limit)\",\n            usedKwh: Math.round(usedEnergyKwh * 10) / 10,\n            budgetKwh: Math.round(energyBudgetKwh * 10) / 10\n        });\n    } else {\n        dischargeDebug.push({\n            offset: cand.offset, hour: cand.hour, level: cand.levelBuy,\n            price: cand.buy, action: \"SETRIT (budget exceeded)\",\n            usedKwh: Math.round(usedEnergyKwh * 10) / 10,\n            budgetKwh: Math.round(energyBudgetKwh * 10) / 10\n        });\n    }\n}\n\n// v18.18b: Flag - existujв”ңЕҹ drahв”ңДҷ hodiny bez budgetu na vybв”ңЕҹjenв”ңЕҹ?\nvar budgetExhausted = false;\nfor (var be = 0; be < dischargeCandidate.length; be++) {\n    if (!dischargeOffsets[dischargeCandidate[be].offset] && dischargeCandidate[be].levelBuy >= PRAH_DRAHA) {\n        budgetExhausted = true;\n        break;\n    }\n}\n\n// === KROK 8: Vв”ңЕҒPOв”ҖГ®ET Mв”ңГҙDU PRO KAв”јЕ»DOU HODINU ===\nfunction calculateModeForHour(offset, priceData, simulatedSoc, hFraction) {\n    var frac = (hFraction !== undefined) ? hFraction : 1.0;\n    if (manualMod !== \"auto\") {\n        return { mode: manualMod, reason: \"Manuв”ңГӯlnв”ңЕҹ mв”ңв”Ӯd\" };\n    }\n\n    var priceSell = priceData.sell;\n    var levelSell = priceData.levelSell;\n    var levelBuy = priceData.levelBuy;\n\n    // PRIORITA 0: Zв”ңГӯpornв”ңГӯ prodejnв”ңЕҹ cena\n    if (priceSell <= 0) {\n        return { mode: MODY.ZAKAZ_PRETOKU, reason: \"Zв”ңГӯpornв”ңГӯ prodejnв”ңЕҹ cena\" };\n    }\n\n    // PRIORITA 1: Nabв”ңЕҹjenв”ңЕҹ ze sв”ңЕҹtв”ҖЕӨ\n    if (chargingOffsets[offset] && simulatedSoc < targetSocFromGrid) {\n        return {\n            mode: MODY.NABIJET_ZE_SITE,\n            reason: \"Nabв”ңЕҹjenв”ңЕҹ na cв”ңЕҹl \" + Math.round(targetSocFromGrid) + \"% (nynв”ңЕҹ \" + Math.round(simulatedSoc) + \"%)\"\n        };\n    }\n\n    // PRIORITA 2: Prodej z baterie pв”јГ–i vв”ңЕ»hodnв”ңДҷ cenв”ҖЕӨ\n    if (prodejZBaterieEnabled && levelSell <= 2 && simulatedSoc > minSoc + 20) {\n        var avgChargeCost = 0;\n        if (viableChargingHours.length > 0) {\n            var s = 0;\n            for (var ac = 0; ac < viableChargingHours.length; ac++) {\n                s += viableChargingHours[ac].buy;\n            }\n            avgChargeCost = s / viableChargingHours.length;\n        }\n        var revenuePerKwh = priceSell * dischargeEfficiency;\n        var costPerKwh = avgChargeCost / roundTripEfficiency + amortizace;\n        if (revenuePerKwh > costPerKwh) {\n            var dischRateKwh = maxFeedInW / 1000;\n            var socAfter = Math.max(minSoc,\n                simulatedSoc - (dischRateKwh / dischargeEfficiency / kapacitaBaterie * 100));\n            return {\n                mode: MODY.PRODAVAT,\n                reason: \"Prodej, SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(socAfter) + \"%\"\n            };\n        }\n    }\n\n    // PRIORITA 3: Ochrana baterie - pв”јГ–в”ңЕҹliв”јГӯ nв”ңЕҹzkв”ңЕ» SOC\n    if (simulatedSoc <= minSoc) {\n        return {\n            mode: MODY.SETRIT,\n            reason: \"Ochrana baterie (SOC \" + Math.round(simulatedSoc) + \"% Г”Г«Д„ \" + minSoc + \"%)\"\n        };\n    }\n\n    // PRIORITA 4: Solв”ңГӯrnв”ңЕҹ hodiny - v18.18: в”јГЎETв”јЕӣIT pв”јГ–i nв”ңЕҹzkв”ңДҷm zisku, NORMAL pв”јГ–i vysokв”ңДҷm\n    if (solarOffsets[offset]) {\n        var planHourForSolar = (currentHour + offset) % 24;\n        var solarGainPct = getSolarGainForHour(planHourForSolar, remainingSolarKwh, solarHoursCount, frac);\n        var solarGainEst = Math.round(solarGainPct * 10) / 10;\n        var expectedSocSolar = Math.min(100, simulatedSoc + solarGainEst);\n\n        // v18.18: Pokud solв”ңГӯrnв”ңЕҹ zisk vв”ңЕ»raznв”ҖЕӨ nabв”ңЕҹjв”ңЕҹ baterii, vв”јЕјdy NORMAL\n        if (solarGainEst > socDropNormal) {\n            return {\n                mode: MODY.NORMAL,\n                reason: \"Solв”ңГӯrnв”ңЕҹ hodina, SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(expectedSocSolar) + \"%\"\n            };\n        }\n\n        // Nв”ңЕҹzkв”ңЕ» solв”ңГӯrnв”ңЕҹ zisk - rozhodnutв”ңЕҹ dle ceny (viz v18.19 vв”ңЕ»в”јГӯe)\n\n        // v18.19: Drahв”ңГӯ hodina (levelBuy >= PRAH_DRAHA) - vв”јЕјdy NORMAL (vybв”ңЕҹjet)\n        if (levelBuy >= PRAH_DRAHA && simulatedSoc > minSoc) {\n            return {\n                mode: MODY.NORMAL,\n                reason: \"Solв”ңГӯrnв”ңЕҹ+drahв”ңГӯ (Lv\" + levelBuy + \"Г”Г«Д…\" + PRAH_DRAHA + \"), SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(expectedSocSolar) + \"%\"\n            };\n        }\n\n        // Nв”ңЕҹzkв”ңЕ» zisk a levnв”ңГӯ hodina - в”јГЎETв”јЕӣIT pouze pokud budget nestaв”ҖЕ№в”ңЕҹ\n        if (budgetExhausted) {\n            return {\n                mode: MODY.SETRIT,\n                reason: \"Solв”ңГӯrnв”ңЕҹ (nв”ңЕҹzkв”ңЕ» zisk +\" + solarGainEst + \"%), в”јГӯetв”јГ–в”ңЕҹm na draв”јЕјв”јГӯв”ңЕҹ hodiny, SOC \" + Math.round(simulatedSoc) + \"%\"\n            };\n        }\n        // Budget staв”ҖЕ№в”ңЕҹ - NORMAL\n        return {\n            mode: MODY.NORMAL,\n            reason: \"Solв”ңГӯrnв”ңЕҹ hodina, SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(expectedSocSolar) + \"%\"\n        };\n    }\n\n    // PRIORITA 5: NORMAL pro hodiny vybranв”ңДҷ dynamickв”ңЕ»m prahem (vybв”ңЕҹjenв”ңЕҹ)\n    if (dischargeOffsets[offset] && simulatedSoc > minSoc) {\n        var expectedSocDischarge = Math.max(minSoc, simulatedSoc - socDropNormal * frac);\n        var priceInfo = levelBuy >= PRAH_DRAHA ? \"drahв”ңГӯ\" : (levelBuy <= PRAH_LEVNA ? \"levnв”ңГӯ\" : \"stв”јГ–ednв”ңЕҹ\");\n        return {\n            mode: MODY.NORMAL,\n            reason: priceInfo + \" (Lv\" + levelBuy + \"Г”Г«Д…eff\" + effectiveThreshold + \"), vybв”ңЕҹjenв”ңЕҹ SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(expectedSocDischarge) + \"%\"\n        };\n    }\n\n    // PRIORITA 5b: v18.19 - Drahв”ңДҷ hodiny Vв”јЕ»DY vybв”ңЕҹjet (i bez budgetu)\n    if (levelBuy >= PRAH_DRAHA && simulatedSoc > minSoc) {\n        var expectedSocForced = Math.max(minSoc, simulatedSoc - socDropNormal * frac);\n        return {\n            mode: MODY.NORMAL,\n            reason: \"drahв”ңГӯ (Lv\" + levelBuy + \"Г”Г«Д…\" + PRAH_DRAHA + \"), vybв”ңЕҹjenв”ңЕҹ SOC \" + Math.round(simulatedSoc) + \"% Г”ДҮДә ~\" + Math.round(expectedSocForced) + \"%\"\n        };\n    }\n\n    // PRIORITA 6: в”јГЎETв”јЕӣIT (vв”ңЕ»chozв”ңЕҹ mв”ңв”Ӯd) - pouze levnв”ңДҷ hodiny (levelBuy < PRAH_DRAHA)\n    return {\n        mode: MODY.SETRIT,\n        reason: \"в”јГЎetв”јГ–в”ңЕҹm (Lv\" + levelBuy + \"<\" + PRAH_DRAHA + \"), SOC \" + Math.round(simulatedSoc) + \"%\"\n    };\n}\n\n// === SIMULACE SOC ===\nfunction simulateSocChange(mode, hour, soc, hFraction, chargeTarget) {\n    var frac = (hFraction !== undefined) ? hFraction : 1.0;\n    var isSolar = hour >= solarStartHour && hour < solarEndHour;\n    switch (mode) {\n        case MODY.NABIJET_ZE_SITE:\n            var maxChargeSoc = (chargeTarget && chargeTarget > 0) ? chargeTarget : 100;\n            return Math.min(maxChargeSoc, soc + (chargeRateKwh * frac * chargeEfficiency / kapacitaBaterie * 100));\n        case MODY.PRODAVAT:\n            var dischRateKwh = maxFeedInW / 1000;\n            return Math.max(minSoc, soc - (dischRateKwh * frac / dischargeEfficiency / kapacitaBaterie * 100));\n        case MODY.SETRIT:\n            return soc;\n        case MODY.ZAKAZ_PRETOKU:\n            return Math.max(minSoc, soc - socDropSetrit * frac);\n        case MODY.NORMAL:\n            if (isSolar) {\n                var solarGainSim = getSolarGainForHour(hour, remainingSolarKwh, solarHoursCount, frac);\n                // v18.13: Zв”ңГӯpornв”ңЕ» gain = spotв”јГ–eba > vв”ңЕ»roba, SOC klesв”ңГӯ\n                return Math.min(100, Math.max(minSoc, soc + solarGainSim));\n            }\n            return Math.max(minSoc, soc - socDropNormal * frac);\n        default:\n            return soc;\n    }\n}\n\n// === GENEROVв”ңГјNв”ңЕ№ PLв”ңГјNU ===\nvar modeNamesCZ = {\n    normal: \"Normв”ңГӯlnв”ңЕҹ provoz\",\n    setrit: \"в”јГЎetв”јГ–it baterii\",\n    nabijet_ze_site: \"Nabв”ңЕҹjet ze sв”ңЕҹtв”ҖЕӨ\",\n    prodavat: \"Prodв”ңГӯvat do sв”ңЕҹtв”ҖЕӨ\",\n    zakaz_pretoku: \"Zв”ңГӯkaz pв”јГ–etokв”јВ»\"\n};\n\nvar plan = [];\nvar simulatedSoc = currentSoc;\n\nfor (var pi = 0; pi < horizont; pi++) {\n    var planHour = (currentHour + pi) % 24;\n    var isNextDay = (currentHour + pi) >= 24;\n    var priceData = hourPrices[pi];\n    var hFrac = (pi === 0) ? firstHourFraction : 1.0;\n    var result = calculateModeForHour(pi, priceData, simulatedSoc, hFrac);\n    simulatedSoc = simulateSocChange(result.mode, planHour, simulatedSoc, hFrac, targetSocFromGrid);\n    plan.push({\n        hour: planHour,\n        offset: pi,\n        mode: result.mode,\n        modeCZ: modeNamesCZ[result.mode] || result.mode,\n        reason: result.reason,\n        priceLevel: priceData.levelBuy,\n        priceBuy: priceData.buy,\n        priceSell: priceData.sell,\n        simulatedSoc: Math.round(simulatedSoc),\n        isNextDay: isNextDay,\n        isChargingHour: chargingOffsets[pi] || false,\n        isSolarHour: solarOffsets[pi] || false,\n        isDischargeHour: dischargeOffsets[pi] || false\n    });\n}\n\n// === LOGOVв”ңГјNв”ңЕ№ ===\nvar countSetrit = 0, countNormal = 0, countNabijet = 0;\nfor (var cs = 0; cs < plan.length; cs++) {\n    if (plan[cs].mode === MODY.SETRIT) countSetrit++;\n    else if (plan[cs].mode === MODY.NORMAL) countNormal++;\n    else if (plan[cs].mode === MODY.NABIJET_ZE_SITE) countNabijet++;\n}\n\n// === Vв”ңЕҒSTUP ===\nvar currentMode = plan.length > 0 ? plan[0].mode : MODY.NORMAL;\nvar currentReason = plan.length > 0 ? plan[0].reason : \"\";\n\nmsg.payload = {\n    currentMode: currentMode,\n    currentReason: currentReason,\n    currentHour: currentHour,\n    plan: plan,\n    dischargeDebug: dischargeDebug,\n    config: { \n        prah_levna: PRAH_LEVNA,\n        prah_draha: PRAH_DRAHA,\n        effective_threshold: effectiveThreshold,\n        solarStartHour: solarStartHour,\n        solarEndHour: solarEndHour\n    },\n    proteus: {\n        firstSolarOffset: firstSolarOffset,\n        dischargeHoursCount: Object.keys(dischargeOffsets).length,\n        solarHoursCount: Object.keys(solarOffsets).length,\n        energyBudgetKwh: Math.round(energyBudgetKwh * 10) / 10,\n        usedEnergyKwh: Math.round(usedEnergyKwh * 10) / 10,\n        effectiveThreshold: effectiveThreshold,\n        peakSoc: Math.round(currentSoc + solarSocGainTotal),\n        totalSolarAvailable: Math.round((remainingSolarKwh + forecastZitra) * 10) / 10,\n        forecastZitra: forecastZitra,\n        drainBeforeSolarPct: drainBeforeSolarPct,\n        socAfterDrain: Math.round(socAfterDrain),\n        minRequiredSoc: minRequiredSoc\n    },\n    smartCharging: {\n        targetSocFromGrid: Math.round(targetSocFromGrid),\n        gridChargeNeeded: Math.round(gridChargeNeeded * 10) / 10,\n        hoursNeeded: hoursNeeded,\n        assignedHours: assignedHours,\n        viableHoursAvailable: viableChargingHours.length,\n        remainingSolar: Math.round(remainingSolarKwh * 10) / 10,\n        roundTripEfficiency: Math.round(roundTripEfficiency * 100),\n        amortizace: amortizace,\n        daysToFullCharge: daysSinceFullCharge,\n        maintenanceCharge: maintenanceCharge,\n        isWinter: isWinter,\n        chargingReason: gridChargeNeeded > 0 \n            ? (maintenanceCharge ? \"maintenance (20d)\" : \"deficit \" + Math.round(minRequiredSoc - socAfterDrain) + \"%\")\n            : \"nepotв”јГ–eba (SOC \" + Math.round(socAfterDrain) + \"% > min \" + minRequiredSoc + \"%)\"\n    },\n    planSummary: {\n        setritHours: countSetrit,\n        normalHours: countNormal,\n        nabijetHours: countNabijet\n    },\n    status: {\n        soc: currentSoc,\n        remainingSolar: remainingSolarKwh,\n        forecastZitra: forecastZitra,\n        forecastDnes: forecast.dnes || 0,\n        prodejEnabled: prodejZBaterieEnabled,\n        blokaceVybijeni: blokaceVybijeni,\n        blokaceText: blokaceText\n    },\n    generatedAt: now.toISOString()\n};\n\nvar modeColors = {\n    normal: \"green\",\n    setrit: \"yellow\",\n    nabijet_ze_site: \"blue\",\n    prodavat: \"red\",\n    zakaz_pretoku: \"purple\"\n};\nnode.status({\n    fill: modeColors[currentMode] || \"grey\",\n    shape: \"dot\",\n    text: \"v18 \" + currentMode\n        + \" | в”јГЎ:\" + countSetrit + \" N:\" + countNormal + \" Nab:\" + countNabijet\n        + \" | effThr:\" + effectiveThreshold\n        + \" | SOC:\" + currentSoc + \"% drn:\" + drainBeforeSolarPct + \"% Г”ДҮДә\" + Math.round(socAfterDrain) + \"%\"\n        + \" | Г”ЕӣГҮ\" + solarStartHour + \"-\" + solarEndHour + \"h\"\n        + (gridChargeNeeded > 0 ? \" | Г”ГңГӯ\" + Math.round(targetSocFromGrid) + \"%\" : \"\")\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "df085ac4da095340",
                "39019d1a78677231"
            ]
        ]
    },
    {
        "id": "df085ac4da095340",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Uloв”јЕј plв”ңГӯn",
        "func": "global.set(\"fve_plan\", msg.payload);\nglobal.set(\"fve_current_mode\", msg.payload.currentMode);\n\nmsg.ha_update = {\n    state: msg.payload.currentMode,\n    attributes: {\n        current_mode: msg.payload.currentMode,\n        current_reason: msg.payload.currentReason,\n        current_hour: msg.payload.currentHour,\n        plan: msg.payload.plan,\n        soc: msg.payload.status.soc,\n        forecast_dnes: msg.payload.status.forecastDnes,\n        forecast_zitra: msg.payload.status.forecastZitra,\n        last_update: msg.payload.generatedAt,\n        debug: msg.payload.debug || {},\n        blokace_text: msg.payload.status.blokaceText || \"NE\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "517215d5f730e80c"
            ]
        ]
    },
    {
        "id": "39019d1a78677231",
        "type": "debug",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Plan Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "517215d5f730e80c",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj HA sensor",
        "func": "var planData = msg.payload || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\n\nnode.status({fill:\"green\", shape:\"dot\", text: \"Mв”ңв”Ӯd: \" + currentMode + \", hodina: \" + currentHour});\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    debug: planData.debug || \"\",\n    blokace_text: planData.status ? (planData.status.blokaceText || \"NE\") : \"NE\",\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "701e94d82c3aead0"
            ]
        ]
    },
    {
        "id": "701e94d82c3aead0",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Zapiв”јГӯ plв”ңГӯn do souboru",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "44d31ff3c04741b7",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Kaв”јЕјdв”ңЕ»ch 15 sekund",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "c36915a8599c5282"
            ]
        ]
    },
    {
        "id": "c36915a8599c5282",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Kontrola podmв”ңЕҹnek",
        "func": "var config = global.get(\"fve_config\") || {};\nvar plan = global.get(\"fve_plan\") || {};\n// FIX: Read planned mode from plan object (immutable, set by planner only)\n// Previously read from fve_current_mode which was overwritten by override logic\nvar planMode = (plan && plan.currentMode) ? plan.currentMode : \"normal\";\nvar manualMod = config.manual_mod || \"auto\";\n\nvar currentMode = planMode;\nif (manualMod !== \"auto\") {\n    currentMode = manualMod;\n}\n\nvar wasEnabled = flow.get(\"automatizace_was_enabled\") || false;\nif (config.automatizace_enabled === false) {\n    if (wasEnabled) {\n        // PrГЎvДӣ vypnuta automatizace вҶ’ pЕҷejdi do NORMAL (safe state) JEDNOU\n        flow.set(\"automatizace_was_enabled\", false);\n        flow.set(\"auto_off_normal_sent\", false);  // reset flag pro pЕҷГӯЕЎtГӯ cyklus\n        global.set(\"fve_current_mode\", \"normal\");\n        msg.currentMode = \"normal\";\n        msg.autoNabijeniAktivni = false;\n        msg.cerpadloTopi = global.get(\"cerpadlo_topi\") || false;\n        msg.saunaAktivni = global.get(\"sauna_aktivni\") || false;\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"AUTO OFF вҶ’ NORMAL mГіd (reset Victronu)\"});\n        return msg;  // POЕ LI jednou do NORMAL mГіdu\n    }\n    var normalSent = flow.get(\"auto_off_normal_sent\") || false;\n    if (!normalSent) {\n        // Automatizace zЕҜstГЎvГЎ vypnuta, ale jeЕЎtДӣ jsme neposlali NORMAL вҶ’ poЕЎli jednou\n        flow.set(\"auto_off_normal_sent\", true);\n        global.set(\"fve_current_mode\", \"normal\");\n        msg.currentMode = \"normal\";\n        msg.autoNabijeniAktivni = false;\n        msg.cerpadloTopi = global.get(\"cerpadlo_topi\") || false;\n        msg.saunaAktivni = global.get(\"sauna_aktivni\") || false;\n        node.status({fill:\"grey\", shape:\"ring\", text:\"Automatizace vypnuta (NORMAL reset)\"});\n        return msg;\n    }\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Automatizace vypnuta\"});\n    return null;\n}\nflow.set(\"automatizace_was_enabled\", true);\nflow.set(\"auto_off_normal_sent\", false);  // reset pЕҷi zapnutГӯ\n\nvar autoNabijeni = global.get(\"auto_nabijeni_aktivni\") || false;\n\n// Grid Lost ochrana\nvar gridLostState = global.get(\"homeassistant.homeAssistant.states['sensor.grid_lost_ciselny']\") || {};\nvar gridLost = parseInt(gridLostState.state || \"0\") >= 2;\nvar cerpadloTopi = global.get(\"cerpadlo_topi\") || false;\nvar saunaAktivni = global.get(\"sauna_aktivni\") || false;\n\n// FIX: Removed override normal->setrit when heat pump/car active.\n// Root cause of battery charging in Normal mode:\n//   Override switched to Setrit which set max_discharge_power=0 and\n//   scheduled_soc=currentSoc, causing solar->battery and grid->consumption.\n// The planner already assigns correct modes. Individual modes (e.g. Nabijet)\n// already adjust power_set_point for high-priority consumers.\n\n// Update display mode\n// Grid Lost: pв”јГ–epnout na в”јГӯetв”јГ–it (в”јЕјв”ңГӯdnв”ңДҷ nabв”ңЕҹjenв”ңЕҹ ze sв”ңЕҹtв”ҖЕӨ, baterie se nevybв”ңЕҹjв”ңЕҹ)\nif (gridLost && currentMode === \"nabijet_ze_site\") {\n    currentMode = \"setrit\";\n    node.status({fill:\"red\", shape:\"dot\", text:\"GRID LOST Г”ДҮДә в”јГЎetв”јГ–it (blokace nabв”ңЕҹjenв”ңЕҹ)\"});\n}\nglobal.set(\"fve_current_mode\", currentMode);\n\n// v18.2: Blokace text pro dashboard\nvar blokaceItems = [];\nif (gridLost) blokaceItems.push(\"GRID LOST\");\nif (cerpadloTopi) blokaceItems.push(\"topenв”ңЕҹ\");\nif (autoNabijeni) blokaceItems.push(\"auto\");\nif (saunaAktivni) blokaceItems.push(\"sauna\");\nvar blokaceText = blokaceItems.length > 0 ? \"ANO - \" + blokaceItems.join(\", \") : \"NE\";\n\n// Update blokaceText in global fve_plan for real-time file updates\nvar currentPlan = global.get(\"fve_plan\") || {};\nif (!currentPlan.status) currentPlan.status = {};\ncurrentPlan.status.blokaceText = blokaceText;\nglobal.set(\"fve_plan\", currentPlan);\n\nmsg.blokaceText = blokaceText;\nmsg.autoNabijeniAktivni = autoNabijeni;\nmsg.cerpadloTopi = cerpadloTopi;\nmsg.gridLost = gridLost;\nmsg.saunaAktivni = saunaAktivni;\nmsg.config = config;\nmsg.plan = plan;\n\nvar modeSource = manualMod !== \"auto\" ? \"(manualni)\" : \"(auto)\";\nvar infoText = \"\";\nif (gridLost) infoText += \" | Г”ГңГӯGRID LOST\";\nif (cerpadloTopi) infoText += \" | Cerpadlo topi\";\nif (saunaAktivni) infoText += \" | Sauna\";\nif (autoNabijeni) infoText += \" | Auto nabiji\";\nnode.status({fill: manualMod !== \"auto\" ? \"blue\" : \"green\", shape:\"dot\", text: \"Mod: \" + currentMode + \" \" + modeSource + infoText});\n\n// v2.1: Pв”јГ–epnout z nabв”ңЕҹjenв”ңЕҹ na в”јГӯetв”јГ–it jakmile SOC dosв”ңГӯhne cв”ңЕҹle\nif (currentMode === \"nabijet_ze_site\" && manualMod === \"auto\") {\n    var targetSoc = (plan && plan.smartCharging) ? plan.smartCharging.targetSocFromGrid : 0;\n    var currentSoc = (global.get(\"fve_status\") || {}).battery_soc || 0;\n    if (targetSoc > 0 && currentSoc >= targetSoc) {\n        currentMode = \"setrit\";\n        global.set(\"fve_current_mode\", currentMode);\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"SOC \" + Math.round(currentSoc) + \"% >= cв”ңЕҹl \" + targetSoc + \"% Г”ДҮДә в”јГЎetв”јГ–it\"});\n    }\n}\n\nmsg.currentMode = currentMode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 420,
        "wires": [
            [
                "8eef6d1d51c9c644",
                "blokace_file_update"
            ]
        ]
    },
    {
        "id": "8eef6d1d51c9c644",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Rozhodnutв”ңЕҹ o akci",
        "func": "var mode = msg.currentMode;\nvar skipBattery = msg.skipBatteryControl || false;\n\nswitch (mode) {\n    case \"normal\": msg.modeIndex = 0; break;\n    case \"setrit\": msg.modeIndex = 1; break;\n    case \"nabijet_ze_site\": msg.modeIndex = 2; break;\n    case \"prodavat\": msg.modeIndex = 3; break;\n    case \"zakaz_pretoku\": msg.modeIndex = 4; break;\n    case \"solar_charging\": msg.modeIndex = 5; break;\n    default: msg.modeIndex = 0;\n}\n\nmsg.skipBatteryControl = skipBattery;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "19a783a61de3519b"
            ]
        ]
    },
    {
        "id": "19a783a61de3519b",
        "type": "switch",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Smв”ҖЕӨrovв”ңГӯnв”ңЕҹ podle mв”ңв”Ӯdu",
        "property": "modeIndex",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "f10a91fcb4de6bd3"
            ],
            [
                "7f051a6595e57c3e"
            ],
            [
                "185f95d7c56fe799"
            ],
            [
                "a706b353f30c25d1"
            ],
            [
                "a86bc5233cfa0458"
            ],
            [
                "solar123456789abc"
            ]
        ]
    },
    {
        "id": "f10a91fcb4de6bd3",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә Normal",
        "mode": "link",
        "links": [
            "8b55cfc5181b9eb7"
        ],
        "x": 1005,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f051a6595e57c3e",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә в”јГЎetв”јГ–it",
        "mode": "link",
        "links": [
            "ec611f6aba7d5c59"
        ],
        "x": 1005,
        "y": 380,
        "wires": []
    },
    {
        "id": "185f95d7c56fe799",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә Nabв”ңЕҹjet",
        "mode": "link",
        "links": [
            "1d98a0541716ce58"
        ],
        "x": 1005,
        "y": 420,
        "wires": []
    },
    {
        "id": "a706b353f30c25d1",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә Prodв”ңГӯvat",
        "mode": "link",
        "links": [
            "179ed150020d459c"
        ],
        "x": 1005,
        "y": 460,
        "wires": []
    },
    {
        "id": "a86bc5233cfa0458",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә Zв”ңГӯkaz pв”јГ–etokв”јВ»",
        "mode": "link",
        "links": [
            "c682224043634fcd"
        ],
        "x": 1005,
        "y": 500,
        "wires": []
    },
    {
        "id": "fc848e97e2c781c1",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Zmв”ҖЕӨna stavu wallboxu",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 740,
        "wires": [
            [
                "376106d716756636"
            ]
        ]
    },
    {
        "id": "376106d716756636",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Kontrola nabв”ңЕҹjenв”ңЕҹ auta",
        "func": "var state = msg.payload;\nvar chargingStates = [\"Charging\", \"Nabв”ңЕҹjenв”ңЕҹ\", \"2\"];\nvar isCharging = chargingStates.some(function(s) {\n    return state.toLowerCase().indexOf(s.toLowerCase()) !== -1 || state === s;\n});\nmsg.autoNabijeni = isCharging;\nnode.status({fill: isCharging ? \"yellow\" : \"green\", shape:\"dot\", text: isCharging ? \"Auto se nabв”ңЕҹjв”ңЕҹ\" : \"Auto se nenabв”ңЕҹjв”ңЕҹ\"});\n// Output 2: pouze pв”јГ–i zastavenв”ңЕҹ nabв”ңЕҹjenв”ңЕҹ Г”ДҮДә reset min_soc + pв”јГ–epoв”ҖЕ№et plв”ңГӯnu\nif (!isCharging) {\n    // Resetuj config.min_soc v globв”ңГӯlu na vв”ңЕ»chozв”ңЕҹ hodnotu\n    var config = global.get(\"fve_config\") || {};\n    var defaultMinSoc = 20;\n    config.min_soc = defaultMinSoc;\n    global.set(\"fve_config\", config);\n    node.status({fill: \"green\", shape: \"dot\", text: \"Auto STOP Г”ДҮДә reset minSoc=\" + defaultMinSoc + \"%, retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "dc8da09248ec1e29"
            ],
            [
                "auto_reset_minsoc"
            ]
        ]
    },
    {
        "id": "dc8da09248ec1e29",
        "type": "change",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global",
        "rules": [
            {
                "t": "set",
                "p": "auto_nabijeni_aktivni",
                "pt": "global",
                "to": "autoNabijeni",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "aabb001122334455",
        "type": "sqlite",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM \"own_energy_prices_total\"",
        "name": "в”ҖГ®ti в”ҖЕ№erstvв”ңДҷ ceny z DB",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "aabb001122334466"
            ]
        ]
    },
    {
        "id": "aabb001122334466",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj ceny v planData",
        "func": "// Nahraв”ҖДҶ starв”ңГӯ data в”ҖЕ№erstvв”ңЕ»mi z DB\nvar freshPrices = msg.payload || [];\nif (freshPrices.length > 0) {\n    msg.planData.prices = freshPrices;\n    // Aktualizuj i global pro ostatnв”ңЕҹ\n    global.set(\"fve_prices_forecast\", freshPrices);\n    node.status({fill:\"green\", shape:\"dot\", text: freshPrices.length + \" cen z DB\"});\n} else {\n    node.status({fill:\"yellow\", shape:\"dot\", text: \"DB prв”ңГӯzdnв”ңГӯ, pouв”јЕјit global\"});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "9e0b46a9dfedea33"
            ]
        ]
    },
    {
        "id": "solar123456789abc",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Г”ДҮДә Solв”ңГӯrnв”ңЕҹ nabв”ңЕҹjenв”ңЕҹ",
        "mode": "link",
        "links": [
            "e93b8f3e662c6190"
        ],
        "x": 1005,
        "y": 540,
        "wires": []
    },
    {
        "id": "sauna_state_changed",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Zmв”ҖЕӨna stavu sauny",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.sauna"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "x": 130,
        "y": 800,
        "wires": [
            [
                "sauna_set_global"
            ]
        ]
    },
    {
        "id": "sauna_set_global",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global sauna",
        "func": "var state = msg.payload;\nvar isActive = (state === \"on\");\nglobal.set(\"sauna_aktivni\", isActive);\nnode.status({fill: isActive ? \"red\" : \"green\", shape: \"dot\", text: isActive ? \"Sauna ON\" : \"Sauna OFF\"});\n// Output 1: vв”јЕјdy (logovв”ңГӯnв”ңЕҹ)\n// Output 2: pouze pв”јГ–i vypnutв”ңЕҹ Г”ДҮДә reset min_soc + pв”јГ–epoв”ҖЕ№et plв”ңГӯnu\nif (!isActive) {\n    // Resetuj config.min_soc v globв”ңГӯlu na vв”ңЕ»chozв”ңЕҹ hodnotu (pв”јГ–edejde planovв”ңГӯnв”ңЕҹ s min_soc=74%)\n    var config = global.get(\"fve_config\") || {};\n    var defaultMinSoc = 20;\n    config.min_soc = defaultMinSoc;\n    global.set(\"fve_config\", config);\n    node.status({fill: \"green\", shape: \"dot\", text: \"Sauna OFF Г”ДҮДә reset minSoc=\" + defaultMinSoc + \"%, retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [],
            [
                "sauna_reset_minsoc"
            ]
        ]
    },
    {
        "id": "blokace_file_update",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Aktualizuj blokaci v souboru",
        "func": "var planData = global.get(\"fve_plan\") || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\nvar blokaceText = (planData.status && planData.status.blokaceText) ? planData.status.blokaceText : \"NE\";\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    debug: planData.debug || \"\",\n    blokace_text: blokaceText,\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "blokace_file_write"
            ]
        ]
    },
    {
        "id": "blokace_file_write",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Zapiв”јГӯ blokaci",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 650,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "sauna_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "sauna_trigger_plan"
            ]
        ]
    },
    {
        "id": "sauna_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger pв”јГ–epoв”ҖЕ№et plв”ңГӯnu",
        "func": "// Po vypnutв”ңЕҹ sauny okamв”јЕјitв”ҖЕӨ pв”јГ–epoв”ҖЕ№в”ңЕҹtej plв”ңГӯn\n// (aby se min_soc=20% projevilo hned, ne aв”јЕј za minutu)\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Г”ДҮДә pв”јГ–epoв”ҖЕ№et plв”ңГӯnu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 720,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "auto_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20 (auto)",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "auto_trigger_plan"
            ]
        ]
    },
    {
        "id": "auto_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger pв”јГ–epoв”ҖЕ№et plв”ңГӯnu (auto)",
        "func": "// Po zastavenв”ңЕҹ nabв”ңЕҹjenв”ңЕҹ auta okamв”јЕјitв”ҖЕӨ pв”јГ–epoв”ҖЕ№в”ңЕҹtej plв”ңГӯn\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Г”ДҮДә pв”јГ–epoв”ҖЕ№et plв”ңГӯnu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    }
]