node-red/flows/fve-modes.json
[
    {
        "id": "bb3654998a6bf514",
        "type": "tab",
        "label": "FVE Modes",
        "disabled": false,
        "info": "Implementace jednotlivých módů FVE automatizace (refaktor v3 - link-out/link-in, 0 crossing wires)",
        "env": []
    },
    {
        "id": "mode_grp_normal",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: NORMAL - Standardní provoz",
        "style": {
            "fill": "#d3f3d3",
            "label": true
        },
        "nodes": [
            "8b55cfc5181b9eb7",
            "670432a909cf3b26",
            "lo_victron_normal",
            "lo_log_normal"
        ],
        "x": 24,
        "y": 6,
        "w": 442,
        "h": 108
    },
    {
        "id": "mode_grp_setrit",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: ŠETŘIT - Minimální vybíjení baterie",
        "style": {
            "fill": "#f3f3d3",
            "label": true
        },
        "nodes": [
            "ec611f6aba7d5c59",
            "139cd450edbbde37",
            "lo_victron_setrit",
            "lo_log_setrit"
        ],
        "x": 24,
        "y": 106,
        "w": 442,
        "h": 108
    },
    {
        "id": "mode_grp_nabijet",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: NABÍJET ZE SÍTĚ - Levná energie",
        "style": {
            "fill": "#d3d3f3",
            "label": true
        },
        "nodes": [
            "1d98a0541716ce58",
            "ebcf9e560f598c02",
            "lo_victron_nabijet",
            "lo_log_nabijet"
        ],
        "x": 24,
        "y": 206,
        "w": 442,
        "h": 108
    },
    {
        "id": "mode_grp_prodavat",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: PRODÁVAT - Prodej do sítě",
        "style": {
            "fill": "#f3d3d3",
            "label": true
        },
        "nodes": [
            "179ed150020d459c",
            "68992d178ce105ed",
            "lo_victron_prodavat",
            "lo_log_prodavat"
        ],
        "x": 24,
        "y": 306,
        "w": 442,
        "h": 108
    },
    {
        "id": "mode_grp_zakaz",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: ZÁKAZ PŘETOKŮ - Záporná cena",
        "style": {
            "fill": "#e3d3f3",
            "label": true
        },
        "nodes": [
            "c682224043634fcd",
            "75d1f9e77bc15e0a",
            "lo_victron_zakaz",
            "lo_log_zakaz"
        ],
        "x": 24,
        "y": 406,
        "w": 442,
        "h": 108
    },
    {
        "id": "mode_grp_solar",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: SOLÁRNÍ NABÍJENÍ",
        "style": {
            "fill": "#fffacd",
            "label": true
        },
        "nodes": [
            "e93b8f3e662c6190",
            "d27d27bacf98eec0",
            "lo_victron_solar",
            "lo_log_solar"
        ],
        "x": 24,
        "y": 506,
        "w": 442,
        "h": 108
    },
    {
        "id": "fve_modes_g_shared_svc",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Victron Actions (sdílený)",
        "style": {
            "fill": "#dce6f0",
            "label": true
        },
        "nodes": [
            "li_victron_shared",
            "shared_fanout_func",
            "shared_psp",
            "shared_sched_soc",
            "shared_sched_dur",
            "shared_sched_day",
            "shared_max_disch",
            "shared_max_charge",
            "shared_min_soc",
            "shared_debug",
            "shared_feedin_switch",
            "shared_feedin_on",
            "shared_feedin_off",
            "shared_maxfeedin_val",
            "shared_prevent_off",
            "shared_prevent_on"
        ],
        "x": 24,
        "y": 839,
        "w": 942,
        "h": 422
    },
    {
        "id": "fve_modes_g_log",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Log",
        "style": {
            "fill": "#e8e8e8",
            "label": true
        },
        "nodes": [
            "li_log_shared",
            "fve_log_writer_001",
            "fve_log_file_001",
            "fve_log_rotate_inject",
            "fve_log_rotate_func"
        ],
        "x": 494,
        "y": 159,
        "w": 492,
        "h": 182
    },
    {
        "id": "grp_balancovani",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Balancování baterie",
        "style": {
            "fill": "#e0f7fa",
            "label": true
        },
        "nodes": [
            "li_modes_balancovani",
            "bal_logic_func",
            "bal_svc_set_datetime",
            "lo_victron_bal",
            "lo_log_bal",
            "bal_svc_set_boolean",
            "opp_bal_inject",
            "opp_bal_check"
        ],
        "x": 24,
        "y": 619,
        "w": 662,
        "h": 202
    },
    {
        "id": "8b55cfc5181b9eb7",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_normal",
        "name": "→ Normal",
        "links": [
            "f10a91fcb4de6bd3"
        ],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "670432a909cf3b26"
            ]
        ]
    },
    {
        "id": "670432a909cf3b26",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_normal",
        "name": "NORMAL Logic",
        "func": "var patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar minSoc = config.min_soc || 20;\nvar currentSoc = status.battery_soc || 50;\nvar cerpadloTopi = msg.cerpadloTopi || global.get(\"cerpadlo_topi\") || false;\nvar autoCharging = msg.autoNabijeniAktivni || false;\n// v19.4: Read charger state directly — global may be stale after NR restart\nvar chargerEntity = global.get(\"homeassistant.homeAssistant.states['sensor.charger_state_garage']\") || {};\nif (chargerEntity.state === \"2\") autoCharging = true;\nvar saunaAktivni = msg.saunaAktivni || false;\nvar minDischargeBlokaceW = config.min_vybijeni_blokace_w || 1300;\n\n// v19: Aktualni PV vykon pro rozhodovani o blokaci\nvar pvFveEntity = global.get(\"homeassistant.homeAssistant.states['sensor.vyroba_fve']\") || {};\nvar currentPvPower = parseFloat(pvFveEntity.state) || 0;\nvar dynamicDischargeW = Math.max(0, Math.round(minDischargeBlokaceW - currentPvPower));\n// v19.3: Proven pattern from ŠETŘIT — solar<=10W → MaxDischargePower=0\n// Eliminates ~130W DC bus standby loss. Victron transfer relay handles grid passthrough.\nvar solarPassthrough = currentPvPower > 10 ? Math.max(50, Math.round(currentPvPower)) : 0;\n\n// § 4.2 + § 8.3: blokace jen když NIBE a PV < solar override (jinak energie ze soláru)\nvar _solOvr = config.topeni_solar_override_w || 8000;\nvar nibeFromGrid = cerpadloTopi && currentPvPower < _solOvr;\nvar autoSocThreshold = config.nabijeni_auta_min_soc || 95;\nvar blockDischargeHard = false;\nvar blockDischargeSoft = saunaAktivni;\nvar blockDischarge = blockDischargeHard || blockDischargeSoft;\n\nvar gridImportEntity = global.get(\"homeassistant.homeAssistant.states['sensor.fve_celkovy_odber_ze_site']\") || {};\nvar gridImportW = parseFloat(gridImportEntity.state);\nif (isNaN(gridImportW)) gridImportW = 0;\nvar gridSupportBiasW = config.normal_grid_support_w || config.nibe_psp_compensation_w || 800;\nvar gridSupportTriggerW = config.normal_grid_support_trigger_w || 300;\nvar useGridSupport = cerpadloTopi && currentPvPower >= _solOvr && gridImportW > gridSupportTriggerW;\nvar normalPsp = useGridSupport ? -Math.round(Math.min(gridImportW, gridSupportBiasW)) : 0;\n\nmsg.victron = {\n    power_set_point: normalPsp,\n    min_soc: minSoc,\n    schedule_soc: 0,\n    schedule_charge_duration: 0,\n    schedule_charge_day: -7,\n    max_discharge_power: (blockDischargeHard || blockDischargeSoft) ? solarPassthrough : -1,\n    max_charge_power: (patBlockCharge || blockDischargeSoft || useGridSupport) ? 0 : -1,\n    feedin_on: true,\n    max_feed_in_power: (config.max_feed_in_w || 7600),\n    prevent_feedback: 0\n};\nmsg.mode = \"normal\";\nmsg.blockDischarge = blockDischarge;\nmsg.maxDischargePower = blockDischarge ? 0 : -1;\nmsg.maxChargePower = blockDischarge ? 0 : -1;\n\nvar consumers = [];\nif (cerpadloTopi) consumers.push(\"Topeni\");\nif (autoCharging) consumers.push(\"Auto\");\nif (saunaAktivni) consumers.push(\"Sauna\");\nvar consText = consumers.length > 0 ? \" | \" + consumers.join(\"+\") : \"\";\nvar dischText = blockDischarge ? \" | BLOK_DISCH:0W\" : \"\";\nvar supportText = useGridSupport ? \" | gridSupport PSP:\" + normalPsp + \"W\" : \"\";\nnode.status({fill: blockDischarge ? \"yellow\" : \"green\", shape:\"dot\", text:\"NORMAL | SOC:\" + currentSoc + \"%\" + consText + dischText + supportText});\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"normal\",\n    battery_charging: false,\n    battery_charge_rate_w: 0,\n    power_set_point: normalPsp,\n    consumers_active: consumers,\n    max_discharge_allowed: !blockDischarge,\n    timestamp: Date.now()\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "lo_victron_normal",
                "lo_log_normal"
            ]
        ]
    },
    {
        "id": "lo_victron_normal",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_normal",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 47,
        "wires": []
    },
    {
        "id": "lo_log_normal",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_normal",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 73,
        "wires": []
    },
    {
        "id": "ec611f6aba7d5c59",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_setrit",
        "name": "→ Šetřit",
        "links": [
            "7f051a6595e57c3e"
        ],
        "x": 65,
        "y": 160,
        "wires": [
            [
                "139cd450edbbde37"
            ]
        ]
    },
    {
        "id": "139cd450edbbde37",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_setrit",
        "name": "ŠETŘIT Logic",
        "func": "// === ŠETŘIT mód ===\n// Baterie se NEVYBÍJÍ — grid pokryje deficit, solar passthrough na DC bus\nvar patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar currentSoc = status.battery_soc || 50;\nvar minSoc = config.min_soc || 20;\n\n// v25.55e: Read live SOC from HA for min_soc floor\nvar socEntity = global.get(\"homeassistant.homeAssistant.states['sensor.battery_percent']\") || {};\nvar liveSoc = parseInt(socEntity.state) || currentSoc;\n// min_soc = max(configured, liveSoc + 2) -> BMS actively prevents discharge (2% margin)\nvar effectiveMinSoc = Math.max(minSoc, liveSoc + 2);\n\n// Solar production\nvar pvEntity = global.get(\"homeassistant.homeAssistant.states['sensor.vyroba_fve']\") || {};\nvar rawSolar = Math.round(parseFloat(pvEntity.state) || 0);\n// v19.3: solar=0 (noc) -> MaxDischargePower=0 blokuje DC bus standby loss\n// Victron transfer relay zajisti grid passthrough i s MaxDischargePower=0\nvar currentSolar = rawSolar > 10 ? Math.max(50, rawSolar) : 0;\n\n// § 4.3: Solar surplus → PSP=0 (zero grid draw). Deficit → PSP=deficit (grid covers gap).\nvar rozdilEntity = global.get(\"homeassistant.homeAssistant.states['sensor.rozdil_vyroby_a_spotreby']\") || {};\nvar rozdil = parseFloat(rozdilEntity.state) || 0;\nvar dynamicPSP = rozdil >= 0 ? 0 : Math.round(Math.abs(rozdil));\n\nmsg.victron = {\n    power_set_point:           dynamicPSP,\n    min_soc:                   effectiveMinSoc,\n    schedule_soc:              0,\n    schedule_charge_duration:  0,\n    schedule_charge_day:       -7,\n    max_discharge_power:       currentSolar > 0 ? currentSolar : 0,\n    max_charge_power:          patBlockCharge ? 0 : -1,\n    feedin_on:                 true,\n    max_feed_in_power:         config.max_feed_in_w || 7600,\n    prevent_feedback:          0\n};\nmsg.mode = \"setrit\";\nmsg.blockDischarge = true;\n\nnode.status({fill:\"yellow\", shape:\"dot\", text:\"SETRIT SOC:\" + liveSoc + \"% mS:\" + effectiveMinSoc + \"% PSP:\" + dynamicPSP + \" r:\" + Math.round(rozdil) + \" disch:\" + (currentSolar > 0 ? currentSolar : 0)});\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"setrit\",\n    battery_charging: false,\n    battery_charge_rate_w: 0,\n    power_set_point: dynamicPSP,\n    consumers_active: [],\n    max_discharge_allowed: false,\n    timestamp: Date.now()\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "lo_victron_setrit",
                "lo_log_setrit"
            ]
        ]
    },
    {
        "id": "lo_victron_setrit",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_setrit",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 147,
        "wires": []
    },
    {
        "id": "lo_log_setrit",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_setrit",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 173,
        "wires": []
    },
    {
        "id": "1d98a0541716ce58",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_nabijet",
        "name": "→ Nabíjet",
        "links": [
            "185f95d7c56fe799"
        ],
        "x": 65,
        "y": 260,
        "wires": [
            [
                "ebcf9e560f598c02"
            ]
        ]
    },
    {
        "id": "ebcf9e560f598c02",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_nabijet",
        "name": "NABÍJET ZE SÍTĚ Logic",
        "func": "var patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar config = global.get(\"fve_config\") || {};\nvar minSoc = config.min_soc || 20;\nvar status = global.get(\"fve_status\") || {};\nvar currentSoc = status.battery_soc || 50;\nvar maxGridW = config.max_spotreba_sit_w || 22000;\nvar SAFETY_MARGIN = config.safety_margin_w || 2000;\nvar cerpadloTopi = msg.cerpadloTopi || false;\nvar autoCharging = msg.autoNabijeniAktivni || false;\nvar saunaAktivni = msg.saunaAktivni || false;\n\nvar plan = global.get(\"fve_plan\") || {};\n// FIX: v manuálním režimu NABÍJET vždy targetSoc=100\nvar manualMod = (global.get(\"fve_config\") || {}).manual_mod || \"auto\";\nvar targetSoc;\nif (manualMod === \"nabijet_ze_site\") {\n    targetSoc = 100;\n} else {\n    targetSoc = (plan && plan.smartCharging && plan.smartCharging.targetSocFromGrid > 0)\n        ? plan.smartCharging.targetSocFromGrid : 100;\n}\n\nvar consumers = [];\nif (cerpadloTopi) consumers.push(\"Topeni\");\nif (autoCharging) consumers.push(\"Auto\");\nif (saunaAktivni) consumers.push(\"Sauna\");\n\nvar psp, statusText;\nif (cerpadloTopi || autoCharging) {\n    var safeImport = maxGridW - SAFETY_MARGIN;\n    psp = safeImport;\n    statusText = \"Nabijet+\" + consumers.join(\"+\") + \" | PSP:\" + safeImport + \"W | SOC:\" + currentSoc + \"%\";\n} else {\n    psp = -maxGridW;\n    statusText = \"Nabijet | SCHED:\" + targetSoc + \"% | PSP:\" + psp + \"W | SOC:\" + currentSoc + \"%\";\n}\n\nmsg.victron = {\n    power_set_point: psp,\n    min_soc: minSoc,\n    schedule_soc: targetSoc,\n    schedule_charge_duration: 86399,\n    schedule_charge_day: 7,\n    max_discharge_power: -1,\n    max_charge_power: patBlockCharge ? 0 : -1,\n    feedin_on: true,\n    max_feed_in_power: (config.max_feed_in_w || 7600),\n    prevent_feedback: 0\n};\nmsg.mode = \"nabijet_ze_site\";\n\n// Diagnostika: loguj co NABÍJET posílá do Victronu\n\nnode.status({fill:\"blue\", shape:\"dot\", text: statusText});\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"nabijet_ze_site\",\n    battery_charging: true,\n    battery_charge_rate_w: 5000,\n    power_set_point: psp,\n    consumers_active: consumers,\n    max_discharge_allowed: false,\n    timestamp: Date.now()\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 260,
        "wires": [
            [
                "lo_victron_nabijet",
                "lo_log_nabijet"
            ]
        ]
    },
    {
        "id": "lo_victron_nabijet",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_nabijet",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 247,
        "wires": []
    },
    {
        "id": "lo_log_nabijet",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_nabijet",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 273,
        "wires": []
    },
    {
        "id": "179ed150020d459c",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_prodavat",
        "name": "→ Prodávat",
        "links": [
            "a706b353f30c25d1"
        ],
        "x": 65,
        "y": 360,
        "wires": [
            [
                "68992d178ce105ed"
            ]
        ]
    },
    {
        "id": "68992d178ce105ed",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_prodavat",
        "name": "PRODÁVAT Logic",
        "func": "var patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar saunaAktivni = msg.saunaAktivni || false;\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\n\nif (msg.autoNabijeniAktivni) {\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Skip prodej - auto se nabíjí\"});\n    return null;\n}\n\nvar currentSoc = status.battery_soc || 50;\nvar minSoc = config.min_soc || 20;\nvar maxFeedIn = config.max_feed_in_w || 7600;\n\n// SOC check přesunut za effectiveMinSoc\n\n// v25.5: Cílové SOC z plánu (zákon 4.5) — plán definuje floor předem\nvar nightReserveKwh = config.night_reserve_kwh || 10;\nvar kapacita = config.kapacita_baterie_kwh || 28;\nvar nightReservePct = (nightReserveKwh / kapacita) * 100;\nvar effectiveMinSoc = msg.sellTargetSoc || Math.max(minSoc, Math.round(minSoc + nightReservePct));\n\nif (currentSoc <= effectiveMinSoc) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"SOC \" + currentSoc + \"% ≤ cíl \" + effectiveMinSoc + \"% → prodej hotov\"});\n    return null;\n}\n\n// v19.4: PSP must be NEGATIVE to actively sell from battery to grid\n// PSP=0 only feeds excess solar — at night with solar=0 nothing gets exported\nvar sellPowerW = maxFeedIn;  // max export power = max feed-in power\nmsg.victron = {\n    power_set_point: -sellPowerW,\n    min_soc: effectiveMinSoc,\n    schedule_soc: 0,\n    schedule_charge_duration: 0,\n    schedule_charge_day: -7,\n    max_discharge_power: -1,\n    max_charge_power: patBlockCharge ? 0 : -1,\n    feedin_on: true,\n    max_feed_in_power: maxFeedIn,\n    prevent_feedback: 0\n};\nmsg.mode = \"prodavat\";\nmsg.feedInExcess = true;\nnode.status({fill:\"red\", shape:\"dot\", text:\"PRODÁVAT -\" + sellPowerW + \"W | SOC: \" + currentSoc + \"% (min:\" + effectiveMinSoc + \"%)\"});\n\nvar consumers = [];\nif (msg.cerpadloTopi) consumers.push(\"Topeni\");\nif (msg.saunaAktivni) consumers.push(\"Sauna\");\nif (msg.autoNabijeniAktivni) consumers.push(\"Auto\");\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"prodavat\",\n    battery_charging: false,\n    reserved_for_battery_w: 0,\n    max_discharge_allowed: true,\n    consumers_active: consumers,\n    timestamp: Date.now()\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 360,
        "wires": [
            [
                "lo_victron_prodavat",
                "lo_log_prodavat"
            ]
        ]
    },
    {
        "id": "lo_victron_prodavat",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_prodavat",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 347,
        "wires": []
    },
    {
        "id": "lo_log_prodavat",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_prodavat",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 373,
        "wires": []
    },
    {
        "id": "c682224043634fcd",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_zakaz",
        "name": "→ Zákaz přetoků",
        "links": [
            "a86bc5233cfa0458"
        ],
        "x": 65,
        "y": 460,
        "wires": [
            [
                "75d1f9e77bc15e0a"
            ]
        ]
    },
    {
        "id": "75d1f9e77bc15e0a",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_zakaz",
        "name": "ZÁKAZ PŘETOKŮ Logic",
        "func": "var patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar cerpadloTopi = msg.cerpadloTopi || false;\nvar saunaAktivni = msg.saunaAktivni || false;\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar currentSoc = status.battery_soc || 50;\nvar minSoc = config.min_soc || 20;\n\n// === ULTRA LEVNA DETEKCE ===\nvar prices = global.get(\"fve_prices_forecast\") || [];\nvar hour = new Date().getHours();\nvar plan = global.get(\"fve_plan\") || {};\nvar solarStart = (plan && plan.solarStartHour) || 9;\nvar solarEnd = (plan && plan.solarEndHour) || 17;\nvar isSolarHour = (hour >= solarStart && hour < solarEnd);\nvar PRAH_ULTRA_LEVNA = config.prah_ultra_levna_nakup || 1.0;\n\nvar currentBuyPrice = 99;\nfor (var i = 0; i < prices.length; i++) {\n    if (prices[i].hour === hour && (prices[i].minute === 0 || prices[i].minute === undefined)) {\n        currentBuyPrice = parseFloat(prices[i].priceCZKhourBuy) || 99;\n        break;\n    }\n}\n\nvar ultraLevna = isSolarHour && currentBuyPrice < PRAH_ULTRA_LEVNA;\nglobal.set(\"ultra_levna_energie\", ultraLevna);\n// §4.6: SOC>=95% → energie do spotrebicu dle priorit, neblokovat vybijeni\nvar DRAIN_PRAH = config.nabijeni_auta_soc_drain_prah || 95;\nvar ultraLevnaBlokuj = ultraLevna && currentSoc < DRAIN_PRAH;\n\n// v19.9: Blokace vybíjení baterie při topení NIBE nebo sauně (pattern z NORMAL)\nvar pvFveEntity = global.get(\"homeassistant.homeAssistant.states['sensor.vyroba_fve']\") || {};\nvar currentPvPower = parseFloat(pvFveEntity.state) || 0;\nvar solarPassthrough = currentPvPower > 10 ? Math.max(50, Math.round(currentPvPower)) : 0;\nvar _solOvrZ = config.topeni_solar_override_w || 8000;\nvar blockDischarge = (cerpadloTopi && currentPvPower < _solOvrZ) || saunaAktivni;\n\n\nmsg.victron = {\n    power_set_point: config.zakaz_pretoku_grid_setpoint_w || 30,\n    min_soc: minSoc,\n    schedule_soc: 0,\n    schedule_charge_duration: 0,\n    schedule_charge_day: -7,\n    max_discharge_power: (blockDischarge || ultraLevnaBlokuj) ? solarPassthrough : -1,\n    max_charge_power: (patBlockCharge || blockDischarge) ? 0 : -1,\n    feedin_on: false,\n    max_feed_in_power: 0,\n    prevent_feedback: 1\n};\nmsg.mode = \"zakaz_pretoku\";\nmsg.blockDischarge = blockDischarge;\nvar autoText = msg.autoNabijeniAktivni ? \" + Auto\" : \"\";\nvar dischText = blockDischarge ? \" | BLOK_DISCH:\" + solarPassthrough + \"W\" : \"\";\n\nif (ultraLevna) {\n    node.status({fill:\"yellow\", shape:\"dot\", text:\"ULTRA LEVNA \" + currentBuyPrice.toFixed(2) + \" Kc\" + autoText + dischText + \" | SOC \" + currentSoc + \"%\"});\n} else {\n    node.status({fill:\"purple\", shape:\"dot\", text:\"Zakaz pretoku\" + autoText + dischText + \" | SOC \" + currentSoc + \"%\"});\n}\n\nvar consumers = [];\nif (cerpadloTopi) consumers.push(\"Topeni\");\nif (saunaAktivni) consumers.push(\"Sauna\");\nif (msg.autoNabijeniAktivni) consumers.push(\"Auto\");\nif (ultraLevna) consumers.push(\"UltraLevna\");\n\nglobal.set(\"energy_arbiter\", {\n    mode: ultraLevna ? \"ultra_levna\" : \"zakaz_pretoku\",\n    battery_charging: false,\n    max_discharge_allowed: !blockDischarge,\n    consumers_active: consumers,\n    timestamp: Date.now()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "lo_victron_zakaz",
                "lo_log_zakaz"
            ]
        ]
    },
    {
        "id": "lo_victron_zakaz",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_zakaz",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 447,
        "wires": []
    },
    {
        "id": "lo_log_zakaz",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_zakaz",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 473,
        "wires": []
    },
    {
        "id": "e93b8f3e662c6190",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_solar",
        "name": "→ Solární nabíjení",
        "links": [],
        "x": 65,
        "y": 560,
        "wires": [
            [
                "d27d27bacf98eec0"
            ]
        ]
    },
    {
        "id": "d27d27bacf98eec0",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_solar",
        "name": "SOLÁRNÍ NABÍJENÍ Logic",
        "func": "var patBlockCharge = global.get(\"pat_block_charge\") || false;\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar minSoc = config.min_soc || 20;\nvar currentSoc = status.battery_soc || 50;\nvar cerpadloTopi = msg.cerpadloTopi || false;\nvar autoCharging = msg.autoNabijeniAktivni || false;\nvar saunaAktivni = msg.saunaAktivni || false;\nvar minDischargeBlokaceW = config.min_vybijeni_blokace_w || 1300;\n\nvar pvFveEntity = global.get(\"homeassistant.homeAssistant.states['sensor.vyroba_fve']\") || {};\nvar currentPvPower = parseFloat(pvFveEntity.state) || 0;\nvar dynamicDischargeW = Math.max(0, Math.round(minDischargeBlokaceW - currentPvPower));\nvar _solOvrS = config.topeni_solar_override_w || 8000;\nvar nibeFromGrid = cerpadloTopi && currentPvPower < _solOvrS;\nvar blockDischarge = nibeFromGrid || saunaAktivni;\n\nmsg.victron = {\n    power_set_point: 0,\n    min_soc: minSoc,\n    schedule_soc: 0,\n    schedule_charge_duration: 0,\n    schedule_charge_day: -7,\n    // v19.3: Proven pattern — solar<=10W → 0 (eliminates DC bus standby loss)\n    max_discharge_power: blockDischarge ? (currentPvPower > 10 ? Math.max(50, Math.round(currentPvPower)) : 0) : -1,\n    max_charge_power: patBlockCharge ? 0 : -1,\n    feedin_on: true,\n    max_feed_in_power: (config.max_feed_in_w || 7600),\n    prevent_feedback: 0\n};\nmsg.mode = \"solar_charging\";\nmsg.blockDischarge = blockDischarge;\nmsg.maxDischargePower = -1;\n\nvar consumers = [];\nif (cerpadloTopi) consumers.push(nibeFromGrid ? \"NIBE(sit)\" : \"NIBE(sol)\");\nif (autoCharging) consumers.push(\"Auto(sol)\");\nif (saunaAktivni) consumers.push(\"Sauna\");\nvar consText = consumers.length > 0 ? \" | \" + consumers.join(\"+\") : \"\";\n\nnode.status({\n    fill: \"yellow\",\n    shape: \"ring\",\n    text: \"Solární\" + consText + \" | SOC: \" + currentSoc + \"%\" + (blockDischarge ? \" (BAT LOCKED)\" : \"\")\n});\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"solar_charging\",\n    battery_charging: !blockDischarge,\n    battery_discharging: !blockDischarge,\n    reserved_for_battery_w: 0,\n    max_discharge_allowed: !blockDischarge,\n    consumers_active: consumers,\n    timestamp: Date.now()\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 560,
        "wires": [
            [
                "lo_victron_solar",
                "lo_log_solar"
            ]
        ]
    },
    {
        "id": "lo_victron_solar",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_solar",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 547,
        "wires": []
    },
    {
        "id": "lo_log_solar",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "mode_grp_solar",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 573,
        "wires": []
    },
    {
        "id": "li_victron_shared",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "→ Všechny módy",
        "links": [
            "lo_victron_normal",
            "lo_victron_setrit",
            "lo_victron_nabijet",
            "lo_victron_prodavat",
            "lo_victron_zakaz",
            "lo_victron_solar"
        ],
        "x": 65,
        "y": 880,
        "wires": [
            [
                "shared_fanout_func"
            ]
        ]
    },
    {
        "id": "shared_fanout_func",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "Victron Fan-out",
        "func": "// Fan-out: přečte msg.victron a nastaví msg properties pro Mustache templates\n// ZAKON: pokud je FVE automatizace OFF, nic neposilat na Victron\nvar fveAutoEntity = global.get(\"homeassistant.homeAssistant.states['input_boolean.fve_automatizace']\") || {};\nif (fveAutoEntity.state === \"off\") {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"FVE AUTO OFF - skip Victron writes\"});\n    return null;\n}\n\nvar v = msg.victron || {};\nmsg.victron = v;\n\n// Feed-in control\nmsg.feedin_on = (v.feedin_on !== false);\nmsg.feedin_max = (v.max_feed_in_power !== undefined) ? v.max_feed_in_power : (config.max_feed_in_w || 7600);\nmsg.prevent_feedback = v.prevent_feedback || 0;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 880,
        "wires": [
            [
                "shared_psp",
                "shared_sched_soc",
                "shared_sched_dur",
                "shared_sched_day",
                "shared_max_disch",
                "shared_max_charge",
                "shared_feedin_switch",
                "shared_debug"
            ]
        ]
    },
    {
        "id": "shared_psp",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "PowerSetPoint",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.power_set_point"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.power_set_point}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 190,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_sched_soc",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "ScheduleSOC",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.scheduled_soc"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.schedule_soc}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 410,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_sched_dur",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "ScheduleDuration",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.schedule_charge_duration"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.schedule_charge_duration}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 190,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_sched_day",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "ScheduleDay",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.schedule_charge_day"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.schedule_charge_day}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 410,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_max_disch",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "MaxDischargePower",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.max_discharge_power"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.max_discharge_power}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 190,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_max_charge",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "MaxChargePower",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.max_charge_power"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.max_charge_power}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 410,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_min_soc",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "MinSoc",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": {{victron.blockMinSoc}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 630,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_debug",
        "type": "debug",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "Mode Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "shared_feedin_switch",
        "type": "switch",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "Feed-in?",
        "property": "feedin_on",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "shared_feedin_on",
                "shared_maxfeedin_val",
                "shared_prevent_off"
            ],
            [
                "shared_feedin_off",
                "shared_maxfeedin_val",
                "shared_prevent_on"
            ]
        ]
    },
    {
        "id": "shared_feedin_on",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "Feed-in ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.overvoltage_feed_in"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 870,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_feedin_off",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "Feed-in OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.overvoltage_feed_in"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 870,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_maxfeedin_val",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "MaxFeedIn",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.max_feed_in_power"
        ],
        "labelId": [],
        "data": "{\"value\": {{feedin_max}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 870,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_prevent_off",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "PreventFb=0",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "mqtt.publish",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"topic\": \"victron/W/c0619ab69c71/settings/0/Settings/CGwacs/PreventFeedback\", \"payload\": \"{\\\"value\\\": 0}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "mqtt",
        "service": "publish",
        "x": 870,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "shared_prevent_on",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_shared_svc",
        "name": "PreventFb=1",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "mqtt.publish",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"topic\": \"victron/W/c0619ab69c71/settings/0/Settings/CGwacs/PreventFeedback\", \"payload\": \"{\\\"value\\\": 1}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "mqtt",
        "service": "publish",
        "x": 870,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "li_log_shared",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_log",
        "name": "→ Log",
        "links": [
            "lo_log_normal",
            "lo_log_setrit",
            "lo_log_nabijet",
            "lo_log_prodavat",
            "lo_log_zakaz",
            "lo_log_solar"
        ],
        "x": 565,
        "y": 200,
        "wires": [
            [
                "fve_log_writer_001"
            ]
        ]
    },
    {
        "id": "fve_log_writer_001",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_log",
        "name": "FVE Log Prep",
        "func": "// FVE Logger - pripravi log radek\nvar arbiter = global.get(\"energy_arbiter\") || {};\nvar config  = global.get(\"fve_config\") || {};\nvar status  = global.get(\"fve_status\") || {};\nvar pvState  = global.get(\"homeassistant.homeAssistant.states['sensor.fve_dostupny_prebytek']\") || {};\nvar nibeState = global.get(\"homeassistant.homeAssistant.states['switch.nibe_topeni']\") || {};\n\nvar entry = {\n    ts: new Date().toISOString(),\n    mode: msg.mode || arbiter.mode || \"?\",\n    soc: status.battery_soc || 0,\n    prebytek_w: parseFloat(pvState.state) || 0,\n    block_discharge: msg.blockDischarge || false,\n    block_min_soc: config.min_soc || 20,\n    nibe: nibeState.state || \"?\",\n    topeni_mod: global.get(\"topeni_mod\") || \"?\",\n    consumers: (arbiter.consumers_active || []).join(\"+\") || \"-\"\n};\n\n// v24: Balancing sensor data for persistent log\nif (msg.balancing) {\n    entry.bal_current = msg.balancing.batCurrent;\n    entry.bal_cell_diff = msg.balancing.cellDiff;\n    entry.bal_soc_precise = msg.balancing.socPrecise;\n    entry.bal_status = msg.balancing.detectionStatus;\n}\n\nmsg.payload = JSON.stringify(entry);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "fve_log_file_001"
            ]
        ]
    },
    {
        "id": "fve_log_file_001",
        "type": "file",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_log",
        "name": "FVE Log File",
        "filename": "/homeassistant/fve_log.jsonl",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 890,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fve_log_rotate_inject",
        "type": "inject",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_log",
        "name": "Rotace logu (denně 04:00)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 4 * * *",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 300,
        "wires": [
            [
                "fve_log_rotate_func"
            ]
        ]
    },
    {
        "id": "fve_log_rotate_func",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "fve_modes_g_log",
        "name": "Rotace (3 dny)",
        "func": "// FVE Logger - rotace souboru (odstran zaznamy starsi 3 dny)\nvar fs = require('fs');\nvar logFile = \"/homeassistant/fve_log.jsonl\";\nvar cutoff = new Date(Date.now() - 3 * 24 * 60 * 60 * 1000).toISOString();\n\ntry {\n    var existing = \"\";\n    try { existing = fs.readFileSync(logFile, \"utf8\"); } catch(e) {}\n    var lines = existing.split(\"\\n\").filter(function(l) {\n        if (!l.trim()) return false;\n        try { return JSON.parse(l).ts >= cutoff; } catch(e) { return false; }\n    });\n    if (lines.length > 0) {\n        fs.writeFileSync(logFile, lines.join(\"\\n\") + \"\\n\", \"utf8\");\n        node.status({fill:\"green\", shape:\"dot\", text: lines.length + \" radku zachovano\"});\n    }\n} catch(e) {\n    node.warn(\"Rotace log error: \" + e.message);\n}\nreturn null;\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "li_modes_balancovani",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "→ Balancování",
        "links": [
            "lo_orch_balancovani"
        ],
        "x": 65,
        "y": 680,
        "wires": [
            [
                "bal_logic_func"
            ]
        ]
    },
    {
        "id": "bal_logic_func",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "BALANCOVÁNÍ Logic",
        "func": "// BALANCOVÁNÍ baterie — Pylontech 1×/30 dní, nabít 100% SOC, držet do vybalancování\nvar pBC=global.get(\"pat_block_charge\")||false,cfg=global.get(\"fve_config\")||{},st=global.get(\"fve_status\")||{};\nvar plan=global.get(\"fve_plan\")||{},minSoc=cfg.min_soc||20,cSoc=st.battery_soc||50;\nvar maxG=cfg.max_spotreba_sit_w||22000,SAF=cfg.safety_margin_w||2000;\nvar cerp=msg.cerpadloTopi||false,autoC=msg.autoNabijeniAktivni||false,sauna=msg.saunaAktivni||false;\nvar ha=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar bI=parseFloat((ha[\"sensor.battery_dc_current\"]||{}).state),mxV=parseFloat((ha[\"sensor.battery_max_cell_voltage\"]||{}).state);\nvar mnV=parseFloat((ha[\"sensor.battery_min_cell_voltage\"]||{}).state),bSP=parseFloat((ha[\"sensor.battery_soc_precise\"]||{}).state);\nif(isNaN(bSP))bSP=cSoc;\nvar inT=parseFloat((ha[\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\"]||{}).state)||22;\nvar tgT=parseFloat((ha[\"input_number.nastavena_teplota_v_dome\"]||{}).state)||23;\nvar pr=global.get(\"fve_prices_forecast\")||[],hr=new Date().getHours(),LEVNA=cfg.prah_levna_energie||4,lvl=99;\nfor(var i=0;i<pr.length;i++)if(pr[i].hour===hr&&(pr[i].minute===0||pr[i].minute===undefined)){lvl=pr[i].levelCheapestHourBuy||99;break;}\nvar solS=(plan&&plan.config&&plan.config.solarStartHour)||9,solE=(plan&&plan.config&&plan.config.solarEndHour)||17;\nvar isSol=hr>=solS&&hr<solE;\nvar pvW=Math.round(parseFloat((ha[\"sensor.vyroba_fve\"]||{}).state)||0);\nvar solPT=pvW>10?Math.max(50,pvW):0,gBias=cfg.setrit_grid_bias_w||150;\nvar sellP=99;for(var pi=0;pi<pr.length;pi++)if(pr[pi].hour===hr&&(pr[pi].minute===0||pr[pi].minute===undefined)){sellP=parseFloat(pr[pi].priceCZKhourProd)||99;break;}\nvar negSell=sellP<=0,shouldCh=isSol||lvl<=LEVNA;\nvar cons=[];if(cerp)cons.push(\"Top\");if(autoC)cons.push(\"Auto\");if(sauna)cons.push(\"Sauna\");\nvar psp,maxFeed=cfg.max_feed_in_w||7600;\nif(shouldCh){psp=(cerp||autoC)?maxG-SAF:-maxG;\nmsg.victron={power_set_point:psp,min_soc:minSoc,schedule_soc:100,schedule_charge_duration:86399,schedule_charge_day:7,\nmax_discharge_power:-1,max_charge_power:pBC?0:-1,feedin_on:!negSell,max_feed_in_power:negSell?0:maxFeed,prevent_feedback:negSell?1:0};\n}else{psp=gBias;msg.victron={power_set_point:gBias,min_soc:minSoc,schedule_soc:0,schedule_charge_duration:0,schedule_charge_day:-7,\nmax_discharge_power:solPT,max_charge_power:pBC?0:-1,feedin_on:!negSell,max_feed_in_power:negSell?0:maxFeed,prevent_feedback:negSell?1:0};}\n// Balanced detection (20min continuous)\nvar cellD=(!isNaN(mxV)&&!isNaN(mnV))?mxV-mnV:1;\nvar isBalanced=bSP>=100&&Math.abs(bI)<0.5&&cellD<0.02;\nvar contMin=flow.get(\"bal_cont_min\")||0;\nif(isBalanced)contMin++;else contMin=0;flow.set(\"bal_cont_min\",contMin);\nvar balanced20=contMin>=80;\n// Force-stop\nvar fs=msg.forceStopBalancing||false;\nvar completed=global.get(\"balancing_completed\")||false;\n// Pump block: block if indoor temp is OK (>= target - 0.5)\nvar blockPump=inT>=(tgT-0.5);global.set(\"balancing_block_pump\",blockPump);\n// Solar dump: force excess solar into heaters when close to 100%\nvar solarDump=bSP>=98&&isSol;global.set(\"balancing_solar_dump\",solarDump);\nmsg.balancing={current:isNaN(bI)?null:Math.round(bI*100)/100,cell_diff:Math.round(cellD*1000)/1000,\nsoc_precise:Math.round(bSP*10)/10,status:balanced20?\"BALANCED\":fs?\"FORCE_STOP\":\"CHARGING\",\ncont_min:contMin,block_pump:blockPump,solar_dump:solarDump,consumers:cons.join(\",\")};\nif(!completed&&(balanced20||fs)){global.set(\"balancing_completed\",true);\nvar isFS=fs&&!balanced20;\nmsg.svcDatetime={action:\"input_datetime.set_datetime\",target:{entity_id:\"input_datetime.last_pylontech_balanced\"},data:{datetime:new Date().toISOString().slice(0,19).replace(\"T\",\" \")}};\nmsg.svcBoolean={action:\"input_boolean.\"+(isFS?\"turn_off\":\"turn_on\"),target:{entity_id:\"input_boolean.pylontech_balancing_ok\"},data:{}};\nnode.status({fill:isFS?\"red\":\"green\",shape:\"dot\",text:(isFS?\"FORCE_STOP\":\"BALANCED\")+\" \"+Math.round(bSP)+\"%\"});\nreturn[msg,{payload:msg.svcDatetime},{payload:msg.svcBoolean}];}\nnode.status({fill:\"cyan\",shape:\"dot\",text:\"BAL SOC:\"+Math.round(bSP)+\"% I:\"+(!isNaN(bI)?bI.toFixed(1):\"?\")+\n\"A ΔV:\"+cellD.toFixed(3)+\"V \"+contMin+\"/20min\"+(cons.length>0?\" [\"+cons.join(\",\")+\"]\":\"\")});\nreturn[msg,null,null];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 680,
        "wires": [
            [
                "lo_victron_bal",
                "lo_log_bal"
            ],
            [
                "bal_svc_set_datetime"
            ],
            [
                "bal_svc_set_boolean"
            ]
        ],
        "outputLabels": [
            "Ôćĺ Victron + Log",
            "Ôćĺ HA set_datetime (balanced)"
        ]
    },
    {
        "id": "bal_svc_set_datetime",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "Set last_balanced",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_datetime.set_datetime",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_datetime.last_pylontech_balanced"
        ],
        "labelId": [],
        "data": "payload.data",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_datetime",
        "service": "set_datetime",
        "x": 350,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "lo_victron_bal",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 405,
        "y": 660,
        "wires": []
    },
    {
        "id": "lo_log_bal",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 405,
        "y": 700,
        "wires": []
    },
    {
        "id": "bal_svc_set_boolean",
        "type": "api-call-service",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "Set balancing OK",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "",
        "service": "",
        "x": 570,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "opp_bal_inject",
        "type": "inject",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "Opp Bal Timer 60s",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "x": 220,
        "y": 860,
        "wires": [
            [
                "opp_bal_check"
            ]
        ]
    },
    {
        "id": "opp_bal_check",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "grp_balancovani",
        "name": "Opp Bal Check",
        "func": "// Check for pending opportunistic balancing result\nvar p=global.get(\"opp_bal_pending\");\nif(!p)return[null,null];\nglobal.set(\"opp_bal_pending\",null);\nvar _cfg=global.get(\"fve_config\")||{};\nvar _fsh=_cfg.balancing_force_stop_hours||3;\n// Law 12.5: ALWAYS store latest passive bal info for plan header\nvar _qual=p.durationH>=_fsh;\nglobal.set(\"bal_header_info\",{datetime:p.datetime,ok:p.ok,passive:true,durationH:p.durationH,maxIdleMin:p.maxIdleMin,qualifying:_qual});\n// Law 12.5: ALWAYS update datetime entity (for header display)\nvar dtMsg={payload:{action:\"input_datetime.set_datetime\",target:{entity_id:\"input_datetime.last_pylontech_balanced\"},data:{datetime:p.datetime}}};\n// Law 12.5: ALWAYS update boolean entity (for header OK/NOK)\nvar bMsg={payload:{action:\"input_boolean.\"+(p.ok?\"turn_on\":\"turn_off\"),target:{entity_id:\"input_boolean.pylontech_balancing_ok\"},data:{}}};\nif(_qual){\n  global.set(\"last_qualifying_balance_ts\",Date.now());\n}else{\n}\nnode.status({fill:p.ok?\"green\":\"red\",shape:\"dot\",text:(p.ok?\"OK\":\"NOK\")+\" \"+p.datetime+\" \"+p.durationH.toFixed(1)+\"h\"});\nreturn[dtMsg,bMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "bal_svc_set_datetime"
            ],
            [
                "bal_svc_set_boolean"
            ]
        ]
    },
    {
        "id": "grp_zaporna_nakup",
        "type": "group",
        "z": "bb3654998a6bf514",
        "name": "Mód: ZÁPORNÁ NÁKUPNÍ CENA",
        "style": {
            "fill": "#fce8e6",
            "label": true
        },
        "nodes": [
            "li_modes_zaporna_nakup",
            "zaporna_nakup_logic",
            "lo_victron_zaporna_nakup",
            "lo_log_zaporna_nakup"
        ],
        "x": 24,
        "y": 714,
        "w": 442,
        "h": 108
    },
    {
        "id": "li_modes_zaporna_nakup",
        "type": "link in",
        "z": "bb3654998a6bf514",
        "g": "grp_zaporna_nakup",
        "name": "→ Záporná nákupní cena",
        "links": [
            "lo_orch_zaporna_nakup"
        ],
        "x": 65,
        "y": 754,
        "wires": [
            [
                "zaporna_nakup_logic"
            ]
        ]
    },
    {
        "id": "zaporna_nakup_logic",
        "type": "function",
        "z": "bb3654998a6bf514",
        "g": "grp_zaporna_nakup",
        "name": "ZÁPORNÁ NÁKUPNÍ CENA Logic",
        "func": "// ZÁPORNÁ NÁKUPNÍ CENA (§4.9.2 bod 7) — max odběr ze sítě, baterie se nevybíjí\nvar config = global.get(\"fve_config\") || {};\nvar status = global.get(\"fve_status\") || {};\nvar currentSoc = status.battery_soc || 50;\nvar minSoc = config.min_soc || 20;\nvar cerpadloTopi = msg.cerpadloTopi || false;\nvar saunaAktivni = msg.saunaAktivni || false;\n\n// Detekce záporné prodejní ceny (zákaz přetoků)\nvar prices = global.get(\"fve_prices_forecast\") || [];\nvar hour = new Date().getHours();\nvar currentBuyPrice = 99;\nvar currentSellPrice = 0;\nfor (var i = 0; i < prices.length; i++) {\n    if (prices[i].hour === hour && (prices[i].minute === 0 || prices[i].minute === undefined)) {\n        currentBuyPrice = parseFloat(prices[i].priceCZKhourBuy) || 0;\n        currentSellPrice = parseFloat(prices[i].priceCZKhourProd) || 0;\n        break;\n    }\n}\nvar zakazPretoku = currentSellPrice <= 0;\n\n// Solar passthrough — baterie se nevybíjí, solar může nabíjet\nvar pvFveEntity = global.get(\"homeassistant.homeAssistant.states['sensor.vyroba_fve']\") || {};\nvar currentPvPower = parseFloat(pvFveEntity.state) || 0;\nvar solarPassthrough = currentPvPower > 10 ? Math.max(50, Math.round(currentPvPower)) : 0;\n\n// PSP: vždy záporné = maximální odběr ze sítě (§4.9.2 bod 7)\n// Export se blokuje přes feedin_on a prevent_feedback, PSP záporné platí vždy\nvar psp = -(config.max_spotreba_sit_w || 22000);\n\nmsg.victron = {\n    power_set_point: psp,\n    min_soc: minSoc,\n    schedule_soc: 0,\n    schedule_charge_duration: 0,\n    schedule_charge_day: -7,\n    max_discharge_power: solarPassthrough,\n    max_charge_power: -1,\n    feedin_on: false,\n    max_feed_in_power: 0,\n    prevent_feedback: 1\n};\nmsg.mode = \"zaporna_nakupni_cena\";\nmsg.blockDischarge = true;\n\nvar zakazText = zakazPretoku ? \" + zákaz přetoků\" : \"\";\nnode.status({fill:\"red\", shape:\"dot\", text:\"ZÁP.NAKUP \" + currentBuyPrice.toFixed(2) + \" Kč\" + zakazText + \" | SOC \" + currentSoc + \"%\"});\n\nglobal.set(\"energy_arbiter\", {\n    mode: \"zaporna_nakupni_cena\",\n    battery_charging: false,\n    max_discharge_allowed: false,\n    consumers_active: [\"ZápornáNákup\" + (zakazPretoku ? \"+ZP\" : \"\")],\n    timestamp: Date.now()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 754,
        "wires": [
            [
                "lo_victron_zaporna_nakup",
                "lo_log_zaporna_nakup"
            ]
        ]
    },
    {
        "id": "lo_victron_zaporna_nakup",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "grp_zaporna_nakup",
        "name": "→ Victron",
        "mode": "link",
        "links": [
            "li_victron_shared"
        ],
        "x": 425,
        "y": 741,
        "wires": []
    },
    {
        "id": "lo_log_zaporna_nakup",
        "type": "link out",
        "z": "bb3654998a6bf514",
        "g": "grp_zaporna_nakup",
        "name": "→ Log",
        "mode": "link",
        "links": [
            "li_log_shared"
        ],
        "x": 425,
        "y": 767,
        "wires": []
    }
]