node-red/flows/fve-bojler.json
[
    {
        "id": "0a2df88897520187",
        "type": "tab",
        "label": "Automatizuj boiler",
        "disabled": false,
        "info": "Optimalizované flow pro řízení bojleru s hysterezí.\n\nKONFIGURACE: Klikni na node '⚙️ Konfigurace' a spusť ho pro nastavení výchozích hodnot.\nPro změnu parametrů uprav hodnoty v tom nodu a znovu ho spusť.\n\nPriorita rozhodování:\n1. Nejsme doma → MIN°C\n2. Rychle teplá voda → MAX°C\n3. 17:00-19:30 a voda < 58°C → VYSOKA°C\n4. Solární přebytek → MAX/VYSOKA°C\n5. Levná elektřina (ne v letním režimu) → STREDNI°C\n6. Jinak → MIN°C",
        "env": []
    },
    {
        "id": "3cf7f93b204c1246",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Spuštění",
        "style": {
            "stroke": "#92d04f",
            "fill": "#92d04f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "39a25019f11040ab",
            "d7197dbac0af5dec"
        ],
        "x": 5,
        "y": 5,
        "w": 272,
        "h": 142
    },
    {
        "id": "4716d6957365e423",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Načtení vstupních parametrů",
        "style": {
            "fill": "#ffff7f",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "d8271d02d0bbbfd8",
            "6928b9ce6f9095d6",
            "205418b685f04054",
            "9bc05f8969dbf039",
            "bd83ae614ae3aceb",
            "9ae533d8f63f25b9",
            "7adb3cd3d88ce186",
            "e52ed86bbf0b492e",
            "8d4c88c33909fdd1",
            "d7e4abc357eeac72",
            "23c46fbe21db7775",
            "3b8dc5297620970b",
            "bb69a154a4c0febb"
        ],
        "x": 54,
        "y": 179,
        "w": 972,
        "h": 322
    },
    {
        "id": "09797f9996ff875a",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Rozdhodnutí a nastavení boileru",
        "style": {
            "fill": "#ffC000",
            "label": true,
            "color": "#000000",
            "label-position": "s"
        },
        "nodes": [
            "f8bbbf2eb77de391",
            "8d401c2a5bd5d0ef",
            "3472b1985ec023f5"
        ],
        "x": 194,
        "y": 539,
        "w": 612,
        "h": 150
    },
    {
        "id": "7d6c1cd0300cfd29",
        "type": "group",
        "z": "0a2df88897520187",
        "name": "Inicializace parametrů ve flow",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000",
            "label-position": "n"
        },
        "nodes": [
            "6d9185dedec4cb65",
            "7efc2560d20a0a05",
            "6fa5674faf1afa4f"
        ],
        "x": 294,
        "y": 39,
        "w": 772,
        "h": 82
    },
    {
        "id": "6d9185dedec4cb65",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "⚙️ Konfigurace (spusť po deployi)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "7efc2560d20a0a05"
            ]
        ]
    },
    {
        "id": "7efc2560d20a0a05",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "📝 Nastav parametry",
        "func": "// ╔════════════════════════════════════════════════════════════╗\n// ║  KONFIGUROVATELNÉ PARAMETRY - UPRAV HODNOTY N֦E           ║\n// ╚════════════════════════════════════════════════════════════╝\n\nconst CONFIG = {\n    // === TEPLOTY (°C) ===\n    TEPLOTA_MAX: 69,        // Maximální teplota bojleru\n    TEPLOTA_VYSOKA: 60,     // Vysoká teplota (bاný ohřev)\n    TEPLOTA_STREDNI: 58,    // Střední teplota (levná elektřina)\n    TEPLOTA_MIN: 20,        // Minimální teplota (vypnuto)\n    TEPLOTA_POVINNY_SOLAR: 40, // Teplota v povinných hodinách když zítra velký solár\n    \n    // === HYSTEREZE A SPOTŘEBA ===\n    HYSTEREZE: 500,         // Hystereze v W (zabraňuje oscilaci)\n    SPOTREBA_BOJLER: 2500,  // Spotřeba bojleru v W\n    \n    // === CENOVÉ PRAHY ===\n    PRICE_LEVEL_LEVNY: 6,   // Level ceny (1-24), kdy je proud levný\n    CENA_KWH_LEVNA: 2.6,    // Cena v Kč/kWh, kdy je proud levný\n    \n    // === FORECAST ===\n    FORECAST_THRESHOLD: 35000  // Práh forecastu v Wh (35kWh)\n};\n\n// ╔════════════════════════════════════════════════════════════╗\n// ║  ULOŽENÍ DO FLOW PROMĚNNÝCH - NEMĚNIT                      ║\n// ╚════════════════════════════════════════════════════════════╝\n\nfor (const [key, value] of Object.entries(CONFIG)) {\n    flow.set(key, value);\n}\n\nmsg.payload = {\n    status: \"Konfigurace uložena\",\n    config: CONFIG\n};\n\nnode.status({fill: \"green\", shape: \"dot\", text: \"Konfigurace uložena\"});\n//node.warn(\"Bojler konfigurace uložena: \" + JSON.stringify(CONFIG));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 80,
        "wires": [
            [
                "6fa5674faf1afa4f"
            ]
        ]
    },
    {
        "id": "6fa5674faf1afa4f",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "7d6c1cd0300cfd29",
        "name": "📋 Konfigurace",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7197dbac0af5dec",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "⏱️ Každé 2 minuty",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 151,
        "y": 106,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    },
    {
        "id": "d8271d02d0bbbfd8",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "📊 Jsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "jsme_doma",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "6928b9ce6f9095d6"
            ]
        ]
    },
    {
        "id": "6928b9ce6f9095d6",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🚿 Rychle teplá voda?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.chci_rychle_teplou_vodu",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rychle_voda",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "205418b685f04054"
            ]
        ]
    },
    {
        "id": "205418b685f04054",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🌡️ Teplota bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_temperature",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "teplota_bojleru",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "9bc05f8969dbf039"
            ]
        ]
    },
    {
        "id": "9bc05f8969dbf039",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Spotřeba bojleru",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53_power",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_bojleru",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "bd83ae614ae3aceb"
            ]
        ]
    },
    {
        "id": "bd83ae614ae3aceb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔋 Stav baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_percent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "9ae533d8f63f25b9"
            ]
        ]
    },
    {
        "id": "9ae533d8f63f25b9",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "☀️ Rozdíl výroby a spotřeby",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.rozdil_vyroby_a_spotreby",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rozdil_vyroby",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "7adb3cd3d88ce186"
            ]
        ]
    },
    {
        "id": "7adb3cd3d88ce186",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🌞 Letní režim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "letni_rezim",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "e52ed86bbf0b492e"
            ]
        ]
    },
    {
        "id": "e52ed86bbf0b492e",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🚗 Auto má hlad?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.auto_ma_hlad",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_hlad",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "8d4c88c33909fdd1"
            ]
        ]
    },
    {
        "id": "8d4c88c33909fdd1",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Automatizace nabíjení auta",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.automatizovat_nabijeni_auta",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "auto_automatizace",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 690,
        "y": 380,
        "wires": [
            [
                "d7e4abc357eeac72"
            ]
        ]
    },
    {
        "id": "d7e4abc357eeac72",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "💰 Level ceny",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.levelcheapesthourbuy",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "price_level",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "23c46fbe21db7775"
            ]
        ]
    },
    {
        "id": "23c46fbe21db7775",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "💵 Cena kWh",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.aktualni_cena_kwh",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "cena_kwh",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "3b8dc5297620970b"
            ]
        ]
    },
    {
        "id": "3b8dc5297620970b",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "⚡ Celková spotřeba",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.celkova_spotreba",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "celkova_spotreba",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 660,
        "y": 460,
        "wires": [
            [
                "bb69a154a4c0febb"
            ]
        ]
    },
    {
        "id": "bb69a154a4c0febb",
        "type": "api-current-state",
        "z": "0a2df88897520187",
        "g": "4716d6957365e423",
        "name": "🔌 Spotřeba ze sítě",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.spotreba_ze_site",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "spotreba_ze_site",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "none",
        "entity_location": "data",
        "override_data": "none",
        "x": 900,
        "y": 460,
        "wires": [
            [
                "f8bbbf2eb77de391"
            ]
        ]
    },
    {
        "id": "f8bbbf2eb77de391",
        "type": "function",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "🧠 Rozhodovací logika",
        "func": "// 🧠 Rozhodovací logika bojleru — cílová teplota dle přebytku, ceny, forecastu\n\n// === KONFIGURACE (z flow kontextu) ===\nvar teplotaMax = flow.get(\"TEPLOTA_MAX\") || 69, teplotaVysoka = flow.get(\"TEPLOTA_VYSOKA\") || 60, teplotaStredni = flow.get(\"TEPLOTA_STREDNI\") || 55;\nvar teplotaMin = flow.get(\"TEPLOTA_MIN\") || 20, teplotaPovinnySolar = flow.get(\"TEPLOTA_POVINNY_SOLAR\") || 40;\nvar hystereze = flow.get(\"HYSTEREZE\") || 500, spotrebaBojler = flow.get(\"SPOTREBA_BOJLER\") || 2500;\nvar priceLevelLevny = flow.get(\"PRICE_LEVEL_LEVNY\") || 3, cenaKwhLevna = flow.get(\"CENA_KWH_LEVNA\") || 2.6;\nvar forecastThreshold = flow.get(\"FORECAST_THRESHOLD\") || 35000;\n\n// === GLOBÁLNÍ STAV ===\nvar maxSpotrebaSit = global.get(\"max_spotreba_sit\") || 24000, forecastDnes = global.get(\"forecast_vyroba_dnes\") || 0, forecastZitra = global.get(\"forecast_vyroba_zitra\") || 0;\nvar cerpadloTopi = global.get(\"cerpadlo_topi\") === true;\nvar climateEntity = global.get(\"homeassistant.homeAssistant.states['climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53']\") || {};\nvar aktualniTeplota = parseFloat((climateEntity.attributes || {}).temperature) || 0;\nvar cfg = global.get(\"fve_config\") || {}, maxGrid = cfg.max_spotreba_sit_w || 22000, safetyMargin = cfg.safety_margin_w || 2000, sitLimit = maxGrid - safetyMargin;\n\n// === VSTUPY Z MSG ===\nvar jsmeDoma = msg.jsme_doma === \"on\", rychleVoda = msg.rychle_voda === \"on\", teplotaBojleru = msg.teplota_bojleru || 0;\nvar spotrebaBojleruAkt = msg.spotreba_bojleru || 0, batteryPercent = msg.battery_percent || 0, rozdilVyroby = msg.rozdil_vyroby || 0;\nvar letniRezim = msg.letni_rezim === \"on\", autoHlad = msg.auto_hlad === \"on\", autoAutomatizace = msg.auto_automatizace === \"on\";\nvar priceLevel = msg.price_level || 24, cenaKwh = msg.cena_kwh || 10, celkovaSpotreba = msg.celkova_spotreba || 0, spotrebaZeSite = msg.spotreba_ze_site || 0;\n\n// === ČASOVÉ PODMÍNKY ===\nvar hour = new Date().getHours(), minute = new Date().getMinutes(), currentMinute = hour * 60 + minute;\nvar jePovinnyOhrevCas = currentMinute >= 17 * 60 && currentMinute <= 19 * 60 + 30, bojlerZapnut = spotrebaBojleruAkt > 100, volnaKapacita = sitLimit - celkovaSpotreba, maZalohu = bojlerZapnut || (volnaKapacita >= spotrebaBojler);\n\n// === PRAHY PŘEBYTKU ===\nvar prahZapMax = 4000 + spotrebaBojler + hystereze, prahVelkyMax = 4000, prahZapVysoka = spotrebaBojler + hystereze, prahVypVysoka = -hystereze;\n\n// === CENOVÉ + FORECAST PODMÍNKY ===\nvar jeLevnaEnergie = (priceLevel <= priceLevelLevny) || (cenaKwh <= cenaKwhLevna), solarniDenDnes = forecastDnes > forecastThreshold, solarniDenZitra = forecastZitra > forecastThreshold;\n\n// === ROZHODOVÁNÍ ===\nvar cilovaTeplota = teplotaMin, duvod = \"\";\n\nif (!jsmeDoma) {\n    cilovaTeplota = teplotaMin;\n    duvod = \"Není doma\";\n}\nelse if (rychleVoda) {\n    cilovaTeplota = teplotaMax;\n    duvod = \"Rychle voda\";\n}\n// --- Povinný čas 17:00-19:30 ---\nelse if (jePovinnyOhrevCas && teplotaBojleru < 58) {\n    if (!maZalohu) {\n        cilovaTeplota = teplotaMin;\n        duvod = \"Pov.čas limit sítě\";\n    }\n    else if (solarniDenZitra && teplotaBojleru >= teplotaPovinnySolar) {\n        cilovaTeplota = teplotaPovinnySolar;\n        duvod = \"Pov.čas zítra sol→\" + teplotaPovinnySolar + \"°C\";\n    }\n    else if (solarniDenZitra) {\n        cilovaTeplota = teplotaPovinnySolar;\n        duvod = \"Pov.ohřev na \" + teplotaPovinnySolar + \"°C\";\n    }\n    else {\n        cilovaTeplota = teplotaVysoka;\n        duvod = \"Pov.ohřev 17-19:30\";\n    }\n}\n// --- NIBE kompresor běží a nízký přebytek ---\nelse if (cerpadloTopi && rozdilVyroby < prahZapVysoka) {\n    cilovaTeplota = teplotaMin;\n    duvod = \"NIBE přeb:\" + Math.round(rozdilVyroby / 1000) + \"kW\";\n}\n// --- Baterie > 96% ---\nelse if (batteryPercent > 96) {\n    var prahMax = bojlerZapnut ? prahVelkyMax : prahZapMax, prahVysoka = bojlerZapnut ? prahVypVysoka : prahZapVysoka;\n    if (rozdilVyroby > prahMax) {\n        cilovaTeplota = autoHlad && autoAutomatizace ? teplotaVysoka : teplotaMax;\n        duvod = (autoHlad ? \"Přeb+auto\" : \"Bat plné+přeb \") + (Math.round(rozdilVyroby / 1000)) + \"kW\";\n    }\n    else if (rozdilVyroby > prahVysoka) {\n        cilovaTeplota = teplotaVysoka;\n        duvod = \"Přeb \" + Math.round(rozdilVyroby / 1000) + \"kW\";\n    }\n    else if (bojlerZapnut && rozdilVyroby > -spotrebaBojler) {\n        cilovaTeplota = flow.get(\"posledni_cilova_teplota\") || teplotaMin;\n        duvod = \"Hystereze \" + cilovaTeplota + \"°C\";\n    }\n    else {\n        if (!letniRezim && jeLevnaEnergie && maZalohu) {\n            cilovaTeplota = teplotaStredni;\n            duvod = \"Levná L\" + priceLevel;\n        } else {\n            cilovaTeplota = teplotaMin;\n            duvod = letniRezim ? \"Léto čeká\" : \"Drahá/málo\";\n        }\n    }\n}\n// --- Běžný stav (baterie <= 96%) ---\nelse {\n    var prahVysokaBat = bojlerZapnut ? prahVypVysoka : prahZapVysoka, prahMaxBat = bojlerZapnut ? prahVelkyMax : prahZapMax;\n    if (rozdilVyroby > prahMaxBat) {\n        cilovaTeplota = teplotaMax;\n        duvod = \"Velký přeb \" + Math.round(rozdilVyroby / 1000) + \"kW bat:\" + batteryPercent + \"%\";\n    }\n    else if (rozdilVyroby > prahVysokaBat) {\n        cilovaTeplota = teplotaVysoka;\n        duvod = \"Přeb \" + Math.round(rozdilVyroby / 1000) + \"kW bat:\" + batteryPercent + \"%\";\n    }\n    else if (bojlerZapnut && rozdilVyroby > -spotrebaBojler) {\n        cilovaTeplota = flow.get(\"posledni_cilova_teplota\") || teplotaMin;\n        duvod = \"Hystereze \" + cilovaTeplota + \"°C\";\n    }\n    else if (letniRezim && solarniDenDnes) {\n        cilovaTeplota = teplotaMin;\n        duvod = \"Léto fc:\" + Math.round(forecastDnes / 1000) + \"kWh\";\n    }\n    else if (!letniRezim && jeLevnaEnergie && maZalohu) {\n        cilovaTeplota = teplotaStredni;\n        duvod = \"Levná L\" + priceLevel + \" \" + cenaKwh + \"Kč\";\n    }\n    else {\n        cilovaTeplota = teplotaMin;\n        duvod = letniRezim ? \"Léto solar\" : !maZalohu ? \"Limit sítě\" : \"Drahá\";\n    }\n}\n\n// === VÝSTUP ===\nflow.set(\"posledni_cilova_teplota\", cilovaTeplota);\n\nvar climateState = (climateEntity || {}).state || \"unavailable\";\nif (climateState === \"unavailable\") { node.status({fill: \"red\", shape: \"ring\", text: \"Meross UNAVAIL\"}); return null; }\nif (cilovaTeplota === aktualniTeplota) { node.status({fill: \"blue\", shape: \"dot\", text: cilovaTeplota + \"/\" + aktualniTeplota + \"°C BEZ ZMĚNY \" + duvod}); return null; }\n\nmsg.payload = {teplota: cilovaTeplota, duvod: duvod, debug: {dom: jsmeDoma, rv: rychleVoda, tB: teplotaBojleru, bat: batteryPercent, rV: rozdilVyroby, let2: letniRezim, pL: priceLevel, cK: cenaKwh, jLE: jeLevnaEnergie, cS: celkovaSpotreba, mZ: maZalohu}};\nvar barva = \"grey\"; if (cilovaTeplota >= teplotaVysoka) barva = \"green\"; else if (cilovaTeplota >= teplotaStredni) barva = \"yellow\";\nnode.status({fill: barva, shape: bojlerZapnut ? \"ring\" : \"dot\", text: cilovaTeplota + \"°C \" + duvod});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "8d401c2a5bd5d0ef",
                "3472b1985ec023f5"
            ]
        ]
    },
    {
        "id": "8d401c2a5bd5d0ef",
        "type": "api-call-service",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "🔥 Nastav teplotu boileru",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53"
        ],
        "labelId": [],
        "data": "{\"temperature\": payload.teplota}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "climate",
        "service": "set_temperature",
        "x": 670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3472b1985ec023f5",
        "type": "debug",
        "z": "0a2df88897520187",
        "g": "09797f9996ff875a",
        "name": "📋 Debug výstup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "39a25019f11040ab",
        "type": "inject",
        "z": "0a2df88897520187",
        "g": "3cf7f93b204c1246",
        "name": "▶️ Ruční spuštění",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 141,
        "y": 46,
        "wires": [
            [
                "d8271d02d0bbbfd8"
            ]
        ]
    }
]