node-red/flows/fve-orchestrator.json
[
    {
        "id": "d86bb11fab512182",
        "type": "tab",
        "label": "FVE Orchestrator",
        "disabled": false,
        "info": "Hlavní orchestrace FVE - plánování a rozhodování o módech",
        "env": []
    },
    {
        "id": "4580a451a0858d03",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Plánování",
        "style": {
            "fill": "#fff3cd",
            "label": true
        },
        "nodes": [
            "22e7b3b8965c20db",
            "f037d87ec94c7da2",
            "9333668b1d326a83",
            "df085ac4da095340",
            "39019d1a78677231",
            "517215d5f730e80c",
            "701e94d82c3aead0",
            "aabb001122334455",
            "aabb001122334466",
            "rf_prep_params_01",
            "rf_cena_discharge2",
            "rf_arb_trimming_3",
            "rf_gen_plan_0004",
            "rf_plan_output_05"
        ],
        "x": -6,
        "y": 19,
        "w": 1052,
        "h": 262
    },
    {
        "id": "c0d4d6462d4ebded",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Exekuce plánu",
        "style": {
            "fill": "#d4edda",
            "label": true
        },
        "nodes": [
            "44d31ff3c04741b7",
            "c36915a8599c5282",
            "8eef6d1d51c9c644",
            "19a783a61de3519b",
            "f10a91fcb4de6bd3",
            "7f051a6595e57c3e",
            "185f95d7c56fe799",
            "a706b353f30c25d1",
            "a86bc5233cfa0458",
            "solar123456789abc",
            "blokace_file_update",
            "blokace_file_write",
            "lo_orch_balancovani"
        ],
        "x": 14,
        "y": 299,
        "w": 1032,
        "h": 332
    },
    {
        "id": "66210c073baa5af0",
        "type": "group",
        "z": "d86bb11fab512182",
        "name": "Kontrola priorit",
        "style": {
            "fill": "#d1ecf1",
            "label": true
        },
        "nodes": [
            "fc848e97e2c781c1",
            "376106d716756636",
            "dc8da09248ec1e29",
            "sauna_state_changed",
            "sauna_set_global",
            "sauna_reset_minsoc",
            "sauna_trigger_plan",
            "auto_reset_minsoc",
            "auto_trigger_plan"
        ],
        "x": 14,
        "y": 599,
        "w": 932,
        "h": 242
    },
    {
        "id": "22e7b3b8965c20db",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Každých 30 sekund",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "f037d87ec94c7da2",
        "type": "link in",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "← Manuální trigger",
        "links": [],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "9333668b1d326a83",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Sbírka dat pro plánování",
        "func": "// Sbírka dat pro plánování — čte HA entity, solární forecast, spotřebu\nvar cfg=global.get(\"fve_config\")||{},st=global.get(\"fve_status\")||{},pr=global.get(\"fve_prices_forecast\")||[];\nvar src=(cfg.solar_forecast_source||\"VICTRON\").toUpperCase();\nfunction gF(id){var e=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\")||{};return(e&&e.state&&!isNaN(parseFloat(e.state)))?parseFloat(e.state):0;}\nvar eD,eZ,eR;\nif(src===\"OPEN_METEO\"){eD=\"sensor.energy_production_today_3\";eZ=\"sensor.energy_production_tomorrow_3\";eR=\"sensor.energy_production_today_remaining_3\";}\nelse{eD=\"input_number.predpoved_solarni_vyroby_dnes\";eZ=\"input_number.predpoved_solarni_vyroby_zitra\";eR=\"input_number.zbyvajici_solarni_vyroba_dnes\";}\nvar fD=gF(eD);if(fD<=0)fD=global.get(\"forecast_vyroba_dnes\")||0;\nvar fZ=gF(eZ);if(fZ<=0)fZ=global.get(\"forecast_vyroba_zitra\")||0;\nvar rS=gF(eR);if(rS<=0)rS=global.get(\"zbyvajici_solar_dnes\")||0;\nvar cA=global.get(\"fve_consumption_analysis\")||{},cP=global.get(\"fve_consumption_predictions\")||[];\nvar sunR=global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_rising']\")||{};\nvar sunS=global.get(\"homeassistant.homeAssistant.states['sensor.sun_next_setting']\")||{};\nfunction pH(e){var s=(e&&e.state)?e.state:null;if(!s)return null;var d=new Date(s);return isNaN(d.getTime())?null:d.getHours();}\nvar srH=pH(sunR),ssH=pH(sunS);\nvar solS=(srH!==null)?Math.max(srH+1,7):9,solE=(ssH!==null)?Math.min(ssH,20):17;\nvar fPH={},cH=new Date().getHours(),fPHT={};\nif(src===\"OPEN_METEO\"){\nvar tE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_today_3']\")||{};\nvar tW=(tE.attributes&&tE.attributes.wh_period)?tE.attributes.wh_period:{};\nfor(var k in tW){var d=new Date(k);if(!isNaN(d.getTime()))fPH[d.getHours()]=(fPH[d.getHours()]||0)+(tW[k]||0)/1000;}\nvar tmE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_tomorrow_3']\")||{};\nvar tmW=(tmE.attributes&&tmE.attributes.wh_period)?tmE.attributes.wh_period:{};\nfor(var k2 in tmW){var d2=new Date(k2);if(!isNaN(d2.getTime()))fPHT[d2.getHours()]=(fPHT[d2.getHours()]||0)+(tmW[k2]||0)/1000;}\nvar curH=gF(\"sensor.energy_current_hour_3\");if(curH>0)fPH[cH]=curH;\n}else{\nvar sfE=global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_tomorrow_3']\")||{};\nvar wp=(sfE.attributes&&sfE.attributes.wh_period)?sfE.attributes.wh_period:{};\nfor(var k3 in wp){var d3=new Date(k3);if(!isNaN(d3.getTime()))fPH[d3.getHours()]=(fPH[d3.getHours()]||0)+(wp[k3]||0)/1000;}}\nmsg.planData={config:cfg,status:st,prices:pr,forecast:{zitra:fZ,dnes:fD},zbyvajiciSolar:rS,\nconsumptionAnalysis:cA,consumptionPredictions:cP,solarStartHour:solS,solarEndHour:solE,\nsunriseHour:srH,sunsetHour:ssH,forecastPerHour:fPH,forecastPerHourTomorrow:fPHT,\nsolarForecastSource:src,timestamp:new Date().toISOString()};\nnode.status({fill:\"blue\",shape:\"dot\",text:src+\" | ☀\"+Math.round(rS)+\"kWh | \"+solS+\"-\"+solE+\"h\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "aabb001122334455"
            ]
        ]
    },
    {
        "id": "df085ac4da095340",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Ulož plán",
        "func": "global.set(\"fve_plan\", msg.payload);\nglobal.set(\"fve_current_mode\", msg.payload.currentMode);\n\nmsg.ha_update = {\n    state: msg.payload.currentMode,\n    attributes: {\n        current_mode: msg.payload.currentMode,\n        current_reason: msg.payload.currentReason,\n        current_hour: msg.payload.currentHour,\n        plan: msg.payload.plan,\n        soc: msg.payload.status.soc,\n        forecast_dnes: msg.payload.status.forecastDnes,\n        forecast_zitra: msg.payload.status.forecastZitra,\n        last_update: msg.payload.generatedAt,\n        debug: msg.payload.debug || {},\n        blokace_text: msg.payload.status.blokaceText || \"NE\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "517215d5f730e80c"
            ]
        ]
    },
    {
        "id": "39019d1a78677231",
        "type": "debug",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Plan Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "517215d5f730e80c",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj HA sensor",
        "func": "var planData = msg.payload || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\n\nnode.status({fill:\"green\", shape:\"dot\", text: \"Mód: \" + currentMode + \", hodina: \" + currentHour});\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    debug: planData.debug || \"\",\n    blokace_text: planData.status ? (planData.status.blokaceText || \"NE\") : \"NE\",\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 160,
        "wires": [
            [
                "701e94d82c3aead0"
            ]
        ]
    },
    {
        "id": "701e94d82c3aead0",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Zapiš plán do souboru",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "44d31ff3c04741b7",
        "type": "inject",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Každých 15 sekund",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "20",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "c36915a8599c5282"
            ]
        ]
    },
    {
        "id": "c36915a8599c5282",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Kontrola podmínek",
        "func": "// Kontrola podmínek — čte plán, řeší automatizaci, grid lost, SOC target switching\nvar cfg=global.get(\"fve_config\")||{},plan=global.get(\"fve_plan\")||{};\nvar planMode=(plan&&plan.currentMode)?plan.currentMode:\"normal\";\nvar manual=cfg.manual_mod||\"auto\";\nvar mode=manual!==\"auto\"?manual:planMode;\nif(manual!==\"auto\")node.warn(\"KP MANUAL:\"+manual+\" plan:\"+planMode);\nvar wasE=flow.get(\"automatizace_was_enabled\")||false;\nif(cfg.automatizace_enabled===false){\n    if(wasE){flow.set(\"automatizace_was_enabled\",false);flow.set(\"auto_off_normal_sent\",false);\n    global.set(\"fve_current_mode\",\"normal\");msg.currentMode=\"normal\";msg.autoNabijeniAktivni=false;\n    msg.cerpadloTopi=global.get(\"cerpadlo_topi\")||false;msg.saunaAktivni=global.get(\"sauna_aktivni\")||false;\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"AUTO OFF→NORMAL\"});return msg;}\n    if(!(flow.get(\"auto_off_normal_sent\")||false)){flow.set(\"auto_off_normal_sent\",true);\n    global.set(\"fve_current_mode\",\"normal\");msg.currentMode=\"normal\";msg.autoNabijeniAktivni=false;\n    msg.cerpadloTopi=global.get(\"cerpadlo_topi\")||false;msg.saunaAktivni=global.get(\"sauna_aktivni\")||false;\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Auto OFF (reset)\"});return msg;}\n    node.status({fill:\"grey\",shape:\"ring\",text:\"Auto OFF\"});return null;}\nflow.set(\"automatizace_was_enabled\",true);flow.set(\"auto_off_normal_sent\",false);\nvar autoN=global.get(\"auto_nabijeni_aktivni\")||false;\nvar glState=global.get(\"homeassistant.homeAssistant.states['sensor.grid_lost_ciselny']\")||{};\nvar gridLost=parseInt(glState.state||\"0\")>=2;\nvar cerp=global.get(\"cerpadlo_topi\")||false,sauna=global.get(\"sauna_aktivni\")||false;\nif(gridLost&&mode===\"nabijet_ze_site\"){mode=\"setrit\";node.status({fill:\"red\",shape:\"dot\",text:\"GRID LOST→Šetřit\"});}\nglobal.set(\"fve_current_mode\",mode);\nvar bI=[];if(gridLost)bI.push(\"GRID\");if(cerp)bI.push(\"top\");if(autoN)bI.push(\"auto\");if(sauna)bI.push(\"sauna\");\nvar bTxt=bI.length>0?\"ANO - \"+bI.join(\",\"):\"NE\";\nvar cp=global.get(\"fve_plan\")||{};if(!cp.status)cp.status={};cp.status.blokaceText=bTxt;global.set(\"fve_plan\",cp);\nmsg.blokaceText=bTxt;msg.autoNabijeniAktivni=autoN;msg.cerpadloTopi=cerp;msg.gridLost=gridLost;msg.saunaAktivni=sauna;msg.config=cfg;msg.plan=plan;\n// SOC target → přepnutí z nabíjení na šetřit\nif(mode===\"nabijet_ze_site\"&&manual===\"auto\"){\n    var tSoc=(plan&&plan.smartCharging)?plan.smartCharging.targetSocFromGrid:0;\n    var cSoc=(global.get(\"fve_status\")||{}).battery_soc||0;\n    if(tSoc>0&&cSoc>=tSoc){mode=\"setrit\";global.set(\"fve_current_mode\",mode);\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"SOC \"+Math.round(cSoc)+\"%≥\"+tSoc+\"%→Šetřit\"});}}\n// Prodej → normal po dosažení cíle\nif(mode===\"prodavat\"&&manual===\"auto\"){\n    var sTgt=(plan&&plan.sellTargetSoc!==undefined)?plan.sellTargetSoc:0;\n    var cSoc2=(global.get(\"fve_status\")||{}).battery_soc||0;\n    if(sTgt>0&&cSoc2<=sTgt){mode=\"normal\";global.set(\"fve_current_mode\",mode);\n    node.status({fill:\"green\",shape:\"dot\",text:\"Prodej→Normal SOC:\"+Math.round(cSoc2)+\"%\"});}}\nmsg.sellTargetSoc=(plan&&plan.sellTargetSoc!==undefined)?plan.sellTargetSoc:(cfg.min_soc||20);\nmsg.currentMode=mode;\nvar src=manual!==\"auto\"?\"(man)\":\"(auto)\";\nvar info=\"\";if(gridLost)info+=\" ⚡GL\";if(cerp)info+=\" Čerp\";if(sauna)info+=\" Sauna\";if(autoN)info+=\" Auto\";\nnode.status({fill:manual!==\"auto\"?\"blue\":\"green\",shape:\"dot\",text:mode+\" \"+src+info});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 420,
        "wires": [
            [
                "8eef6d1d51c9c644",
                "blokace_file_update"
            ]
        ]
    },
    {
        "id": "8eef6d1d51c9c644",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Rozhodnutí o akci",
        "func": "var mode = msg.currentMode;\nvar skipBattery = msg.skipBatteryControl || false;\nvar config = global.get(\"fve_config\") || {};\n\nswitch (mode) {\n    case \"normal\": msg.modeIndex = 0; break;\n    case \"setrit\": msg.modeIndex = 1; break;\n    case \"nabijet_ze_site\": msg.modeIndex = 2; break;\n    case \"prodavat\": msg.modeIndex = 3; break;\n    case \"zakaz_pretoku\": msg.modeIndex = 4; break;\n    case \"solar_charging\": msg.modeIndex = 5; break;\n    case \"Balancování\": msg.modeIndex = 6; break;\n    default: msg.modeIndex = 0;\n}\n\n// v23: Track balancing start time\n// Force-stop is now handled by BALANCOVÁNÍ Logic (so it can send service call)\nif (mode === \"Balancování\") {\n    if (!global.get(\"balancing_started_at\")) {\n        global.set(\"balancing_started_at\", Date.now());\n    }\n    var startedAt = global.get(\"balancing_started_at\");\n    var maxMs = (config.balancing_force_stop_hours || 2) * 3600 * 1000;\n    if (Date.now() - startedAt > maxMs) {\n        // v23: Don't switch mode — let BALANCOVÁNÍ Logic handle force-stop\n        // This ensures the service call to update last_pylontech_balanced is sent\n        msg.forceStopBalancing = true;\n        node.warn(\"Balancování: max doba \" + (config.balancing_force_stop_hours || 2) + \"h překročena → forceStop flag pro BALANCOVÁNÍ Logic\");\n    }\n} else {\n    global.set(\"balancing_started_at\", null);\n    global.set(\"balancing_completed\", false);\n}\n\n// Set balancing globals for heating integration\nglobal.set(\"balancing_active\", mode === \"Balancování\");\nif (mode !== \"Balancování\") {\n    global.set(\"balancing_block_pump\", false);\n}\n\nmsg.skipBatteryControl = skipBattery;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 420,
        "wires": [
            [
                "19a783a61de3519b"
            ]
        ]
    },
    {
        "id": "19a783a61de3519b",
        "type": "switch",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Směrování podle módu",
        "property": "modeIndex",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 7,
        "x": 690,
        "y": 420,
        "wires": [
            [
                "f10a91fcb4de6bd3"
            ],
            [
                "7f051a6595e57c3e"
            ],
            [
                "185f95d7c56fe799"
            ],
            [
                "a706b353f30c25d1"
            ],
            [
                "a86bc5233cfa0458"
            ],
            [
                "solar123456789abc"
            ],
            [
                "lo_orch_balancovani"
            ]
        ]
    },
    {
        "id": "f10a91fcb4de6bd3",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Ôćĺ Normal",
        "mode": "link",
        "links": [
            "8b55cfc5181b9eb7"
        ],
        "x": 1005,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f051a6595e57c3e",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Šetřit",
        "mode": "link",
        "links": [
            "ec611f6aba7d5c59"
        ],
        "x": 1005,
        "y": 380,
        "wires": []
    },
    {
        "id": "185f95d7c56fe799",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Nabíjet",
        "mode": "link",
        "links": [
            "1d98a0541716ce58"
        ],
        "x": 1005,
        "y": 420,
        "wires": []
    },
    {
        "id": "a706b353f30c25d1",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Prodávat",
        "mode": "link",
        "links": [
            "179ed150020d459c"
        ],
        "x": 1005,
        "y": 460,
        "wires": []
    },
    {
        "id": "a86bc5233cfa0458",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Zákaz přetoků",
        "mode": "link",
        "links": [
            "c682224043634fcd"
        ],
        "x": 1005,
        "y": 500,
        "wires": []
    },
    {
        "id": "fc848e97e2c781c1",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Změna stavu wallboxu",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "str"
            }
        ],
        "x": 140,
        "y": 740,
        "wires": [
            [
                "376106d716756636"
            ]
        ]
    },
    {
        "id": "376106d716756636",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Kontrola nabíjení auta",
        "func": "var state = msg.payload;\nvar chargingStates = [\"Charging\", \"Nabíjení\", \"2\"];\nvar isCharging = chargingStates.some(function(s) {\n    return state.toLowerCase().indexOf(s.toLowerCase()) !== -1 || state === s;\n});\nmsg.autoNabijeni = isCharging;\nnode.status({fill: isCharging ? \"yellow\" : \"green\", shape:\"dot\", text: isCharging ? \"Auto se nabíjí\" : \"Auto se nenabíjí\"});\n// Output 2: při zastavení nabíjení → přepočet plánu (BEZ resetu min_soc!)\nif (!isCharging) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Auto STOP → retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "dc8da09248ec1e29"
            ],
            [
                "auto_trigger_plan"
            ]
        ]
    },
    {
        "id": "dc8da09248ec1e29",
        "type": "change",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global",
        "rules": [
            {
                "t": "set",
                "p": "auto_nabijeni_aktivni",
                "pt": "global",
                "to": "autoNabijeni",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "aabb001122334455",
        "type": "sqlite",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM \"own_energy_prices_total\"",
        "name": "Čti čerstvé ceny z DB",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "aabb001122334466"
            ]
        ]
    },
    {
        "id": "aabb001122334466",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "Aktualizuj ceny v planData",
        "func": "// Nahraď stará data čerstvými z DB\nvar freshPrices = msg.payload || [];\nif (freshPrices.length > 0) {\n    msg.planData.prices = freshPrices;\n    // Aktualizuj i global pro ostatní\n    global.set(\"fve_prices_forecast\", freshPrices);\n    node.status({fill:\"green\", shape:\"dot\", text: freshPrices.length + \" cen z DB\"});\n} else {\n    node.status({fill:\"yellow\", shape:\"dot\", text: \"DB prázdná, použit global\"});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 100,
        "wires": [
            [
                "rf_prep_params_01"
            ]
        ]
    },
    {
        "id": "solar123456789abc",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Solární nabíjení",
        "mode": "link",
        "links": [
            "e93b8f3e662c6190"
        ],
        "x": 1005,
        "y": 540,
        "wires": []
    },
    {
        "id": "sauna_state_changed",
        "type": "server-state-changed",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Změna stavu sauny",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.sauna"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "x": 130,
        "y": 800,
        "wires": [
            [
                "sauna_set_global"
            ]
        ]
    },
    {
        "id": "sauna_set_global",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Nastav global sauna",
        "func": "var state = msg.payload;\nvar isActive = (state === \"on\");\nglobal.set(\"sauna_aktivni\", isActive);\nnode.status({fill: isActive ? \"red\" : \"green\", shape: \"dot\", text: isActive ? \"Sauna ON\" : \"Sauna OFF\"});\n// Output 2: při vypnutí → přepočet plánu (BEZ resetu min_soc!)\nif (!isActive) {\n    node.status({fill: \"green\", shape: \"dot\", text: \"Sauna OFF → retrigger plan\"});\n    return [msg, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [],
            [
                "sauna_trigger_plan"
            ]
        ]
    },
    {
        "id": "blokace_file_update",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Aktualizuj blokaci v souboru",
        "func": "var planData = global.get(\"fve_plan\") || {};\nvar currentMode = planData.currentMode || \"normal\";\nvar currentHour = planData.currentHour || new Date().getHours();\nvar planArray = planData.plan || [];\nvar blokaceText = (planData.status && planData.status.blokaceText) ? planData.status.blokaceText : \"NE\";\n\nmsg.payload = JSON.stringify({\n    current_mode: currentMode,\n    current_reason: planData.currentReason || \"\",\n    current_hour: currentHour,\n    plan: planArray,\n    soc: planData.status ? planData.status.soc : null,\n    forecast_dnes: planData.status ? planData.status.forecastDnes : null,\n    forecast_zitra: planData.status ? planData.status.forecastZitra : null,\n    debug: planData.debug || \"\",\n    blokace_text: blokaceText,\n    last_update: new Date().toISOString()\n}, null, 2);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "blokace_file_write"
            ]
        ]
    },
    {
        "id": "blokace_file_write",
        "type": "file",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "Zapiš blokaci",
        "filename": "/homeassistant/fve_plan.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 650,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "sauna_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 660,
        "y": 800,
        "wires": [
            [
                "sauna_trigger_plan"
            ]
        ]
    },
    {
        "id": "sauna_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger přepočet plánu",
        "func": "// Po vypnutí sauny okamžitě přepočítej plán\n// (aby se min_soc=20% projevilo hned, ne až za minutu)\nnode.status({fill:\"blue\", shape:\"dot\", text:\"→ přepočet plánu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 720,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "auto_reset_minsoc",
        "type": "api-call-service",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Reset min_soc = 20 (auto)",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.min_soc"
        ],
        "labelId": [],
        "data": "{\"value\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "auto_trigger_plan"
            ]
        ]
    },
    {
        "id": "auto_trigger_plan",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "66210c073baa5af0",
        "name": "Trigger přepočet plánu (auto)",
        "func": "// Po zastavení nabíjení auta okamžitě přepočítej plán\nnode.status({fill:\"blue\", shape:\"dot\", text:\"→ přepočet plánu\"});\nmsg.payload = Date.now();\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 640,
        "wires": [
            [
                "9333668b1d326a83"
            ]
        ]
    },
    {
        "id": "lo_orch_balancovani",
        "type": "link out",
        "z": "d86bb11fab512182",
        "g": "c0d4d6462d4ebded",
        "name": "→ Balancování",
        "mode": "link",
        "links": [
            "li_modes_balancovani"
        ],
        "x": 1005,
        "y": 590,
        "wires": []
    },
    {
        "id": "rf_prep_params_01",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "1. Příprava parametrů",
        "func": "// [1/5] Příprava parametrů — config, stav, forecast, solární křivky\nvar d = msg.planData, cfg = d.config || {}, st = d.status || {}, fc = d.forecast || {};\nvar prices = d.prices || global.get(\"fve_prices_forecast\") || [];\nvar MODY = {NORMAL:\"normal\",SETRIT:\"setrit\",NABIJET:\"nabijet_ze_site\",PRODAVAT:\"prodavat\",ZAKAZ:\"zakaz_pretoku\",SOLAR:\"solar_charging\",BAL:\"Balancování\"};\nvar C = {\n    kap:cfg.kapacita_baterie_kwh||28, minSoc:cfg.min_soc||20, maxDaily:cfg.max_daily_soc||80,\n    amort:cfg.amortizace_baterie_czk_kwh||1.5, chEff:cfg.charge_efficiency||0.90, dchEff:cfg.discharge_efficiency||0.90,\n    chKwh:cfg.charge_rate_kwh||5, socN:cfg.soc_drop_normal_pct||5, socS:cfg.soc_drop_setrit_pct||1,\n    dayCons:cfg.daily_consumption_kwh||20, LEVNA:cfg.prah_levna_energie||4, DRAHA:cfg.prah_draha_energie||12,\n    hor:cfg.plan_horizon_hours||12, maxGrid:cfg.max_spotreba_sit_w||22000, maxFeed:cfg.max_feed_in_w||7600,\n    prodej:cfg.prodej_z_baterie_enabled===true, blokace:cfg.blokace_vybijeni===true,\n    manual:cfg.manual_mod||\"auto\", letni:cfg.letni_rezim===true,\n    minArb:cfg.min_arbitrage_profit_czk||3, minSell:cfg.min_sell_profit_czk||3,\n    nResKwh:cfg.night_reserve_kwh||10, nMargin:cfg.night_target_soc_margin||5,\n    nibeKwh:cfg.nibe_est_consumption_kwh||2.0, balInt:cfg.balancing_interval_days||30,\n    balStop:cfg.balancing_force_stop_hours||2, balMinSol:cfg.balancing_min_solar_kwh||2,\n    solOverKwh:(cfg.topeni_solar_override_w||8000)/1000\n};\nC.rtEff=C.chEff*C.dchEff; C.nResPct=(C.nResKwh/C.kap)*100;\nvar solS=d.solarStartHour||cfg.solar_start_hour||9, solE=d.solarEndHour||cfg.solar_end_hour||17;\nvar now=new Date(), cH=now.getHours(), cMin=now.getMinutes(), fFrac=(60-cMin)/60;\nvar cM=now.getMonth(), isW=(cM>=9||cM<=2), cSoc=st.battery_soc||50;\nvar fZ=fc.zitra||0, fPH=d.forecastPerHour||{}, fPHT=d.forecastPerHourTomorrow||{};\nvar hMid=(24-cH)%24; if(hMid===0)hMid=24;\nfor(var m=0;m<24;m++){var o=(m-cH+24)%24;if(o>=hMid&&fPHT[m]!==undefined)fPH[m]=fPHT[m];}\nvar rS=d.zbyvajiciSolar||0;\nvar mMax=cfg.month_max_solar_kwh||[15,35,60,90,110,120,115,105,75,50,20,12];\nif(rS>mMax[cM])rS=mMax[cM];\nvar mxT=mMax[cM]; var dom=now.getDate(),dim=new Date(now.getFullYear(),cM+1,0).getDate();\nif(dom>=dim-2)mxT=Math.max(mxT,mMax[(cM+1)%12]||100);\nif(fZ>mxT)fZ=mxT;\n// Solární křivky (kompaktní — 12 měsíců)\nvar SC=cfg.solar_curves||{0:{8:.02,9:.08,10:.14,11:.18,12:.2,13:.18,14:.12,15:.06,16:.02},1:{7:.01,8:.04,9:.09,10:.14,11:.17,12:.19,13:.17,14:.11,15:.06,16:.02},2:{6:.01,7:.02,8:.06,9:.1,10:.13,11:.15,12:.16,13:.14,14:.11,15:.07,16:.04,17:.01},3:{5:.01,6:.02,7:.04,8:.07,9:.1,10:.12,11:.14,12:.14,13:.13,14:.1,15:.07,16:.04,17:.02},4:{5:.01,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.02},5:{5:.02,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.01},6:{5:.02,6:.03,7:.05,8:.08,9:.1,10:.12,11:.13,12:.13,13:.12,14:.1,15:.07,16:.04,17:.01},7:{5:.01,6:.02,7:.05,8:.08,9:.1,10:.12,11:.14,12:.14,13:.12,14:.1,15:.07,16:.04,17:.01},8:{6:.01,7:.03,8:.07,9:.1,10:.13,11:.15,12:.15,13:.14,14:.11,15:.07,16:.03,17:.01},9:{7:.02,8:.05,9:.1,10:.14,11:.16,12:.17,13:.16,14:.11,15:.06,16:.03},10:{8:.03,9:.08,10:.14,11:.18,12:.2,13:.18,14:.12,15:.06,16:.01},11:{8:.02,9:.07,10:.14,11:.19,12:.22,13:.19,14:.12,15:.05}};\nvar cw=SC[cM]||SC[5], tW=0;\nfor(var h=solS;h<solE;h++)tW+=cw[h]||0;\nif(tW===0)tW=1;\n// NIBE + blokace\nvar ha=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar inT=parseFloat((ha[\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\"]||{}).state)||22;\nvar tgT=parseFloat((ha[\"input_number.nastavena_teplota_v_dome\"]||{}).state)||23;\nvar nibeK=(tgT-inT>-0.5&&tgT>18)?C.nibeKwh:0;\nvar cerp=global.get(\"cerpadlo_topi\")||false,autoN=global.get(\"auto_nabijeni_aktivni\")||false,sauna=global.get(\"sauna_aktivni\")||false;\nvar bI=[];if(cerp)bI.push(\"topení\");if(autoN)bI.push(\"auto\");if(sauna)bI.push(\"sauna\");\nvar lF=global.get(\"fve_last_full_charge\")||null;\nif(!lF){global.set(\"fve_last_full_charge\",now.toISOString());lF=now.toISOString();}\nvar dF=Math.floor((Date.now()-new Date(lF).getTime())/86400000);\nif(cSoc>=99)global.set(\"fve_last_full_charge\",now.toISOString());\nmsg.ctx={MODY:MODY,C:C,prices:prices,cfg:cfg,solS:solS,solE:solE,cH:cH,cM:cM,fFrac:fFrac,isW:isW,cSoc:cSoc,now:now,fZ:fZ,fPH:fPH,rS:rS,cPred:d.consumptionPredictions||[],nibeK:nibeK,bTxt:bI.length>0?\"ANO - \"+bI.join(\", \"):\"NE\",dF:dF,cw:cw,tW:tW,fc:fc};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Prep SOC:\"+cSoc+\"% ☀\"+solS+\"-\"+solE});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "rf_cena_discharge2"
            ]
        ]
    },
    {
        "id": "rf_cena_discharge2",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "2. Cenová mapa + discharge",
        "func": "// [2/5] Cenová mapa + discharge budget (KROK 1-7)\nvar x=msg.ctx, C=x.C, pr=x.prices;\nfunction fP(hour,off){var nd=(x.cH+(off||0))>=24,p=nd?\"hoursTomorrow\":\"hoursToday\",o=nd?\"hoursToday\":\"hoursTomorrow\";\nfor(var i=0;i<pr.length;i++)if(pr[i].day===p&&pr[i].hour===hour&&pr[i].minute===0)return pr[i];\nfor(var j=0;j<pr.length;j++)if(pr[j].day===p&&pr[j].hour===hour)return pr[j];\nfor(var k=0;k<pr.length;k++)if(pr[k].day===o&&pr[k].hour===hour&&pr[k].minute===0)return pr[k];\nfor(var m=0;m<pr.length;m++)if(pr[m].hour===hour)return pr[m];return null;}\nx.fP=fP;\n// KROK 1: cenová mapa\nvar hp=[];\nfor(var i=0;i<C.hor;i++){var hh=(x.cH+i)%24,e=fP(hh,i);\nhp.push({offset:i,hour:hh,buy:e?parseFloat(e.priceCZKhourBuy)||0:0,sell:e?parseFloat(e.priceCZKhourProd)||0:0,\nlevelBuy:e?e.levelCheapestHourBuy||5:5,levelSell:e?e.levelMostExpensiveHourProd||5:5});}\n// KROK 2: solární hodiny\nvar sO={},sC=0,fSol=C.hor;\nfor(var s=0;s<C.hor;s++){var sh=(x.cH+s)%24;if(sh>=x.solS&&sh<x.solE){sO[s]=true;sC++;if(s<fSol)fSol=s;}}\n// KROK 3+4: drahé hodiny + grid charge\nvar expB=[],allE=[];\nfor(var e2=0;e2<hp.length;e2++){var h2=hp[e2];if(h2.levelBuy>=C.DRAHA&&!sO[e2]){allE.push(h2);if(e2<fSol)expB.push(h2);}}\nvar avgE=0;if(allE.length>0){var sm=0;for(var a=0;a<allE.length;a++)sm+=allE[a].buy;avgE=sm/allE.length;}\nvar drB=expB.length*C.socN, sAD=x.cSoc-drB;\nvar saf=5;if(x.fZ<C.dayCons*0.3)saf=10;else if(x.fZ<C.dayCons*0.5)saf=7;\nvar minR=C.minSoc+saf, gN=0, tSoc=x.cSoc;\nif(sAD<minR){tSoc=Math.min(C.maxDaily,x.cSoc+Math.ceil(minR-sAD));gN=Math.max(0,((tSoc-x.cSoc)/100)*C.kap/C.chEff);}\nif(tSoc<=x.cSoc+3){gN=0;tSoc=x.cSoc;}\nvar mnt=false;if(x.isW&&x.dF>=20&&tSoc<100){tSoc=100;gN=((100-x.cSoc)/100)*C.kap/C.chEff;mnt=true;}\n// KROK 5: charging hours\nvar cO={},asgn=0,viab=[];\nif(gN>0){for(var v=0;v<hp.length;v++){var ch=hp[v];if(ch.levelBuy>C.LEVNA||sO[ch.offset])continue;\nvar ec=ch.buy/C.rtEff+C.amort;if(ec<avgE||avgE===0||mnt)viab.push(ch);}viab.sort(function(a,b){return a.buy-b.buy;});}\nvar hN=Math.ceil(gN/C.chKwh);\nfor(var ci=0;ci<viab.length&&asgn<hN;ci++){cO[viab[ci].offset]=true;asgn++;}\n// KROK 7: discharge\nvar cands=[],dO={},effT=C.DRAHA,uKwh=0,bgt=Math.max(0,(x.cSoc-C.minSoc)/100*C.kap*C.dchEff);\nfor(var dc=0;dc<hp.length;dc++)if(!sO[dc]&&!cO[dc])cands.push({offset:dc,hour:hp[dc].hour,levelBuy:hp[dc].levelBuy,buy:hp[dc].buy});\ncands.sort(function(a,b){return b.buy-a.buy;});\nfor(var di=0;di<cands.length;di++){var c=cands[di],ek=C.socN/100*C.kap;\nif(uKwh+ek<=bgt){dO[c.offset]=true;uKwh+=ek;effT=Math.min(effT,c.levelBuy);}\nelse if(c.levelBuy>=C.DRAHA&&uKwh<bgt){dO[c.offset]=true;uKwh=bgt;effT=Math.min(effT,c.levelBuy);}}\nvar bEx=false;for(var be=0;be<cands.length;be++)if(!dO[cands[be].offset]&&cands[be].levelBuy>=C.DRAHA){bEx=true;break;}\nvar sGT=0;if(sC>0){for(var sg=0;sg<C.hor;sg++){if(!sO[sg])continue;var sgh=(x.cH+sg)%24,sgK=x.fPH[sgh]||0,sgC=C.dayCons/24;sGT+=Math.max(0,(sgK-sgC)*C.chEff/C.kap)*100;}}\nx.hp=hp;x.sO=sO;x.sC=sC;x.cO=cO;x.dO=dO;x.effT=effT;x.bEx=bEx;x.viab=viab;x.tSoc=tSoc;x.gN=gN;x.mnt=mnt;\nx.bgt=bgt;x.uKwh=uKwh;x.avgE=avgE;x.sGT=sGT;x.drB=drB;x.sAD=sAD;x.minR=minR;x.fSol=fSol;x.asgn=asgn;x.hN=hN;\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Cena dch:\"+Object.keys(dO).length+\" ch:\"+asgn+\" effT:\"+effT});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "rf_arb_trimming_3"
            ]
        ]
    },
    {
        "id": "rf_arb_trimming_3",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "3. Arbitráž + trim",
        "func": "// [3/5] Arbitráž + trimming (KROK 7b+7c)\nvar x=msg.ctx, C=x.C, hp=x.hp, pr=x.prices;\nvar aCO={},aSO={};\n// Extended prices 36h\nvar ext=[];for(var i=0;i<36;i++){var eh=(x.cH+i)%24,e=x.fP(eh,i);if(e)ext.push({offset:i,hour:eh,buy:e.priceCZKhourBuy||0,sell:e.priceCZKhourProd||0,levelBuy:e.levelCheapestHourBuy||99});}\nvar pSoc=Math.min(100,x.cSoc+x.sGT);\nvar extE=ext.filter(function(h){return h.buy>0;}).sort(function(a,b){return b.buy-a.buy;});\nvar cheap=hp.slice().filter(function(h){return !x.sO[h.offset]&&!x.cO[h.offset];}).sort(function(a,b){return a.buy-b.buy;});\nvar mtch={},tAK=0,mxA=Math.max(0,((100-C.nResPct)-Math.max(x.cSoc,pSoc))/100*C.kap);\nfor(var ai=0;ai<cheap.length&&tAK<mxA;ai++){var ch=cheap[ai],ec=ch.buy/C.rtEff+C.amort;\nfor(var ei=0;ei<extE.length;ei++){var ex=extE[ei];if(mtch[ex.offset]||ex.offset<=ch.offset)continue;\nvar sp=ex.buy-ch.buy,pf=ex.buy-ec;if(sp<C.minArb||pf<=0)continue;\naCO[ch.offset]={targetHour:ex.hour,rawSpread:Math.round(sp*100)/100,effProfit:Math.round(pf*100)/100};\nmtch[ex.offset]=true;tAK+=C.chKwh;\nif(ex.offset<C.hor&&C.prodej){var ss=ex.sell-ch.buy,sf=ex.sell*C.dchEff-ec;\nif(ss>=C.minSell&&sf>0)aSO[ex.offset]={rawSpread:Math.round(ss*100)/100};}break;}}\n// KROK 7c: Trim\nvar aS={},dO=x.dO;\nfor(var ar in aCO)delete dO[ar];\nfor(var p=0;p<hp.length;p++){var ph=hp[p];if(ph.levelBuy>=C.DRAHA&&!dO[ph.offset]&&!x.sO[ph.offset]&&!x.cO[ph.offset]&&!aCO[ph.offset])dO[ph.offset]=true;}\nvar dK=Object.keys(dO).map(Number);\ndK.sort(function(a,b){var pA=0,pB=0;for(var i=0;i<hp.length;i++){if(hp[i].offset===a)pA=hp[i].buy;if(hp[i].offset===b)pB=hp[i].buy;}return pA-pB;});\nvar tE=C.minSoc+C.nMargin, tD=dK.length*C.socN, pE=x.cSoc-tD;\nwhile(pE<tE&&dK.length>0){var nO=dK[0],nL=0;for(var n=0;n<hp.length;n++)if(hp[n].offset===nO){nL=hp[n].levelBuy;break;}\nif(nL>=C.DRAHA){dK.shift();continue;}var tr=dK.shift();delete dO[tr];aS[tr]=true;tD-=C.socN;pE=x.cSoc-tD;}\n// Fill\nvar fl=[];for(var fi=0;fi<hp.length;fi++){var fh=hp[fi];if(!dO[fh.offset]&&!x.sO[fh.offset]&&!x.cO[fh.offset]&&!aCO[fh.offset]&&!aS[fh.offset])fl.push(fh);}\nfl.sort(function(a,b){return b.buy-a.buy;});\nfor(var ff=0;ff<fl.length;ff++){if(pE-C.socN>=tE){dO[fl[ff].offset]=true;tD+=C.socN;pE=x.cSoc-tD;}}\nif(Object.keys(aCO).length>0){var at=Math.min(100,x.cSoc+((tAK*C.chEff)/C.kap*100));x.tSoc=Math.max(x.tSoc,at);}\nx.dO=dO;x.aCO=aCO;x.aSO=aSO;x.aS=aS;x.tAK=tAK;x.pSoc=pSoc;\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Arb ch:\"+Object.keys(aCO).length+\" trim:\"+Object.keys(aS).length});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "rf_gen_plan_0004"
            ]
        ]
    },
    {
        "id": "rf_gen_plan_0004",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "4. Generování plánu",
        "func": "// [4/5] Generování plánu (KROK 8 — calculateMode + simulateSoc)\nvar x=msg.ctx, C=x.C, hp=x.hp, M=x.MODY;\nfunction gP(h){for(var i=0;i<x.cPred.length;i++)if(x.cPred[i].hour===h)return x.cPred[i];return null;}\nfunction sS(h){return(x.cw[h]||0)/x.tW;}\nfunction sG(h,f){f=f||1;var p=gP(h),c=(p&&p.avgConsumptionKwh>0)?p.avgConsumptionKwh:C.dayCons/24;\nif(c>C.dayCons/6)c=C.dayCons/6;\nvar iS=h>=x.solS&&h<x.solE;if(iS&&x.nibeK>0&&(x.fPH[h]||0)>C.solOverKwh)c+=x.nibeK;\nif(x.fPH[h]!==undefined)return((x.fPH[h]-c*f)*f*C.chEff/C.kap)*100;\nif(p&&p.sampleCount>=3&&p.avgSolarKwh>0)return((p.netSolarGainKwh||0)*f*C.chEff/C.kap)*100;\nif(x.sC>0&&x.rS>0){var hk=x.rS*sS(h);return((hk-c*f)*f*C.chEff/C.kap)*100;}\nif(x.fZ>0&&sS(h)>0){var fk=x.fZ*sS(h);return((fk-c*f)*f*C.chEff/C.kap)*100;}return 0;}\nfunction sim(m,h,s,f,t){f=f||1;var iS=h>=x.solS&&h<x.solE;\nif(m===M.NABIJET)return Math.min(t||100,s+(C.chKwh*f*C.chEff/C.kap*100));\nif(m===M.PRODAVAT)return Math.max(C.minSoc,s-(C.maxFeed/1000*f/C.dchEff/C.kap*100));\nif(m===M.SETRIT)return s;\nif(m===M.ZAKAZ)return Math.max(C.minSoc,s-C.socS*f);\nif(m===M.NORMAL)return iS?Math.min(100,Math.max(C.minSoc,s+sG(h,f))):Math.max(C.minSoc,s-C.socN*f);\nif(m===M.BAL)return iS?Math.min(100,s+(C.chKwh*f*C.chEff/C.kap*100)):s;return s;}\nvar ha=global.get(\"homeassistant.homeAssistant.states\")||{};\nvar lB=(ha[\"input_datetime.last_pylontech_balanced\"]||{}).state||\"\";\nvar dB=(lB&&lB!==\"unknown\")?(Date.now()-new Date(lB).getTime())/86400000:999;\nvar bNeed=dB>=C.balInt,bUsed=0,bSt=global.get(\"balancing_started_at\")||0;\nvar bEl=bSt>0?(Date.now()-bSt)/3600000:0;\nfunction R(s){return Math.round(s);}\nfunction clamp(v){return Math.min(100,Math.max(C.minSoc,R(v)));}\nfunction cM(off,pd,soc,f){f=f||1;var S=R(soc),lv=pd.levelBuy,sl=pd.sell;\nif(C.manual!==\"auto\")return{mode:C.manual,reason:\"Manuální režim, SOC \"+S+\"%\"};\nvar canB=bNeed&&bUsed<C.balStop&&(off===0?bEl<C.balStop:true);\nif(sl<=0&&!(canB&&x.sO[off]))return{mode:M.ZAKAZ,reason:\"Záporná prodejní cena, SOC \"+S+\"%\"};\nif(canB&&x.sO[off]){var bh=(x.cH+off)%24,bk=x.fPH[bh]!==undefined?x.fPH[bh]:0;\nif(bk<=0)bk=(x.fZ>0?x.fZ:x.rS)*sS(bh);if(bk>=C.balMinSol){bUsed++;\nreturn{mode:M.BAL,reason:\"Balancování baterie (\"+bk.toFixed(1)+\" kWh solární), SOC \"+S+\"%, \"+R(dB)+\" dní od posledního\"};}}\nif(x.cO[off]&&soc<x.tSoc){var eC=clamp(soc+(C.chKwh*f*C.chEff/C.kap*100));\nreturn{mode:M.NABIJET,reason:\"Nabíjení ze sítě na \"+R(x.tSoc)+\"%, SOC \"+S+\"→~\"+eC+\"%\"};}\nif(x.aCO[off]){var eA=clamp(soc+(C.chKwh*f*C.chEff/C.kap*100));\nreturn{mode:M.NABIJET,reason:\"Nabíjení (arbitráž pro hodinu \"+x.aCO[off].targetHour+\":00), SOC \"+S+\"→~\"+eA+\"%\"};}\nif(C.prodej&&soc>C.minSoc+C.nResPct){var rv=sl*C.dchEff,cb=C.amort;\nif(x.viab.length>0){var s2=0;for(var i=0;i<x.viab.length;i++)s2+=x.viab[i].buy;cb=(s2/x.viab.length)/C.rtEff+C.amort;}\nvar eP=clamp(soc-(C.maxFeed/1000*f/C.dchEff/C.kap*100));\nif((rv-cb>=C.minSell||x.aSO[off])&&eP>=C.minSoc+C.nResPct)\nreturn{mode:M.PRODAVAT,reason:\"Prodej do sítě (zisk \"+R((rv-cb)*10)/10+\" Kč/kWh), SOC \"+S+\"→~\"+eP+\"%\"};}\nif(soc<=C.minSoc)return{mode:M.SETRIT,reason:\"Ochrana minimální SOC, SOC \"+S+\"% ≤ \"+C.minSoc+\"%\"};\nif(x.sO[off]){var hh=(x.cH+off)%24,sg=sG(hh,f),es=clamp(soc+sg);\nvar nibeN=(x.nibeK>0&&(x.fPH[hh]||0)>C.solOverKwh)?\" (NIBE topí)\":\"\";\nif(sg<=0&&x.dO[off]&&soc>C.minSoc){var eV=clamp(soc-C.socN*f);\nreturn{mode:M.NORMAL,reason:\"Solární (nízký zisk) + vybíjení\"+nibeN+\", SOC \"+S+\"→~\"+eV+\"%\"};}\nif(sg>C.socN)return{mode:M.NORMAL,reason:\"Solární hodina\"+nibeN+\", SOC \"+S+\"→~\"+es+\"%\"};\nif(lv>=C.DRAHA&&soc>C.minSoc)return{mode:M.NORMAL,reason:\"Solární + drahá hodina (úroveň \"+lv+\")\"+nibeN+\", SOC \"+S+\"→~\"+es+\"%\"};\nif(x.bEx)return{mode:M.SETRIT,reason:\"Solární (nízký zisk), šetřím baterii\"+nibeN+\", SOC \"+S+\"%\"};\nreturn{mode:M.NORMAL,reason:\"Solární hodina\"+nibeN+\", SOC \"+S+\"→~\"+es+\"%\"};}\nif(x.dO[off]&&soc>C.minSoc){var eD=clamp(soc-C.socN*f);\nvar cn=lv>=C.DRAHA?\"Drahá hodina\":\"Střední cena\";\nreturn{mode:M.NORMAL,reason:cn+\" (úroveň \"+lv+\"), SOC \"+S+\"→~\"+eD+\"%\"};}\nif(lv>=C.DRAHA&&soc>C.minSoc){var eD2=clamp(soc-C.socN*f);\nreturn{mode:M.NORMAL,reason:\"Drahá hodina (úroveň \"+lv+\"), SOC \"+S+\"→~\"+eD2+\"%\"};}\nif(x.aS[off])return{mode:M.SETRIT,reason:\"Šetřím pro dražší hodiny (úroveň \"+lv+\"), SOC \"+S+\"%\"};\nreturn{mode:M.SETRIT,reason:\"Šetřím baterii (úroveň \"+lv+\"), SOC \"+S+\"%\"};}\nvar nm={normal:\"Normální provoz\",setrit:\"Šetřit baterii\",nabijet_ze_site:\"Nabíjet ze sítě\",prodavat:\"Prodávat do sítě\",zakaz_pretoku:\"Zákaz přetoků\",\"Balancování\":\"Balancování baterie\"};\nvar plan=[],sm=x.cSoc;\nfor(var pi=0;pi<C.hor;pi++){var ph=(x.cH+pi)%24,nd=(x.cH+pi)>=24,pd=hp[pi],hf=pi===0?x.fFrac:1;\nvar r=cM(pi,pd,sm,hf);sm=sim(r.mode,ph,sm,hf,x.tSoc);\nplan.push({hour:ph,offset:pi,mode:r.mode,modeCZ:nm[r.mode]||r.mode,reason:r.reason,\npriceLevel:pd.levelBuy,priceBuy:pd.buy,priceSell:pd.sell,simulatedSoc:Math.round(sm),isNextDay:nd,\nisChargingHour:x.cO[pi]||false,isSolarHour:x.sO[pi]||false,isDischargeHour:x.dO[pi]||false,\nisArbitrageCharge:!!x.aCO[pi],isArbitrageSell:!!x.aSO[pi],isBalancovani:r.mode===M.BAL});}\nx.plan=plan;\nnode.status({fill:\"green\",shape:\"dot\",text:\"Plan \"+plan.length+\"h SOC:\"+x.cSoc+\"→\"+Math.round(sm)+\"%\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 180,
        "wires": [
            [
                "rf_plan_output_05"
            ]
        ]
    },
    {
        "id": "rf_plan_output_05",
        "type": "function",
        "z": "d86bb11fab512182",
        "g": "4580a451a0858d03",
        "name": "5. Výstup plánu",
        "func": "// [5/5] Výstup plánu — msg.payload pro uložení\nvar x=msg.ctx, C=x.C, p=x.plan;\nvar cS=0,cN=0,cNb=0,cP=0,cB=0;\nfor(var i=0;i<p.length;i++){var m=p[i].mode;if(m===\"setrit\")cS++;else if(m===\"normal\")cN++;else if(m===\"nabijet_ze_site\")cNb++;else if(m===\"prodavat\")cP++;else if(m===\"Balancování\")cB++;}\nvar cur=p.length>0?p[0].mode:\"normal\", sTgt=C.minSoc;\nif(cur===\"prodavat\"&&p.length>0)sTgt=p[0].simulatedSoc;\nmsg.payload={\n    currentMode:cur, currentReason:p.length>0?p[0].reason:\"\", sellTargetSoc:sTgt, currentHour:x.cH, plan:p,\n    config:{prah_levna:C.LEVNA,prah_draha:C.DRAHA,effective_threshold:x.effT,solarStartHour:x.solS,solarEndHour:x.solE},\n    proteus:{firstSolarOffset:x.fSol,dischargeHoursCount:Object.keys(x.dO).length,solarHoursCount:Object.keys(x.sO).length,\n        energyBudgetKwh:Math.round(x.bgt*10)/10,usedEnergyKwh:Math.round(x.uKwh*10)/10,effectiveThreshold:x.effT,\n        peakSoc:Math.round(x.pSoc),totalSolarAvailable:Math.round((x.rS+x.fZ)*10)/10,forecastZitra:x.fZ,\n        drainBeforeSolarPct:x.drB,socAfterDrain:Math.round(x.sAD),minRequiredSoc:x.minR},\n    smartCharging:{targetSocFromGrid:Math.round(x.tSoc),gridChargeNeeded:Math.round(x.gN*10)/10,\n        hoursNeeded:x.hN,assignedHours:x.asgn,viableHoursAvailable:x.viab.length,\n        remainingSolar:Math.round(x.rS*10)/10,roundTripEfficiency:Math.round(C.rtEff*100),\n        amortizace:C.amort,daysToFullCharge:x.dF,maintenanceCharge:x.mnt,isWinter:x.isW,\n        chargingReason:x.gN>0?(x.mnt?\"maintenance\":\"deficit\"):(\"nepotřeba\")},\n    planSummary:{setritHours:cS,normalHours:cN,nabijetHours:cNb,prodavatHours:cP,balancovaniHours:cB},\n    status:{soc:x.cSoc,remainingSolar:x.rS,forecastZitra:x.fZ,forecastDnes:x.fc.dnes||0,\n        prodejEnabled:C.prodej,blokaceVybijeni:C.blokace,blokaceText:x.bTxt},\n    generatedAt:x.now.toISOString()};\nvar cl={normal:\"green\",setrit:\"yellow\",nabijet_ze_site:\"blue\",prodavat:\"red\",zakaz_pretoku:\"purple\",\"Balancování\":\"cyan\"};\nnode.status({fill:cl[cur]||\"grey\",shape:\"dot\",text:\"Š:\"+cS+\" N:\"+cN+\" Nab:\"+cNb+\" P:\"+cP+\" B:\"+cB+\" SOC:\"+x.cSoc+\"%\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "df085ac4da095340",
                "39019d1a78677231"
            ]
        ]
    }
]