node-red/flows/fve-history-learning.json
[
    {
        "id": "fve_history_tab",
        "type": "tab",
        "label": "FVE History Learning",
        "disabled": false,
        "info": "Učení z historie spotřeby pro lepší plánování",
        "env": []
    },
    {
        "id": "fve_history_collect_group",
        "type": "group",
        "z": "fve_history_tab",
        "name": "Sběr historických dat (každou hodinu)",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "fve_history_trigger",
            "fve_history_collect",
            "fve_history_store",
            "fve_history_debug"
        ],
        "x": 14,
        "y": 19,
        "w": 872,
        "h": 82
    },
    {
        "id": "fve_history_predict_group",
        "type": "group",
        "z": "fve_history_tab",
        "name": "Predikce spotřeby",
        "style": {
            "fill": "#d3e8f3",
            "label": true
        },
        "nodes": [
            "fve_history_predict_in",
            "fve_history_predict_calc",
            "fve_history_predict_out"
        ],
        "x": 14,
        "y": 119,
        "w": 622,
        "h": 82
    },
    {
        "id": "fve_history_analyze_group",
        "type": "group",
        "z": "fve_history_tab",
        "name": "Analýza vzorců spotřeby",
        "style": {
            "fill": "#f3e8d3",
            "label": true
        },
        "nodes": [
            "fve_history_analyze_trigger",
            "fve_history_analyze_calc",
            "fve_history_analyze_save"
        ],
        "x": 14,
        "y": 219,
        "w": 642,
        "h": 82
    },
    {
        "id": "fve_history_export_group",
        "type": "group",
        "z": "fve_history_tab",
        "name": "Export/Import historie",
        "style": {
            "fill": "#f3d3d3",
            "label": true
        },
        "nodes": [
            "fve_history_export_trigger",
            "fve_history_export_func",
            "fve_history_export_file"
        ],
        "x": 14,
        "y": 319,
        "w": 602,
        "h": 82
    },
    {
        "id": "fve_history_trigger",
        "type": "inject",
        "z": "fve_history_tab",
        "g": "fve_history_collect_group",
        "name": "Každou hodinu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "fve_history_collect"
            ]
        ]
    },
    {
        "id": "fve_history_collect",
        "type": "function",
        "z": "fve_history_tab",
        "g": "fve_history_collect_group",
        "name": "Sbírka aktuálních dat (v18)",
        "func": "// Sbírka aktuálních dat pro historii (v18: + výroba a spotřeba)\nconst status = global.get(\"fve_status\") || {};\nconst config = global.get(\"fve_config\") || {};\nconst currentPrice = global.get(\"fve_current_price\") || {};\nconst currentMode = global.get(\"fve_current_mode\") || \"normal\";\n\nconst now = new Date();\nconst hour = now.getHours();\nconst dayOfWeek = now.getDay(); // 0 = neděle, 1-6 = po-so\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst month = now.getMonth() + 1;\n\n// v18: Aktuální výroba a spotřeba z HA/Victron\n// Tyto hodnoty jsou kumulativní za den - potřebujeme delta za hodinu\nvar solarYieldToday = global.get(\"fve_vyroba_solar_kwh\") || 0;\nvar gridConsToday = global.get(\"fve_spotreba_sit_kwh\") || 0;\nvar batteryChargeToday = global.get(\"fve_nabijeni_bat_kwh\") || 0;\nvar batteryDischargeToday = global.get(\"fve_vybijeni_bat_kwh\") || 0;\n\n// Uložit předchozí hodnoty pro výpočet delta\nvar prevValues = flow.get(\"prev_hourly_values\") || {};\nvar prevSolar = prevValues.solar || 0;\nvar prevGrid = prevValues.grid || 0;\nvar prevBatCharge = prevValues.batCharge || 0;\nvar prevBatDischarge = prevValues.batDischarge || 0;\n\n// Delta za poslední hodinu\nvar hourlySolarKwh = Math.max(0, solarYieldToday - prevSolar);\nvar hourlyGridKwh = Math.max(0, gridConsToday - prevGrid);\nvar hourlyBatChargeKwh = Math.max(0, batteryChargeToday - prevBatCharge);\nvar hourlyBatDischargeKwh = Math.max(0, batteryDischargeToday - prevBatDischarge);\n\n// Celková spotřeba za hodinu = grid + battery_discharge + solar_direct_use\n// solar_direct_use ≈ solar_yield - solar_to_battery (přibližně)\n// Zjednodušení: spotřeba ≈ grid + battery_discharge (co šlo do domu)\nvar hourlyConsumptionKwh = hourlyGridKwh + hourlyBatDischargeKwh;\n\n// Solární přebytek = výroba - spotřeba pokrytá solarem\n// Přebytek jde do baterie nebo sítě\nvar hourlySolarSurplusKwh = Math.max(0, hourlySolarKwh - hourlyConsumptionKwh);\n\n// Uložit aktuální hodnoty pro příští hodinu\nflow.set(\"prev_hourly_values\", {\n    solar: solarYieldToday,\n    grid: gridConsToday,\n    batCharge: batteryChargeToday,\n    batDischarge: batteryDischargeToday,\n    hour: hour\n});\n\n// Reset na začátku dne (nové kumulativní hodnoty)\nif (prevValues.hour !== undefined && hour < prevValues.hour) {\n    hourlySolarKwh = 0;\n    hourlyGridKwh = 0;\n    hourlyConsumptionKwh = 0;\n    hourlySolarSurplusKwh = 0;\n}\n\nmsg.historyData = {\n    timestamp: now.toISOString(),\n    hour: hour,\n    dayOfWeek: dayOfWeek,\n    isWeekend: isWeekend,\n    month: month,\n    soc: status.battery_soc || 0,\n    priceLevel: status.price_level || 5,\n    priceBuy: currentPrice.buy || 0,\n    priceSell: currentPrice.sell || 0,\n    mode: currentMode,\n    // v18: nová data\n    solarKwh: hourlySolarKwh,\n    consumptionKwh: hourlyConsumptionKwh,\n    solarSurplusKwh: hourlySolarSurplusKwh,\n    gridKwh: hourlyGridKwh,\n    batChargeKwh: hourlyBatChargeKwh,\n    batDischargeKwh: hourlyBatDischargeKwh\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "fve_history_store"
            ]
        ]
    },
    {
        "id": "fve_history_store",
        "type": "function",
        "z": "fve_history_tab",
        "g": "fve_history_collect_group",
        "name": "Uložit do historie (v18)",
        "func": "// Uložení dat do historie (v18: + výroba a spotřeba per hodinu)\nconst data = msg.historyData;\nconst hour = data.hour;\nconst dayOfWeek = data.dayOfWeek;\nconst isWeekend = data.isWeekend;\n\nlet history = flow.get(\"consumption_history\") || {};\nconst dayType = isWeekend ? \"weekend\" : \"weekday\";\n\nif (!history[hour]) {\n    history[hour] = {};\n}\n\nif (!history[hour][dayType]) {\n    history[hour][dayType] = {\n        count: 0,\n        totalSoc: 0,\n        avgSoc: 50,\n        // v18: výroba a spotřeba\n        totalSolarKwh: 0,\n        totalConsumptionKwh: 0,\n        totalSurplusKwh: 0,\n        avgSolarKwh: 0,\n        avgConsumptionKwh: 0,\n        avgSurplusKwh: 0,\n        samples: []\n    };\n}\n\nconst entry = history[hour][dayType];\n\n// Přidat nový vzorek\nentry.count++;\nentry.totalSoc += data.soc;\nentry.avgSoc = Math.round(entry.totalSoc / entry.count);\n\n// v18: akumulovat výrobu a spotřebu\nentry.totalSolarKwh = (entry.totalSolarKwh || 0) + (data.solarKwh || 0);\nentry.totalConsumptionKwh = (entry.totalConsumptionKwh || 0) + (data.consumptionKwh || 0);\nentry.totalSurplusKwh = (entry.totalSurplusKwh || 0) + (data.solarSurplusKwh || 0);\n\nentry.avgSolarKwh = Math.round((entry.totalSolarKwh / entry.count) * 100) / 100;\nentry.avgConsumptionKwh = Math.round((entry.totalConsumptionKwh / entry.count) * 100) / 100;\nentry.avgSurplusKwh = Math.round((entry.totalSurplusKwh / entry.count) * 100) / 100;\n\n// Uložit posledních 30 vzorků pro analýzu\nentry.samples.push({\n    timestamp: data.timestamp,\n    soc: data.soc,\n    priceLevel: data.priceLevel,\n    mode: data.mode,\n    // v18\n    solarKwh: data.solarKwh,\n    consumptionKwh: data.consumptionKwh,\n    surplusKwh: data.solarSurplusKwh\n});\n\nif (entry.samples.length > 30) {\n    entry.samples.shift();\n}\n\nflow.set(\"consumption_history\", history);\n\nmsg.payload = {\n    hour: hour,\n    dayType: dayType,\n    entry: entry,\n    message: `Historie aktualizována pro ${hour}:00 (${dayType})`\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text:`${hour}:00 | ${dayType} | cnt:${entry.count} | ☀${entry.avgSolarKwh}kWh | ⚡${entry.avgConsumptionKwh}kWh`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "fve_history_debug"
            ]
        ]
    },
    {
        "id": "fve_history_debug",
        "type": "debug",
        "z": "fve_history_tab",
        "g": "fve_history_collect_group",
        "name": "History Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "fve_history_predict_in",
        "type": "link in",
        "z": "fve_history_tab",
        "g": "fve_history_predict_group",
        "name": "← Predikce request",
        "links": [],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "fve_history_predict_calc"
            ]
        ]
    },
    {
        "id": "fve_history_predict_calc",
        "type": "function",
        "z": "fve_history_tab",
        "g": "fve_history_predict_group",
        "name": "Výpočet predikce (v18)",
        "func": "// Výpočet predikce spotřeby a výroby na základě historie (v18)\nconst history = flow.get(\"consumption_history\") || {};\n\nconst now = new Date();\nconst currentHour = now.getHours();\nconst dayOfWeek = now.getDay();\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst dayType = isWeekend ? \"weekend\" : \"weekday\";\n\nconst horizont = 12;\nconst predictions = [];\n\nfor (let i = 0; i < horizont; i++) {\n    const predictHour = (currentHour + i) % 24;\n    const predictDayType = dayType;\n\n    let prediction = {\n        hour: predictHour,\n        offset: i,\n        avgSoc: 50,\n        confidence: \"low\",\n        sampleCount: 0,\n        // v18: výroba a spotřeba\n        avgSolarKwh: 0,\n        avgConsumptionKwh: 1.5, // fallback: ~1.5 kWh/h (36 kWh/den / 24h)\n        avgSurplusKwh: 0,\n        netSolarGainKwh: 0 // přebytek solaru po odečtení spotřeby\n    };\n\n    if (history[predictHour] && history[predictHour][predictDayType]) {\n        const entry = history[predictHour][predictDayType];\n        prediction.avgSoc = entry.avgSoc;\n        prediction.sampleCount = entry.count;\n\n        if (entry.count >= 14) {\n            prediction.confidence = \"high\";\n        } else if (entry.count >= 7) {\n            prediction.confidence = \"medium\";\n        } else {\n            prediction.confidence = \"low\";\n        }\n\n        // v18: výroba a spotřeba z historie\n        if (entry.avgSolarKwh !== undefined) {\n            prediction.avgSolarKwh = entry.avgSolarKwh;\n        }\n        if (entry.avgConsumptionKwh !== undefined && entry.avgConsumptionKwh > 0) {\n            prediction.avgConsumptionKwh = entry.avgConsumptionKwh;\n        }\n        if (entry.avgSurplusKwh !== undefined) {\n            prediction.avgSurplusKwh = entry.avgSurplusKwh;\n        }\n\n        // Čistý solární přírůstek pro baterii = výroba - spotřeba\n        prediction.netSolarGainKwh = Math.max(0, prediction.avgSolarKwh - prediction.avgConsumptionKwh);\n    }\n\n    predictions.push(prediction);\n}\n\nmsg.payload = {\n    currentHour: currentHour,\n    dayType: dayType,\n    predictions: predictions,\n    generatedAt: now.toISOString()\n};\n\nglobal.set(\"fve_consumption_predictions\", predictions);\n\n// Souhrn pro status\nvar totalSolar = 0, totalCons = 0, totalSurplus = 0;\nfor (var s = 0; s < predictions.length; s++) {\n    totalSolar += predictions[s].avgSolarKwh;\n    totalCons += predictions[s].avgConsumptionKwh;\n    totalSurplus += predictions[s].netSolarGainKwh;\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`${horizont}h | ☀${totalSolar.toFixed(1)}kWh | ⚡${totalCons.toFixed(1)}kWh | net:${totalSurplus.toFixed(1)}kWh`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "fve_history_predict_out"
            ]
        ]
    },
    {
        "id": "fve_history_predict_out",
        "type": "debug",
        "z": "fve_history_tab",
        "g": "fve_history_predict_group",
        "name": "Prediction Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "fve_history_analyze_trigger",
        "type": "inject",
        "z": "fve_history_tab",
        "g": "fve_history_analyze_group",
        "name": "Denně v 00:05",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "5 0 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "fve_history_analyze_calc"
            ]
        ]
    },
    {
        "id": "fve_history_analyze_calc",
        "type": "function",
        "z": "fve_history_tab",
        "g": "fve_history_analyze_group",
        "name": "Analýza vzorců (v18)",
        "func": "// Analýza vzorců spotřeby a výroby pro optimalizaci (v18)\nconst history = flow.get(\"consumption_history\") || {};\n\nconst analysis = {\n    weekday: {\n        peakHours: [],\n        lowHours: [],\n        avgPattern: {},\n        // v18\n        solarPattern: {},\n        consumptionPattern: {},\n        surplusPattern: {}\n    },\n    weekend: {\n        peakHours: [],\n        lowHours: [],\n        avgPattern: {},\n        solarPattern: {},\n        consumptionPattern: {},\n        surplusPattern: {}\n    },\n    recommendations: []\n};\n\nfor (const dayType of [\"weekday\", \"weekend\"]) {\n    const hourlyData = [];\n\n    for (let hour = 0; hour < 24; hour++) {\n        if (history[hour] && history[hour][dayType]) {\n            const entry = history[hour][dayType];\n            hourlyData.push({\n                hour: hour,\n                avgSoc: entry.avgSoc,\n                count: entry.count,\n                avgSolarKwh: entry.avgSolarKwh || 0,\n                avgConsumptionKwh: entry.avgConsumptionKwh || 0,\n                avgSurplusKwh: entry.avgSurplusKwh || 0\n            });\n            analysis[dayType].avgPattern[hour] = entry.avgSoc;\n            // v18\n            analysis[dayType].solarPattern[hour] = entry.avgSolarKwh || 0;\n            analysis[dayType].consumptionPattern[hour] = entry.avgConsumptionKwh || 0;\n            analysis[dayType].surplusPattern[hour] = entry.avgSurplusKwh || 0;\n        }\n    }\n\n    const sorted = [...hourlyData].sort((a, b) => a.avgSoc - b.avgSoc);\n    analysis[dayType].peakHours = sorted.slice(0, 3).map(h => h.hour);\n    analysis[dayType].lowHours = sorted.slice(-3).map(h => h.hour);\n}\n\nif (analysis.weekday.peakHours.length > 0) {\n    const peakStr = analysis.weekday.peakHours.join(\", \");\n    analysis.recommendations.push(`Špičkové hodiny (pracovní dny): ${peakStr}:00 - zvážit nabíjení baterie předem`);\n}\n\nif (analysis.weekday.lowHours.length > 0) {\n    const lowStr = analysis.weekday.lowHours.join(\", \");\n    analysis.recommendations.push(`Nízká spotřeba (pracovní dny): ${lowStr}:00 - ideální pro nabíjení ze sítě`);\n}\n\nflow.set(\"consumption_analysis\", analysis);\nglobal.set(\"fve_consumption_analysis\", analysis);\n\nmsg.payload = analysis;\n\nnode.status({fill:\"green\", shape:\"dot\", text:`Analýza dokončena | ${analysis.recommendations.length} doporučení`});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "fve_history_analyze_save"
            ]
        ]
    },
    {
        "id": "fve_history_analyze_save",
        "type": "debug",
        "z": "fve_history_tab",
        "g": "fve_history_analyze_group",
        "name": "Analysis Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "fve_history_export_trigger",
        "type": "inject",
        "z": "fve_history_tab",
        "g": "fve_history_export_group",
        "name": "Export historie",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "export",
        "payloadType": "str",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "fve_history_export_func"
            ]
        ]
    },
    {
        "id": "fve_history_export_func",
        "type": "function",
        "z": "fve_history_tab",
        "g": "fve_history_export_group",
        "name": "Připrav export",
        "func": "const history = flow.get(\"consumption_history\") || {};\nconst analysis = flow.get(\"consumption_analysis\") || {};\n\nmsg.payload = JSON.stringify({\n    exportedAt: new Date().toISOString(),\n    history: history,\n    analysis: analysis\n}, null, 2);\n\nmsg.filename = \"fve_history_export.json\";\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Export připraven\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "fve_history_export_file"
            ]
        ]
    },
    {
        "id": "fve_history_export_file",
        "type": "debug",
        "z": "fve_history_tab",
        "g": "fve_history_export_group",
        "name": "Export Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    }
]