node-red/flows/fve-config.json
[
    {
        "id": "3f2680578b66e78f",
        "type": "tab",
        "label": "FVE Config",
        "disabled": false,
        "info": "Konfigurace FVE automatizace - parametry a inicializace",
        "env": []
    },
    {
        "id": "2d77556df552e86d",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Konfigurace FVE",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "2df5b10f83b0e39d",
            "44025571f9d270fb",
            "2e5f28e1a0b06f19"
        ],
        "x": 14,
        "y": 19,
        "w": 702,
        "h": 82
    },
    {
        "id": "c7e025194045b1be",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Aktuální ceny energie",
        "style": {
            "fill": "#f3e8d3",
            "label": true
        },
        "nodes": [
            "7c3b58eeb3106ded",
            "caf460b8b3af03dd",
            "402735a3f30a84e8",
            "f1cea1e4214578c4"
        ],
        "x": 14,
        "y": 279,
        "w": 822,
        "h": 82
    },
    {
        "id": "da4c9bfc3dddec82",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Aktuální stav systému",
        "style": {
            "fill": "#f3d3d3",
            "label": true
        },
        "nodes": [
            "322c6a3de64b51b5",
            "90dca62607936795",
            "88d08735b548d24c",
            "8cfae471cfa68d3f"
        ],
        "x": 14,
        "y": 379,
        "w": 832,
        "h": 82
    },
    {
        "id": "452576adb7294b87",
        "type": "group",
        "z": "3f2680578b66e78f",
        "name": "Synchronizace s Home Assistant",
        "style": {
            "fill": "#d3e8f3",
            "label": true
        },
        "nodes": [
            "2986fe2bccfe8740",
            "ae5590b0cd6e6b6a",
            "3fefdad956c6ae27",
            "4a5169173535c2a2",
            "f4160d8797285db7",
            "926f790a1d6a8f6e"
        ],
        "x": 14,
        "y": 119,
        "w": 832,
        "h": 142
    },
    {
        "id": "2df5b10f83b0e39d",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Inicializace při startu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "init",
        "payloadType": "str",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "44025571f9d270fb"
            ]
        ]
    },
    {
        "id": "44025571f9d270fb",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Nastav konfiguraci",
        "func": "// FVE Konfigurace - Výchozí hodnoty\nconst config = {\n    kapacita_baterie_kwh: 28, min_soc: 20, max_daily_soc: 80, amortizace_baterie_czk_kwh: 1.5,\n    charge_efficiency: 0.90, discharge_efficiency: 0.90, charge_rate_kwh: 5,\n    soc_drop_normal_pct: 5, daily_consumption_kwh: 20, soc_drop_setrit_pct: 1,\n    max_feed_in_w: 7600, max_spotreba_sit_w: 22000, safety_margin_w: 2000,\n    charger_max_amper: 16, charger_faze: 3, sit_napeti: 230, jistic_a: 32,\n    nabijeni_auta_forecast_kwh: 40, nabijeni_auta_min_soc: 95, nabijeni_auta_solar_w: 4000,\n    nabijeni_auta_cena_prah_vyssi: 4.3, nabijeni_auta_cena_prah_nizsi: 3.0,\n    nabijeni_auta_min_soc_slunce: 85, nabijeni_auta_pretizeni_w: 18000,\n    nabijeni_auta_soc_drain_prah: 95, nabijeni_auta_soc_drain_w: 1000, nabijeni_auta_soc_charge_w: 1000,\n    nabijeni_auta_target_batt_w: 1000, nabijeni_auta_dead_band_w: 500,\n    fve_peak_kwp: 3, fve_azimut: 270, fve_sklon: 50,\n    victron_id: \"c0619ab69c71\", victron_mqtt_prefix: \"victron\",\n    solar_forecast_source: \"OPEN_METEO\",\n    prah_levna_energie: 4, prah_draha_energie: 12, prah_ultra_levna_nakup: 1.0,\n    topeni_min_teplota_nadrze: 34, topeni_max_teplota_nadrze: 50, topeni_teplota_nepritomnost: 21,\n    topeni_solar_margin_hours: 2, nibe_peak_w: 14000, nibe_cooldown_min: 3,\n    topeni_bezpecny_pokles: 0.7, topeni_hystereze_chlazeni: 1.0, topeni_solar_forecast_kwh: 30,\n    topeni_nocni_snizeni: 0.5, topeni_nocni_od: 22, topeni_nocni_do: 4, topeni_nouzova_teplota: 18,\n    topeni_min_pretok_patron_w: 3000, topeni_patron_discharge_limit_w: 50,\n    topeni_patron_drain_soc_prah: 95, topeni_patron_drain_w: 1000, topeni_patron_discharge_hyst: 3,\n    topeni_solar_override_w: 8000, topeni_patron_faze_w: 3000,\n    topeni_min_soc_patron: 90, topeni_max_teplota_patron: 53, topeni_patron_max_grid_draw_w: 200, topeni_patron_max_sell_price: 2, topeni_solar_defer_margin: 0.2, topeni_final_solar_kwh: 20, topeni_final_hours: 3,\n    min_vybijeni_blokace_w: 1300, setrit_grid_bias_w: 150,\n    hystereze_zapnuti_w: 500, hystereze_vypnuti_w: 200,\n    plan_interval_min: 1, plan_horizon_hours: 12,\n    balancing_force_stop_hours: 2, balancing_interval_days: 30, night_target_soc_margin: 5,\n    balancing_min_solar_kwh: 2, balancing_grid_reserve_w: 1000,\n    nibe_est_consumption_kwh: 2.0, night_reserve_kwh: 10,\n    manual_mod: (function(){var m={\"🤖 Automaticky\":\"auto\",\"🟢 Normální provoz\":\"normal\",\"🟡 Šetřit baterii\":\"setrit\",\"🔵 Nabíjet ze sítě\":\"nabijet_ze_site\",\"🔴 Prodávat do sítě\":\"prodavat\",\"🟣 Zákaz přetoků\":\"zakaz_pretoku\",\"⚡ Balancování baterie\":\"Balancování\"};\n    var e=global.get(\"homeassistant.homeAssistant.states['input_select.fve_manual_mod']\")||{};return m[e.state]||\"auto\";})(),\n    automatizace_enabled: true,\n    min_arbitrage_profit_czk: 3.5, min_sell_profit_czk: 2,\n    prodej_z_baterie_enabled: true, blokace_vybijeni: false,\n    mody: {NORMAL:\"normal\",SETRIT:\"setrit\",NABIJET_ZE_SITE:\"nabijet_ze_site\",PRODAVAT:\"prodavat\",ZAKAZ_PRETOKU:\"zakaz_pretoku\",BALANCOVANI:\"Balancování\"},\n    priority: {tepelne_cerpadlo:1,bojler:2,baterie_nabijeni:3,auto_nabijeni:4,ostatni:5}\n};\nglobal.set(\"fve_config\", config);\nfunction getHAFloat(id,fb){var e=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\")||{};var v=parseFloat(e.state);return isNaN(v)?fb:v;}\nvar mtp=getHAFloat(\"input_number.topeni_max_teplota_patron\",config.topeni_max_teplota_patron);\nif(mtp!==config.topeni_max_teplota_patron){config.topeni_max_teplota_patron=mtp;global.set(\"fve_config\",config);}\nglobal.set(\"max_spotreba_sit\",config.max_spotreba_sit_w);\nglobal.set(\"forecast_vyroba_dnes\",0);global.set(\"forecast_vyroba_zitra\",0);\nmsg.payload=config;msg.topic=\"fve/config\";\nnode.status({fill:\"green\",shape:\"dot\",text:\"Konfigurace načtena\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 60,
        "wires": [
            [
                "2e5f28e1a0b06f19"
            ]
        ]
    },
    {
        "id": "2e5f28e1a0b06f19",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "2d77556df552e86d",
        "name": "Config Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c3b58eeb3106ded",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Každou minutu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "f1cea1e4214578c4"
            ]
        ]
    },
    {
        "id": "caf460b8b3af03dd",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Zpracuj ceny",
        "func": "// Zpracování cenových dat z databáze - aktualizace každou minutu\n// Deduplikace: pokud tabulka obsahuje data z více dní,\n// zachováme poslední (nejaktuálnější) záznam pro každou hodinu\nconst prices = msg.payload || [];\nconst config = global.get(\"fve_config\") || {};\nconst rezim = config.rezim_casu || \"hodina\";\n\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\nconst currentQuarter = Math.floor(currentMinute / 15);\n\n// Deduplikace po hodinách - pozdější záznamy přepíší starší\nvar priceMap = {};\nfor (var i = 0; i < prices.length; i++) {\n    var row = prices[i];\n    var key = String(row.hour);\n    if (rezim === \"ctvrthodina\" && row.minute !== undefined) {\n        key = row.hour + \"_\" + row.minute;\n    }\n    priceMap[key] = row;\n}\nvar dedupedPrices = [];\nvar keys = Object.keys(priceMap);\nfor (var k = 0; k < keys.length; k++) {\n    dedupedPrices.push(priceMap[keys[k]]);\n}\n\n// Najít aktuální cenu\nlet currentPrice = null;\nlet priceLevel = 5; // default střední\n\nfor (const row of dedupedPrices) {\n    if (row.hour === currentHour) {\n        if (rezim === \"ctvrthodina\") {\n            if (row.minute === currentQuarter * 15) {\n                currentPrice = {\n                    buy: row.priceCZKquarterBuy,\n                    sell: row.priceCZKquarterProd,\n                    levelBuy: row.levelCheapestQuarterBuy,\n                    levelSell: row.levelMostExpensiveQuarterProd\n                };\n                priceLevel = row.levelCheapestQuarterBuy;\n                break;\n            }\n        } else {\n            currentPrice = {\n                buy: row.priceCZKhourBuy,\n                sell: row.priceCZKhourProd,\n                levelBuy: row.levelCheapestHourBuy,\n                levelSell: row.levelMostExpensiveHourProd\n            };\n            priceLevel = row.levelCheapestHourBuy;\n            break;\n        }\n    }\n}\n\n// Uložit do global kontextu\nglobal.set(\"fve_current_price\", currentPrice);\nglobal.set(\"fve_price_level\", priceLevel);\nglobal.set(\"fve_prices_forecast\", dedupedPrices);\n\nmsg.payload = {\n    currentPrice: currentPrice,\n    priceLevel: priceLevel,\n    pricesCount: dedupedPrices.length,\n    rawCount: prices.length,\n    timestamp: now.toISOString()\n};\n\nconst levelText = priceLevel <= 4 ? \"levná\" : (priceLevel >= 7 ? \"drahá\" : \"střední\");\nnode.status({fill: priceLevel <= 4 ? \"green\" : (priceLevel >= 7 ? \"red\" : \"yellow\"), shape:\"dot\", text: `Level ${priceLevel} (${levelText}) | ${dedupedPrices.length}/${prices.length} řádků`});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "402735a3f30a84e8"
            ]
        ]
    },
    {
        "id": "402735a3f30a84e8",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "name": "Prices Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "322c6a3de64b51b5",
        "type": "inject",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Každou minutu",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "90dca62607936795"
            ]
        ]
    },
    {
        "id": "90dca62607936795",
        "type": "api-current-state",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Stav baterie",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.battery_percent",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "battery_soc",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "88d08735b548d24c"
            ]
        ]
    },
    {
        "id": "88d08735b548d24c",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Aktualizuj stav",
        "func": "// Sestavení aktuálního stavu systému\nconst config = global.get(\"fve_config\") || {};\nconst priceLevel = global.get(\"fve_price_level\") || 5;\nconst currentPrice = global.get(\"fve_current_price\") || {};\n\nconst status = {\n    timestamp: new Date().toISOString(),\n    \n    // Baterie\n    battery_soc: msg.battery_soc || 0,\n    battery_energy_kwh: (msg.battery_soc / 100) * (config.kapacita_baterie_kwh || 28),\n    battery_available_kwh: Math.max(0, ((msg.battery_soc - (config.min_soc || 20)) / 100) * (config.kapacita_baterie_kwh || 28)),\n    battery_free_kwh: ((100 - msg.battery_soc) / 100) * (config.kapacita_baterie_kwh || 28),\n    \n    // Ceny\n    price_level: priceLevel,\n    price_buy: currentPrice.buy || 0,\n    price_sell: currentPrice.sell || 0,\n    is_cheap: priceLevel <= (config.prah_levna_energie || 4),\n    is_expensive: priceLevel >= (config.prah_draha_energie || 7),\n    \n    // Konfigurace\n    automatizace_enabled: config.automatizace_enabled !== false,\n    prodej_z_baterie_enabled: config.prodej_z_baterie_enabled === true,\n    blokace_vybijeni: config.blokace_vybijeni === true,\n    manual_mod: config.manual_mod || \"auto\"\n};\n\n// Uložit do global kontextu\nglobal.set(\"fve_status\", status);\n\nmsg.payload = status;\n\nconst socText = `SOC: ${status.battery_soc}% | Level: ${status.price_level}`;\nnode.status({fill: status.battery_soc > 50 ? \"green\" : (status.battery_soc > 20 ? \"yellow\" : \"red\"), shape:\"dot\", text: socText});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "8cfae471cfa68d3f"
            ]
        ]
    },
    {
        "id": "8cfae471cfa68d3f",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "da4c9bfc3dddec82",
        "name": "Status Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "f1cea1e4214578c4",
        "type": "sqlite",
        "z": "3f2680578b66e78f",
        "g": "c7e025194045b1be",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM \"own_energy_prices_total\";\n",
        "name": "Vyber tabulku cen",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "caf460b8b3af03dd"
            ]
        ]
    },
    {
        "id": "2986fe2bccfe8740",
        "type": "server-state-changed",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "HA Config změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.fve_kapacita_baterie",
                "number.min_soc",
                "input_number.fve_amortizace_baterie",
                "input_number.fve_max_feed_in",
                "input_number.fve_max_spotreba_sit",
                "input_boolean.fve_automatizace",
                "input_boolean.fve_prodej_z_baterie",
                "input_boolean.fve_blokace_vybijeni",
                "input_boolean.letni_rezim",
                "input_number.predpoved_solarni_vyroby_dnes",
                "input_number.predpoved_solarni_vyroby_zitra",
                "input_select.fve_rezim_casu",
                "input_select.fve_manual_mod",
                "input_number.zbyvajici_solarni_vyroba_dnes",
                "sensor.energy_production_today_3",
                "sensor.energy_production_tomorrow_3",
                "sensor.energy_production_today_remaining_3",
                "sensor.energy_current_hour_3"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "entity_id",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 120,
        "y": 160,
        "wires": [
            [
                "3fefdad956c6ae27",
                "ae5590b0cd6e6b6a"
            ]
        ]
    },
    {
        "id": "ae5590b0cd6e6b6a",
        "type": "api-current-state",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Načti všechny FVE stavy",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.fve_kapacita_baterie",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "kapacita_baterie",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "3fefdad956c6ae27"
            ]
        ]
    },
    {
        "id": "3fefdad956c6ae27",
        "type": "function",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Zpracuj HA stavy",
        "func": "// Zpracuj HA stavy — aktualizace fve_config z HA entity změn\nconst config=global.get(\"fve_config\")||{};\nconst eid=msg.entity_id||\"\",val=msg.payload;\nvar modeMap={\"🤖 Automaticky\":\"auto\",\"🟢 Normální provoz\":\"normal\",\"🟡 Šetřit baterii\":\"setrit\",\"🔵 Nabíjet ze sítě\":\"nabijet_ze_site\",\"🔴 Prodávat do sítě\":\"prodavat\",\"🟣 Zákaz přetoků\":\"zakaz_pretoku\"};\nswitch(eid){\ncase \"input_number.fve_kapacita_baterie\":config.kapacita_baterie_kwh=parseFloat(val)||28;break;\ncase \"number.min_soc\":config.min_soc=parseFloat(val)||20;break;\ncase \"input_number.fve_amortizace_baterie\":config.amortizace_baterie_czk_kwh=parseFloat(val)||1.0;break;\ncase \"input_number.fve_max_feed_in\":config.max_feed_in_w=parseFloat(val)||7600;break;\ncase \"input_number.fve_max_spotreba_sit\":config.max_spotreba_sit_w=parseFloat(val)||22000;global.set(\"max_spotreba_sit\",config.max_spotreba_sit_w);break;\ncase \"input_boolean.fve_automatizace\":config.automatizace_enabled=(val===\"on\");break;\ncase \"input_boolean.fve_prodej_z_baterie\":config.prodej_z_baterie_enabled=(val===\"on\");break;\ncase \"input_boolean.fve_blokace_vybijeni\":config.blokace_vybijeni=(val===\"on\");break;\ncase \"input_boolean.letni_rezim\":config.letni_rezim=(val===\"on\");break;\ncase \"input_number.predpoved_solarni_vyroby_dnes\":config.forecast_vyroba_dnes=parseFloat(val)||0;global.set(\"forecast_vyroba_dnes\",config.forecast_vyroba_dnes);break;\ncase \"input_number.predpoved_solarni_vyroby_zitra\":config.forecast_vyroba_zitra=parseFloat(val)||0;global.set(\"forecast_vyroba_zitra\",config.forecast_vyroba_zitra);break;\ncase \"input_number.zbyvajici_solarni_vyroba_dnes\":config.zbyvajici_solar_dnes=parseFloat(val)||0;global.set(\"zbyvajici_solar_dnes\",config.zbyvajici_solar_dnes);break;\ncase \"sensor.energy_production_today_3\":config.forecast_vyroba_dnes_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.forecast_vyroba_dnes=config.forecast_vyroba_dnes_om;global.set(\"forecast_vyroba_dnes\",config.forecast_vyroba_dnes);}break;\ncase \"sensor.energy_production_tomorrow_3\":config.forecast_vyroba_zitra_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.forecast_vyroba_zitra=config.forecast_vyroba_zitra_om;global.set(\"forecast_vyroba_zitra\",config.forecast_vyroba_zitra);}break;\ncase \"sensor.energy_production_today_remaining_3\":config.zbyvajici_solar_dnes_om=parseFloat(val)||0;\nif((config.solar_forecast_source||\"VICTRON\")===\"OPEN_METEO\"){config.zbyvajici_solar_dnes=config.zbyvajici_solar_dnes_om;global.set(\"zbyvajici_solar_dnes\",config.zbyvajici_solar_dnes);}break;\ncase \"sensor.energy_current_hour_3\":config.forecast_current_hour_kwh=parseFloat(val)||0;global.set(\"forecast_current_hour_kwh\",config.forecast_current_hour_kwh);break;\ncase \"input_select.fve_rezim_casu\":config.rezim_casu=val;break;\ncase \"input_select.fve_manual_mod\":config.manual_mod=modeMap[val]||val;break;}\nglobal.set(\"fve_config\",config);\nmsg.payload={entity_id:eid,value:val,config:config};\nnode.status({fill:\"blue\",shape:\"dot\",text:eid.split(\".\")[1]+\": \"+val});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "f4160d8797285db7",
                "4a5169173535c2a2"
            ]
        ]
    },
    {
        "id": "4a5169173535c2a2",
        "type": "switch",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Je změna módu?",
        "property": "entity_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "input_select.fve_manual_mod",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "926f790a1d6a8f6e"
            ]
        ]
    },
    {
        "id": "f4160d8797285db7",
        "type": "debug",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "Sync Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "926f790a1d6a8f6e",
        "type": "link out",
        "z": "3f2680578b66e78f",
        "g": "452576adb7294b87",
        "name": "→ Přepočti plán",
        "mode": "link",
        "links": [],
        "x": 805,
        "y": 180,
        "wires": []
    }
]