node-red/flows/fve-heating.json
[{"id":"f1e2d3c4b5a60001","type":"tab","label":"FVE Heating","disabled":false,"info":"Kompletní řízení topení domu v2.0\nNIBE + oběhové čerpadlo + patrony + ventil + chlazení"},{"id":"heating_g_main_v2","type":"group","z":"f1e2d3c4b5a60001","name":"Řízení topení","style":{"label":true,"fill":"#ffffbf"},"nodes":["htg_inject_60s","htg_trig_auto","htg_trig_temp","htg_main_func","htg_debug"],"x":54,"y":39,"w":732,"h":202},{"id":"heating_g_exec_v2","type":"group","z":"f1e2d3c4b5a60001","name":"Exekuce akcí","style":{"label":true,"fill":"#ffbfbf"},"nodes":["htg_action_switch","htg_svc_nibe_on","htg_svc_nibe_off","htg_svc_obehove_on","htg_svc_obehove_off","htg_svc_p1_on","htg_svc_p1_off","htg_svc_p2_on","htg_svc_p2_off","htg_svc_p3_on","htg_svc_p3_off","htg_svc_ventil_off","htg_svc_cool_on","htg_svc_cool_off"],"x":54,"y":259,"w":436,"h":674},{"id":"f1e2d3c4b5a60004","type":"group","z":"f1e2d3c4b5a60001","name":"Ochrana baterie","style":{"label":true},"nodes":["htg_prot_trig","htg_prot_func","htg_prot_set"],"x":54,"y":959,"w":682,"h":82},{"id":"heating_g_away","type":"group","z":"f1e2d3c4b5a60001","name":"Režim nepřítomnosti","style":{"stroke":"#ff9900","label":true,"color":"#ff9900"},"nodes":["htg_away_trigger","htg_away_func","htg_away_set_temp"],"x":54,"y":1079,"w":662,"h":82},{"id":"htg_inject_60s","type":"inject","z":"f1e2d3c4b5a60001","g":"heating_g_main_v2","name":"Každých 60s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"timer","payload":"","payloadType":"date","x":180,"y":80,"wires":[["htg_main_func"]]},{"id":"htg_trig_auto","type":"server-state-changed","z":"f1e2d3c4b5a60001","g":"heating_g_main_v2","name":"Automatizace změna","server":"c7421fe2.cb11c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.automatizovat_topeni"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":200,"y":140,"wires":[["htg_main_func"]]},{"id":"htg_trig_temp","type":"server-state-changed","z":"f1e2d3c4b5a60001","g":"heating_g_main_v2","name":"Teplota změna","server":"c7421fe2.cb11c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.hp2551ae_pro_v2_1_0_indoor_temperature"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":200,"y":200,"wires":[["htg_main_func"]]},{"id":"htg_main_func","type":"function","z":"f1e2d3c4b5a60001","g":"heating_g_main_v2","name":"Řízení topení v2.0","func":"// FVE Heating Control v2.0 — Kompletní řízení topení domu\n// Řídí: NIBE (47371), oběhové čerpadlo, patrony (3 fáze), bazénový ventil, chlazení\n\nvar config = global.get(\"fve_config\") || {};\nvar prices = global.get(\"fve_prices_forecast\") || [];\n\n// === HELPER ===\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\nfunction getBool(id) { return getState(id) === \"on\"; }\n\n// Najdi nejlevnější budoucí hodinu (do konce solární výroby nebo do rána)\nfunction hasCheaperHourAhead(prices, currentHour, currentLevel) {\n    for (var i = 0; i < prices.length; i++) {\n        var h = prices[i].hour;\n        var m = prices[i].minute || 0;\n        if (m !== 0) continue;\n        // Budoucí hodiny (po aktuální)\n        if (h <= currentHour) continue;\n        var futureLevel = prices[i].levelCheapestHourBuy || 99;\n        if (futureLevel < currentLevel) return true;\n    }\n    return false;\n}\n\n// === PARAMETRY Z CONFIGU ===\nvar MIN_TANK = config.topeni_min_teplota_nadrze || 30;\nvar MAX_TANK = config.topeni_max_teplota_nadrze || 50;\nvar NOCNI_SNIZ = config.topeni_nocni_snizeni || 0.5;\nvar NOCNI_OD = config.topeni_nocni_od || 22;\nvar NOCNI_DO = config.topeni_nocni_do || 6;\nvar NOUZ_TEMP = config.topeni_nouzova_teplota || 18;\nvar MIN_PRETOK = config.topeni_min_pretok_patron_w || 3000;\nvar PATRON_W = config.topeni_patron_faze_w || 3000;\nvar MIN_SOC_PAT = config.topeni_min_soc_patron || 95;\nvar MAX_TANK_PAT = config.topeni_max_teplota_patron || 60;\nvar PRAH_DRAHA = config.prah_draha_energie || 12;\nvar BEZPECNY_POKLES = config.topeni_bezpecny_pokles || 0.7;\nvar HYSTEREZE_CHLAZENI = config.topeni_hystereze_chlazeni || 1.0;\nvar SOLAR_FORECAST_THRESHOLD = config.topeni_solar_forecast_kwh || 30;\nvar solarForecastTomorrow = getFloat(\"input_number.predpoved_solarni_vyroby_zitra\", 0);\nvar bigSolarTomorrow = solarForecastTomorrow >= SOLAR_FORECAST_THRESHOLD;\nvar letniRezim = config.letni_rezim === true;\n\n// === ČTENÍ STAVŮ ===\nvar automatizace = getBool(\"input_boolean.automatizovat_topeni\");\nvar targetTemp = getFloat(\"input_number.nastavena_teplota_v_dome\", 22);\nvar indoorTemp = getFloat(\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\", 20);\nvar outdoorTemp = getFloat(\"sensor.hp2551ae_pro_v2_1_0_outdoor_temperature\", 10);\nvar tankTemp = getFloat(\"sensor.teplota_smesovac_teplota\", 35);\nvar dm = getFloat(\"sensor.nibe_degree_minutes\", 0);\nvar batSoc = getFloat(\"sensor.battery_percent\", 50);\nvar prebytek = getFloat(\"sensor.fve_dostupny_prebytek\", 0);\nvar compressor = getBool(\"binary_sensor.nibe_kompresory_aktivni_binarni\");\nvar pumpState = getState(\"sensor.nibe_aktualni_realny_stav\") || \"\";\nvar fireplace = getBool(\"input_boolean.topi_se_v_krbu\");\nvar coolEnabled = getBool(\"input_boolean.chlazeni\");\nvar autoHlad = getBool(\"input_boolean.auto_ma_hlad\");\n\nvar nibeOn = getBool(\"switch.nibe_topeni\");\nvar obehOn = getBool(\"switch.horousany_termostat_prizemi_kote\");\nvar p1on = getBool(\"switch.patrona_faze_1\");\nvar p2on = getBool(\"switch.patrona_faze_3_2\");\nvar p3on = getBool(\"switch.patrona_faze_3\");\nvar ventilOn = getBool(\"switch.bazen_ventil_smesovac\");\nvar coolOn = getBool(\"switch.nibe_chlazeni\");\n\nvar hour = new Date().getHours();\nvar now = Date.now();\nvar NIBE_COOLDOWN_MS = (config.nibe_cooldown_min || 10) * 60 * 1000;  // min doba mezi NIBE přepnutími\nvar lastNibeSwitch = flow.get(\"last_nibe_switch\") || 0;\nvar nibeCooldownOk = (now - lastNibeSwitch) >= NIBE_COOLDOWN_MS;\n\n// === GRID LOST ===\nvar gridLostRaw = getFloat(\"sensor.grid_lost_ciselny\", 0);\nvar gridLost = gridLostRaw >= 2;  // 0=OK, 1=Warning, 2=Grid Lost\nvar solarPower = getFloat(\"sensor.vyroba_fve\", 0);  // aktuální solární výkon (W)\nvar NIBE_PEAK_W = config.nibe_peak_w || 14000;  // peak odběr NIBE\n\n// === SOLÁRNÍ HODINY ===\nvar plan = global.get(\"fve_plan\") || {};\nvar solarStart = (plan && plan.solarStartHour) || 9;\nvar solarEnd = (plan && plan.solarEndHour) || 17;\nvar isSolarHour = (hour >= solarStart && hour < solarEnd);\nvar solarHoursLeft = isSolarHour ? (solarEnd - hour) : 0;\nvar SOLAR_MARGIN_HOURS = config.topeni_solar_margin_hours || 2;\n\n// === CENOVÝ LEVEL (vždy celá hodina, minute=0) ===\nvar lvl = 99;\nfor (var i = 0; i < prices.length; i++) {\n    if (prices[i].hour === hour && (prices[i].minute === 0 || prices[i].minute === undefined)) {\n        lvl = prices[i].levelCheapestHourBuy || 99;\n        break;\n    }\n}\nvar isDraha = lvl >= PRAH_DRAHA;\n\n// === NOČNÍ REŽIM ===\nvar isNight = (hour >= NOCNI_OD || hour < NOCNI_DO);\n// Noční snížení = hystereze pro drahé hodiny (v levných topit na plnou teplotu)\nvar effTarget = (isNight && isDraha) ? (targetTemp - NOCNI_SNIZ) : targetTemp;\n\n// === PATRONY STATE ===\nvar actPat = (p1on ? 1 : 0) + (p2on ? 1 : 0) + (p3on ? 1 : 0);\nvar availPat = prebytek + actPat * PATRON_W;\n\n// === OCHRANA ===\nvar pumpWorking = pumpState.indexOf(\"Klidový\") === -1 && pumpState !== \"\";\nvar canOffNibe = !compressor && !pumpWorking;\n\n// === ROZHODOVÁNÍ ===\nvar actions = [];\nvar reason = \"\";\nvar patTarget = 0;\nvar shutdownDone = flow.get(\"shutdown_done\") || false;\n\nif (!automatizace) {\n    // AUTOMATIZACE OFF — jednorázové nastavení, pak žádné zásahy\n    if (!shutdownDone) {\n        // Vypnutí automatizace — jednorázově vypnout vše\n        if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        if (obehOn) actions.push(\"obehove_off\");\n        if (p1on) actions.push(\"p1_off\");\n        if (p2on) actions.push(\"p2_off\");\n        if (p3on) actions.push(\"p3_off\");\n        flow.set(\"shutdown_done\", true);\n        reason = \"Automatizace OFF — jednorázové vypnutí\";\n    } else {\n        reason = \"Automatizace OFF — žádné zásahy\";\n    }\n} else {\n    var forceStart = flow.get(\"shutdown_done\") === true;  // právě zapnuta automatizace\n    flow.set(\"shutdown_done\", false);\n    // Reset summer flag pokud se změní automatizace\n    if (letniRezim) {\n        // LETNÍ REŽIM — jednorázové nastavení default stavu, pak jen chlazení\n        var summerDone = flow.get(\"summer_setup_done\") || false;\n        if (!summerDone) {\n            // Jednorázově: NIBE on (pro TUV), oběhové off, patrony off\n            if (canOffNibe) actions.push(\"nibe_on\");\n            if (obehOn) actions.push(\"obehove_off\");\n            if (p1on) actions.push(\"p1_off\");\n            if (p2on) actions.push(\"p2_off\");\n            if (p3on) actions.push(\"p3_off\");\n            flow.set(\"summer_setup_done\", true);\n            reason = \"Léto — jednorázové nastavení default\";\n        }\n\n        // Chlazení — běží stále v létě\n        if (coolEnabled) {\n            if (!coolOn && indoorTemp > effTarget + HYSTEREZE_CHLAZENI) {\n                actions.push(\"cool_on\");\n                reason = \"Chlazení ON (\" + indoorTemp.toFixed(1) + \">\" + (effTarget+HYSTEREZE_CHLAZENI).toFixed(1) + \"°C)\";\n            } else if (coolOn && indoorTemp < effTarget) {\n                actions.push(\"cool_off\");\n                reason = \"Chlazení OFF (\" + indoorTemp.toFixed(1) + \"<\" + effTarget.toFixed(1) + \"°C)\";\n            } else {\n                reason = \"Léto | \" + indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\" + (coolOn ? \" | Chlazení\" : \"\");\n            }\n        } else {\n            if (coolOn) actions.push(\"cool_off\");\n            reason = \"Léto | chlazení vypnuto\";\n        }\n    } else {\n        // ZIMNÍ REŽIM\n        flow.set(\"summer_setup_done\", false);\n\n        // 1. Bazénový ventil - kontrola\n        if (ventilOn) actions.push(\"ventil_off\");\n\n        // 2. Chlazení OFF v zimě\n        if (coolOn) actions.push(\"cool_off\");\n\n        // 3. Patrony - přetokové vytápění\n        var patronyActive = false;\n        // Grid Lost: patrony jen pokud je solární přebytek (availPat už to řeší přes prebytek)\n        if (batSoc >= MIN_SOC_PAT && !autoHlad && tankTemp < MAX_TANK_PAT && (!gridLost || solarPower > 0)) {\n            if (availPat >= MIN_PRETOK * 3) {\n                patTarget = 3; patronyActive = true;\n            } else if (availPat >= MIN_PRETOK * 2) {\n                patTarget = 2; patronyActive = true;\n            } else if (availPat >= MIN_PRETOK) {\n                patTarget = 1; patronyActive = true;\n            }\n        }\n\n        // Patrony ON/OFF\n        var p1want = patTarget >= 1;\n        var p2want = patTarget >= 2;\n        var p3want = patTarget >= 3;\n        if (p1want !== p1on) actions.push(p1want ? \"p1_on\" : \"p1_off\");\n        if (p2want !== p2on) actions.push(p2want ? \"p2_on\" : \"p2_off\");\n        if (p3want !== p3on) actions.push(p3want ? \"p3_on\" : \"p3_off\");\n\n        // Podmínky pro topení (sdílené mezi NIBE a oběhovým čerpadlem)\n        var tankOk = tankTemp >= MIN_TANK && tankTemp <= MAX_TANK;  // rozsah 30-50°C pro oběhové čerpadlo\n        var needsHeat = indoorTemp < effTarget;\n        \n        // 4. NIBE řízení\n        var nibeBlockDischarge = true;\n        var safeTemp = effTarget - BEZPECNY_POKLES;  // bezpečný práh: effTarget - 0.7°C (v noci nižší díky NOCNI_SNIZ)\n        var cheaperAhead = hasCheaperHourAhead(prices, hour, lvl);\n        \n        // Grid Lost ochrana — NIBE jen pokud solár stačí na peak\n        var gridAllowNibe = !gridLost || (gridLost && solarPower >= NIBE_PEAK_W);\n        if (!gridAllowNibe) {\n            // Grid Lost + nedostatek soláru → NIBE OFF\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (fireplace) {\n            // Krb aktivní → NIBE OFF (krb nahřívá nádrž místo NIBE)\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (tankTemp > MAX_TANK) {\n            // Nádrž přehřátá (> MAX_TANK) → NIBE OFF\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (tankTemp > MAX_TANK) {\n            // Nádrž přehřátá (> MAX_TANK) → NIBE OFF\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (patronyActive) {\n            // Patrony aktivní → NIBE OFF (vzájemná exkluzivita)\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (isSolarHour && indoorTemp >= effTarget && solarHoursLeft > SOLAR_MARGIN_HOURS) {\n            // Solární hodiny + teplota OK + dost času → NIBE OFF, čekáme na patrony\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (isSolarHour && solarHoursLeft <= SOLAR_MARGIN_HOURS && needsHeat) {\n            // Poslední solární hodiny + potřeba topit → NIBE ON\n            if (prebytek >= MIN_PRETOK) {\n                // Velký solární zisk → BEZ blokace vybíjení\n                if (!nibeOn) actions.push(\"nibe_on\");\n                nibeBlockDischarge = false;\n            } else {\n                if (!isDraha) {\n                    if (!nibeOn) actions.push(\"nibe_on\");\n                } else if (indoorTemp < safeTemp) {\n                    if (!nibeOn) actions.push(\"nibe_on\");\n                } else {\n                    if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n                }\n            }\n        } else if (isDraha) {\n            // DRAHÁ HODINA: topit JEN pokud teplota pod bezpečným prahem\n            if (indoorTemp < safeTemp) {\n                if (!nibeOn) actions.push(\"nibe_on\");\n            } else {\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            }\n        } else if (needsHeat) {\n            // Levné/střední hodiny + potřeba topit\n            // v2.1: Při velkém solárním forecastu šetříme energii\n            // → topíme jen pokud teplota klesne pod bezpečný práh (safeTemp)\n            if (bigSolarTomorrow && indoorTemp >= safeTemp) {\n                // Velký solar zítra + teplota bezpečná → NIBE OFF, šetříme\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            } else if (cheaperAhead && indoorTemp >= safeTemp) {\n                // Teplota bezpečná + levnější hodiny existují → POČKAT\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            } else {\n                // Potřeba topit a nemá smysl čekat (nebo teplota pod safeTemp)\n                if (!nibeOn) actions.push(\"nibe_on\");\n            }\n        } else {\n            // Nepotřebuje topit → NIBE OFF\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        }\n\n        // Uložit info o blokaci vybíjení pro NIBE\n        flow.set(\"nibe_block_discharge\", nibeBlockDischarge);\n        \n        // 5. Oběhové čerpadlo (při krbu NESAHAT - řídí jiná automatika)\n        // Oběhové je nezávislé na NIBE — čerpá teplo z nádrže do domu kdykoli nádrž má co dát\n        // bigSolarTomorrow omezení se týká jen NIBE, ne oběhového (oběhové spotřebuje minimum)\n        if (!fireplace) {\n            if (tankOk) {\n                actions.push(\"obehove_on\");\n            } else {\n                // Nádrž vychladlá (≤ MIN_TANK) → čerpadlo off\n                if (obehOn) actions.push(\"obehove_off\");\n            }\n        }\n\n        // Reason\n        var parts = [];\n        parts.push(isDraha ? \"DRAHÁ(Lv\" + lvl + \")\" : \"Lv\" + lvl);\n        parts.push(\"In:\" + indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\");\n        parts.push(\"Tank:\" + tankTemp.toFixed(0) + \"°C\");\n        parts.push(\"DM:\" + Math.round(dm));\n        parts.push(\"Out:\" + outdoorTemp.toFixed(0) + \"°C\");\n        if (patronyActive) parts.push(\"PAT:\" + patTarget + \"f(\" + Math.round(availPat) + \"W)\");\n        if (fireplace) parts.push(\"KRB\");\n        if (isNight) parts.push(\"NOC\");\n        if (gridLost) parts.push(\"⚡GRID_LOST\");\n        if (isSolarHour) parts.push(\"☀\" + solarHoursLeft + \"h\");\n        if (cheaperAhead) parts.push(\"LEVNĚJŠÍ↓\");\n        if (bigSolarTomorrow) parts.push(\"☀Z:\" + Math.round(solarForecastTomorrow) + \"kWh\");\n        parts.push(\"Safe:\" + safeTemp.toFixed(1) + \"°C\");\n        if (!nibeBlockDischarge) parts.push(\"NoBLK\");\n        reason = parts.join(\" | \");\n    }\n}\n\n// === OCHRANA: NIBE nelze vypnout pokud pracuje ===\nif (actions.indexOf(\"nibe_off\") > -1 && !canOffNibe) {\n    actions = actions.filter(function(a) { return a !== \"nibe_off\"; });\n    reason += \" ⚠️OCHRANA:NIBE pracuje\";\n}\n\n// === OCHRANA: nikdy nibe_on + nibe_off zároveň ===\nvar hasNibeOn = actions.indexOf(\"nibe_on\") > -1;\nvar hasNibeOff = actions.indexOf(\"nibe_off\") > -1;\nif (hasNibeOn && hasNibeOff) {\n    // Konflikt — ponechat aktuální stav (nic nedělat)\n    actions = actions.filter(function(a) { return a !== \"nibe_on\" && a !== \"nibe_off\"; });\n    reason += \" ⚠️KONFLIKT:on+off→skip\";\n}\n\n// === COOLDOWN: min doba mezi NIBE přepnutími (přeskočit při forceStart) ===\nif ((hasNibeOn && !nibeOn) || (hasNibeOff && nibeOn && canOffNibe)) {\n    if (!nibeCooldownOk && !forceStart) {\n        actions = actions.filter(function(a) { return a !== \"nibe_on\" && a !== \"nibe_off\"; });\n        reason += \" ⏳COOLDOWN\";\n    } else {\n        flow.set(\"last_nibe_switch\", now);\n    }\n}\n\n// === GLOBAL: cerpadlo_topi pro FVE blokaci ===\nvar isHeating = pumpState.indexOf(\"Vytápění\") > -1;\nvar isTUV = pumpState.indexOf(\"Ohřev vody\") > -1 || pumpState.indexOf(\"TUV\") > -1;\n// Pokud NIBE běží s velkým solárním ziskem, NEBLOKOVAT vybíjení baterie\nvar nibeBlkDisch = flow.get(\"nibe_block_discharge\") !== false;  // default true\nglobal.set(\"cerpadlo_topi\", (isHeating || isTUV) && nibeBlkDisch);\n\n// === STATUS ===\nvar st = [];\nst.push(automatizace ? (letniRezim ? \"LÉTO\" : \"ZIMA\") : \"OFF\");\nst.push(indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\");\nst.push(\"Tank:\" + tankTemp.toFixed(0));\nst.push(\"Lv\" + lvl);\nif (actions.length > 0) st.push(\"→\" + actions.join(\",\"));\n\nvar color = \"green\";\nif (!automatizace) color = \"grey\";\nelse if (indoorTemp < NOUZ_TEMP) color = \"red\";\nelse if (isDraha || patTarget > 0) color = \"yellow\";\nnode.status({fill: color, shape: \"dot\", text: st.join(\" | \")});\n\n// === OUTPUT ===\n// O1: actions array → router switch\n// O2: debug/status\nvar actionMsgs = null;\nif (actions.length > 0) {\n    actionMsgs = actions.map(function(a) { return {action: a}; });\n}\nvar statusMsg = {\n    payload: {\n        automatizace: automatizace, letniRezim: letniRezim,\n        indoorTemp: indoorTemp, targetTemp: effTarget,\n        tankTemp: tankTemp, dm: dm, outdoorTemp: outdoorTemp,\n        priceLevel: lvl, isDraha: isDraha, isNight: isNight,\n        nibeOn: nibeOn, obehOn: obehOn, patrony: actPat, patTarget: patTarget,\n        fireplace: fireplace, batSoc: batSoc, prebytek: prebytek,\n        actions: actions, reason: reason\n    }\n};\nreturn [actionMsgs, statusMsg];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["htg_action_switch"],["htg_debug"]]},{"id":"htg_action_switch","type":"switch","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Akce router","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"nibe_on","vt":"str"},{"t":"eq","v":"nibe_off","vt":"str"},{"t":"eq","v":"obehove_on","vt":"str"},{"t":"eq","v":"obehove_off","vt":"str"},{"t":"eq","v":"p1_on","vt":"str"},{"t":"eq","v":"p1_off","vt":"str"},{"t":"eq","v":"p2_on","vt":"str"},{"t":"eq","v":"p2_off","vt":"str"},{"t":"eq","v":"p3_on","vt":"str"},{"t":"eq","v":"p3_off","vt":"str"},{"t":"eq","v":"ventil_off","vt":"str"},{"t":"eq","v":"cool_on","vt":"str"},{"t":"eq","v":"cool_off","vt":"str"}],"checkall":"true","repair":false,"outputs":13,"x":150,"y":620,"wires":[["htg_svc_nibe_on"],["htg_svc_nibe_off"],["htg_svc_obehove_on"],["htg_svc_obehove_off"],["htg_svc_p1_on"],["htg_svc_p1_off"],["htg_svc_p2_on"],["htg_svc_p2_off"],["htg_svc_p3_on"],["htg_svc_p3_off"],["htg_svc_ventil_off"],["htg_svc_cool_on"],["htg_svc_cool_off"]]},{"id":"htg_svc_obehove_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Oběhové ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.horousany_termostat_prizemi_kote"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":380,"y":400,"wires":[[]]},{"id":"htg_svc_obehove_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Oběhové OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.horousany_termostat_prizemi_kote"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":380,"y":450,"wires":[[]]},{"id":"htg_svc_p1_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 1 ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_1"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":380,"y":500,"wires":[[]]},{"id":"htg_svc_p1_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 1 OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_1"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":380,"y":550,"wires":[[]]},{"id":"htg_svc_p2_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 2 ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_3_2"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":380,"y":600,"wires":[[]]},{"id":"htg_svc_p2_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 2 OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_3_2"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":380,"y":650,"wires":[[]]},{"id":"htg_svc_p3_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 3 ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_3"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":380,"y":700,"wires":[[]]},{"id":"htg_svc_p3_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Patrona 3 OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.patrona_faze_3"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":380,"y":750,"wires":[[]]},{"id":"htg_svc_ventil_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Ventil OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.bazen_ventil_smesovac"],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":371,"y":800,"wires":[[]]},{"id":"htg_debug","type":"debug","z":"f1e2d3c4b5a60001","g":"heating_g_main_v2","name":"Heating Status","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.reason","targetType":"msg","statusVal":"payload.reason","statusType":"auto","x":660,"y":200,"wires":[]},{"id":"htg_prot_trig","type":"server-state-changed","z":"f1e2d3c4b5a60001","g":"f1e2d3c4b5a60004","name":"NIBE stav změna","server":"c7421fe2.cb11c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.nibe_aktualni_realny_stav"],"substring":[],"regex":[]},"outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":160,"y":1000,"wires":[["htg_prot_func"]]},{"id":"htg_prot_func","type":"function","z":"f1e2d3c4b5a60001","g":"f1e2d3c4b5a60004","name":"Detekce topení vs TUV","func":"// Detekce topení vs chlazení — blokace vybíjení baterie\nvar state = msg.payload || \"\";\nvar isHeating = state.indexOf(\"Vytápění\") > -1;\nvar isTUV = state.indexOf(\"Ohřev vody\") > -1 || state.indexOf(\"TUV\") > -1;\nvar blockDischarge = isHeating || isTUV;\nmsg.blockDischarge = blockDischarge;\nvar txt = blockDischarge\n    ? \"Blokace (\" + (isHeating ? \"topení\" : \"TUV\") + \")\"\n    : \"OK - \" + state.substring(0, 30);\nnode.status({fill: blockDischarge ? \"yellow\" : \"green\", shape: \"dot\", text: txt});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1000,"wires":[["htg_prot_set"]]},{"id":"htg_prot_set","type":"change","z":"f1e2d3c4b5a60001","g":"f1e2d3c4b5a60004","name":"Set cerpadlo_topi","rules":[{"t":"set","p":"cerpadlo_topi","pt":"global","to":"blockDischarge","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[[]]},{"id":"htg_svc_nibe_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"NIBE ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.nibe_topeni"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":370,"y":300,"wires":[[]]},{"id":"htg_svc_nibe_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"NIBE OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.nibe_topeni"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":380,"y":350,"wires":[[]]},{"id":"htg_svc_cool_on","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Chlazení ON","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.nibe_chlazeni"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_on","x":373,"y":845,"wires":[[]]},{"id":"htg_svc_cool_off","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_exec_v2","name":"Chlazení OFF","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.nibe_chlazeni"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"switch","service":"turn_off","x":384,"y":892,"wires":[[]]},{"id":"htg_away_trigger","type":"server-state-changed","z":"f1e2d3c4b5a60001","g":"heating_g_away","name":"Jsme doma změna","server":"c7421fe2.cb11c","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.jsme_doma"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":170,"y":1120,"wires":[["htg_away_func"]]},{"id":"htg_away_func","type":"function","z":"f1e2d3c4b5a60001","g":"heating_g_away","name":"Away mode","func":"// Režim nepřítomnosti — snížení teploty když nejsme doma\nvar config = global.get(\"fve_config\") || {};\nvar AWAY_TEMP = config.topeni_teplota_nepritomnost || 21;\nvar letniRezim = config.letni_rezim === true;\n\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\n\nvar jsme_doma = getState(\"input_boolean.jsme_doma\") === \"on\";\nvar currentTemp = getFloat(\"input_number.nastavena_teplota_v_dome\", 22);\nvar savedTemp = flow.get(\"away_saved_temp\");\n\nif (!jsme_doma && !letniRezim) {\n    // Odchod z domu v zimě → snížit teplotu\n    if (currentTemp > AWAY_TEMP) {\n        // Uložit aktuální teplotu jen pokud jsme ji ještě neuložili\n        if (!savedTemp || savedTemp <= AWAY_TEMP) {\n            flow.set(\"away_saved_temp\", currentTemp);\n        }\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"PRYČ → \" + AWAY_TEMP + \"°C (uloženo \" + currentTemp + \"°C)\"});\n        return {payload: AWAY_TEMP};\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"PRYČ | teplota už \" + currentTemp + \"°C\"});\n        return null;\n    }\n} else if (jsme_doma && savedTemp && savedTemp > AWAY_TEMP) {\n    // Příchod domů → obnovit uloženou teplotu\n    var restoreTemp = savedTemp;\n    flow.set(\"away_saved_temp\", null);\n    node.status({fill:\"green\", shape:\"dot\", text:\"DOMA → \" + restoreTemp + \"°C (obnoveno)\"});\n    return {payload: restoreTemp};\n} else {\n    node.status({fill:\"grey\", shape:\"ring\", text: jsme_doma ? \"DOMA\" : (letniRezim ? \"LÉTO\" : \"PRYČ\")});\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1120,"wires":[["htg_away_set_temp"]]},{"id":"htg_away_set_temp","type":"api-call-service","z":"f1e2d3c4b5a60001","g":"heating_g_away","name":"Nastav teplotu","server":"c7421fe2.cb11c","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.nastavena_teplota_v_dome"],"labelId":[],"data":"{\"value\": {{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_number","service":"set_value","x":610,"y":1120,"wires":[[]]},{"id":"c7421fe2.cb11c","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"d291a07dcab752d6","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]