node-red/flows/fve-heating.json
[
    {
        "id": "f1e2d3c4b5a60001",
        "type": "tab",
        "label": "FVE Heating",
        "disabled": false,
        "info": "Kompletní řízení topení domu v2.0\nNIBE + oběhové čerpadlo + patrony + ventil + chlazení"
    },
    {
        "id": "heating_g_main_v2",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Řízení topení",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "htg_inject_60s",
            "htg_trig_auto",
            "htg_trig_temp",
            "htg_main_func",
            "htg_debug"
        ],
        "x": 14,
        "y": 18,
        "w": 732,
        "h": 202
    },
    {
        "id": "heating_g_exec_v2",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Exekuce akcí",
        "style": {
            "label": true,
            "fill": "#ffbfbf"
        },
        "nodes": [
            "htg_action_switch",
            "htg_svc_nibe_on",
            "htg_svc_nibe_off",
            "htg_svc_obehove_on",
            "htg_svc_obehove_off",
            "htg_svc_p1_on",
            "htg_svc_p1_off",
            "htg_svc_p2_on",
            "htg_svc_p2_off",
            "htg_svc_p3_on",
            "htg_svc_p3_off",
            "htg_svc_ventil_off",
            "htg_svc_cool_on",
            "htg_svc_cool_off",
            "htg_svc_stop_auto_solar",
            "htg_svc_stop_auto_grid"
        ],
        "x": 94,
        "y": 419,
        "w": 436,
        "h": 762
    },
    {
        "id": "f1e2d3c4b5a60004",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Ochrana baterie",
        "style": {
            "label": true
        },
        "nodes": [
            "htg_prot_trig",
            "htg_prot_func",
            "htg_prot_set"
        ],
        "x": 54,
        "y": 1199,
        "w": 712,
        "h": 82
    },
    {
        "id": "heating_g_away",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Režim nepřítomnosti",
        "style": {
            "stroke": "#ff9900",
            "label": true,
            "color": "#ff9900"
        },
        "nodes": [
            "htg_away_trigger",
            "htg_away_func",
            "htg_away_set_temp"
        ],
        "x": 54,
        "y": 1499,
        "w": 662,
        "h": 82
    },
    {
        "id": "htg_g_pat_korekce",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Patrony korekce vybíjení (5s)",
        "style": {
            "stroke": "#ff7f0e",
            "stroke-opacity": "1",
            "fill": "#fff3e6",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#ff7f0e"
        },
        "nodes": [
            "pat_korekce_inject",
            "pat_korekce_func",
            "pat_korekce_router",
            "pat_max_charge_svc"
        ],
        "x": 14,
        "y": 251.5,
        "w": 782,
        "h": 149.5
    },
    {
        "id": "htg_g_topeni_mod",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Topení MOD → HA sync",
        "style": {
            "stroke": "#1f77b4",
            "stroke-opacity": "1",
            "fill": "#e8f4fd",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#1f77b4"
        },
        "nodes": [
            "htg_topeni_mod_change",
            "htg_topeni_mod_api"
        ],
        "x": 54,
        "y": 1299,
        "w": 442,
        "h": 82
    },
    {
        "id": "htg_g_reload",
        "type": "group",
        "z": "f1e2d3c4b5a60001",
        "name": "Inicializace (startup)",
        "style": {
            "stroke": "#2ca02c",
            "stroke-opacity": "1",
            "fill": "#e8f8e8",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#2ca02c"
        },
        "nodes": [
            "htg_reload_input_select_inject",
            "htg_reload_input_select_api"
        ],
        "x": 54,
        "y": 1399,
        "w": 532,
        "h": 82
    },
    {
        "id": "htg_inject_60s",
        "type": "inject",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_main_v2",
        "name": "Každých 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "timer",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 59,
        "wires": [
            [
                "htg_main_func"
            ]
        ]
    },
    {
        "id": "htg_trig_auto",
        "type": "server-state-changed",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_main_v2",
        "name": "Automatizace změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.automatizovat_topeni"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 160,
        "y": 119,
        "wires": [
            [
                "htg_main_func"
            ]
        ]
    },
    {
        "id": "htg_trig_temp",
        "type": "server-state-changed",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_main_v2",
        "name": "Teplota změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.hp2551ae_pro_v2_1_0_indoor_temperature"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 160,
        "y": 179,
        "wires": [
            [
                "htg_main_func"
            ]
        ]
    },
    {
        "id": "htg_main_func",
        "type": "function",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_main_v2",
        "name": "Řízení topení v2.0",
        "func": "// FVE Heating Control v2.5 — Kompletní řízení topení domu\n// Řídí: NIBE (47371), oběhové čerpadlo, patrony (3 fáze), bazénový ventil, chlazení\n\nvar config = global.get(\"fve_config\") || {};\nvar prices = global.get(\"fve_prices_forecast\") || [];\n\n// === HELPER ===\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\nfunction getBool(id) { return getState(id) === \"on\"; }\n\n// Najdi nejlevnější budoucí hodinu (do konce solární výroby nebo do rána)\nfunction hasCheaperHourAhead(prices, currentHour, currentLevel) {\n    for (var i = 0; i < prices.length; i++) {\n        var h = prices[i].hour;\n        var m = prices[i].minute || 0;\n        if (m !== 0) continue;\n        // Budoucí hodiny (po aktuální)\n        if (h <= currentHour) continue;\n        var futureLevel = prices[i].levelCheapestHourBuy || 99;\n        if (futureLevel < currentLevel) return true;\n    }\n    return false;\n}\n\n// === PARAMETRY Z CONFIGU ===\nvar MIN_TANK = config.topeni_min_teplota_nadrze || 30;\nvar MAX_TANK = config.topeni_max_teplota_nadrze || 50;\nvar NOCNI_SNIZ = config.topeni_nocni_snizeni || 0.5;\nvar NOCNI_OD = config.topeni_nocni_od || 22;\nvar NOCNI_DO = config.topeni_nocni_do || 6;\nvar NOUZ_TEMP = config.topeni_nouzova_teplota || 18;\nvar MIN_PRETOK = config.topeni_min_pretok_patron_w || 3000;\nvar PATRON_W = config.topeni_patron_faze_w || 3000;\nvar MIN_SOC_PAT = config.topeni_min_soc_patron || 90;\nvar MAX_TANK_PAT = getFloat(\"input_number.topeni_max_teplota_patron\", config.topeni_max_teplota_patron || 53);\nvar PRAH_DRAHA = config.prah_draha_energie || 12;\nvar BEZPECNY_POKLES = config.topeni_bezpecny_pokles || 0.7;\nvar HYSTEREZE_CHLAZENI = config.topeni_hystereze_chlazeni || 1.0;\nvar SOLAR_FORECAST_THRESHOLD = config.topeni_solar_forecast_kwh || 30;\n// v19.5: Solar forecast source z configu (VICTRON / OPEN_METEO)\nvar solarSource = (config.solar_forecast_source || \"VICTRON\").toUpperCase();\nvar entityZitra = (solarSource === \"OPEN_METEO\") ? \"sensor.energy_production_tomorrow_3\" : \"input_number.predpoved_solarni_vyroby_zitra\";\nvar solarForecastTomorrow = getFloat(entityZitra, 0);\nvar bigSolarTomorrow = solarForecastTomorrow >= SOLAR_FORECAST_THRESHOLD;\nvar letniRezim = config.letni_rezim === true;\n\n// === ČTENÍ STAVŮ ===\nvar automatizace = getBool(\"input_boolean.automatizovat_topeni\");\nvar targetTemp = getFloat(\"input_number.nastavena_teplota_v_dome\", 22);\nvar indoorTemp = getFloat(\"sensor.hp2551ae_pro_v2_1_0_indoor_temperature\", 20);\nvar outdoorTemp = getFloat(\"sensor.hp2551ae_pro_v2_1_0_outdoor_temperature\", 10);\nvar tankTemp = getFloat(\"sensor.teplota_smesovac_teplota\", 35);\nvar dm = getFloat(\"sensor.nibe_degree_minutes\", 0);\nvar batSoc = getFloat(\"sensor.battery_percent\", 50);\nvar prebytek = getFloat(\"sensor.fve_dostupny_prebytek\", 0);\nvar compressor = getBool(\"binary_sensor.nibe_kompresory_aktivni_binarni\");\nvar pumpState = getState(\"sensor.nibe_aktualni_realny_stav\") || \"\";\nvar fireplace = getBool(\"input_boolean.topi_se_v_krbu\");\nvar coolEnabled = getBool(\"input_boolean.chlazeni\");\nvar autoHlad = getBool(\"input_boolean.auto_ma_hlad\");\nvar autoNabiji = getBool(\"input_boolean.nastavuj_amperaci_chargeru_solar\") || getBool(\"input_boolean.nastavuj_amperaci_chargeru_grid\");\n// v24.4: autoHlad VŽDY blokuje patrony — auto má ABSOLUTNÍ prioritu nad patrony!\n// Žádný override, žádná výjimka. Pokud auto_ma_hlad=ON, patrony NESMÍ běžet.\n// v24: ultraLevna se počítá níže (po isSolarHour)\nvar ultraLevna = false;\n// v22: Čteme z HA entity (přežije restart NR) i z globalu\nvar _fvePlanAttrs = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes || {};\nvar balancingActive = _fvePlanAttrs.current_mode === \"Balancování\" || global.get(\"balancing_active\") || false;\nvar balancingSolarDump = global.get(\"balancing_solar_dump\") || false;  // Pylontech balancing mode\nvar balancingBlockPump = global.get(\"balancing_block_pump\") || false;  // block pump during balancing\n\nvar nibeOn = getBool(\"switch.nibe_topeni\");\nvar obehOn = getBool(\"switch.teplota_smesovac\");\nvar p1on = getBool(\"switch.patrona_faze_1\");\nvar p2on = getBool(\"switch.patrona_faze_3_2\");\nvar p3on = getBool(\"switch.patrona_faze_3\");\nvar ventilOn = getBool(\"switch.bazen_ventil_smesovac\");\nvar coolOn = getBool(\"switch.nibe_chlazeni\");\n\nvar hour = new Date().getHours();\nvar now = Date.now();\nvar NIBE_COOLDOWN_MS = (config.nibe_cooldown_min || 10) * 60 * 1000;  // min doba mezi NIBE přepnutími\nvar lastNibeSwitch = flow.get(\"last_nibe_switch\") || 0;\nvar nibeCooldownOk = (now - lastNibeSwitch) >= NIBE_COOLDOWN_MS;\n\n// === GRID LOST ===\nvar gridLostRaw = getFloat(\"sensor.grid_lost_ciselny\", 0);\nvar gridLost = gridLostRaw >= 2;  // 0=OK, 1=Warning, 2=Grid Lost\nvar solarPower = getFloat(\"sensor.vyroba_fve\", 0);  // aktuální solární výkon (W)\nvar NIBE_PEAK_W = config.nibe_peak_w || 14000;  // peak odběr NIBE\n\n// === SOLÁRNÍ HODINY ===\nvar plan = global.get(\"fve_plan\") || {};\nvar solarStart = (plan && plan.solarStartHour) || 9;\nvar solarEnd = (plan && plan.solarEndHour) || 17;\nvar isSolarHour = (hour >= solarStart && hour < solarEnd);\nvar solarHoursLeft = isSolarHour ? (solarEnd - hour) : 0;\n// v24: Výpočet ultraLevna — primárně z HA entity (přežije NR restart), fallback na prices global\nvar PRAH_ULTRA_LEVNA_HTG = config.prah_ultra_levna_nakup || 1.0;\nvar _ultraBuyPrice = 99;\nvar _ultraSellPrice = 99;\n// 1) Zkus plan entity z HA (přežije restart NR)\nvar _planArr = _fvePlanAttrs.plan || [];\nfor (var _pi = 0; _pi < _planArr.length; _pi++) {\n    if (_planArr[_pi].hour === hour && _planArr[_pi].offset !== undefined) {\n        _ultraBuyPrice = parseFloat(_planArr[_pi].priceBuy) || 99;\n        _ultraSellPrice = parseFloat(_planArr[_pi].priceSell) || 99;\n        break;\n    }\n}\n// 2) Fallback na prices global (pokud plan entity nemá data)\nif (_ultraBuyPrice >= 99 && prices.length > 0) {\n    for (var _ui = 0; _ui < prices.length; _ui++) {\n        if (prices[_ui].hour === hour && (prices[_ui].minute === 0 || prices[_ui].minute === undefined)) {\n            _ultraBuyPrice = parseFloat(prices[_ui].priceCZKhourBuy) || 99;\n            _ultraSellPrice = parseFloat(prices[_ui].priceCZKhourProd) || 99;\n            break;\n        }\n    }\n}\nultraLevna = isSolarHour && _ultraBuyPrice < PRAH_ULTRA_LEVNA_HTG && _ultraSellPrice <= 0;\n// v24: cannotExportSolar = záporná prodejní cena + solární hodina → MUSÍME dumpovat přebytky\n// Patrony relaxace se řídí tímto (ne ultraLevna), protože buy price je irelevantní pro dump\nvar cannotExportSolar = isSolarHour && _ultraSellPrice <= 0;\nvar entityZbyvajici = (solarSource === \"OPEN_METEO\") ? \"sensor.energy_production_today_remaining_3\" : \"input_number.zbyvajici_solarni_vyroba_dnes\";\nvar zbyvajiciSolar = getFloat(entityZbyvajici, 0) * 1000; // Wh\nvar kapacitaBat = (config.kapacita_baterie_kwh || 28) * 1000; // Wh\nvar SOLAR_MARGIN_HOURS = config.topeni_solar_margin_hours || 2;\n\n// === CENOVÝ LEVEL (vždy celá hodina, minute=0) ===\nvar lvl = 99;\nfor (var i = 0; i < prices.length; i++) {\n    if (prices[i].hour === hour && (prices[i].minute === 0 || prices[i].minute === undefined)) {\n        lvl = prices[i].levelCheapestHourBuy || 99;\n        break;\n    }\n}\n// Fallback: pokud se aktuální hodina nenašla v prices (po restartu NR nebo midnight edge case)\nif (lvl === 99) {\n    lvl = getFloat(\"input_number.levelcheapesthourbuy\", 12);\n}\n// v19.3: Plan setrit = baterie se nevybiji, NIBE muze topit ze site\nvar planCurrentMode = (plan && plan.currentMode) || \"normal\";\nvar isDraha = (lvl >= PRAH_DRAHA) && (planCurrentMode !== \"setrit\");\n\n// === NOČNÍ REŽIM ===\nvar isNight = (hour >= NOCNI_OD || hour < NOCNI_DO);\n// Noční snížení = hystereze pro drahé hodiny (v levných topit na plnou teplotu)\nvar effTarget = isNight ? (targetTemp - NOCNI_SNIZ) : targetTemp;\n\n// === PATRONY STATE ===\nvar actPat = (p1on ? 1 : 0) + (p2on ? 1 : 0) + (p3on ? 1 : 0);\nvar availPat = prebytek + actPat * PATRON_W;\n\n// === OCHRANA ===\nvar pumpWorking = pumpState.indexOf(\"Klidový\") === -1 && pumpState !== \"\";\nvar canOffNibe = !compressor && !pumpWorking;\nvar canOnNibe = nibeCooldownOk;\n\n// === ROZHODOVÁNÍ ===\nvar actions = [];\nvar reason = \"\";\nvar patTarget = 0;\nvar shutdownDone = flow.get(\"shutdown_done\") || false;\n\nif (!automatizace) {\n    // v24.3: AUTOMATIZACE OFF — 1× bezpečnostně vypnout patrony, pak ABSOLUTNĚ na nic nesahat.\n    // Uživatel ovládá vše ručně v HA UI. Flow nesmí zasahovat do NIBE, oběhového, patrony — NIC.\n    if (!shutdownDone) {\n        if (p1on) actions.push(\"p1_off\");\n        if (p2on) actions.push(\"p2_off\");\n        if (p3on) actions.push(\"p3_off\");\n        flow.set(\"shutdown_done\", true);\n        reason = \"Automatizace OFF — 1× STOP patrony, flow nezasahuje\";\n    } else {\n        reason = \"Automatizace OFF — flow nezasahuje\";\n    }\n    flow.set(\"topeni_mod_active\", \"Vypnuto\");\n    global.set(\"topeni_mod\", \"Vypnuto\");\n\n} else {\n    var forceStart = flow.get(\"shutdown_done\") === true;  // právě zapnuta automatizace\n    flow.set(\"shutdown_done\", false);\n    // Reset summer flag pokud se změní automatizace\n    if (letniRezim) {\n        // LETNÍ REŽIM — jednorázové nastavení default stavu, pak jen chlazení\n        var summerDone = flow.get(\"summer_setup_done\") || false;\n        if (!summerDone) {\n            // Jednorázově: NIBE on (pro TUV), oběhové off, patrony off\n            if (canOffNibe) actions.push(\"nibe_on\");\n            if (obehOn) actions.push(\"obehove_off\");\n            if (p1on) actions.push(\"p1_off\");\n            if (p2on) actions.push(\"p2_off\");\n            if (p3on) actions.push(\"p3_off\");\n            flow.set(\"summer_setup_done\", true);\n            reason = \"Léto — jednorázové nastavení default\";\n        }\n\n        // Chlazení — běží stále v létě\n        if (coolEnabled) {\n            if (!coolOn && indoorTemp > effTarget + HYSTEREZE_CHLAZENI) {\n                actions.push(\"cool_on\");\n                reason = \"Chlazení ON (\" + indoorTemp.toFixed(1) + \">\" + (effTarget+HYSTEREZE_CHLAZENI).toFixed(1) + \"°C)\";\n            } else if (coolOn && indoorTemp < effTarget) {\n                actions.push(\"cool_off\");\n                reason = \"Chlazení OFF (\" + indoorTemp.toFixed(1) + \"<\" + effTarget.toFixed(1) + \"°C)\";\n            } else {\n                reason = \"Léto | \" + indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\" + (coolOn ? \" | Chlazení\" : \"\");\n            }\n        } else {\n            if (coolOn) actions.push(\"cool_off\");\n            reason = \"Léto | chlazení vypnuto\";\n        }\n    } else {\n        // ZIMNÍ REŽIM\n        flow.set(\"summer_setup_done\", false);\n\n        // 1. Bazénový ventil - kontrola\n        if (ventilOn) actions.push(\"ventil_off\");\n\n        // 2. Chlazení OFF v zimě\n        if (coolOn) actions.push(\"cool_off\");\n\n        // 3. TOPÉNÍ MOD — vzájemná exkluzivita NIBE a patrony\n        // MOD_PATRONY → NIBE blokováno. MOD_NIBE → patrony blokovány.\n        var topeniModAktivni = flow.get(\"topeni_mod_active\") || \"Vypnuto\";\n\n        // Podmínky pro topení\n        var tankOk = tankTemp >= MIN_TANK;\n        var needsHeat = indoorTemp < effTarget;\n\n        // Podmínky pro spuštění patrony (solární přebytek)\n        // v24.2: SOC práh pro patrony je VŽDY MIN_SOC_PAT (90%) — baterie má ABSOLUTNÍ prioritu!\n        // dumpRelax se používá JEN pro patronyRealisticke (volba MODu), NE pro SOC práh.\n        var dumpRelax = ultraLevna || cannotExportSolar;\n        // v24.3: Patrony ZAKÁZÁNY pokud solar < MIN_SOLAR_PAT AND mód != zakaz_pretoku AND SOC < 95%\n        var MIN_SOLAR_PAT = config.topeni_patron_min_solar_w || 5000;\n        var _currentFveMode = _fvePlanAttrs.current_mode || planCurrentMode || \"normal\";\n        var patronySolarOk = solarPower >= MIN_SOLAR_PAT || _currentFveMode === \"zakaz_pretoku\" || batSoc >= 95;\n        // v19.10: Balancing = patrony blokovány (priority: balancing > patrony)\n        var patronyMohou = patronySolarOk && (!balancingActive || balancingSolarDump) && batSoc >= MIN_SOC_PAT && !autoHlad && !autoNabiji && tankTemp < MAX_TANK_PAT && (!gridLost || solarPower > 0);\n        var patronyActive = false;\n        // Hlavní loop zapíná patrony POUZE pokud actPat === 0 (první zapnutí nebo restart).\n        // Jakmile patrony jednou běží, 5s smyčka (pat_korekce_func) přebírá řízení počtu fází.\n        if (patronyMohou && actPat === 0) {\n            // Patrony neběží — konzervativní start: vždy jen 1 fáze, korekce (5s) přidá další\n            // v24.2: START vždy vyžaduje reálný přebytek + SOC >= MIN_SOC_PAT (90%)\n            if (availPat >= MIN_PRETOK) {\n                patTarget = 1; patronyActive = true;\n                // Nastav cooldown pro korekci — čekat než se systém stabilizuje po startu\n                flow.set(\"pat_change_cooldown\", 6); // 6×5s = 30s\n            }\n        } else if (patronyMohou && actPat > 0) {\n            // v24.6: Patrony běží — ale zkontroluj že stále máme přebytek!\n            // Pokud reálný přebytek (bez patrony) < MIN_PRETOK → zastavit, solar nestačí.\n            if (availPat < MIN_PRETOK) {\n                // Solar přebytek nestačí pro patrony → STOP\n                patTarget = 0; patronyActive = false;\n            } else {\n                // Přebytek OK — 5s smyčka řídí počet fází\n                patTarget = actPat;\n                patronyActive = true;\n            }\n        }\n        // patronyMohou === false → hlavní loop vypne fáze (podmínky nesplněny)\n\n        // Přepínání modu — patrony POUZE pokud teplota je blízko cíle + reálná šance na běh\n        // Patrony = POSLEDNÍ priorita — přebytky co nemám kam dát (auto, NIBE, baterie)\n        // Velký rozdíl teploty → NIBE (topení domu). Malý rozdíl + reálné patrony → patrony.\n        var PATRON_TEMP_MARGIN = 0.3;  // °C — max rozdíl indoor vs target pro patrony\n        var tempGap = effTarget - indoorTemp;  // kladné = pod cílem\n        // Kontrola reálnosti patrony:\n        // 1. SOC musí být blízko MIN_SOC_PAT (max 15% pod) — jinak NIBE topí v levných hodinách\n        // 2. Zbývající solar musí pokrýt nabití baterie + spotřebu domu s 50% rezervou\n        var patronySocReady = batSoc >= (MIN_SOC_PAT - 15);\n        var battNeedWh = Math.max(0, (MIN_SOC_PAT - batSoc) / 100 * kapacitaBat);\n        var consumeEstWh = solarHoursLeft * 1500; // ~1.5kWh/h průměrná spotřeba domu\n        var patronyRealisticke = dumpRelax || (patronySocReady && zbyvajiciSolar > (battNeedWh + consumeEstWh) * 1.5);\n        if (isSolarHour && tempGap <= PATRON_TEMP_MARGIN && needsHeat && patronyRealisticke) {\n            // Solární hodiny + teplota blízko cíle + reálná šance na SOC ≥ 95% → mod Patrony\n            topeniModAktivni = \"Patrony\";\n        } else if (tempGap > PATRON_TEMP_MARGIN && needsHeat) {\n            // Velký rozdíl — dům potřebuje topit přes NIBE\n            topeniModAktivni = \"NIBE\";\n        } else if (!needsHeat && patronyMohou) {\n            // v24.1: Teplota dosažena + patrony mohou běžet → mod Patrony\n            // pat_korekce_func (5s) řídí fáze přes battery feedback\n            topeniModAktivni = \"Patrony\";\n        } else if (!needsHeat) {\n            topeniModAktivni = \"Vypnuto\";\n        } else {\n            // Fallback: needsHeat + ne solární hodiny → NIBE\n            topeniModAktivni = \"NIBE\";\n        }\n        flow.set(\"topeni_mod_active\", topeniModAktivni);\n\n        // Blokace dle modu\n        // v24: Vypnuto = žádné topení. Patrony = patrony mají prioritu. Obojí blokuje NIBE.\n        var nibeBlockedByMod     = (topeniModAktivni === \"Patrony\" || topeniModAktivni === \"Vypnuto\");\n        var patronyBlockedByMod  = (topeniModAktivni === \"NIBE\");\n\n        // Patrony ON/OFF (blokované pokud MOD_NIBE)\n        // Pokud patrony už běží (actPat > 0), fáze řídí korekce (5s) — hlavní loop jen startuje/stopuje\n        var korekceRidi = actPat > 0 && patronyMohou;\n        var p1want = !patronyBlockedByMod && patTarget >= 1;\n        var p2want = !patronyBlockedByMod && patTarget >= 2;\n        var p3want = !patronyBlockedByMod && patTarget >= 3;\n        if (!korekceRidi) {\n            if (p1want !== p1on) actions.push(p1want ? \"p1_on\" : \"p1_off\");\n            if (p2want !== p2on) actions.push(p2want ? \"p2_on\" : \"p2_off\");\n            if (p3want !== p3on) actions.push(p3want ? \"p3_on\" : \"p3_off\");\n        }\n\n        // 4. NIBE řízení v2.3 — NIBE topí NÁDRŽ, oběhové čerpadlo topí DŮM z nádrže\n        //    NIBE se NESMÍ spustit/pokračovat v drahých hodinách (výjimka: velký solár)\n        //    V levných hodinách: proaktivně topit nádrž i když dům je OK\n        var safeTemp = effTarget - BEZPECNY_POKLES;\n        // v19.4: Allow deferral to cheaper hour when temp is above safe minimum\n        var canDeferHeat = indoorTemp >= safeTemp;\n        var nibeBlockedByPatrony = nibeBlockedByMod;\n        var nibeBlockDischarge = true;\n        var gridAllowNibe = !gridLost || (gridLost && solarPower >= NIBE_PEAK_W);\n        var cheaperAhead = hasCheaperHourAhead(prices, hour, lvl);\n        var SOLAR_OVERRIDE_W = config.topeni_solar_override_w || 8000;\n        // v24.7: Solar hour deferral — defer to cheaper hours if solar doesn't cover NIBE\n        var solarCoversNibe = isSolarHour && prebytek >= SOLAR_OVERRIDE_W;\n        // Proaktivní topení: v levné hodině topit nádrž i když dům nepotřebuje (nádrž < MAX_TANK)\n        var tankNeedsHeat = tankTemp < MAX_TANK;\n        var nibeWanted = needsHeat || (!isDraha && tankNeedsHeat);\n\n        // === PRIORITA: TOPENÍ > AUTO NABÍJENÍ ===\n        if (!ultraLevna && autoNabiji && nibeWanted && !nibeBlockedByPatrony) {\n            actions.push(\"stop_auto_nabijeni\");\n        }\n\n        // === BEZPEČNOSTNÍ KONTROLY (vždy první) ===\n        if (!gridAllowNibe) {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (fireplace) {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (tankTemp > MAX_TANK) {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        } else if (nibeBlockedByPatrony) {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n\n        // === v22: BALANCOVÁNÍ → NIBE OFF pokud dům nepotřebuje topit ===\n        // Priorita: topení domu > balancování > proaktivní ohřev nádrže\n        } else if (balancingActive && !needsHeat) {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n\n        // === DRAHÁ HODINA → NIBE OFF (jediná výjimka: velký solár) ===\n        } else if (isDraha) {\n            if (prebytek >= SOLAR_OVERRIDE_W) {\n                // Velký solární přebytek → NIBE ON/pokračovat (free energy)\n                if (!nibeOn) actions.push(\"nibe_on\");\n                nibeBlockDischarge = false;\n            } else {\n                // Drahá hodina bez soláru → NIBE OFF, NESPOUŠTĚT\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            }\n\n        // === LEVNÁ/STŘEDNÍ HODINA ===\n        } else if (nibeWanted) {\n            // Levná hodina + (dům potřebuje topit NEBO nádrž pod MAX_TANK)\n            // v19.3: Plan setrit = plan už rozhodl že hodina je levná → skip cheaperAhead/bigSolar pro nádrž\n            // v19.4: Skip cheaperAhead ONLY when hour is genuinely cheap (lvl ≤ PRAH_LEVNA)\n        // Prevents heating at level 5 when level 2 is next hour\n        var PRAH_LEVNA = config.prah_levna_energie || 4;\n        var planSaysChap = (planCurrentMode === \"setrit\") && (lvl <= PRAH_LEVNA);\n            if (!planSaysChap && !solarCoversNibe && bigSolarTomorrow && (!needsHeat || canDeferHeat)) {\n                // Velký solar zítra + dům nepotřebuje → šetříme pro solár\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            } else if (!planSaysChap && !solarCoversNibe && cheaperAhead && (!needsHeat || canDeferHeat)) {\n                // Levnější hodiny existují + dům nepotřebuje → počkat\n                if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n            } else if (prebytek >= SOLAR_OVERRIDE_W) {\n                // Velký solární přebytek → NIBE ON bez blokace vybíjení\n                if (!nibeOn) actions.push(\"nibe_on\");\n                nibeBlockDischarge = false;\n            } else {\n                // Levná hodina → NIBE ON, topit nádrž\n                if (!nibeOn) actions.push(\"nibe_on\");\n                nibeBlockDischarge = (batSoc <= 90);\n            }\n\n        // === DŮM NEPOTŘEBUJE + NÁDRŽ OK ===\n        } else {\n            if (nibeOn && canOffNibe) actions.push(\"nibe_off\");\n        }\n\n        // Uložit info o blokaci vybíjení pro NIBE\n        flow.set(\"nibe_block_discharge\", nibeBlockDischarge);\n        \n        // 5. Oběhové čerpadlo (při krbu NESAHAT - řídí jiná automatika)\n        // Oběhové je nezávislé na NIBE — čerpá teplo z nádrže do domu kdykoli nádrž má co dát\n        // bigSolarTomorrow omezení se týká jen NIBE, ne oběhového (oběhové spotřebuje minimum)\n        if (!fireplace) {\n            // Noční snížení: oběhové nespouštět pokud teplota neklesla pod targetTemp - NOCNI_SNIZ\n            var obehoveTarget = isNight ? (targetTemp - NOCNI_SNIZ) : effTarget;\n            var needsHeatObehove = indoorTemp < obehoveTarget;\n            // v19.10: Balancing = čerpadlo off (nevybíjet baterii), pokud teplota OK\n            if (balancingBlockPump) {\n                if (obehOn) actions.push(\"obehove_off\");\n            } else if (tankOk && needsHeatObehove) {\n                actions.push(\"obehove_on\");\n            } else {\n                // Nádrž vychladlá nebo teplota v noci OK → čerpadlo off\n                if (obehOn) actions.push(\"obehove_off\");\n            }\n        }\n\n        // Reason\n        var parts = [];\n        parts.push(isDraha ? \"DRAHÁ(Lv\" + lvl + \")\" : \"Lv\" + lvl);\n        parts.push(\"In:\" + indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\");\n        parts.push(\"Tank:\" + tankTemp.toFixed(0) + \"°C\");\n        parts.push(\"DM:\" + Math.round(dm));\n        parts.push(\"Out:\" + outdoorTemp.toFixed(0) + \"°C\");\n        if (patronyActive) parts.push(\"PAT:\" + patTarget + \"f(\" + Math.round(availPat) + \"W)\");\n        if (fireplace) parts.push(\"KRB\");\n        if (isNight) parts.push(\"NOC\");\n        if (ultraLevna) parts.push(\"ULTRA_LEVNA\");\n        if (balancingActive) parts.push(\"⚡BAL\");\n        if (gridLost) parts.push(\"⚡GRID_LOST\");\n        if (isSolarHour) parts.push(\"☀\" + solarHoursLeft + \"h\");\n        if (cheaperAhead) parts.push(\"LEVNĚJŠÍ↓\");\n        if (bigSolarTomorrow) parts.push(\"☀Z:\" + Math.round(solarForecastTomorrow) + \"kWh\");\n        parts.push(\"Safe:\" + safeTemp.toFixed(1) + \"°C\");\n        if (!nibeBlockDischarge) parts.push(\"NoBLK\");\n        reason = parts.join(\" | \");\n    }\n}\n\n// === OCHRANA: NIBE nelze vypnout pokud pracuje ===\nif (actions.indexOf(\"nibe_off\") > -1 && !canOffNibe) {\n    actions = actions.filter(function(a) { return a !== \"nibe_off\"; });\n    reason += \" ⚠️OCHRANA:NIBE pracuje\";\n}\n\n// === OCHRANA: nikdy nibe_on + nibe_off zároveň ===\nvar hasNibeOn = actions.indexOf(\"nibe_on\") > -1;\nvar hasNibeOff = actions.indexOf(\"nibe_off\") > -1;\nif (hasNibeOn && hasNibeOff) {\n    // Konflikt — ponechat aktuální stav (nic nedělat)\n    actions = actions.filter(function(a) { return a !== \"nibe_on\" && a !== \"nibe_off\"; });\n    reason += \" ⚠️KONFLIKT:on+off→skip\";\n}\n\n// === COOLDOWN: min doba mezi NIBE přepnutími (přeskočit při forceStart) ===\nif ((hasNibeOn && !nibeOn) || (hasNibeOff && nibeOn && canOffNibe)) {\n    if (!nibeCooldownOk && !forceStart) {\n        actions = actions.filter(function(a) { return a !== \"nibe_on\" && a !== \"nibe_off\"; });\n        reason += \" ⏳COOLDOWN\";\n    } else {\n        flow.set(\"last_nibe_switch\", now);\n    }\n}\n\n// === FINÁLNÍ BEZPEČNOSTNÍ POJISTKA: NIBE a patrony nikdy současně ===\nvar hasNibeOnFinal = actions.indexOf(\"nibe_on\") > -1;\nvar hasNibeOffFinal = actions.indexOf(\"nibe_off\") > -1;\nvar hasPatOnFinal = actions.indexOf(\"p1_on\") > -1 || actions.indexOf(\"p2_on\") > -1 || actions.indexOf(\"p3_on\") > -1;\nvar patronyRunning = p1on || p2on || p3on;\nif (hasNibeOnFinal && (hasPatOnFinal || patronyRunning)) {\n    actions = actions.filter(function(a) { return a !== \"nibe_on\"; });\n    reason += \" ⚠️MUTEX:NIBE blokováno patronami\";\n}\n// v24: Pokud nibe_off je ve STEJNÉM batchi → patrony mohou startovat (NIBE se vypne v tomto cyklu)\nif (hasPatOnFinal && nibeOn && !hasNibeOffFinal) {\n    actions = actions.filter(function(a) { return a !== \"p1_on\" && a !== \"p2_on\" && a !== \"p3_on\"; });\n    reason += \" ⚠️MUTEX:patrony blokovány NIBE\";\n}\n// v24: Zajistit správné pořadí — nibe_off PŘED p*_on (fyzická bezpečnost)\nif (hasPatOnFinal && hasNibeOffFinal) {\n    var nibeIdx = actions.indexOf(\"nibe_off\");\n    var patIdx = Math.min(\n        actions.indexOf(\"p1_on\") > -1 ? actions.indexOf(\"p1_on\") : 999,\n        actions.indexOf(\"p2_on\") > -1 ? actions.indexOf(\"p2_on\") : 999,\n        actions.indexOf(\"p3_on\") > -1 ? actions.indexOf(\"p3_on\") : 999\n    );\n    if (nibeIdx > patIdx) {\n        // Přesuň nibe_off na začátek\n        actions = actions.filter(function(a) { return a !== \"nibe_off\"; });\n        actions.unshift(\"nibe_off\");\n    }\n}\n\n// === TOPENÍ MOD: zapsat do global pro HA input_select ===\n// topeniModAktivni je undefined pokud automatizace=OFF → použít manualMod nebo \"Vypnuto\"\nvar finalTopeniMod = (typeof topeniModAktivni !== \"undefined\" && topeniModAktivni) ? topeniModAktivni : (global.get(\"topeni_mod\") || \"Vypnuto\");\nglobal.set(\"topeni_mod\", finalTopeniMod);\n\n// === GLOBAL: cerpadlo_topi pro FVE blokaci ===\nvar isHeating = pumpState.indexOf(\"Vytápění\") > -1;\nvar isTUV = pumpState.indexOf(\"Ohřev vody\") > -1 || pumpState.indexOf(\"TUV\") > -1;\n// Pokud NIBE běží s velkým solárním ziskem, NEBLOKOVAT vybíjení baterie\nvar nibeBlkDisch = flow.get(\"nibe_block_discharge\") !== false;  // default true\nglobal.set(\"cerpadlo_topi\", (isHeating || isTUV) && nibeBlkDisch);\n\n// === STATUS ===\nvar st = [];\nst.push(automatizace ? (letniRezim ? \"LÉTO\" : \"ZIMA\") : \"OFF\");\nst.push(indoorTemp.toFixed(1) + \"/\" + effTarget.toFixed(1) + \"°C\");\nst.push(\"Tank:\" + tankTemp.toFixed(0));\nst.push(\"Lv\" + lvl);\nif (actions.length > 0) st.push(\"→\" + actions.join(\",\"));\n\nvar color = \"green\";\nif (!automatizace) color = \"grey\";\nelse if (indoorTemp < NOUZ_TEMP) color = \"red\";\nelse if (isDraha || patTarget > 0) color = \"yellow\";\nnode.status({fill: color, shape: \"dot\", text: st.join(\" | \")});\n\n// === OUTPUT ===\n// O1: actions array → router switch\n// O2: debug/status\nvar actionMsgs = null;\nif (actions.length > 0) {\n    actionMsgs = actions.map(function(a) { return {action: a}; });\n}\nvar statusMsg = {\n    payload: {\n        automatizace: automatizace, letniRezim: letniRezim,\n        indoorTemp: indoorTemp, targetTemp: effTarget,\n        tankTemp: tankTemp, dm: dm, outdoorTemp: outdoorTemp,\n        priceLevel: lvl, isDraha: isDraha, isNight: isNight,\n        nibeOn: nibeOn, obehOn: obehOn, patrony: actPat, patTarget: patTarget,\n        fireplace: fireplace, batSoc: batSoc, prebytek: prebytek,\n        actions: actions, reason: reason\n    }\n};\nreturn [actionMsgs, statusMsg];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 119,
        "wires": [
            [
                "htg_action_switch"
            ],
            [
                "htg_debug",
                "htg_topeni_mod_change"
            ]
        ]
    },
    {
        "id": "htg_action_switch",
        "type": "switch",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Akce router",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nibe_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nibe_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obehove_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "obehove_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p1_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p1_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ventil_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cool_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cool_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop_auto_nabijeni",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 190,
        "y": 780,
        "wires": [
            [
                "htg_svc_nibe_on"
            ],
            [
                "htg_svc_nibe_off"
            ],
            [
                "htg_svc_obehove_on"
            ],
            [
                "htg_svc_obehove_off"
            ],
            [
                "htg_svc_p1_on"
            ],
            [
                "htg_svc_p1_off"
            ],
            [
                "htg_svc_p2_on"
            ],
            [
                "htg_svc_p2_off"
            ],
            [
                "htg_svc_p3_on"
            ],
            [
                "htg_svc_p3_off"
            ],
            [
                "htg_svc_ventil_off"
            ],
            [
                "htg_svc_cool_on"
            ],
            [
                "htg_svc_cool_off"
            ],
            [
                "htg_svc_stop_auto_solar",
                "htg_svc_stop_auto_grid"
            ]
        ]
    },
    {
        "id": "htg_svc_obehove_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Oběhové ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.teplota_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 420,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_obehove_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Oběhové OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.teplota_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 420,
        "y": 610,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p1_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 1 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 420,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p1_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 1 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 420,
        "y": 710,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p2_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 2 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 420,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p2_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 2 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 420,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p3_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 3 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 420,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_p3_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Patrona 3 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 420,
        "y": 910,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_ventil_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Ventil OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bazen_ventil_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 411,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_debug",
        "type": "debug",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_main_v2",
        "name": "Heating Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.reason",
        "targetType": "msg",
        "statusVal": "payload.reason",
        "statusType": "auto",
        "x": 620,
        "y": 179,
        "wires": []
    },
    {
        "id": "htg_prot_trig",
        "type": "server-state-changed",
        "z": "f1e2d3c4b5a60001",
        "g": "f1e2d3c4b5a60004",
        "name": "NIBE stav změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.nibe_aktualni_realny_stav"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "htg_prot_func"
            ]
        ]
    },
    {
        "id": "htg_prot_func",
        "type": "function",
        "z": "f1e2d3c4b5a60001",
        "g": "f1e2d3c4b5a60004",
        "name": "Detekce topení vs TUV",
        "func": "// Detekce topení vs chlazení — blokace vybíjení baterie\nvar state = msg.payload || \"\";\nvar isHeating = state.indexOf(\"Vytápění\") > -1;\nvar isTUV = state.indexOf(\"Ohřev vody\") > -1 || state.indexOf(\"TUV\") > -1;\nvar blockDischarge = isHeating || isTUV;\nmsg.blockDischarge = blockDischarge;\nvar txt = blockDischarge\n    ? \"Blokace (\" + (isHeating ? \"topení\" : \"TUV\") + \")\"\n    : \"OK - \" + state.substring(0, 30);\nnode.status({fill: blockDischarge ? \"yellow\" : \"green\", shape: \"dot\", text: txt});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "htg_prot_set"
            ]
        ]
    },
    {
        "id": "htg_prot_set",
        "type": "change",
        "z": "f1e2d3c4b5a60001",
        "g": "f1e2d3c4b5a60004",
        "name": "Set cerpadlo_topi",
        "rules": [
            {
                "t": "set",
                "p": "cerpadlo_topi",
                "pt": "global",
                "to": "blockDischarge",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_nibe_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "NIBE ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_topeni"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 410,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_nibe_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "NIBE OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_topeni"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 420,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_cool_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Chlazení ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_chlazeni"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_on",
        "x": 413,
        "y": 1005,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_cool_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Chlazení OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_chlazeni"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "switch",
        "service": "turn_off",
        "x": 424,
        "y": 1052,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_away_trigger",
        "type": "server-state-changed",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_away",
        "name": "Jsme doma změna",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.jsme_doma"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 170,
        "y": 1540,
        "wires": [
            [
                "htg_away_func"
            ]
        ]
    },
    {
        "id": "htg_away_func",
        "type": "function",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_away",
        "name": "Away mode logika",
        "func": "// Režim nepřítomnosti — snížení teploty když nejsme doma\nvar config = global.get(\"fve_config\") || {};\nvar AWAY_TEMP = config.topeni_teplota_nepritomnost || 21;\nvar letniRezim = config.letni_rezim === true;\n\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\n\nvar jsme_doma = getState(\"input_boolean.jsme_doma\") === \"on\";\nvar currentTemp = getFloat(\"input_number.nastavena_teplota_v_dome\", 22);\nvar savedTemp = flow.get(\"away_saved_temp\");\n\nif (!jsme_doma && !letniRezim) {\n    // Odchod z domu v zimě → snížit teplotu\n    if (currentTemp > AWAY_TEMP) {\n        // Uložit aktuální teplotu jen pokud jsme ji ještě neuložili\n        if (!savedTemp || savedTemp <= AWAY_TEMP) {\n            flow.set(\"away_saved_temp\", currentTemp);\n        }\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"PRYČ → \" + AWAY_TEMP + \"°C (uloženo \" + currentTemp + \"°C)\"});\n        return {payload: AWAY_TEMP};\n    } else {\n        node.status({fill:\"yellow\", shape:\"ring\", text:\"PRYČ | teplota už \" + currentTemp + \"°C\"});\n        return null;\n    }\n} else if (jsme_doma && savedTemp && savedTemp > AWAY_TEMP) {\n    // Příchod domů → obnovit uloženou teplotu\n    var restoreTemp = savedTemp;\n    flow.set(\"away_saved_temp\", null);\n    node.status({fill:\"green\", shape:\"dot\", text:\"DOMA → \" + restoreTemp + \"°C (obnoveno)\"});\n    return {payload: restoreTemp};\n} else {\n    node.status({fill:\"grey\", shape:\"ring\", text: jsme_doma ? \"DOMA\" : (letniRezim ? \"LÉTO\" : \"PRYČ\")});\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "htg_away_set_temp"
            ]
        ]
    },
    {
        "id": "htg_away_set_temp",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_away",
        "name": "Nastav teplotu",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.nastavena_teplota_v_dome"
        ],
        "labelId": [],
        "data": "{\"value\": {{payload}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_number",
        "service": "set_value",
        "x": 610,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_topeni_mod_change",
        "type": "change",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_topeni_mod",
        "name": "Nastav topeni_mod",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topeni_mod",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "htg_topeni_mod_api"
            ]
        ]
    },
    {
        "id": "htg_topeni_mod_api",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_topeni_mod",
        "name": "Set topeni_mod",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.topeni_mod"
        ],
        "labelId": [],
        "data": "{\"option\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_select",
        "service": "select_option",
        "x": 390,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_reload_input_select_inject",
        "type": "inject",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_reload",
        "name": "Reload input_select (startup)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 8,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1440,
        "wires": [
            [
                "htg_reload_input_select_api"
            ]
        ]
    },
    {
        "id": "htg_reload_input_select_api",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_reload",
        "name": "Reload input_select",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.reload",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_select",
        "service": "reload",
        "x": 470,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "pat_korekce_inject",
        "type": "inject",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_pat_korekce",
        "name": "Patrony korekce (5s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 10,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "pat_korekce_func"
            ]
        ]
    },
    {
        "id": "pat_korekce_func",
        "type": "function",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_pat_korekce",
        "name": "Patrony korekce",
        "func": "// Patrony korekce v24.1\n// Řídí počet aktivních fází pokud patrony běží (cyklus 5s).\n//\n// SENZORY:\n// sensor.nabijeni_baterii: kladné = baterie se NABÍJÍ, záporné = VYBÍJÍ\n//\n// SOC LOGIKA (closed-loop battery feedback, stejný princip jako solární nabíjení auta):\n// SOC < 90%: patrony STOP (řeší hlavní loop)\n// SOC 90-95%: CHARGE-FB — baterie se MUSÍ nabíjet ~1kW! ±1 fáze dle battCharging\n// SOC >= 95%: DRAIN-FB — baterie se MUSÍ vybíjet ~1kW! ±1 fáze dle battCharging\n//\n// OUTPUT 1: [{action},...] → patron router\n// OUTPUT 2: {payload: {value: N}} → max_charge_power service\n\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\nfunction getBool(id) { return getState(id) === \"on\"; }\nfunction chargeMsg(value) { return {payload: {value: value}}; }\n\n// === AUTOMATIZACE OFF → MANUÁLNÍ MÓD ===\n// Při automatizace=OFF: 1x vypnout všechny fáze, pak absolutně nic nedělat.\n// Uživatel ovládá patrony ručně — flow nesmí zasahovat!\nvar automatizace = getBool(\"input_boolean.automatizovat_topeni\");\nif (!automatizace) {\n    var p1off = !getBool(\"switch.patrona_faze_1\");\n    var p2off = !getBool(\"switch.patrona_faze_3_2\");\n    var p3off = !getBool(\"switch.patrona_faze_3\");\n    var allOff = p1off && p2off && p3off;\n    var alreadyStopped = flow.get(\"pat_manual_stopped\") || false;\n    if (!allOff && !alreadyStopped) {\n        // Patrony ještě běží → 1x vypnout\n        flow.set(\"pat_manual_stopped\", true);\n        flow.set(\"pat_discharge_count\", 0);\n        flow.set(\"pat_stable_count\", 0);\n        flow.set(\"pat_change_cooldown\", 0);\n        var stopAll = [];\n        if (!p1off) stopAll.push({action: \"p1_off\"});\n        if (!p2off) stopAll.push({action: \"p2_off\"});\n        if (!p3off) stopAll.push({action: \"p3_off\"});\n        node.status({fill:\"grey\", shape:\"ring\", text:\"MANUAL: 1x STOP všech patrony\"});\n        return [stopAll, chargeMsg(-1)];\n    }\n    node.status({fill:\"grey\", shape:\"ring\", text:\"MANUAL MÓD — flow nezasahuje\"});\n    return [null, chargeMsg(-1)];\n}\n// Automatizace ON → reset flagu\nflow.set(\"pat_manual_stopped\", false);\n\nfunction makeActions(current, target, p1, p2, p3) {\n    var actions = [];\n    if (target > current) {\n        if (target >= 1 && !p1) actions.push({action: \"p1_on\"});\n        if (target >= 2 && !p2) actions.push({action: \"p2_on\"});\n        if (target >= 3 && !p3) actions.push({action: \"p3_on\"});\n    } else {\n        if (target < 3 && p3) actions.push({action: \"p3_off\"});\n        if (target < 2 && p2) actions.push({action: \"p2_off\"});\n        if (target < 1 && p1) actions.push({action: \"p1_off\"});\n    }\n    return actions.length > 0 ? actions : null;\n}\n\n// Aktuální stav fází\nvar p1on = getBool(\"switch.patrona_faze_1\");\nvar p2on = getBool(\"switch.patrona_faze_3_2\");\nvar p3on = getBool(\"switch.patrona_faze_3\");\nvar actPat = (p1on ? 1 : 0) + (p2on ? 1 : 0) + (p3on ? 1 : 0);\n\nvar batSoc = getFloat(\"sensor.battery_percent\", 0);\nvar config = global.get(\"fve_config\") || {};\nvar DRAIN_SOC_PRAH = config.topeni_patron_drain_soc_prah || 95;\nvar MIN_SOC_PAT = config.topeni_min_soc_patron || 90;\n\n// max_charge_power: SOC >= 95% → 0 (block), jinak -1 (unlimited)\nvar chargePower = (batSoc >= DRAIN_SOC_PRAH) ? 0 : -1;\nglobal.set(\"pat_block_charge\", batSoc >= DRAIN_SOC_PRAH);\nvar chgMsg = chargeMsg(chargePower);\n\n// Žádná fáze neběží → hlavní loop rozhodne\nif (actPat === 0) {\n    flow.set(\"pat_discharge_count\", 0);\n    flow.set(\"pat_stable_count\", 0);\n    node.status({fill:\"grey\", shape:\"dot\", text:\"OFF SOC:\" + batSoc + \"% chg:\" + chargePower});\n    return [null, chgMsg];\n}\n\n// === PATRONY BĚŽÍ ===\n// v24: Výpočet ultraLevna přímo z HA plan entity (přežije NR restart)\nvar _fvePlanAttrs = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes || {};\nvar _planArr = _fvePlanAttrs.plan || [];\nvar _hour = new Date().getHours();\nvar _planSolarStart = 9, _planSolarEnd = 17;\nvar _plan = global.get(\"fve_plan\") || {};\nif (_plan.solarStartHour) _planSolarStart = _plan.solarStartHour;\nif (_plan.solarEndHour) _planSolarEnd = _plan.solarEndHour;\nvar _isSolar = (_hour >= _planSolarStart && _hour < _planSolarEnd);\nvar _buyP = 99, _sellP = 99;\nfor (var _pi = 0; _pi < _planArr.length; _pi++) {\n    if (_planArr[_pi].hour === _hour && _planArr[_pi].offset !== undefined) {\n        _buyP = parseFloat(_planArr[_pi].priceBuy) || 99;\n        _sellP = parseFloat(_planArr[_pi].priceSell) || 99;\n        break;\n    }\n}\nvar PRAH_UL = config.prah_ultra_levna_nakup || 1.0;\nvar ultraLevna = _isSolar && _buyP < PRAH_UL && _sellP <= 0;\n// v24: cannotExportSolar = záporná cena + solar → MUSÍME dumpovat (buy price irelevantní)\nvar cannotExportSolar = _isSolar && _sellP <= 0;\nvar dumpRelax = ultraLevna || cannotExportSolar;\n// v24.2: SOC práh pro patrony je VŽDY MIN_SOC_PAT (90%) — baterie má ABSOLUTNÍ prioritu!\n// v24.3: Patrony ZAKÁZÁNY pokud solar < MIN_SOLAR_PAT AND mód != zakaz_pretoku AND SOC < 95%\nvar MIN_SOLAR_PAT = config.topeni_patron_min_solar_w || 5000;\nvar _solarW = getFloat(\"sensor.vyroba_fve\", 0);\nvar _currentFveMode = _fvePlanAttrs.current_mode || \"normal\";\nvar patronySolarOk = _solarW >= MIN_SOLAR_PAT || _currentFveMode === \"zakaz_pretoku\" || batSoc >= 95;\n\n// SOC pod prahem NEBO solar podmínka nesplněna → vypnout VŠECHNY fáze\nif (batSoc < MIN_SOC_PAT || !patronySolarOk) {\n    var stopActions = [];\n    if (p1on) stopActions.push({action: \"p1_off\"});\n    if (p2on) stopActions.push({action: \"p2_off\"});\n    if (p3on) stopActions.push({action: \"p3_off\"});\n    flow.set(\"pat_discharge_count\", 0);\n    flow.set(\"pat_stable_count\", 0);\n    var _reason = (batSoc < MIN_SOC_PAT) ? (\"SOC \" + batSoc + \"% < \" + MIN_SOC_PAT + \"%\") : (\"solar \" + Math.round(_solarW) + \"W < \" + MIN_SOLAR_PAT + \"W\");\n    node.status({fill:\"red\", shape:\"dot\", text:_reason + \" → ALL OFF\"});\n    if (stopActions.length > 0) return [stopActions, chgMsg];\n    return [null, chgMsg];\n}\n\n// Bateriové senzory\n// battMinus: kladné = baterie VYBÍJÍ (sensor.nabijeni_baterii_minus, vždy >= 0)\n// battCharging: kladné = baterie se NABÍJÍ, záporné = VYBÍJÍ (sensor.nabijeni_baterii)\nvar battMinus = getFloat(\"sensor.nabijeni_baterii_minus\", 0);\nvar battCharging = getFloat(\"sensor.nabijeni_baterii\", 0);\n\n// v24.5: GRID DRAW SAFETY — patrony NESMÍ způsobovat odběr ze sítě!\n// Pokud žereme ze sítě a patrony běží → okamžitě ubrat/stopnout (override cooldown).\n// Práh z configu, default 200W (malý offset pro měření).\nvar gridDraw = getFloat(\"sensor.spotreba_ze_site\", 0);\nvar GRID_DRAW_THRESH = config.topeni_patron_max_grid_draw_w || 200;\nif (gridDraw > GRID_DRAW_THRESH && actPat > 0) {\n    // Kolik fází ubrat? Každá fáze ≈ 3kW. Uber tolik, kolik potřebuješ.\n    var gridExcessW = gridDraw - GRID_DRAW_THRESH;\n    var phasesToDrop = Math.min(actPat, Math.max(1, Math.ceil(gridExcessW / (config.topeni_patron_faze_w || 3000))));\n    var newT = actPat - phasesToDrop;\n    flow.set(\"pat_change_cooldown\", config.topeni_patron_change_cooldown || 6);\n    flow.set(\"pat_stable_count\", 0);\n    node.status({fill:\"red\", shape:\"dot\", text:\"⚡GRID \" + Math.round(gridDraw) + \"W>\" + GRID_DRAW_THRESH + \"W → \" + actPat + \"→\" + newT + \"f SOC:\" + batSoc + \"%\"});\n    if (newT < actPat) return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n}\n\nvar CHANGE_COOLDOWN = config.topeni_patron_change_cooldown || 6;\nvar changeCooldown = flow.get(\"pat_change_cooldown\") || 0;\n\n// COOLDOWN — ale při silném vybíjení v CHARGE zóně (SOC 90-95%) reagovat okamžitě\n// v24.5: GRID DRAW override — pokud žereme ze sítě, reagovat i v cooldownu\nif (changeCooldown > 0) {\n    if (gridDraw > GRID_DRAW_THRESH && actPat > 1) {\n        // Grid draw + cooldown → okamžitě ubrat\n        var newT = actPat - 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"red\", shape:\"dot\", text:\"⚡GRID-CD \" + Math.round(gridDraw) + \"W → \" + actPat + \"→\" + newT + \"f SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    }\n    if (batSoc < DRAIN_SOC_PRAH && battCharging < -200 && actPat > 0) {\n        // CHARGE zóna + baterie vybíjí (< -200W) → okamžitě ubrat i v cooldownu (min 1 fáze)\n        var newT = actPat - 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"red\", shape:\"dot\", text:\"⚠️CHARGE-EMRG↓ \" + actPat + \"→\" + newT + \"f batt=\" + Math.round(battCharging) + \"W SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    }\n    flow.set(\"pat_change_cooldown\", changeCooldown - 1);\n    node.status({fill:\"blue\", shape:\"ring\", text:\"⏳cd:\" + changeCooldown + \" \" + actPat + \"f SOC:\" + batSoc + \"% batt:\" + Math.round(battCharging) + \"W chgP:\" + chargePower});\n    return [null, chgMsg];\n}\n\n// ====================================================================\n// SOC 90-95%: CHARGE-FB — baterie se MUSÍ nabíjet ~TARGET_BATT_W\n// Closed-loop feedback: ±1 fáze dle battCharging vs target\n// ====================================================================\nvar TARGET_BATT_W = config.nabijeni_auta_target_batt_w || 1000;\nvar DEAD_BAND_W = config.nabijeni_auta_dead_band_w || 500;\n\nif (batSoc >= MIN_SOC_PAT && batSoc < DRAIN_SOC_PRAH) {\n    // Target: battCharging = +TARGET_BATT_W (nabíjí ~1kW)\n    var battError = battCharging - TARGET_BATT_W;\n    if (battError > DEAD_BAND_W && actPat < 3) {\n        // Baterie nabíjí víc než potřeba → přidej fázi (spotřebuj přebytek)\n        var newT = actPat + 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"CHARGE-FB↑ \" + actPat + \"→\" + newT + \"f batt=+\" + Math.round(battCharging) + \"W tgt=+\" + TARGET_BATT_W + \"W SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    } else if (battError < -DEAD_BAND_W && actPat > 0) {\n        // v24.6: Baterie nenabíjí dost → uber fázi (může i na 0 — CL řeší vše)\n        var newT = actPat - 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"red\", shape:\"dot\", text:\"CHARGE-FB↓ \" + actPat + \"→\" + newT + \"f batt=\" + Math.round(battCharging) + \"W tgt=+\" + TARGET_BATT_W + \"W SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    }\n    // V dead bandu → stabilní\n    node.status({fill:\"green\", shape:\"dot\", text:\"CHARGE-FB \" + actPat + \"f batt=+\" + Math.round(battCharging) + \"W tgt=+\" + TARGET_BATT_W + \"±\" + DEAD_BAND_W + \"W SOC:\" + batSoc + \"%\"});\n    return [null, chgMsg];\n}\n\n// ====================================================================\n// SOC >= 95%: DRAIN-FB — baterie se MUSÍ vybíjet ~DRAIN_TARGET_W\n// Closed-loop feedback: ±1 fáze dle battCharging vs target\n// ====================================================================\nif (batSoc >= DRAIN_SOC_PRAH) {\n    var DRAIN_TARGET_W = -(config.topeni_patron_drain_w || 1000); // záporné = vybíjí\n    // Target: battCharging = DRAIN_TARGET_W (vybíjí ~1kW, tedy -1000W)\n    var battError = battCharging - DRAIN_TARGET_W;\n    if (battError > DEAD_BAND_W && actPat < 3) {\n        // Baterie nevybíjí dost (nebo nabíjí) → přidej fázi (víc spotřeby)\n        var newT = actPat + 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"DRAIN-FB↑ \" + actPat + \"→\" + newT + \"f batt=\" + Math.round(battCharging) + \"W tgt=\" + DRAIN_TARGET_W + \"W SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    } else if (battError < -DEAD_BAND_W && actPat > 0) {\n        // v24.6: Baterie vybíjí příliš → uber fázi (může i na 0 — CL řeší vše)\n        var newT = actPat - 1;\n        flow.set(\"pat_change_cooldown\", CHANGE_COOLDOWN);\n        flow.set(\"pat_stable_count\", 0);\n        node.status({fill:\"red\", shape:\"dot\", text:\"DRAIN-FB↓ \" + actPat + \"→\" + newT + \"f batt=\" + Math.round(battCharging) + \"W tgt=\" + DRAIN_TARGET_W + \"W SOC:\" + batSoc + \"%\"});\n        return [makeActions(actPat, newT, p1on, p2on, p3on), chgMsg];\n    }\n    // V dead bandu → stabilní\n    node.status({fill:\"green\", shape:\"dot\", text:\"DRAIN-FB \" + actPat + \"f batt=\" + Math.round(battCharging) + \"W tgt=\" + DRAIN_TARGET_W + \"±\" + DEAD_BAND_W + \"W SOC:\" + batSoc + \"%\"});\n    return [null, chgMsg];\n}\n\n// Fallback\nnode.status({fill:\"grey\", shape:\"ring\", text:\"? \" + actPat + \"f SOC:\" + batSoc + \"%\"});\nreturn [null, chgMsg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "pat_korekce_router"
            ],
            [
                "pat_max_charge_svc"
            ]
        ]
    },
    {
        "id": "pat_korekce_router",
        "type": "switch",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_pat_korekce",
        "name": "Korekce router",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "p1_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p1_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_on",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "htg_svc_p1_off"
            ],
            [
                "htg_svc_p2_off"
            ],
            [
                "htg_svc_p3_off"
            ]
        ]
    },
    {
        "id": "htg_svc_stop_auto_solar",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Stop auto solar",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 420,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "htg_svc_stop_auto_grid",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "heating_g_exec_v2",
        "name": "Stop auto grid",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 420,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "pat_max_charge_svc",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60001",
        "g": "htg_g_pat_korekce",
        "name": "MaxChargePower",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "number.max_charge_power"
        ],
        "labelId": [],
        "data": "{\"value\": {{payload.value}}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "number",
        "service": "set_value",
        "x": 680,
        "y": 360,
        "wires": [
            []
        ]
    }
]