node-red/flows/manager-nabijeni-auta.json
[
    {
        "id": "7ceb7c5337692ae5",
        "type": "tab",
        "label": "Manager nabíjení auta",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mgr_grp_logic",
        "type": "group",
        "z": "7ceb7c5337692ae5",
        "name": "Rozhodovací logika",
        "style": {
            "fill": "#d3e8f3",
            "label": true
        },
        "nodes": [
            "40686c99d0404f36",
            "8f1a7b3a93bc777c",
            "main_logic_func",
            "svc_grid_off",
            "svc_solar_off_stop",
            "svc_solar_off_slunce",
            "svc_grid_off_slunce",
            "link_out_slunce",
            "svc_solar_off_sit",
            "svc_grid_off_sit",
            "link_out_sit",
            "wallbox_stop_svc_main"
        ],
        "x": 14,
        "y": 39,
        "w": 892,
        "h": 262
    },
    {
        "id": "40686c99d0404f36",
        "type": "inject",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "5 minut",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 10,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "main_logic_func"
            ]
        ]
    },
    {
        "id": "8f1a7b3a93bc777c",
        "type": "server-state-changed",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Stav wallboxu",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "main_logic_func"
            ]
        ]
    },
    {
        "id": "main_logic_func",
        "type": "function",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Rozhodovací logika v2.7",
        "func": "// Manager nabíjení auta v24.2 — [1]stop [2]slunce [3]síť\nfunction gS(id){return(global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\")||{}).state;}\nfunction gB(id){return gS(id)===\"on\";}\nfunction gF(id,d){var v=parseFloat(gS(id));return isNaN(v)?(d||0):v;}\nvar cfg=global.get(\"fve_config\")||{};\n// Skip during hunger probe (charger is temporarily ON for state detection)\nif(flow.get(\"probe_active\")){node.status({fill:\"yellow\",shape:\"ring\",text:\"Probe probíhá...\"});return null;}\nvar hlad=gB(\"input_boolean.auto_ma_hlad\"),auto=gB(\"input_boolean.automatizovat_nabijeni_auta\");\nvar solRez=gB(\"input_boolean.solarni_rezim_nabijeni_auta\"),letni=gB(\"input_boolean.letni_rezim\");\nvar solCyklus=gB(\"input_boolean.nastavuj_amperaci_chargeru_solar\");\nvar chSt=gS(\"sensor.charger_state_garage\")||\"0\";\nvar src=(cfg.solar_forecast_source||\"VICTRON\").toUpperCase();\nvar eD=src===\"OPEN_METEO\"?\"sensor.energy_production_today_3\":\"input_number.predpoved_solarni_vyroby_dnes\";\nvar eZ=src===\"OPEN_METEO\"?\"sensor.energy_production_tomorrow_3\":\"input_number.predpoved_solarni_vyroby_zitra\";\nvar vD=gF(eD,0),vZ=gF(eZ,0),soc=gF(\"sensor.battery_percent\",0),roz=gF(\"sensor.rozdil_vyroby_a_spotreby\",0);\nvar FK=cfg.nabijeni_auta_forecast_kwh||40,MS=cfg.nabijeni_auta_solar_w||4000,MSS=cfg.nabijeni_auta_min_soc_slunce||85;\nfunction stop(t){global.set(\"balancing_solar_car\",false);node.status({fill:\"grey\",shape:\"ring\",text:t});return[[msg],null,null];}\nfunction slunce(t,c){global.set(\"balancing_solar_car\",!!c);node.status({fill:\"green\",shape:\"dot\",text:t});return[null,[msg],null];}\n// Law 5.0: auto OFF = do NOTHING (before any other check!)\nif(!auto){node.status({fill:\"grey\",shape:\"ring\",text:\"Auto OFF\\u2192NIC\"});return null;}\nif(!hlad)return stop(\"Nemá hlad\");\n// Balancování\nvar fpa=(global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\")||{}).attributes||{};\nvar bal=fpa.current_mode===\"Balancování\";\nif(!bal&&global.get(\"balancing_active\"))global.set(\"balancing_active\",false);\nif(bal){if(soc<99)return stop(\"⚡Bal SOC:\"+soc+\"%\");\nif(solCyklus)return slunce(\"⚡☀Bal+cyklus SOC:\"+soc+\"%\",true);\nvar BR=cfg.balancing_grid_reserve_w||1000,BMS=6*3*230+BR;\nif(roz>BMS)return slunce(\"⚡☀Bal+start přeb:\"+Math.round(roz)+\"W\",true);\nreturn stop(\"⚡Bal žádný přebytek\");}\nglobal.set(\"balancing_solar_car\",false);\nif(soc<MSS)return stop(\"SOC \"+soc+\"%<\"+MSS+\"%\");\nif(solCyklus){node.status({fill:\"green\",shape:\"dot\",text:\"☀Cyklus SOC:\"+soc+\"% přeb:\"+Math.round(roz)+\"W ch:\"+chSt});return[null,[msg],null];}\nvar curSol=gF(\"sensor.vyroba_fve\",0),chActive=chSt===\"2\";\nif(chActive&&curSol>MS&&!solCyklus)return slunce(\"☀Takeover sol:\"+Math.round(curSol)+\"W\",false);\nvar bSD=global.get(\"balancing_solar_dump\")||false;\nif(bSD&&curSol>MS)return slunce(\"⚡SolDump sol:\"+Math.round(curSol)+\"W\",false);\nvar avail=gF(\"sensor.fve_dostupny_prebytek\",0),maPreb=avail>MS;\nif(solRez&&maPreb){node.status({fill:\"green\",shape:\"dot\",text:\"Solar ON přeb:\"+Math.round(avail)+\"W\"});return[null,[msg],null];}\nif(letni&&maPreb){node.status({fill:\"green\",shape:\"dot\",text:\"Letní přeb:\"+Math.round(avail)+\"W\"});return[null,[msg],null];}\nif(vD>FK&&maPreb){node.status({fill:\"green\",shape:\"dot\",text:\"Dnes \"+Math.round(vD)+\"kWh+přeb\"});return[null,[msg],null];}\nif(vZ>FK&&maPreb){node.status({fill:\"green\",shape:\"dot\",text:\"Zítra \"+Math.round(vZ)+\"kWh+přeb\"});return[null,[msg],null];}\nif(vZ>FK||vD>FK){node.status({fill:\"orange\",shape:\"ring\",text:\"Čeká přeb dnes:\"+Math.round(vD)+\" zítra:\"+Math.round(vZ)});return[[msg],null,null];}\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Síť dnes:\"+Math.round(vD)+\" zítra:\"+Math.round(vZ)+\" soc:\"+soc+\"%\"});\nreturn[null,null,[msg]];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "svc_solar_off_stop"
            ],
            [
                "svc_solar_off_slunce"
            ],
            [
                "svc_solar_off_sit"
            ]
        ]
    },
    {
        "id": "svc_grid_off",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 140,
        "wires": [
            [
                "wallbox_stop_svc_main"
            ]
        ]
    },
    {
        "id": "svc_solar_off_stop",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "svc_grid_off"
            ]
        ]
    },
    {
        "id": "svc_solar_off_slunce",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "svc_grid_off_slunce"
            ]
        ]
    },
    {
        "id": "svc_grid_off_slunce",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "link_out_slunce"
            ]
        ]
    },
    {
        "id": "link_out_slunce",
        "type": "link out",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Spusť nabíjení ze slunce",
        "mode": "link",
        "links": [
            "bd970168cfe6cecf"
        ],
        "x": 865,
        "y": 200,
        "wires": []
    },
    {
        "id": "svc_solar_off_sit",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "svc_grid_off_sit"
            ]
        ]
    },
    {
        "id": "svc_grid_off_sit",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "link_out_sit"
            ]
        ]
    },
    {
        "id": "link_out_sit",
        "type": "link out",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Spusť nabíjení ze sítě",
        "mode": "link",
        "links": [
            "4c0ccbe3229bb4f8"
        ],
        "x": 865,
        "y": 260,
        "wires": []
    },
    {
        "id": "wallbox_stop_svc_main",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Wallbox STOP",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wallbox_garaz_start_stop"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "probe_grp",
        "type": "group",
        "z": "7ceb7c5337692ae5",
        "name": "Auto Hunger Probe",
        "style": {
            "fill": "#fff2cc",
            "label": true
        },
        "nodes": [
            "probe_state_trigger",
            "probe_decision_func",
            "probe_set_6a_svc",
            "probe_charger_on_svc",
            "probe_delay_20s",
            "probe_result_func",
            "probe_hlad_on_svc",
            "probe_hlad_off_svc",
            "probe_charger_off_svc"
        ],
        "x": 14,
        "y": 319,
        "w": 932,
        "h": 262
    },
    {
        "id": "probe_state_trigger",
        "type": "server-state-changed",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Charger State Change",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 160,
        "y": 380,
        "wires": [
            [
                "probe_decision_func"
            ]
        ]
    },
    {
        "id": "probe_decision_func",
        "type": "function",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Probe Decision",
        "func": "// Auto Hunger Probe — zjištění skutečného stavu auta při připojení\n// Řeší: state 6 (WaitStart) nerozlišuje nabité vs hladové auto\n// Trigger: state change z obou wallboxů\n// Outputs: [1] start probe | [2] hlad ON | [3] hlad OFF\n\nvar entityId = msg.topic || \"\";\nvar isGarage = entityId === \"sensor.charger_state_garage\";\nvar newState = parseInt(msg.payload) || 0;\nvar oldState = (msg.data && msg.data.old_state) ? parseInt(msg.data.old_state.state) || 0 : 0;\n\nif (isGarage) {\n    // === GARÁŽ — probe při prvním připojení ===\n    if (newState === 0) {\n        // Odpojeno → žádný hlad\n        flow.set(\"probe_active\", false);\n        flow.set(\"garage_hunger\", false);\n        node.status({fill: \"grey\", shape: \"ring\", text: \"Garáž: odpojeno\"});\n    }\n    else if (newState === 3) {\n        // Nabité → žádný hlad\n        flow.set(\"probe_active\", false);\n        flow.set(\"garage_hunger\", false);\n        node.status({fill: \"green\", shape: \"dot\", text: \"Garáž: nabité\"});\n    }\n    else if (newState === 2) {\n        // Nabíjí se → má hlad\n        flow.set(\"garage_hunger\", true);\n        node.status({fill: \"blue\", shape: \"dot\", text: \"Garáž: nabíjí se\"});\n    }\n    else if (oldState === 0 && newState !== 0) {\n        // Auto právě připojeno → spustit probe\n        flow.set(\"probe_active\", true);\n        flow.set(\"garage_hunger\", true); // bezpečný default\n        node.status({fill: \"yellow\", shape: \"dot\", text: \"Garáž: probe spuštěn...\"});\n        // Out1: start probe sekvenci, Out2: hlad ON (safe default)\n        return [msg, msg, null];\n    }\n} else {\n    // === VENKOVNÍ WALLBOX — bez probe (zachováno staré chování) ===\n    if (newState === 0 || newState === 3) {\n        flow.set(\"outdoor_hunger\", false);\n    } else if (newState === 2 || newState === 4 || newState === 6) {\n        flow.set(\"outdoor_hunger\", true);\n    }\n}\n\n// Vyhodnoť kombinovaný hlad (garáž OR venkovní)\nvar garageHunger = flow.get(\"garage_hunger\") || false;\nvar outdoorHunger = flow.get(\"outdoor_hunger\") || false;\n\nif (garageHunger || outdoorHunger) {\n    return [null, msg, null]; // Out2: hlad ON\n} else {\n    return [null, null, msg]; // Out3: hlad OFF\n}\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "probe_set_6a_svc"
            ],
            [
                "probe_hlad_on_svc"
            ],
            [
                "probe_hlad_off_svc"
            ]
        ]
    },
    {
        "id": "probe_set_6a_svc",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Set 6A",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "select.wallboxu_garaz_amperace"
        ],
        "labelId": [],
        "data": "{\"option\": \"6A\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "select",
        "service": "select_option",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "probe_charger_on_svc"
            ]
        ]
    },
    {
        "id": "probe_charger_on_svc",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Charger ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wallbox_garaz_start_stop"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "probe_delay_20s"
            ]
        ]
    },
    {
        "id": "probe_delay_20s",
        "type": "delay",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "20s",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 360,
        "wires": [
            [
                "probe_result_func"
            ]
        ]
    },
    {
        "id": "probe_result_func",
        "type": "function",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Probe Result",
        "func": "// Probe Read Result — čtení stavu chargeru po 20s delay\n// Outputs: [1] hlad ON | [2] hlad OFF | [3] charger OFF (vždy po probe)\n\n// Kontrola, zda probe nebyl mezitím zrušen (např. auto odpojeno)\nif (!flow.get(\"probe_active\")) {\n    node.status({fill: \"grey\", shape: \"ring\", text: \"Probe zrušen\"});\n    return [null, null, msg]; // jen vypni charger pro jistotu\n}\nflow.set(\"probe_active\", false);\n\nvar chargerState = parseInt(\n    (global.get(\"homeassistant.homeAssistant.states['sensor.charger_state_garage']\") || {}).state\n) || 0;\n\nvar outdoorHunger = flow.get(\"outdoor_hunger\") || false;\n\nif (chargerState === 3) {\n    // Auto je nabité → garage nemá hlad\n    flow.set(\"garage_hunger\", false);\n    node.status({fill: \"green\", shape: \"dot\", text: \"Probe: nabité (st.3)\"});\n    if (outdoorHunger) {\n        return [msg, null, msg]; // venkovní má hlad → celkově ON\n    }\n    return [null, msg, msg]; // žádný hlad → OFF\n} else {\n    // Auto má hlad (st.2) nebo jiný stav\n    flow.set(\"garage_hunger\", true);\n    node.status({fill: \"red\", shape: \"dot\", text: \"Probe: hlad (st.\" + chargerState + \")\"});\n    return [msg, null, msg]; // hlad ON + charger OFF\n}\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "probe_hlad_on_svc"
            ],
            [
                "probe_hlad_off_svc"
            ],
            [
                "probe_charger_off_svc"
            ]
        ]
    },
    {
        "id": "probe_hlad_on_svc",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Hlad ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.auto_ma_hlad"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 590,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "probe_hlad_off_svc",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Hlad OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.auto_ma_hlad"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 590,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "probe_charger_off_svc",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "probe_grp",
        "name": "Charger OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wallbox_garaz_start_stop"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    }
]
