node-red/flows/manager-nabijeni-auta.json
[
    {
        "id": "7ceb7c5337692ae5",
        "type": "tab",
        "label": "Manager nabâ”śĹźjenâ”śĹź auta",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "40686c99d0404f36",
        "type": "inject",
        "z": "7ceb7c5337692ae5",
        "name": "5 minut",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "main_logic_func"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "8f1a7b3a93bc777c",
        "type": "server-state-changed",
        "z": "7ceb7c5337692ae5",
        "name": "Stav wallboxu",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.charger_state_garage",
                "sensor.stav_wallboxu_venek"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "main_logic_func"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "main_logic_func",
        "type": "function",
        "z": "7ceb7c5337692ae5",
        "name": "Rozhodovacâ”śĹź logika v2.5",
        "func": "// Manager nabâ”śĹźjenâ”śĹź auta v2.5\n// v2.4: Pokud solâ”śĂ­rnâ”śĹź cyklus uâ”ĽĹĽ bâ”€Ĺ¤â”ĽĹĽâ”śĹź, NEZASTAVOVAT kvâ”ĽÂ»li poklesu pâ”ĽĂ–ebytku.\n// v2.5: Kontrola charger_state pâ”ĽĂ–â”śĹźmo - pokud charger hlâ”śĂ­sâ”śĹź \"charged\" (3), STOP okamâ”ĽĹĽitâ”€Ĺ¤.\n//   auto_ma_hlad mâ”śĂ­ 60s delay z HA automatizace - nelze na nâ”€Ĺ¤j spolâ”śÄ™hat pro okamâ”ĽĹĽitâ”śĹ» stop.\n// Vâ”śĹ»stupy: [1] stop Ă”Ä‡Äş grid+solar OFF, [2] nabâ”śĹźjenâ”śĹź ze slunce, [3] nabâ”śĹźjenâ”śĹź ze sâ”śĹźtâ”€Ĺ¤\nfunction getState(id) {\n    var e = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {};\n    return e.state;\n}\nfunction getBool(id) { return getState(id) === \"on\"; }\nfunction getFloat(id, def) {\n    var v = parseFloat(getState(id));\n    return isNaN(v) ? (def || 0) : v;\n}\n\nvar config = global.get(\"fve_config\") || {};\n\nvar autoHlad     = getBool(\"input_boolean.auto_ma_hlad\");\nvar automatizace = getBool(\"input_boolean.automatizovat_nabijeni_auta\");\nvar solarniRezim = getBool(\"input_boolean.solarni_rezim_nabijeni_auta\");\nvar letniRezim   = getBool(\"input_boolean.letni_rezim\");\nvar solarCyklusBezi = getBool(\"input_boolean.nastavuj_amperaci_chargeru_solar\");\n\n// v2.5: Pâ”ĽĂ–â”śĹźmâ”śĂ­ kontrola charger_state - \"2\" = Charging, \"3\" = Charged, jinak = idle\nvar chargerState = getState(\"sensor.charger_state_garage\") || \"0\";\nvar chargerCharged = (chargerState === \"3\" || chargerState === \"4\");  // 3=Charged, 4=Error/Done\n\n// OPRAVA: â”€Ĺąâ”śĹźst forecast Pâ”ĽĹ›â”śĹąMO z HA entity (ne z fve_config!)\nvar vyrobaDnes   = getFloat(\"input_number.predpoved_solarni_vyroby_dnes\", 0);\nvar vyrobaZitra  = getFloat(\"input_number.predpoved_solarni_vyroby_zitra\", 0);\nvar batSoc       = getFloat(\"sensor.battery_percent\", 0);\nvar rozdiVyroby  = getFloat(\"sensor.rozdil_vyroby_a_spotreby\", 0);\n\nvar FORECAST_KWH = config.nabijeni_auta_forecast_kwh || 40;\nvar MIN_SOC      = config.nabijeni_auta_min_soc      || 95;\nvar MIN_SOLAR_W  = config.nabijeni_auta_solar_w      || 4000;\nvar MIN_SOC_SLUNCE = config.nabijeni_auta_min_soc_slunce || 85;\n\n// 1. Auto nemâ”śĂ­ hlad Ă”Ä‡Äş stop (grid+solar OFF)\nif (!autoHlad) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Nemâ”śĂ­ hlad Ă”Ä‡Äş stop\"});\n    return [[msg], null, null];\n}\n\n// 1b. v2.5: Charger hlâ”śĂ­sâ”śĹź \"charged\" Ă”Ä‡Äş stop okamâ”ĽĹĽitâ”€Ĺ¤ (bez â”€Ĺąekâ”śĂ­nâ”śĹź na auto_ma_hlad delay)\nif (chargerCharged) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Charger state=\" + chargerState + \" (nabito) Ă”Ä‡Äş stop\"});\n    return [[msg], null, null];\n}\n\n// 2. Automatizace vypnuta Ă”Ä‡Äş stop\nif (!automatizace) {\n    node.status({fill:\"grey\", shape:\"ring\", text:\"Automatizace OFF Ă”Ä‡Äş stop\"});\n    return [[msg], null, null];\n}\n\n// 3. MUTEX: NIBE topâ”śĹź Ă”Ä‡Äş auto NESMâ”śĹą nabâ”śĹźjet (nikdy souâ”€Ĺąasnâ”€Ĺ¤!)\nvar ultraLevna = global.get(\"ultra_levna_energie\") || false;\nvar cerpadloTopi = global.get(\"cerpadlo_topi\") || false;\nif (cerpadloTopi && !ultraLevna) {\n    node.status({fill:\"red\", shape:\"ring\", text:\"Ă”ĂśĂˇÂ´ĹžÄ†MUTEX: NIBE topâ”śĹź Ă”Ä‡Äş auto STOP\"});\n    return [[msg], null, null];\n}\n\n// 3b. SOC pod prahem pro solâ”śĂ­rnâ”śĹź nabâ”śĹźjenâ”śĹź Ă”Ä‡Äş stop solâ”śĂ­rnâ”śĹź cyklus\nif (batSoc < MIN_SOC_SLUNCE) {\n    node.status({fill:\"orange\", shape:\"ring\", text:\"SOC \" + batSoc + \"% < \" + MIN_SOC_SLUNCE + \"% Ă”Ä‡Äş stop\"});\n    return [[msg], null, null];\n}\n\n// === v2.4: Pokud solâ”śĂ­rnâ”śĹź cyklus Uâ”ĽĹ» Bâ”€Ăśâ”ĽĹ»â”śĹą, nechat ho bâ”€Ĺ¤â”ĽĹĽet ===\n// Cyklus si sâ”śĂ­m â”ĽĂ–â”śĹźdâ”śĹź ampâ”śÄ™râ”śĂ­â”ĽĹĽ a zastavâ”śĹź se kdyâ”ĽĹĽ target < 6A\n// Manager ho nezastavuje kvâ”ĽÂ»li poklesu pâ”ĽĂ–ebytku\nif (solarCyklusBezi) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Ă”Ĺ›Ă‡Â´ĹžÄ† Cyklus bâ”€Ĺ¤â”ĽĹĽâ”śĹź | SOC:\" + batSoc + \"% pâ”ĽĂ–ebytek:\" + Math.round(rozdiVyroby) + \"W charger:\" + chargerState});\n    return [null, [msg], null];\n}\n\n// === Novâ”śĹ» start solâ”śĂ­rnâ”śĹźho nabâ”śĹźjenâ”śĹź ===\nvar maPrebytek = rozdiVyroby > MIN_SOLAR_W;\n\n// 4. Solâ”śĂ­rnâ”śĹź reâ”ĽĹĽim ON Ă”Ä‡Äş slunce (jen pokud je pâ”ĽĂ–ebytek)\nif (solarniRezim && maPrebytek) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Solar ON | pâ”ĽĂ–ebytek=\" + Math.round(rozdiVyroby) + \"W Ă”Ä‡Äş slunce\"});\n    return [null, [msg], null];\n}\n\n// 5. Letnâ”śĹź reâ”ĽĹĽim + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\nif (letniRezim && maPrebytek) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Letnâ”śĹź + pâ”ĽĂ–ebytek=\" + Math.round(rozdiVyroby) + \"W Ă”Ä‡Äş slunce\"});\n    return [null, [msg], null];\n}\n\n// 6. Vâ”śĹ»roba dnes > FORECAST + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\nif (vyrobaDnes > FORECAST_KWH && maPrebytek) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Dnes \" + Math.round(vyrobaDnes) + \"kWh + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\"});\n    return [null, [msg], null];\n}\n\n// 7. Baterie > MIN_SOC + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\nif (batSoc > MIN_SOC && maPrebytek) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Bat \" + batSoc + \"% + pâ”ĽĂ–ebytek=\" + Math.round(rozdiVyroby) + \"W Ă”Ä‡Äş slunce\"});\n    return [null, [msg], null];\n}\n\n// 8. Zâ”śĹźtra dobrâ”śĹ» forecast + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\nif (vyrobaZitra > FORECAST_KWH && maPrebytek) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"Zâ”śĹźtra \" + Math.round(vyrobaZitra) + \"kWh + pâ”ĽĂ–ebytek Ă”Ä‡Äş slunce\"});\n    return [null, [msg], null];\n}\n\n// 9. â”ĽĹ»â”śĂ­dnâ”śĹ» pâ”ĽĂ–ebytek nebo forecast nesplnâ”€Ĺ¤n\nif (vyrobaZitra > FORECAST_KWH || vyrobaDnes > FORECAST_KWH) {\n    node.status({fill:\"orange\", shape:\"ring\", text:\"â”€Ă®ekâ”śĂ­ na pâ”ĽĂ–ebytek | dnes:\" + Math.round(vyrobaDnes) + \" zâ”śĹźtra:\" + Math.round(vyrobaZitra) + \" pâ”ĽĂ–ebytek=\" + Math.round(rozdiVyroby) + \"W\"});\n    return [[msg], null, null];\n}\n\n// 10. Forecast â”ĽĂ­patnâ”śĹ», pâ”ĽĂ–ebytek nenâ”śĹź Ă”Ä‡Äş nabâ”śĹźjenâ”śĹź ze sâ”śĹźtâ”€Ĺ¤\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Sâ”śĹźâ”ĽÄ… | dnes:\" + Math.round(vyrobaDnes) + \" zâ”śĹźtra:\" + Math.round(vyrobaZitra) + \" bat:\" + batSoc + \"%\"});\nreturn [null, null, [msg]];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "svc_solar_off_stop"
            ],
            [
                "svc_solar_off_slunce"
            ],
            [
                "svc_solar_off_sit"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_grid_off",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 140,
        "wires": [
            [
                "wallbox_stop_svc_main"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_solar_off_stop",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "svc_grid_off"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_solar_off_slunce",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "svc_grid_off_slunce"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_grid_off_slunce",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 200,
        "wires": [
            [
                "link_out_slunce"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "link_out_slunce",
        "type": "link out",
        "z": "7ceb7c5337692ae5",
        "name": "Spusâ”ĽÄ… nabâ”śĹźjenâ”śĹź ze slunce",
        "mode": "link",
        "links": [
            "bd970168cfe6cecf"
        ],
        "x": 865,
        "y": 200,
        "wires": [],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_solar_off_sit",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Solar OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_solar"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 550,
        "y": 260,
        "wires": [
            [
                "svc_grid_off_sit"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "svc_grid_off_sit",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "name": "Grid OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.nastavuj_amperaci_chargeru_grid"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "link_out_sit"
            ]
        ],
        "g": "mgr_grp_logic"
    },
    {
        "id": "link_out_sit",
        "type": "link out",
        "z": "7ceb7c5337692ae5",
        "name": "Spusâ”ĽÄ… nabâ”śĹźjenâ”śĹź ze sâ”śĹźtâ”€Ĺ¤",
        "mode": "link",
        "links": [
            "4c0ccbe3229bb4f8"
        ],
        "x": 865,
        "y": 260,
        "wires": [],
        "g": "mgr_grp_logic"
    },
    {
        "id": "mgr_grp_logic",
        "type": "group",
        "z": "7ceb7c5337692ae5",
        "name": "Rozhodovacâ”śĹź logika",
        "style": {
            "fill": "#d3e8f3",
            "label": true
        },
        "nodes": [
            "40686c99d0404f36",
            "8f1a7b3a93bc777c",
            "main_logic_func",
            "svc_grid_off",
            "svc_solar_off_stop",
            "svc_solar_off_slunce",
            "svc_grid_off_slunce",
            "link_out_slunce",
            "svc_solar_off_sit",
            "svc_grid_off_sit",
            "link_out_sit",
            "wallbox_stop_svc_main"
        ],
        "x": 14,
        "y": 39,
        "w": 1052,
        "h": 262
    },
    {
        "id": "wallbox_stop_svc_main",
        "type": "api-call-service",
        "z": "7ceb7c5337692ae5",
        "g": "mgr_grp_logic",
        "name": "Wallbox STOP",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.wallbox_garaz_start_stop"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 120,
        "wires": [
            []
        ]
    }
]