node-red/flows/nibe-control.json
[
    {
        "id": "nibe_control_flow",
        "type": "tab",
        "label": "NIBE Control",
        "disabled": false,
        "info": "Ovládání tepelného čerpadla NIBE F1345 přes Modbus"
    },
    {
        "id": "comment_header",
        "type": "comment",
        "z": "nibe_control_flow",
        "name": "NIBE F1345 - Ovládání topení, chlazení, TUV",
        "info": "Registry fungují pouze v manuálním režimu čerpadla (47137=1)\n\n- 47371: Allow Heating (0=Off, 1=On)\n- 47372: Allow Cooling (0=Off, 1=On)\n- 47387: HW production (0=Off, 1=On)",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "inject_test_on",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Zapnout topení",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "prepare_heating"
            ]
        ]
    },
    {
        "id": "inject_test_off",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Vypnout topení",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "prepare_heating"
            ]
        ]
    },
    {
        "id": "inject_cooling_on",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Zapnout chlazení",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "prepare_cooling"
            ]
        ]
    },
    {
        "id": "inject_cooling_off",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Vypnout chlazení",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "prepare_cooling"
            ]
        ]
    },
    {
        "id": "inject_hw_on",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Zapnout TUV",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "prepare_hw"
            ]
        ]
    },
    {
        "id": "inject_hw_off",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Vypnout TUV",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "prepare_hw"
            ]
        ]
    },
    {
        "id": "prepare_heating",
        "type": "function",
        "z": "nibe_control_flow",
        "name": "Připrav zápis topení (47371)",
        "func": "let value = 0;\nif (msg.payload === \"ON\" || msg.payload === 1 || msg.payload === \"1\" || msg.payload === true) {\n    value = 1;\n}\n\n// Pro modbus-write stačí poslat hodnotu\nmsg.payload = value;\n\nnode.status({fill: value ? \"green\" : \"red\", shape: \"dot\", text: value ? \"Zapnout\" : \"Vypnout\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "modbus_write"
            ]
        ]
    },
    {
        "id": "prepare_cooling",
        "type": "function",
        "z": "nibe_control_flow",
        "name": "Připrav zápis chlazení (47372)",
        "func": "let value = 0;\nif (msg.payload === \"ON\" || msg.payload === 1 || msg.payload === \"1\" || msg.payload === true) {\n    value = 1;\n}\n\n// NIBE MODBUS 40 - FC16 Write Multiple Registers\nmsg.payload = {\n    value: [value],\n    address: 47372,\n    quantity: 1,\n    fc: 16,\n    unitid: 1\n};\n\nnode.status({fill: value ? \"green\" : \"red\", shape: \"dot\", text: value ? \"Zapnout\" : \"Vypnout\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "modbus_write"
            ]
        ]
    },
    {
        "id": "prepare_hw",
        "type": "function",
        "z": "nibe_control_flow",
        "name": "Připrav zápis TUV (47387)",
        "func": "let value = 0;\nif (msg.payload === \"ON\" || msg.payload === 1 || msg.payload === \"1\" || msg.payload === true) {\n    value = 1;\n}\n\n// NIBE MODBUS 40 - FC16 Write Multiple Registers\nmsg.payload = {\n    value: [value],\n    address: 47387,\n    quantity: 1,\n    fc: 16,\n    unitid: 1\n};\n\nnode.status({fill: value ? \"green\" : \"red\", shape: \"dot\", text: value ? \"Zapnout\" : \"Vypnout\"});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "modbus_write"
            ]
        ]
    },
    {
        "id": "modbus_write",
        "type": "modbus-write",
        "z": "nibe_control_flow",
        "name": "NIBE Zápis FC6",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "bcef86e5409b2a58",
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "47371",
        "quantity": "1",
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "debug_result"
            ],
            []
        ]
    },
    {
        "id": "debug_result",
        "type": "debug",
        "z": "nibe_control_flow",
        "name": "Výsledek zápisu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "bcef86e5409b2a58",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.0.223",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 5000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "37f23e048742016d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2"
        }
    },
    {
        "id": "inject_read_heating",
        "type": "inject",
        "z": "nibe_control_flow",
        "name": "TEST: Přečíst stav topení",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "prepare_read_heating"
            ]
        ]
    },
    {
        "id": "prepare_read_heating",
        "type": "function",
        "z": "nibe_control_flow",
        "name": "Připrav čtení topení (47371)",
        "func": "msg.payload = {\n    address: 47371,\n    quantity: 1,\n    fc: 3,\n    unitid: 1\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "modbus_read"
            ]
        ]
    },
    {
        "id": "modbus_read",
        "type": "modbus-flex-getter",
        "z": "nibe_control_flow",
        "name": "NIBE Čtení",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "server": "bcef86e5409b2a58",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "debug_read"
            ],
            []
        ]
    },
    {
        "id": "debug_read",
        "type": "debug",
        "z": "nibe_control_flow",
        "name": "Výsledek čtení",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 460,
        "wires": []
    }
]