node-red/flows/ostatni.json
[
    {
        "id": "58f453ee71c85d6d",
        "type": "tab",
        "label": "Automatizuj ostatní",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "115b21930df59327",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Světla TV",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d172dcd2f5166a9d",
            "7522f4d106cb49a7",
            "71953129eb896707",
            "ea195d59b673f480"
        ],
        "x": 14,
        "y": 19,
        "w": 702,
        "h": 142
    },
    {
        "id": "34989895a7491a91",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Průtokáč altán",
        "style": {
            "fill": "#ffff00",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ee0d741fdc5cbfdd",
            "7cab9c28a5473d81",
            "02750065ac5e632a",
            "6d245da5ca53613e",
            "4d56aa02abf550cf",
            "9750b05dcbbff9f7",
            "5d99886761325d1d"
        ],
        "x": 14,
        "y": 179,
        "w": 832,
        "h": 202
    },
    {
        "id": "c7058c6bcde0cfc8",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Horní žebřík",
        "style": {
            "fill": "#ffdf7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "af6f98e63742ea83",
            "79b4a2cb676426f1",
            "a25c4f2c2d82868b",
            "e9bfb79af53f16df",
            "2d1eda397588e770",
            "5c777d8344b192ab"
        ],
        "x": 14,
        "y": 399,
        "w": 832,
        "h": 142
    },
    {
        "id": "314bb66109910b71",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Zámek vstup",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#c8e7a7"
        },
        "nodes": [
            "d99ec20da7b74f45",
            "b03c0f95ef0702c5",
            "e4c98fa8001d9bde",
            "04ea2075a325c38b",
            "8f4d10785f23c6e7",
            "lock_eval_func",
            "lock_ssc_hlavni_dvere",
            "lock_ssc_sekce1_celk",
            "lock_notif_ssc",
            "lock_notif_func",
            "lock_notif_call"
        ],
        "x": 14,
        "y": 559,
        "w": 832,
        "h": 262
    },
    {
        "id": "d172dcd2f5166a9d",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Světla TV",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "switch.tv_zasuvka_3"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7522f4d106cb49a7"
            ]
        ]
    },
    {
        "id": "7522f4d106cb49a7",
        "type": "switch",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "ea195d59b673f480"
            ],
            [
                "71953129eb896707"
            ]
        ]
    },
    {
        "id": "ee0d741fdc5cbfdd",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "5 minut",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "5d99886761325d1d"
            ]
        ]
    },
    {
        "id": "7cab9c28a5473d81",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Nejsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "4d56aa02abf550cf"
            ],
            [
                "02750065ac5e632a"
            ]
        ]
    },
    {
        "id": "02750065ac5e632a",
        "type": "moment",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Prague",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "cs-CZ",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Prague",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "6d245da5ca53613e"
            ]
        ]
    },
    {
        "id": "6d245da5ca53613e",
        "type": "time-range-switch",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "je den a musí být nahřáto?",
        "lat": "50.1064015",
        "lon": "14.7405731",
        "startTime": "12:00",
        "endTime": "19:30",
        "startOffset": "0",
        "endOffset": "0",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "9750b05dcbbff9f7"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "4d56aa02abf550cf",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Průtokáč OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9750b05dcbbff9f7",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Průtokáč ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5d99886761325d1d",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Je letní režim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "7cab9c28a5473d81"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "af6f98e63742ea83",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "1 minuta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "79b4a2cb676426f1"
            ]
        ]
    },
    {
        "id": "79b4a2cb676426f1",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Nejsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "2d1eda397588e770"
            ],
            [
                "a25c4f2c2d82868b"
            ]
        ]
    },
    {
        "id": "a25c4f2c2d82868b",
        "type": "moment",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Prague",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "cs-CZ",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Prague",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "e9bfb79af53f16df"
            ]
        ]
    },
    {
        "id": "e9bfb79af53f16df",
        "type": "time-range-switch",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Je odpoledne a musí být nahřáto?",
        "lat": "50.1064015",
        "lon": "14.7405731",
        "startTime": "17:00",
        "endTime": "21:00",
        "startOffset": "0",
        "endOffset": "0",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "5c777d8344b192ab"
            ],
            [
                "2d1eda397588e770"
            ]
        ]
    },
    {
        "id": "2d1eda397588e770",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Žebřík OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horni_zebrik"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5c777d8344b192ab",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Žebřík ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horni_zebrik"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 750,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d99ec20da7b74f45",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Celkové zabezpečení",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.horousany_sekce_1_celkovy_alarm"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 660,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "71953129eb896707",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Solný panel obývák OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horousany_solny_panel_obyvak"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 580,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ea195d59b673f480",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Solný panel obývák ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horousany_solny_panel_obyvak"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b03c0f95ef0702c5",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Zamkni dům",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "lock.lock",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "lock.chodba_hlavni_dvere"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "lock",
        "service": "lock",
        "x": 730,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c98fa8001d9bde",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Odemkni dum (Matter — jen zavora)",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "lock.unlock",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "lock.chodba_hlavni_dvere"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "lock",
        "service": "unlock",
        "x": 740,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "04ea2075a325c38b",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Garáž alarm",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.horousany_sekce_7_garaz_alarm"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 720,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "8f4d10785f23c6e7",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "1 minuta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_eval_func",
        "type": "function",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Vyhodnoť stav zámku",
        "func": "// Zamek hlavni dvere (Yale Linus L2) — rizeni pres MATTER (lokalni, bez cloudu).\n// Matter lock.unlock retrahuje JEN zavoru (deadbolt) — dvere zustanou zavrene.\n//   Overeno rizenym testem 2026-06-11: po unlock zustal kontakt dveri 'off' (zavreno).\n// Proto je AUTO-UNLOCK pri odkodovani celeho domu POVOLENO\n//   (stara cloud integrace pri unlock fyzicky otvirala dvere — issue #146352 — proto byl zakazan).\n// FAIL-CLOSED: kdyz ma byt zamceno (alarm / noc / nikdo doma) a dvere jsou zavrene -> lock.lock.\n// AUTO-UNLOCK: kdyz celkovy alarm prejde armed -> disarmed -> lock.unlock (jen zavora) + grace okno.\n// Manualni odemceni ma prioritu: drzi odemceno GRACE_MS, pak se vrati auto-zamek.\n// out1 = ZAMKNI (lock.lock), out2 = ODEMKNI (lock.unlock — Matter, jen zavora)\n\nvar LOCK_ID   = \"lock.chodba_hlavni_dvere\";\nvar DOOR_ID   = \"binary_sensor.chodba_hlavni_dvere_dvere\";\nvar CELK_ID   = \"alarm_control_panel.horousany_sekce_1_celkovy_alarm\";\nvar GARAZ_ID  = \"alarm_control_panel.horousany_sekce_7_garaz_alarm\";\nvar PERSON_ID = \"person.home_assitant\";\nvar HOME_ID   = \"input_boolean.jsme_doma\";\nvar NIGHT_FROM = 23, NIGHT_TO = 6;\nvar COOLDOWN_MS = 10000;\nvar GRACE_MS = 3600000; // 60 min: po odemceni (rucnim i auto) nezamykat\n\nfunction gS(id){ return (global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {}).state || \"\"; }\nfunction isArmed(x){ return x && x.indexOf(\"armed\") === 0; }\nfunction isLocked(st){ return st === \"locked\" || st === \"locking\"; }\nfunction isUnlocked(st){ return st === \"unlocked\" || st === \"unlocking\" || st === \"open\"; }\nfunction isDoorOpen(st){ return st === \"on\" || st === \"open\"; }\nfunction isDoorClosed(st){ return st === \"off\" || st === \"closed\"; }\nfunction g(k, def){ var v = global.get(\"lock_\" + k); if (v === undefined) v = flow.get(\"lock_\" + k); return (v === undefined || v === null) ? def : v; }\nfunction s(k, v){ global.set(\"lock_\" + k, v); flow.set(\"lock_\" + k, v); }\n\nvar celk = gS(CELK_ID);\nvar garaz = gS(GARAZ_ID);\nvar person = gS(PERSON_ID);\nvar homeB = gS(HOME_ID);\nvar lock = gS(LOCK_ID);\nvar door = gS(DOOR_ID);\nvar h = new Date().getHours();\nvar now = Date.now();\n\nif (!lock || lock === \"unavailable\" || lock === \"unknown\") {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"lock nedostupny: \" + (lock || \"?\") });\n    return null;\n}\n\nvar jeNoc = (h >= NIGHT_FROM || h < NIGHT_TO);\nvar nikdoDoma = (person === \"not_home\") || (homeB === \"off\");\nvar maBytZamceno = isArmed(celk) || isArmed(garaz) || jeNoc || nikdoDoma;\nvar doorOpen = isDoorOpen(door);\nvar doorClosed = isDoorClosed(door);\n\nvar lastCmdAt = g(\"last_cmd_at\", 0);\nvar pending = g(\"pending_action\", null);\nvar lastObs = g(\"last_observed\", undefined);\n\nif (pending === \"lock\" && isLocked(lock)) { pending = null; s(\"pending_action\", null); }\nif (pending === \"unlock\" && isUnlocked(lock)) { pending = null; s(\"pending_action\", null); }\n\nif (lastObs !== undefined && lock !== lastObs && (now - lastCmdAt) > 5000) {\n    pending = null; s(\"pending_action\", null);\n}\n\n// Kazde pozorovane odemceni (rucni i auto) nastartuje grace okno -> nezamykat hned.\nvar justUnlocked = (lastObs !== undefined && lastObs !== lock && lock === \"unlocked\");\nif (justUnlocked) { s(\"grace_until\", now + GRACE_MS); }\ns(\"last_observed\", lock);\n\nvar graceUntil = g(\"grace_until\", 0);\nif (now >= graceUntil) { graceUntil = 0; }\nvar graceActive = (graceUntil > 0 && now < graceUntil);\n\n// Detekce hrany odkodovani celeho domu (armed -> disarmed)\nvar celkWasArmed = g(\"celk_was_armed\", false);\nif (isArmed(celk)) { celkWasArmed = true; s(\"celk_was_armed\", true); }\nvar disarmEdge = (celkWasArmed === true && celk === \"disarmed\");\n\n// AUTO-ODEMKNUTI: odkodovani celeho domu -> odemkni zavoru (Matter, dvere se neotevrou)\nif (disarmEdge) {\n    s(\"celk_was_armed\", false);\n    s(\"grace_until\", now + GRACE_MS);\n    if (!isUnlocked(lock) && (now - lastCmdAt >= COOLDOWN_MS)) {\n        s(\"pending_action\", \"unlock\");\n        s(\"last_cmd_at\", now);\n        node.status({ fill: \"green\", shape: \"dot\", text: \"ODEMYKAM (odkodovan dum)\" });\n        return [null, msg];\n    }\n}\n\nif (now - lastCmdAt < COOLDOWN_MS) {\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"cooldown lock=\" + lock + \" door=\" + (door || \"?\") });\n    return null;\n}\n\n// FAIL-CLOSED zamykani\nif (maBytZamceno && !isLocked(lock)) {\n    if (doorOpen) {\n        s(\"pending_action\", null);\n        node.status({ fill: \"red\", shape: \"ring\", text: \"ma byt zamceno, ale dvere otevrene\" });\n        return null;\n    }\n    if (!doorClosed && door !== \"\") {\n        s(\"pending_action\", null);\n        node.status({ fill: \"red\", shape: \"ring\", text: \"kontakt dveri nejisty: \" + door });\n        return null;\n    }\n    if (graceActive) {\n        node.status({ fill: \"blue\", shape: \"dot\", text: \"odemceno — priorita \" + Math.round((graceUntil - now) / 60000) + \" min\" });\n        return null;\n    }\n    if (pending === \"lock\") { return null; }\n    s(\"pending_action\", \"lock\");\n    s(\"last_cmd_at\", now);\n    var duvod = isArmed(celk) || isArmed(garaz) ? \"alarm\" : (nikdoDoma ? \"nikdo doma\" : \"noc\");\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"ZAMYKAM (\" + duvod + \") door=\" + (door || \"?\") });\n    return [msg, null];\n}\n\nif (maBytZamceno && isLocked(lock)) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"OK zamceno door=\" + (door || \"?\") });\n} else if (!maBytZamceno && isUnlocked(lock)) {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"OK doma/den\" });\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"OK lock=\" + lock + \" door=\" + (door || \"?\") });\n}\nreturn null;\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 680,
        "wires": [
            [
                "b03c0f95ef0702c5"
            ],
            [
                "e4c98fa8001d9bde"
            ]
        ]
    },
    {
        "id": "lock_ssc_hlavni_dvere",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Stav zámku hlavní dveře",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.chodba_hlavni_dvere"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 780,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_ssc_sekce1_celk",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Celkovy alarm sekce 1",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.horousany_sekce_1_celkovy_alarm"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 840,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_ssc_hlavni_dvere_dvere",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Kontakt hlavní dveře",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.chodba_hlavni_dvere_dvere"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 820,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_ssc_person",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Pritomnost person",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "person.home_assitant"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 920,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_ssc_jsmedoma",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Jsme doma",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.jsme_doma"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 960,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_notif_ssc",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Stav zamku (notifikace)",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.chodba_hlavni_dvere"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 180,
        "y": 900,
        "wires": [
            [
                "lock_notif_func"
            ]
        ]
    },
    {
        "id": "lock_notif_func",
        "type": "function",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Sestav notifikaci",
        "func": "// Notifikace na telefon pri zmene stavu zamku hlavnich dveri.\nvar st = msg.payload;\nvar text = \"\";\nif (st === \"locked\") { text = \"Hlavni dvere byly zamceny.\"; }\nelse if (st === \"unlocked\") { text = \"Hlavni dvere byly odemceny.\"; }\nelse if (st === \"jammed\") { text = \"Pozor: zamek hlavnich dveri hlasi zaseknuti.\"; }\nelse { return null; }\nmsg.payload = { title: \"Hlavni dvere\", message: text };\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 900,
        "wires": [
            [
                "lock_notif_call"
            ]
        ]
    },
    {
        "id": "lock_notif_call",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Notifikace S25 Ultra",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_sm_s938b",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "payload",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_sm_s938b",
        "x": 700,
        "y": 900,
        "wires": [
            []
        ]
    }
]