node-red/flows/ostatni.json
[
    {
        "id": "58f453ee71c85d6d",
        "type": "tab",
        "label": "Automatizuj ostatní",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "115b21930df59327",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Světla TV",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d172dcd2f5166a9d",
            "7522f4d106cb49a7",
            "71953129eb896707",
            "ea195d59b673f480"
        ],
        "x": 14,
        "y": 19,
        "w": 702,
        "h": 142
    },
    {
        "id": "34989895a7491a91",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Průtokáč altán",
        "style": {
            "fill": "#ffff00",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ee0d741fdc5cbfdd",
            "7cab9c28a5473d81",
            "02750065ac5e632a",
            "6d245da5ca53613e",
            "4d56aa02abf550cf",
            "9750b05dcbbff9f7",
            "5d99886761325d1d"
        ],
        "x": 14,
        "y": 179,
        "w": 832,
        "h": 202
    },
    {
        "id": "c7058c6bcde0cfc8",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Horní žebřík",
        "style": {
            "fill": "#ffdf7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "af6f98e63742ea83",
            "79b4a2cb676426f1",
            "a25c4f2c2d82868b",
            "e9bfb79af53f16df",
            "2d1eda397588e770",
            "5c777d8344b192ab"
        ],
        "x": 14,
        "y": 399,
        "w": 832,
        "h": 142
    },
    {
        "id": "314bb66109910b71",
        "type": "group",
        "z": "58f453ee71c85d6d",
        "name": "Zámek vstup",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#c8e7a7"
        },
        "nodes": [
            "d99ec20da7b74f45",
            "b03c0f95ef0702c5",
            "e4c98fa8001d9bde",
            "04ea2075a325c38b",
            "8f4d10785f23c6e7",
            "lock_eval_func",
            "lock_ssc_hlavni_dvere"
        ],
        "x": 14,
        "y": 559,
        "w": 832,
        "h": 202
    },
    {
        "id": "d172dcd2f5166a9d",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Světla TV",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "switch.tv_zasuvka_3"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7522f4d106cb49a7"
            ]
        ]
    },
    {
        "id": "7522f4d106cb49a7",
        "type": "switch",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "ea195d59b673f480"
            ],
            [
                "71953129eb896707"
            ]
        ]
    },
    {
        "id": "ee0d741fdc5cbfdd",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "5 minut",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "5d99886761325d1d"
            ]
        ]
    },
    {
        "id": "7cab9c28a5473d81",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Nejsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "4d56aa02abf550cf"
            ],
            [
                "02750065ac5e632a"
            ]
        ]
    },
    {
        "id": "02750065ac5e632a",
        "type": "moment",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Prague",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "cs-CZ",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Prague",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "6d245da5ca53613e"
            ]
        ]
    },
    {
        "id": "6d245da5ca53613e",
        "type": "time-range-switch",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "je den a musí být nahřáto?",
        "lat": "50.1064015",
        "lon": "14.7405731",
        "startTime": "12:00",
        "endTime": "19:30",
        "startOffset": "0",
        "endOffset": "0",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "9750b05dcbbff9f7"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "4d56aa02abf550cf",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Průtokáč OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9750b05dcbbff9f7",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Průtokáč ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.water_heater"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5d99886761325d1d",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "34989895a7491a91",
        "name": "Je letní režim?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.letni_rezim",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "7cab9c28a5473d81"
            ],
            [
                "4d56aa02abf550cf"
            ]
        ]
    },
    {
        "id": "af6f98e63742ea83",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "1 minuta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "79b4a2cb676426f1"
            ]
        ]
    },
    {
        "id": "79b4a2cb676426f1",
        "type": "api-current-state",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Nejsme doma?",
        "server": "c7421fe2.cb11c",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.jsme_doma",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 460,
        "y": 440,
        "wires": [
            [
                "2d1eda397588e770"
            ],
            [
                "a25c4f2c2d82868b"
            ]
        ]
    },
    {
        "id": "a25c4f2c2d82868b",
        "type": "moment",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Europe/Prague",
        "adjAmount": "0",
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "cs-CZ",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Prague",
        "x": 160,
        "y": 500,
        "wires": [
            [
                "e9bfb79af53f16df"
            ]
        ]
    },
    {
        "id": "e9bfb79af53f16df",
        "type": "time-range-switch",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Je odpoledne a musí být nahřáto?",
        "lat": "50.1064015",
        "lon": "14.7405731",
        "startTime": "17:00",
        "endTime": "21:00",
        "startOffset": "0",
        "endOffset": "0",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "5c777d8344b192ab"
            ],
            [
                "2d1eda397588e770"
            ]
        ]
    },
    {
        "id": "2d1eda397588e770",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Žebřík OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horni_zebrik"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5c777d8344b192ab",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "c7058c6bcde0cfc8",
        "name": "Žebřík ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horni_zebrik"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 750,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d99ec20da7b74f45",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Celkové zabezpečení",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.horousany_sekce_1_celkovy_alarm"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 140,
        "y": 660,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "71953129eb896707",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Solný panel obývák OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horousany_solny_panel_obyvak"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_off",
        "x": 580,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ea195d59b673f480",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "115b21930df59327",
        "name": "Solný panel obývák ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.horousany_solny_panel_obyvak"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "switch",
        "service": "turn_on",
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b03c0f95ef0702c5",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Zamkni dům",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "lock.lock",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "lock.hlavni_dvere"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "lock",
        "service": "lock",
        "x": 730,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c98fa8001d9bde",
        "type": "api-call-service",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Odemkni dům",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "lock.unlock",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "lock.hlavni_dvere"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "lock",
        "service": "unlock",
        "x": 740,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "04ea2075a325c38b",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Garáž alarm",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.horousany_sekce_7_garaz_alarm"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 720,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "8f4d10785f23c6e7",
        "type": "inject",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "1 minuta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    },
    {
        "id": "lock_eval_func",
        "type": "function",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Vyhodnoť stav zámku",
        "func": "// Zámek vstup — idempotentní lock/unlock (jednou na přechod, pak nic).\n// ZAMCENO: celkAlarm armed* OR garazAlarm armed* OR noc 23:00-06:00\n// gS: bracket notation (stejně jako zbytek projektu) — spolehlivější než bulk states objekt.\n\nvar HOUR_EVENING_LOCK = 18;\nvar LOCK_ID = \"lock.hlavni_dvere\";\n\nfunction gS(id) {\n    return (global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\") || {}).state || \"\";\n}\nfunction isArmed(x) { return x && x.indexOf(\"armed\") === 0; }\nfunction isLocked(st) { return st === \"locked\" || st === \"locking\"; }\nfunction isUnlocked(st) { return st === \"unlocked\" || st === \"open\" || st === \"unlocking\"; }\n\nfunction getState(k, def) {\n    var v = global.get(\"lock_\" + k);\n    if (v === undefined) v = flow.get(\"lock_\" + k);\n    return (v === undefined || v === null) ? def : v;\n}\nfunction setState(k, v) {\n    global.set(\"lock_\" + k, v);\n    flow.set(\"lock_\" + k, v);\n}\n\nvar celk = gS(\"alarm_control_panel.horousany_sekce_1_celkovy_alarm\");\nvar garaz = gS(\"alarm_control_panel.horousany_sekce_7_garaz_alarm\");\nvar lock = gS(LOCK_ID);\nvar h = new Date().getHours();\nvar now = Date.now();\n\nif (!lock || lock === \"unavailable\" || lock === \"unknown\") {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"lock nedostupny: \" + (lock || \"?\") });\n    return null;\n}\n\nvar jeNoc = (h >= 23 || h < 6);\nvar maBytZamceno = isArmed(celk) || isArmed(garaz) || jeNoc;\n\nvar lastCmdAt = getState(\"last_cmd_at\", 0);\nvar lastObs = getState(\"last_observed\", undefined);\nvar manualUntil = getState(\"manual_until\", 0);\nvar manualLocked = getState(\"manual_locked\", false);\nvar pending = getState(\"pending_action\", null);\n\n// Potvrzení pending z aktuálního stavu\nif (pending === \"lock\" && isLocked(lock)) {\n    pending = null;\n    setState(\"pending_action\", null);\n}\nif (pending === \"unlock\" && isUnlocked(lock)) {\n    pending = null;\n    setState(\"pending_action\", null);\n}\n\n// NR restart heuristika — večerní manuální zámek\nif (lastObs === undefined && isLocked(lock) && !maBytZamceno && h >= HOUR_EVENING_LOCK) {\n    manualLocked = true;\n    setState(\"manual_locked\", true);\n}\n\nvar fromAlarm = (typeof msg.payload === \"string\") &&\n    (msg.payload.indexOf(\"armed\") === 0 || msg.payload === \"disarmed\"\n        || msg.payload === \"pending\" || msg.payload === \"triggered\"\n        || msg.payload === \"arming\" || msg.payload === \"disarming\");\nvar isSecurityEvent = fromAlarm && msg.payload.indexOf(\"armed\") === 0;\n\nif (lastObs !== undefined && lock !== lastObs && (now - lastCmdAt) > 5000) {\n    var byloMaBytZamceno = isArmed(celk) || isArmed(garaz) || jeNoc;\n    if (!isLocked(lock) && byloMaBytZamceno) {\n        manualUntil = now + 60 * 60 * 1000;\n        setState(\"manual_until\", manualUntil);\n        setState(\"pending_action\", null);\n        pending = null;\n    }\n    if (isLocked(lock) && !byloMaBytZamceno && h >= HOUR_EVENING_LOCK) {\n        manualLocked = true;\n        setState(\"manual_locked\", true);\n    }\n    if (!isLocked(lock) && manualLocked) {\n        manualLocked = false;\n        setState(\"manual_locked\", false);\n        setState(\"pending_action\", null);\n        pending = null;\n    }\n}\nsetState(\"last_observed\", lock);\n\nif (isSecurityEvent && now < manualUntil) {\n    setState(\"manual_until\", 0);\n    manualUntil = 0;\n}\n\nif (now - lastCmdAt < 10000) {\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"cooldown \" + Math.ceil((10000 - (now - lastCmdAt)) / 1000) + \"s\" });\n    return null;\n}\n\n// Manual unlock hold — vůbec nezasahovat\nif (now < manualUntil) {\n    var minLeft = Math.ceil((manualUntil - now) / 60000);\n    node.status({ fill: \"blue\", shape: \"ring\", text: \"MANUAL-OFF \" + minLeft + \"min lock=\" + lock });\n    return null;\n}\n\n// Cílový stav\nvar wantLocked = maBytZamceno;\nif (manualLocked) {\n    var inEveningOrNight = (h >= HOUR_EVENING_LOCK) || (h < 6);\n    if (maBytZamceno || inEveningOrNight) {\n        wantLocked = true;\n    } else {\n        setState(\"manual_locked\", false);\n        manualLocked = false;\n        wantLocked = maBytZamceno;\n    }\n}\n\nvar prevWant = getState(\"prev_want_locked\", null);\nif (prevWant !== null && prevWant !== wantLocked) {\n    pending = null;\n    setState(\"pending_action\", null);\n}\nsetState(\"prev_want_locked\", wantLocked);\n\n// Už OK — nesahej (hlavní idempotence)\nif (wantLocked && isLocked(lock)) {\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"OK ZAM lock=\" + lock });\n    return null;\n}\nif (!wantLocked && isUnlocked(lock)) {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"OK ODEM lock=\" + lock });\n    return null;\n}\n\n// Potřeba akce — jen jednou (pending), bez opakování každou minutu\nif (wantLocked && !isLocked(lock)) {\n    if (pending === \"lock\") {\n        node.status({ fill: \"grey\", shape: \"ring\", text: \"cekam lock potvrzeni lock=\" + lock });\n        return null;\n    }\n    setState(\"pending_action\", \"lock\");\n    setState(\"last_cmd_at\", now);\n    node.status({ fill: \"yellow\", shape: \"dot\", text: \"LOCK lock=\" + lock });\n    return [msg, null];\n}\nif (!wantLocked && isLocked(lock)) {\n    if (pending === \"unlock\") {\n        node.status({ fill: \"grey\", shape: \"ring\", text: \"cekam unlock potvrzeni\" });\n        return null;\n    }\n    setState(\"pending_action\", \"unlock\");\n    setState(\"last_cmd_at\", now);\n    node.status({ fill: \"green\", shape: \"dot\", text: \"UNLOCK lock=\" + lock });\n    return [null, msg];\n}\n\nreturn null;\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "b03c0f95ef0702c5"
            ],
            [
                "e4c98fa8001d9bde"
            ]
        ]
    },
    {
        "id": "lock_ssc_hlavni_dvere",
        "type": "server-state-changed",
        "z": "58f453ee71c85d6d",
        "g": "314bb66109910b71",
        "name": "Stav zámku hlavní dveře",
        "server": "c7421fe2.cb11c",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "lock.hlavni_dvere"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 780,
        "wires": [
            [
                "lock_eval_func"
            ]
        ]
    }
]
