node-red/flows/pool-heating.json
[
    {
        "id": "f1e2d3c4b5a60002",
        "type": "tab",
        "label": "Pool Heating",
        "disabled": false,
        "info": "Vytapeni bazenu v letnim rezimu (§11).\nPatrony -> nadrz -> ventil -> vymenik bazenu NEBO NIBE -> vymenik primo.\nB2: patrony + ventil + filtrace lock + topeni_mod sync.\nB3: NIBE→bazen (4 use cases + planovac)."
    },
    {
        "id": "pool_g_data",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Data collect (60s)",
        "style": {
            "stroke": "#999999",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#1f77b4"
        },
        "nodes": [
            "pool_inject_60s",
            "pool_data_func",
            "pool_link_to_decide"
        ],
        "x": 14,
        "y": 19,
        "w": 527,
        "h": 82
    },
    {
        "id": "pool_g_decide",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Rozhodovaci smycka",
        "style": {
            "stroke": "#999999",
            "fill": "#ffefe0",
            "label": true,
            "color": "#d62728"
        },
        "nodes": [
            "pool_link_from_data",
            "pool_link_to_vent",
            "pool_link_to_lock",
            "pool_link_to_nibe",
            "pool_link_to_mod",
            "pool_guard_data",
            "pool_decide_logic",
            "pool_build_outputs"
        ],
        "x": 14,
        "y": 119,
        "w": 632,
        "h": 262
    },
    {
        "id": "pool_g_exec_patrony",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Exekuce: patrony + ventil",
        "style": {
            "stroke": "#999999",
            "fill": "#e0efff",
            "label": true,
            "color": "#2ca02c"
        },
        "nodes": [
            "pool_link_from_pat",
            "pool_switch_pat",
            "pool_svc_p1_on",
            "pool_svc_p1_off",
            "pool_svc_p2_on",
            "pool_svc_p2_off",
            "pool_svc_p3_on",
            "pool_svc_p3_off",
            "pool_link_from_vent",
            "pool_switch_vent",
            "pool_svc_vent_on",
            "pool_svc_vent_off"
        ],
        "x": 14,
        "y": 399,
        "w": 632,
        "h": 382
    },
    {
        "id": "pool_g_exec_nibe",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Exekuce: NIBE (STUB — B3)",
        "style": {
            "stroke": "#999999",
            "fill": "#f5e0ff",
            "label": true,
            "color": "#9467bd"
        },
        "nodes": [
            "pool_link_from_nibe",
            "pool_nibe_stub"
        ],
        "x": 14,
        "y": 799,
        "w": 327,
        "h": 82
    },
    {
        "id": "pool_g_filtrace_lock",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Filtrace lock",
        "style": {
            "stroke": "#999999",
            "fill": "#fff8d0",
            "label": true,
            "color": "#bcbd22"
        },
        "nodes": [
            "pool_link_from_lock",
            "pool_lock_change"
        ],
        "x": 14,
        "y": 899,
        "w": 437,
        "h": 82
    },
    {
        "id": "pool_g_topeni_mod",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Topeni_mod → HA sync",
        "style": {
            "stroke": "#999999",
            "fill": "#d0e8ff",
            "label": true,
            "color": "#1f77b4"
        },
        "nodes": [
            "pool_link_from_mod",
            "pool_mod_change",
            "pool_mod_api"
        ],
        "x": 14,
        "y": 999,
        "w": 517,
        "h": 82
    },
    {
        "id": "pool_inject_60s",
        "type": "inject",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "pool_data_func"
            ]
        ]
    },
    {
        "id": "pool_data_func",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "Data trigger",
        "func": "// POOL Heating — data collect trigger (60s).\n// V B2 vsechno ctene v decision func z global.get (homeassistant state).\n// Tento node zatim jen trigger propaguje. V pripadnych optimalizacich (B3)\n// by sem slo pridat pre-fetch a aggregaci.\nmsg.payload = {ts: Date.now()};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 60,
        "wires": [
            [
                "pool_link_to_decide"
            ]
        ]
    },
    {
        "id": "pool_link_to_decide",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "→ decide",
        "mode": "link",
        "links": [
            "pool_link_from_data"
        ],
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "pool_link_from_data",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "← data",
        "links": [
            "pool_link_to_decide"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "pool_guard_data"
            ]
        ]
    },
    {
        "id": "pool_link_to_vent",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ vent exec",
        "mode": "link",
        "links": [
            "pool_link_from_vent"
        ],
        "x": 605,
        "y": 220,
        "wires": []
    },
    {
        "id": "pool_link_to_lock",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ lock",
        "mode": "link",
        "links": [
            "pool_link_from_lock"
        ],
        "x": 605,
        "y": 260,
        "wires": []
    },
    {
        "id": "pool_link_to_nibe",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ nibe (B3)",
        "mode": "link",
        "links": [
            "pool_link_from_nibe"
        ],
        "x": 605,
        "y": 300,
        "wires": []
    },
    {
        "id": "pool_link_to_mod",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ mod",
        "mode": "link",
        "links": [
            "pool_link_from_mod"
        ],
        "x": 605,
        "y": 340,
        "wires": []
    },
    {
        "id": "pool_link_from_pat",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "← pat",
        "links": [
            "pool_link_to_pat_kor"
        ],
        "x": 55,
        "y": 520,
        "wires": [
            [
                "pool_switch_pat"
            ]
        ]
    },
    {
        "id": "pool_switch_pat",
        "type": "switch",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "route patrony action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "p1_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p1_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "pool_svc_p1_on"
            ],
            [
                "pool_svc_p1_off"
            ],
            [
                "pool_svc_p2_on"
            ],
            [
                "pool_svc_p2_off"
            ],
            [
                "pool_svc_p3_on"
            ],
            [
                "pool_svc_p3_off"
            ]
        ]
    },
    {
        "id": "pool_svc_p1_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 1 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p1_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 1 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p2_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 2 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p2_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 2 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p3_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 3 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p3_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 3 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_vent",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "← vent",
        "links": [
            "pool_link_to_vent"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "pool_switch_vent"
            ]
        ]
    },
    {
        "id": "pool_switch_vent",
        "type": "switch",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "route ventil action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ventil_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ventil_off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "pool_svc_vent_on"
            ],
            [
                "pool_svc_vent_off"
            ]
        ]
    },
    {
        "id": "pool_svc_vent_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Ventil bazen ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bazen_ventil_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_vent_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Ventil bazen OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bazen_ventil_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 530,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_nibe",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "← nibe",
        "links": [
            "pool_link_to_nibe"
        ],
        "x": 55,
        "y": 840,
        "wires": [
            [
                "pool_nibe_stub"
            ]
        ]
    },
    {
        "id": "pool_nibe_stub",
        "type": "debug",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "NIBE STUB (B3)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 205,
        "y": 840,
        "wires": []
    },
    {
        "id": "pool_link_from_lock",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_filtrace_lock",
        "name": "← lock",
        "links": [
            "pool_link_to_lock"
        ],
        "x": 55,
        "y": 940,
        "wires": [
            [
                "pool_lock_change"
            ]
        ]
    },
    {
        "id": "pool_lock_change",
        "type": "change",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_filtrace_lock",
        "name": "set global.pool_heating_filtrace_lock_until",
        "rules": [
            {
                "t": "set",
                "p": "pool_heating_filtrace_lock_until",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 265,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_mod",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "← mod",
        "links": [
            "pool_link_to_mod"
        ],
        "x": 55,
        "y": 1040,
        "wires": [
            [
                "pool_mod_change"
            ]
        ]
    },
    {
        "id": "pool_mod_change",
        "type": "change",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "Nastav topeni_mod",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 235,
        "y": 1040,
        "wires": [
            [
                "pool_mod_api"
            ]
        ]
    },
    {
        "id": "pool_mod_api",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "Set topeni_mod",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.topeni_mod"
        ],
        "labelId": [],
        "data": "{\"option\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 425,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_guard_data",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL guard+data (§11)",
        "func": "// POOL Heating — guard + cteni stavu + stropy (§11.3)\n// Vystup: msg { cfg, data, stropReason } -> pool_decide_logic.\n// Pokud guard zablokuje (zimni rezim / pool_enabled=off), vrati null (flow konci).\n\nconst cfg = global.get(\"fve_config\") || {};\n\n// Guard: letni_rezim + pool_enabled\nconst letniRezim = cfg.letni_rezim === true;\nconst poolEnabled = cfg.pool_enabled === true;\nif (!letniRezim || !poolEnabled) {\n    flow.set(\"pool_patrony_allowed\", false);\n    flow.set(\"pool_patrony_max_floor\", 0);\n    node.status({fill: \"grey\", shape: \"ring\",\n        text: \"OFF (letni=\" + (letniRezim?\"1\":\"0\") + \" enabled=\" + (poolEnabled?\"1\":\"0\") + \")\"});\n    return null;\n}\n\n// Helpery\nfunction getFloat(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    const v = parseFloat(s.state);\n    return isNaN(v) ? def : v;\n}\nfunction getBool(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    return s.state === \"on\";\n}\nfunction isAvail(id) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    return !!s && s.state !== \"unavailable\" && s.state !== \"unknown\";\n}\n\n// Stavove veliciny\nconst data = {\n    teplotaVody:   getFloat(\"sensor.hp2551ae_pro_v2_1_0_temperature_1\", 20),\n    teplotaNadrz:  getFloat(\"sensor.teplota_smesovac_teplota\", 20),\n    solarW:        getFloat(\"sensor.vyroba_fve\", 0),\n    soc:           getFloat(\"sensor.baterie_soc\", 0),\n    bCh:           getFloat(\"sensor.baterie_vykon\", 0),\n    autoMaHlad:    getBool(\"input_boolean.auto_ma_hlad\", false),\n    filtraceAvail: isAvail(\"switch.filtrace\"),\n    p1on:          getBool(\"switch.patrona_faze_1\", false),\n    p2on:          getBool(\"switch.patrona_faze_3_2\", false),\n    p3on:          getBool(\"switch.patrona_faze_3\", false),\n    ventilOn:      getBool(\"switch.bazen_ventil_smesovac\", false),\n};\ndata.activeFaze = (data.p1on?1:0) + (data.p2on?1:0) + (data.p3on?1:0);\n\n// Stropy (§11.3)\nlet stropReason = null;\nif (data.teplotaVody >= (cfg.pool_cilova_teplota_vody || 28)) {\n    stropReason = \"voda\";  // cil -> patrony OFF + cooldown filtrace\n} else if (data.teplotaNadrz >= (cfg.pool_max_teplota_nadrz || 60)) {\n    stropReason = \"nadrz\"; // strop nadrze -> patrony OFF (NIBE neresi)\n}\n\nmsg.cfg = cfg;\nmsg.data = data;\nmsg.stropReason = stropReason;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "pool_decide_logic"
            ]
        ]
    },
    {
        "id": "pool_decide_logic",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL decide (§11.3/5/7)",
        "func": "// POOL Heating — rozhodovaci logika (§11.3/§11.5/§11.7)\n// Vstup:  msg { cfg, data, stropReason }\n// Vystup: msg.decision = { patronyAllowed, patronyMaxFloor, ventilAction,\n//                          lockUntil, mod, statusText, statusFill }\n\nconst cfg = msg.cfg;\nconst data = msg.data;\nconst now = Date.now();\nconst filtraceCoolMin = cfg.pool_filtrace_cooldown_min || 10;\n\nconst dec = {\n    patronyAllowed: false,\n    patronyMaxFloor: 0,\n    ventilAction: null,      // \"on\" / \"off\" / null\n    lockUntil: null,         // ms\n    mod: \"Vypnuto\",\n    statusText: \"\",\n    statusFill: \"grey\",\n};\n\n// STROP VODY -> patrony OFF + cooldown filtrace\nif (msg.stropReason === \"voda\") {\n    dec.ventilAction = data.ventilOn ? \"off\" : null;\n    dec.lockUntil = now + filtraceCoolMin * 60000;\n    dec.mod = \"Vypnuto\";\n    dec.statusFill = \"green\";\n    dec.statusText = \"CIL voda=\" + data.teplotaVody.toFixed(1) + \"° cooldown \" + filtraceCoolMin + \"m\";\n    msg.decision = dec;\n    return msg;\n}\n// STROP NADRZE -> patrony OFF (NIBE neresi — topi primo)\nif (msg.stropReason === \"nadrz\") {\n    dec.statusFill = \"red\";\n    dec.statusText = \"MAX NADRZ \" + data.teplotaNadrz.toFixed(1) + \"°\";\n    msg.decision = dec;\n    return msg;\n}\n\n// PATRONY PODMINKY (§11.5 + §11.7)\nconst auto    = !data.autoMaHlad;\nconst socOk   = data.soc >= (cfg.pool_patrony_soc_min || 90);\nconst solarOk = data.solarW >= (cfg.topeni_patron_min_solar_w || 5000);\n// TODO B4: bojlerOk vyjimka §11.5 bod 6 (boiler_natopen s vyjimkou pro dostatecnou vyrobu)\nconst bojlerOk = true;\ndec.patronyAllowed = auto && socOk && solarOk && bojlerOk;\ndec.patronyMaxFloor = dec.patronyAllowed ? 3 : 0;\n\n// VENTIL HYSTEREZE (§11.3)\nconst minNadrz = cfg.pool_min_teplota_nadrz || 30;\nconst ventilStartC = cfg.pool_ventil_start_c || 50;\nif (data.ventilOn) {\n    if (data.teplotaNadrz < minNadrz) dec.ventilAction = \"off\";\n} else {\n    if (data.teplotaNadrz >= ventilStartC) dec.ventilAction = \"on\";\n}\n// Ventil ON vyzaduje dostupnou filtraci (§11.5 bod 8)\nif (dec.ventilAction === \"on\" && !data.filtraceAvail) {\n    dec.ventilAction = null;\n}\n\n// FILTRACE LOCK (§11.4): pokud ventil bude/je ON -> prodluz lock\nconst ventilActiveAfter = (dec.ventilAction === \"on\") || (data.ventilOn && dec.ventilAction !== \"off\");\nif (ventilActiveAfter) {\n    dec.lockUntil = now + 60000 + filtraceCoolMin * 60000;\n}\n\n// TOPENI_MOD (§11.9)\nconst nibeRunAfter = false;  // B3\nif (dec.patronyAllowed && nibeRunAfter) dec.mod = \"BAZÉN - NIBE + Patrony\";\nelse if (dec.patronyAllowed)            dec.mod = \"BAZÉN - Patrony\";\nelse if (nibeRunAfter)                  dec.mod = \"BAZÉN - NIBE\";\n\n// STATUS\nconst reasons = [];\nif (!dec.patronyAllowed) {\n    if (!auto)    reasons.push(\"auto\");\n    if (!socOk)   reasons.push(\"SOC<\" + (cfg.pool_patrony_soc_min || 90));\n    if (!solarOk) reasons.push(\"solar<\" + (cfg.topeni_patron_min_solar_w || 5000));\n}\ndec.statusFill = dec.patronyAllowed ? \"green\" : \"grey\";\ndec.statusText = (dec.patronyAllowed ? \"ALLOWED max=\" + dec.patronyMaxFloor + \"f\"\n                                      : \"BLOCKED:\" + reasons.join(\",\"))\n    + \" v=\" + data.teplotaVody.toFixed(1) + \"° n=\" + data.teplotaNadrz.toFixed(1)\n    + \"° SOC=\" + data.soc.toFixed(0) + \"%\";\n\nmsg.decision = dec;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 230,
        "wires": [
            [
                "pool_build_outputs"
            ]
        ]
    },
    {
        "id": "pool_build_outputs",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL build outputs",
        "func": "// POOL Heating — sestaveni vystupu + publikace flow state pro korekci (5s)\n// Vstup:  msg.decision\n// Vystupy:\n//   1 -> ventil action   ({action: \"ventil_on\"/\"ventil_off\"} / null)\n//   2 -> filtrace lock   ({payload: ms} / null)\n//   3 -> NIBE action     (STUB v B2 - vzdy null; B3 doplni)\n//   4 -> topeni_mod sync ({payload: \"BAZÉN - ...\"/\"Vypnuto\"})\n\nconst dec = msg.decision;\n\n// Flow state pro korekcni smycku (5s tick)\nflow.set(\"pool_patrony_allowed\", dec.patronyAllowed);\nflow.set(\"pool_patrony_max_floor\", dec.patronyMaxFloor);\n\n// Status nodu (diagnostika v NR UI)\nnode.status({fill: dec.statusFill, shape: \"dot\", text: dec.statusText});\n\n// Sestaveni 4 vystupu\nconst out = [null, null, null, null];\nif (dec.ventilAction === \"on\")  out[0] = {action: \"ventil_on\"};\nif (dec.ventilAction === \"off\") out[0] = {action: \"ventil_off\"};\nif (dec.lockUntil !== null)     out[1] = {payload: dec.lockUntil};\n// out[2] NIBE STUB v B2 - zustava null\nout[3] = {payload: dec.mod};\n\nreturn out;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "pool_link_to_vent"
            ],
            [
                "pool_link_to_lock"
            ],
            [
                "pool_link_to_nibe"
            ],
            [
                "pool_link_to_mod"
            ]
        ]
    },
    {
        "id": "pool_g_pat_korekce",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Patrony korekce (5s, §8.5 analogie)",
        "style": {
            "stroke": "#999999",
            "fill": "#fff0d0",
            "label": true,
            "color": "#ff7f0e"
        },
        "nodes": [
            "pool_inject_5s",
            "pool_pat_korekce_func",
            "pool_split_pat_kor",
            "pool_link_to_pat_kor"
        ],
        "x": 14,
        "y": 1099,
        "w": 707,
        "h": 82
    },
    {
        "id": "pool_inject_5s",
        "type": "inject",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "8",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1140,
        "wires": [
            [
                "pool_pat_korekce_func"
            ]
        ]
    },
    {
        "id": "pool_pat_korekce_func",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "POOL korekce patron",
        "func": "// POOL Heating — patrony korekcni smycka (5s tick, analogie §8.5)\n// Cte flow.pool_patrony_allowed + flow.pool_patrony_max_floor (nastavuje main 60s).\n// Feedback na baterii (bCh): +nabiji -> pridej fazi; -vybiji -> uber fazi.\n// Dead band (cfg.topeni_patron_dead_band_w) kolem 0 W — prevence oscilace.\n\nconst cfg = global.get(\"fve_config\") || {};\nconst allowed = flow.get(\"pool_patrony_allowed\") === true;\nconst maxFloor = flow.get(\"pool_patrony_max_floor\") || 0;\n\nfunction getFloat(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    const v = parseFloat(s.state);\n    return isNaN(v) ? def : v;\n}\nfunction getBool(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    return s.state === \"on\";\n}\n\n// Aktualni stavy patron\nconst p1on = getBool(\"switch.patrona_faze_1\", false);\nconst p2on = getBool(\"switch.patrona_faze_3_2\", false);\nconst p3on = getBool(\"switch.patrona_faze_3\", false);\nconst actFaze = (p1on?1:0) + (p2on?1:0) + (p3on?1:0);\n\nfunction buildActions(target) {\n    const want = [target >= 1, target >= 2, target >= 3];\n    const cur = [p1on, p2on, p3on];\n    const names = [\"p1\", \"p2\", \"p3\"];\n    const acts = [];\n    for (let i = 0; i < 3; i++) {\n        if (want[i] && !cur[i]) acts.push({action: names[i] + \"_on\"});\n        else if (!want[i] && cur[i]) acts.push({action: names[i] + \"_off\"});\n    }\n    return acts;\n}\n\n// KDYZ NEPOVOLENO -> vypni vse (naraz, vsechny akce)\nif (!allowed) {\n    if (actFaze === 0) {\n        node.status({fill: \"grey\", shape: \"ring\", text: \"korekce: idle (allowed=0)\"});\n        return null;\n    }\n    const acts = buildActions(0);\n    node.status({fill: \"yellow\", shape: \"dot\", text: \"korekce -> OFF vse (\" + actFaze + \"f)\"});\n    return {payload: acts};\n}\n\n// FEEDBACK NA bCh (kladny = nabiji, zaporny = vybiji)\nconst bCh = getFloat(\"sensor.baterie_vykon\", 0);\nconst deadBand = cfg.topeni_patron_dead_band_w || 200;\n// Jedna faze patrony = 3000 W (tj. prah pridat = +3 kW, prah ubrat = jakykoli vybij)\n\nlet target = actFaze;\nlet reason = \"hold\";\n\nif (bCh > 3000 && actFaze < maxFloor) {\n    // Silne nabijime -> pridat fazi (o 1 krok; korekce opakuje kazdych 5s)\n    target = actFaze + 1;\n    reason = \"bCh=+\" + Math.round(bCh) + \"W > +3kW -> +1f\";\n} else if (bCh < -deadBand && actFaze > 0) {\n    // Vybijime pres dead band -> ubrat fazi\n    target = actFaze - 1;\n    reason = \"bCh=\" + Math.round(bCh) + \"W < -\" + deadBand + \"W -> -1f\";\n} else if (actFaze === 0 && maxFloor >= 1 && bCh >= -deadBand) {\n    // Idle start (nevybijime pod dead band) -> zapni 1 fazi\n    target = 1;\n    reason = \"idle start 1f\";\n}\n\ntarget = Math.max(0, Math.min(target, maxFloor));\nconst acts = buildActions(target);\n\nnode.status({\n    fill: target > 0 ? \"green\" : \"grey\",\n    shape: \"dot\",\n    text: \"korekce \" + actFaze + \"->\" + target + \"f | \" + reason + \" | max=\" + maxFloor,\n});\n\nif (acts.length === 0) return null;\nreturn {payload: acts};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1140,
        "wires": [
            [
                "pool_split_pat_kor"
            ]
        ]
    },
    {
        "id": "pool_split_pat_kor",
        "type": "split",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "split akci",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "pool_link_to_pat_kor"
            ]
        ]
    },
    {
        "id": "pool_link_to_pat_kor",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "→ patrony exec",
        "mode": "link",
        "links": [
            "pool_link_from_pat"
        ],
        "x": 670,
        "y": 1140,
        "wires": []
    }
]
