node-red/flows/pool-heating.json
[
    {
        "id": "f1e2d3c4b5a60002",
        "type": "tab",
        "label": "Pool Heating",
        "disabled": false,
        "info": "Vytapeni bazenu v letnim rezimu (§11).\nPatrony -> nadrz -> ventil -> vymenik bazenu NEBO NIBE -> vymenik primo.\nB2: patrony + ventil + filtrace lock + topeni_mod sync.\nB3: NIBE→bazen (4 use cases + planovac)."
    },
    {
        "id": "pool_g_data",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Data collect (60s)",
        "style": {
            "stroke": "#999999",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#1f77b4"
        },
        "nodes": [
            "pool_inject_60s",
            "pool_data_func",
            "pool_link_to_decide"
        ],
        "x": 14,
        "y": 19,
        "w": 527,
        "h": 82
    },
    {
        "id": "pool_g_decide",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Rozhodovaci smycka",
        "style": {
            "stroke": "#999999",
            "fill": "#ffefe0",
            "label": true,
            "color": "#d62728"
        },
        "nodes": [
            "pool_link_from_data",
            "pool_link_to_vent",
            "pool_link_to_lock",
            "pool_link_to_nibe",
            "pool_link_to_mod",
            "pool_guard_data",
            "pool_decide_logic",
            "pool_build_outputs"
        ],
        "x": 14,
        "y": 119,
        "w": 632,
        "h": 262
    },
    {
        "id": "pool_g_exec_patrony",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Exekuce: patrony + ventil",
        "style": {
            "stroke": "#999999",
            "fill": "#e0efff",
            "label": true,
            "color": "#2ca02c"
        },
        "nodes": [
            "pool_link_from_pat",
            "pool_switch_pat",
            "pool_svc_p1_on",
            "pool_svc_p1_off",
            "pool_svc_p2_on",
            "pool_svc_p2_off",
            "pool_svc_p3_on",
            "pool_svc_p3_off",
            "pool_link_from_vent",
            "pool_switch_vent",
            "pool_svc_vent_on",
            "pool_svc_vent_off"
        ],
        "x": 14,
        "y": 399,
        "w": 632,
        "h": 382
    },
    {
        "id": "pool_g_exec_nibe",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "NIBE logic + exec (§11.6)",
        "style": {
            "stroke": "#999999",
            "fill": "#f5e0ff",
            "label": true,
            "color": "#9467bd"
        },
        "nodes": [
            "pool_link_from_nibe",
            "pool_nibe_stub",
            "pool_nibe_planner",
            "pool_svc_nibe_on",
            "pool_svc_nibe_off",
            "pool_switch_nibe",
            "pool_filt_recheck_delay",
            "pool_link_to_filt_recheck",
            "pool_nibe_decide",
            "pool_nibe_inject_60s"
        ],
        "x": 17,
        "y": 799,
        "w": 969,
        "h": 202
    },
    {
        "id": "pool_nibe_inject_60s",
        "type": "inject",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "tick 60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "6",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 123,
        "y": 840,
        "wires": [
            [
                "pool_nibe_planner"
            ]
        ]
    },
    {
        "id": "pool_nibe_planner",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "POOL NIBE planner (§11.6.1)",
        "func": "// §11.6.1 PLANOVAC NIBE->bazen pro bazen_na_max (case 3)\n// Vybere nejlevnejsich N hodin v horizontu podle pocitu potrebnych cyklu.\n// Nastavi flow.pool_nibe_planned_now = true pokud aktualni hodina je v top-N.\nconst cfg = global.get(\"fve_config\") || {};\n// CRITICAL GUARD (§11.1): pool flow NESMI pracovat mimo letni rezim.\n// FIX (10.5.2026 21:19, BUG 4): pool_enabled LIVE z HA (ne cached cfg).\nfunction _gBp(id, d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;return s.state===\"on\";}\nconst _letniLiveP = _gBp(\"input_boolean.letni_rezim\", cfg.letni_rezim === true);\nconst _poolEnabledLiveP = _gBp(\"input_boolean.automatizovat_vytapeni_bazenu\", cfg.pool_enabled === true);\nif (!_letniLiveP || !_poolEnabledLiveP) {\n    global.set(\"pool_nibe_planned_hours\", []);\n    flow.set(\"pool_nibe_planned_hours\", []);\n    flow.set(\"pool_nibe_planned_now\", false);\n    node.status({fill: \"grey\", shape: \"ring\", text: \"off (letni/enabled)\"});\n    return msg;\n}\nconst planData = global.get(\"fve_plan\") || {};\nconst plan = Array.isArray(planData.plan) ? planData.plan : [];\n\nfunction getFloat(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    const v = parseFloat(s.state);\n    return isNaN(v) ? def : v;\n}\nfunction getBool(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    return s.state === \"on\";\n}\n\nconst poolNaMax = getBool(\"input_boolean.bazen_na_max\", false);\nif (!poolNaMax || plan.length === 0) {\n    flow.set(\"pool_nibe_planned_now\", false);\n    flow.set(\"pool_nibe_planned_hours\", []);\n    global.set(\"pool_nibe_planned_hours\", []);\n    node.status({fill: \"grey\", shape: \"ring\", text: \"bazen_na_max=off\"});\n    return msg;\n}\n\nconst vody = getFloat(\"sensor.hp2551ae_pro_v2_1_0_temperature_1\", 20);\nconst cil = getFloat(\"input_number.pozadovana_teplota_v_bazenu\", 28);\nconst deltaT = Math.max(0, cil - vody);\nconst cyklyPerDeg = cfg.pool_cykly_per_degree || 2;\nconst cyklesNeeded = Math.ceil(deltaT * cyklyPerDeg);\nif (cyklesNeeded === 0) {\n    flow.set(\"pool_nibe_planned_now\", false);\n    flow.set(\"pool_nibe_planned_hours\", []);\n    global.set(\"pool_nibe_planned_hours\", []);\n    node.status({fill: \"green\", shape: \"ring\", text: \"cil dosazen \" + vody.toFixed(1) + \"°\"});\n    return msg;\n}\n\nconst horizon = Math.min(cfg.pool_nibe_plan_horizon_h || 24, plan.length);\nconst window = plan.slice(0, horizon);\nconst sorted = window\n    .map((p, idx) => ({ idx, price: parseFloat(p.priceBuy) }))\n    .filter(x => !isNaN(x.price))\n    .sort((a, b) => a.price - b.price);\nconst topIdxs = sorted.slice(0, cyklesNeeded).map(x => x.idx);\nconst plannedNow = topIdxs.includes(0);\nflow.set(\"pool_nibe_planned_hours\", topIdxs);\nflow.set(\"pool_nibe_planned_now\", plannedNow);\nglobal.set(\"pool_nibe_planned_hours\", topIdxs);  // §11.9 fve_plan integrace (B4)\n\nnode.status({fill: plannedNow?\"blue\":\"grey\", shape: \"ring\",\n    text: \"cyklu=\" + cyklesNeeded + \" top=[\" + topIdxs.slice(0,6).join(\",\") + \"]\" + (plannedNow?\" NOW\":\"\")});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 840,
        "wires": [
            [
                "pool_nibe_decide"
            ]
        ]
    },
    {
        "id": "pool_nibe_decide",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "POOL NIBE decide (§11.6)",
        "func": "// §11.6 NIBE -> bazen use cases + 30 min runtime protection\n// In:  msg (z planneru). Out: {action:\"nibe_on\"/\"nibe_off\"} nebo NULL (no-op).\n// Flow: pool_nibe_running, pool_nibe_start_ts. Global: pool_heating_filtrace_lock_until.\nconst cfg = global.get(\"fve_config\") || {};\nfunction gF(id,d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;const v=parseFloat(s.state);return isNaN(v)?d:v;}\nfunction gB(id,d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;return s.state===\"on\";}\n\n// §11.6 ZAKLADNI POVOLENI: letni_rezim + pool_enabled + automatizovat_vytapeni_bazenu\n// Pokud kterekoli OFF -> NIBE bazen NIKDY nebezi. Pokud uz bezel, dokonci min runtime, pak OFF.\n// RECOVERY (9.5.2026 + 23.5.2026 fix): pokud nibeOn=true ale startTs=0 (NR restart),\n// rekonstruuj startTs z switch.last_changed (perzistuje v HA pres restarty NR).\n// PUVODNI BUG (23.5.2026): pri NR restart se startTs resetoval na Date.now() -> 30 min\n// guard se pocital znovu od restartu -> NIBE zustaval ON i kdyz podminky chtely OFF.\n// FIX (23.5.2026): BUG — pool_nibe_decide cetla cached cfg.letni_rezim/cfg.pool_enabled,\n// fve-config state-listener (\"HA Config zmena\") neobsahoval pool entity, takze po user zmene\n// bazen_na_max/automatizovat_vytapeni_bazenu se cfg nerebuildoval. Guard pak rejectoval start.\n// LIVE read z HA — analogie BUG 4 fix z 10.5.2026 (patrony korekce, planner, guard_data).\nconst _letniLive = gB(\"input_boolean.letni_rezim\", cfg.letni_rezim === true);\nconst _poolEnabledLive = gB(\"input_boolean.automatizovat_vytapeni_bazenu\", cfg.pool_enabled === true);\nconst nibeOn = gB(\"switch.nibe_jednorazove_zvyseni_tuv\", false);\nif (nibeOn && !(flow.get(\"pool_nibe_start_ts\")||0)) {\n    const _sw = global.get(\"homeassistant.homeAssistant.states['switch.nibe_jednorazove_zvyseni_tuv']\") || {};\n    let _recoverTs = 0;\n    if (_sw.last_changed) {\n        const _t = Date.parse(_sw.last_changed);\n        if (!isNaN(_t)) _recoverTs = _t;\n    }\n    flow.set(\"pool_nibe_start_ts\", _recoverTs || Date.now());\n    flow.set(\"pool_nibe_running\", true);\n}\nif (!_letniLive || !_poolEnabledLive) {\n    const _now = Date.now();\n    const _startTs = flow.get(\"pool_nibe_start_ts\") || 0;\n    const _runSec = (nibeOn && _startTs) ? (_now - _startTs) / 1000 : 0;\n    const _minRun = cfg.pool_nibe_min_runtime_sec || 1800;\n    const _canStop = _runSec >= _minRun;\n    const _why = !_letniLive ? \"letni\" : \"pool_enabled\";\n    if (nibeOn && !_canStop) {\n        flow.set(\"pool_nibe_running\", true);\n        global.set(\"pool_heating_filtrace_lock_until\", _now + 70000 + (cfg.pool_filtrace_cooldown_min||10)*60000);\n        node.status({fill:\"red\",shape:\"dot\",text:\"OFF (\"+_why+\") dobeh \"+Math.round(_minRun-_runSec)+\"s\"});\n        return null;\n    }\n    if (nibeOn) {\n        flow.set(\"pool_nibe_running\", false); flow.set(\"pool_nibe_start_ts\", 0);\n        node.status({fill:\"yellow\",shape:\"dot\",text:\"OFF (\"+_why+\") -> NIBE_OFF\"});\n        return {action: \"nibe_off\"};\n    }\n    flow.set(\"pool_nibe_running\", false); flow.set(\"pool_nibe_start_ts\", 0);\n    node.status({fill: \"grey\", shape: \"ring\", text: \"OFF (\"+_why+\")\"});\n    return null;\n}\n\nconst vody = gF(\"sensor.hp2551ae_pro_v2_1_0_temperature_1\", 20);\nconst cil = gF(\"input_number.pozadovana_teplota_v_bazenu\", 28);\nconst poolNaMax = gB(\"input_boolean.bazen_na_max\", false);\nconst planData = global.get(\"fve_plan\") || {};\nconst cur = (Array.isArray(planData.plan) && planData.plan.length) ? planData.plan[0] : {};\nconst buyPrice = parseFloat(cur.priceBuy);\n// B7: fveMode source priority — global.fve_current_mode (NR live) ->\n//   planData.current_mode (NR cache) -> sensor.fve_plan_data (HA persist) ->\n//   sensor.fve_plan (HA persist starsi). Brani race po restartu NR.\nconst _fpd = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan_data']\") || {}).attributes || {};\nconst _fpa = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes || {};\nconst fveMode = global.get(\"fve_current_mode\") || planData.current_mode || _fpd.current_mode || _fpa.current_mode || \"\";\nconst solarRemE = global.get(\"homeassistant.homeAssistant.states['sensor.energy_production_today_remaining_3']\") || {};\nconst solarRem = parseFloat(solarRemE.state) || 0;\n\nconst now = Date.now();\nconst startTs = flow.get(\"pool_nibe_start_ts\") || 0;\nconst runSec = (nibeOn && startTs) ? (now - startTs) / 1000 : 0;\nconst minRun = cfg.pool_nibe_min_runtime_sec || 1800;\nconst canStop = runSec >= minRun;\n\n// 1) STROP VODY: povinny dobeh min_runtime, pak off\n// B5: HYSTEREZE 0.3 °C — strop drzi flow.pool_nibe_strop_active=true,\n// dokud vody neklesne pod cil-0.3. Brani oscilaci pri kolisani teplomeru.\nconst stropHyst = 0.3;\nlet stropActive = flow.get(\"pool_nibe_strop_active\") === true;\nif (vody >= cil) stropActive = true;\nelse if (vody < cil - stropHyst) stropActive = false;\nflow.set(\"pool_nibe_strop_active\", stropActive);\nif (stropActive) {\n    if (nibeOn && !canStop) {\n        flow.set(\"pool_nibe_running\", true);\n        global.set(\"pool_heating_filtrace_lock_until\", now + 70000 + (cfg.pool_filtrace_cooldown_min||10)*60000);\n        node.status({fill:\"red\",shape:\"dot\",text:\"CIL \"+vody.toFixed(1)+\"° dobeh \"+Math.round(minRun-runSec)+\"s\"});\n        return null;\n    }\n    if (nibeOn) {\n        flow.set(\"pool_nibe_running\", false); flow.set(\"pool_nibe_start_ts\", 0);\n        node.status({fill:\"green\",shape:\"dot\",text:\"CIL \"+vody.toFixed(1)+\"° → OFF\"});\n        return {action: \"nibe_off\"};\n    }\n    flow.set(\"pool_nibe_running\", false);\n    node.status({fill:\"green\",shape:\"ring\",text:\"CIL \"+vody.toFixed(1)+\"° (off, hyst<\"+(cil-stropHyst).toFixed(1)+\")\"});\n    return null;\n}\n\n// 2) USE CASES (§11.6) — zakladni povoleni resí guard nahore.\n// FIX (23.5.2026, uzivatel): v bazen_na_max=ON novy chovani:\n//   - ULTRA (buy <= prah_ultra_levna_nakup, default 1 Kc): NIBE jede I ZE SITE (vyjimka, OK)\n//   - NORMAL (buy > 1 Kc): NIBE jede JEN pokud solar staci pokrytí (NEZRAT ZE SITE)\n//   - SOC baterie ignorovan (user kasle na SOC, chce maximalni topeni bazenu)\n// Plánovač (c2 pred fixem) zrusen jako trigger — mohl vybrat drahou non-solar nocni hodinu.\n// Plánovač zustava jen pro UI display (isPoolNibeHour v sensor.fve_plan).\n// 8.5.2026: zruseno samostatne \"zakaz pretoku + solar >=13\" — zakaz pretoku sam o sobe\n//   nikdy nespousti NIBE, ale je soucasti \"dostatecny solar\" testu (sell <= 0 -> vzdy ok).\n// FIX (23.5.2026 v2, uzivatel): NIBE jede VYHRADNE pri zaporne nebo ULTRA cene (≤ 1 Kc).\n// V non-ultra hodinach (buy > 1 Kc) NIBE NIKDY nejede — i kdyby solar byl velky.\n// Misto NIBE jedou PATRONY (skalovatelne 3/6/9 kW per §8.5) v pool_decide_logic\n// s bypass SOC/solar pri bazen_na_max + cantExport (§11.7 vyjimka 23.5.2026).\n// Patrony pomalu plni nadrz, NIBE drzi OFF dokud nezacne ultra hodina.\n// Duvod: NIBE je 3.5 kW fix — pri drahych hodinach uz mame draho zaplaceno za vse co\n// neprijde do baterie, lepsi je pomalu skalovat patronama nez riskovat ze NIBE pojede\n// par minut a pak stop pri zmene spotreby auta/domu.\nconst c1 = !isNaN(buyPrice) && buyPrice <= (cfg.pool_nibe_zaporna_cena_threshold ?? 0);\nconst isUltra = !isNaN(buyPrice) && buyPrice <= (cfg.prah_ultra_levna_nakup || 1.0);\nconst c2_ultra = poolNaMax && isUltra;\n// §4.10.2 (user 17.6.2026): NIBE->bazen = DUMP LOAD POSLEDNI PRIORITY pri zaporne/nulove cene.\n// Nejdriv se nasiti skalovatelne spotrebice (auto/patrony/bojler/filtrace) + baterie (buffer).\n// NIBE (12 kW, neskalovatelne) se ZAPNE az kdyz uz neni co krmit: grid odber klesl pod floor\n// A baterie se uz nedobiji (plna/limitovana) => bez NIBE bychom nedrzeli cilovy ~18 kW odber.\n// BEH se drzi dokud buy<=0 (anyKeep) — strop vody / min_runtime resi konec, zadny short-cycle.\nconst _isZapMode = fveMode === \"zaporna_nakupni_cena\";\nconst _gridFloor = cfg.zaporna_nibe_grid_floor_w || 15000;\nconst _chgFloor = cfg.zaporna_nibe_bat_charge_floor_w || 800;\nlet _gridNow = parseFloat((global.get(\"homeassistant.homeAssistant.states['sensor.spotreba_ze_site']\") || {}).state); if (isNaN(_gridNow)) _gridNow = 0;\nlet _batChgNow = parseFloat((global.get(\"homeassistant.homeAssistant.states['sensor.nabijeni_baterii_plus']\") || {}).state); if (isNaN(_batChgNow) || _batChgNow < 0) _batChgNow = 0;\nconst _nibeLastResort = (!_isZapMode) || (_gridNow < _gridFloor && _batChgNow < _chgFloor);\nconst anyStart = (c1 && _nibeLastResort) || c2_ultra;\nconst anyKeep = c1 || c2_ultra;\n// tag priorita: zap > ultra (pro status text)\nconst tag = c1 ? \"zap\" : c2_ultra ? \"ultra\" : \"-\";\n\nlet action = null; let reason = \"\";\nif (!nibeOn && anyStart) {\n    flow.set(\"pool_nibe_start_ts\", now); flow.set(\"pool_nibe_running\", true);\n    action = \"nibe_on\"; reason = \"→ON \"+tag+(isNaN(buyPrice)?\"\":\" \"+buyPrice.toFixed(2)+\"Kc\");\n} else if (nibeOn && !anyKeep) {\n    // FIX (23.5.2026 v3): bypass min_runtime guard pro \"no-case\" branch.\n    // Pokud zadny case neplati (NIBE NEMA bezet per § 11.6 v3), OKAMZITY STOP\n    // bez cekani 30 min. Duvod: kratky cyklus kompresoru < ZRANI ZE SITE.\n    // Min runtime guard zustava aktivni JEN ve \"strop vody\" branch (legitimni\n    // konec po dosazeni cilove teploty bazenu).\n    flow.set(\"pool_nibe_running\", false); flow.set(\"pool_nibe_start_ts\", 0);\n    action = \"nibe_off\";\n    reason = canStop ? \"→OFF no-case \"+Math.round(runSec/60)+\"m\"\n                     : \"→OFF no-case BYPASS min_runtime (\"+Math.round(runSec/60)+\"m)\";\n} else if (nibeOn && anyKeep) {\n    flow.set(\"pool_nibe_running\", true);\n    reason = \"run \"+Math.round(runSec/60)+\"m \"+tag;\n} else {\n    // FIX (7.6.2026): stale-flag — spinac NIBE->bazen je OFF a zadny case neplati.\n    // Driv tato vetev neresetovala pool_nibe_running -> flag visel true -> topeni_mod\n    // \"BAZEN - NIBE\" + forceAll patron (SOC>=95 + zakaz pretoku) zablokovan pres\n    // !_nibeBazenRunning. Realny stav NIBE = klidovy => flag MUSI byt false.\n    flow.set(\"pool_nibe_running\", false); flow.set(\"pool_nibe_start_ts\", 0);\n    reason = \"idle (off, no-case)\";\n}\n// FIX (23.5.2026): lock prodlouzeni jen behem behu NIBE (nibeOn && action != \"nibe_off\").\n// Pri action=\"nibe_off\" lock zustava jen na presnych cooldown_min minut (§11.4 = 10 min),\n// bez +70s buffer (ten je urcen pro safety mezi 60s ticky behem behu).\n// Pri action=\"nibe_on\" set lock na cooldown_min — dalsi tick za 60s ho prodlouzi.\nconst _coolMs = (cfg.pool_filtrace_cooldown_min||10)*60000;\nif (action === \"nibe_off\") {\n    global.set(\"pool_heating_filtrace_lock_until\", now + _coolMs);\n} else if (action === \"nibe_on\") {\n    global.set(\"pool_heating_filtrace_lock_until\", now + _coolMs);\n} else if (nibeOn) {\n    global.set(\"pool_heating_filtrace_lock_until\", now + 70000 + _coolMs);\n}\nconst fill = (action===\"nibe_on\")?\"blue\":(action===\"nibe_off\")?\"yellow\":(nibeOn?\"blue\":\"grey\");\nconst shape = (nibeOn||action===\"nibe_on\")?\"dot\":\"ring\";\nnode.status({fill,shape,text:(action?action.toUpperCase()+\" | \":\"\")+reason+\" v=\"+vody.toFixed(1)+\"° cil=\"+cil.toFixed(1)});\n// FIX (23.5.2026): pri NIBE OFF action poslat re-eval trigger do filtrace flow po\n// presnych cooldown_min min (10 min) — garantuje, ze filtrace se vypne ihned po expiry\n// locku, bez cekani na dalsi 2-min tick filtrace (§11.4 + §10.1).\nconst _reCheck = action === \"nibe_off\" ? {payload: \"recheck_after_nibe_off\", delay: _coolMs + 5000} : null;\nreturn [action ? {action} : null, _reCheck];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 840,
        "wires": [
            [
                "pool_switch_nibe"
            ],
            [
                "pool_filt_recheck_delay"
            ]
        ]
    },
    {
        "id": "pool_filt_recheck_delay",
        "type": "delay",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "wait msg.delay ms (~10 min)",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 900,
        "wires": [
            [
                "pool_link_to_filt_recheck"
            ]
        ]
    },
    {
        "id": "pool_link_to_filt_recheck",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "→ filtrace recheck",
        "mode": "link",
        "links": [
            "filt_link_from_pool_recheck"
        ],
        "x": 1090,
        "y": 900,
        "wires": []
    },
    {
        "id": "pool_switch_nibe",
        "type": "switch",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "route on/off",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nibe_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nibe_off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "pool_svc_nibe_on"
            ],
            [
                "pool_svc_nibe_off"
            ]
        ]
    },
    {
        "id": "pool_svc_nibe_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "NIBE jednoraz TUV ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_jednorazove_zvyseni_tuv"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 850,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_nibe_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_nibe",
        "name": "NIBE jednoraz TUV OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.nibe_jednorazove_zvyseni_tuv"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 850,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_g_filtrace_lock",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Filtrace lock",
        "style": {
            "stroke": "#999999",
            "fill": "#fff8d0",
            "label": true,
            "color": "#bcbd22"
        },
        "nodes": [
            "pool_link_from_lock",
            "pool_lock_change"
        ],
        "x": 19,
        "y": 1019,
        "w": 437,
        "h": 82
    },
    {
        "id": "pool_g_topeni_mod",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Topeni_mod → HA sync",
        "style": {
            "stroke": "#999999",
            "fill": "#d0e8ff",
            "label": true,
            "color": "#1f77b4"
        },
        "nodes": [
            "pool_link_from_mod",
            "pool_mod_change",
            "pool_mod_api"
        ],
        "x": 21,
        "y": 1119,
        "w": 517,
        "h": 82
    },
    {
        "id": "pool_inject_60s",
        "type": "inject",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "pool_data_func"
            ]
        ]
    },
    {
        "id": "pool_data_func",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "Data trigger",
        "func": "// POOL Heating — data collect trigger (60s).\n// V B2 vsechno ctene v decision func z global.get (homeassistant state).\n// Tento node zatim jen trigger propaguje. V pripadnych optimalizacich (B3)\n// by sem slo pridat pre-fetch a aggregaci.\nmsg.payload = {ts: Date.now()};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 60,
        "wires": [
            [
                "pool_link_to_decide"
            ]
        ]
    },
    {
        "id": "pool_link_to_decide",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_data",
        "name": "→ decide",
        "mode": "link",
        "links": [
            "pool_link_from_data"
        ],
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "pool_link_from_data",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "← data",
        "links": [
            "pool_link_to_decide"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "pool_guard_data"
            ]
        ]
    },
    {
        "id": "pool_link_to_vent",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ vent exec",
        "mode": "link",
        "links": [
            "pool_link_from_vent"
        ],
        "x": 605,
        "y": 220,
        "wires": []
    },
    {
        "id": "pool_link_to_lock",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ lock",
        "mode": "link",
        "links": [
            "pool_link_from_lock"
        ],
        "x": 605,
        "y": 260,
        "wires": []
    },
    {
        "id": "pool_link_to_mod",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "→ mod",
        "mode": "link",
        "links": [
            "pool_link_from_mod"
        ],
        "x": 605,
        "y": 340,
        "wires": []
    },
    {
        "id": "pool_link_from_pat",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "← pat",
        "links": [
            "pool_link_to_pat_kor"
        ],
        "x": 55,
        "y": 520,
        "wires": [
            [
                "pool_switch_pat"
            ]
        ]
    },
    {
        "id": "pool_switch_pat",
        "type": "switch",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "route patrony action",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "p1_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p1_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p2_off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "p3_off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 240,
        "y": 520,
        "wires": [
            [
                "pool_svc_p1_on"
            ],
            [
                "pool_svc_p1_off"
            ],
            [
                "pool_svc_p2_on"
            ],
            [
                "pool_svc_p2_off"
            ],
            [
                "pool_svc_p3_on"
            ],
            [
                "pool_svc_p3_off"
            ]
        ]
    },
    {
        "id": "pool_svc_p1_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 1 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p1_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 1 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_1"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p2_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 2 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p2_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 2 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3_2"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p3_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 3 ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_p3_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Patrona 3 OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.patrona_faze_3"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_vent",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "← vent",
        "links": [
            "pool_link_to_vent"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "pool_switch_vent"
            ]
        ]
    },
    {
        "id": "pool_switch_vent",
        "type": "switch",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "route ventil action",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ventil_on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ventil_off",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "pool_svc_vent_on"
            ],
            [
                "pool_svc_vent_off"
            ]
        ]
    },
    {
        "id": "pool_svc_vent_on",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Ventil bazen ON",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bazen_ventil_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 520,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_svc_vent_off",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_exec_patrony",
        "name": "Ventil bazen OFF",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "switch.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.bazen_ventil_smesovac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 530,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_lock",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_filtrace_lock",
        "name": "← lock",
        "links": [
            "pool_link_to_lock"
        ],
        "x": 60,
        "y": 1060,
        "wires": [
            [
                "pool_lock_change"
            ]
        ]
    },
    {
        "id": "pool_lock_change",
        "type": "change",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_filtrace_lock",
        "name": "set global.pool_heating_filtrace_lock_until",
        "rules": [
            {
                "t": "set",
                "p": "pool_heating_filtrace_lock_until",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_link_from_mod",
        "type": "link in",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "← mod",
        "links": [
            "pool_link_to_mod"
        ],
        "x": 62,
        "y": 1160,
        "wires": [
            [
                "pool_mod_change"
            ]
        ]
    },
    {
        "id": "pool_mod_change",
        "type": "change",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "Nastav topeni_mod",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 242,
        "y": 1160,
        "wires": [
            [
                "pool_mod_api"
            ]
        ]
    },
    {
        "id": "pool_mod_api",
        "type": "api-call-service",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_topeni_mod",
        "name": "Set topeni_mod",
        "server": "c7421fe2.cb11c",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_select.topeni_mod"
        ],
        "labelId": [],
        "data": "{\"option\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "x": 432,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "pool_guard_data",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL guard+data (§11)",
        "func": "// POOL Heating — guard + cteni stavu + stropy (§11.3)\n// Vystup: msg { cfg, data, stropReason } -> pool_decide_logic.\n// Pokud guard zablokuje (zimni rezim / pool_enabled=off), vrati null (flow konci).\n\nconst cfg = global.get(\"fve_config\") || {};\n\n// Guard: letni_rezim + pool_enabled — VZDY LIVE z HA (ne cached cfg).\n// FIX (10.5.2026 21:19, BUG 4): cfg se buduje s lagem, user vypnutim auta\n// dostal patrony do stavu 'pool_enabled=cached_true' a pool flow stale ridil.\n// Live HA read => zmena se projevi okamzite v dalsim 60s ticku.\nfunction _gB(id, d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;return s.state===\"on\";}\nconst letniRezim = _gB(\"input_boolean.letni_rezim\", cfg.letni_rezim === true);\nconst poolEnabled = _gB(\"input_boolean.automatizovat_vytapeni_bazenu\", cfg.pool_enabled === true);\nif (!letniRezim || !poolEnabled) {\n    flow.set(\"pool_patrony_allowed\", false);\n    flow.set(\"pool_patrony_max_floor\", 0);\n    node.status({fill: \"grey\", shape: \"ring\",\n        text: \"OFF (letni=\" + (letniRezim?\"1\":\"0\") + \" enabled=\" + (poolEnabled?\"1\":\"0\") + \")\"});\n    return null;\n}\n\n// Helpery\nfunction getFloat(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    const v = parseFloat(s.state);\n    return isNaN(v) ? def : v;\n}\nfunction getBool(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    return s.state === \"on\";\n}\nfunction isAvail(id) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    return !!s && s.state !== \"unavailable\" && s.state !== \"unknown\";\n}\n\n// Stavove veliciny\nconst data = {\n    teplotaVody:   getFloat(\"sensor.hp2551ae_pro_v2_1_0_temperature_1\", 20),\n    teplotaNadrz:  getFloat(\"sensor.teplota_smesovac_teplota\", 20),\n    solarW:        getFloat(\"sensor.vyroba_fve\", 0),\n    soc:           getFloat(\"sensor.battery_percent\", 0),\n    bCh:           getFloat(\"sensor.battery_dc_current\", 0),\n    autoMaHlad:    getBool(\"input_boolean.auto_ma_hlad\", false),\n    filtraceAvail: isAvail(\"switch.filtrace\"),\n    p1on:          getBool(\"switch.patrona_faze_1\", false),\n    p2on:          getBool(\"switch.patrona_faze_3_2\", false),\n    p3on:          getBool(\"switch.patrona_faze_3\", false),\n    ventilOn:      getBool(\"switch.bazen_ventil_smesovac\", false),\n    bojlerPower:   (function(){\n        const c = global.get(\"homeassistant.homeAssistant.states['climate.smart_socket_thermostat_24090276694597600801c4e7ae0a2e53']\");\n        return (c && c.attributes && c.attributes.hvac_action === \"heating\") ? 2000 : 0;\n    })(),  // §11.5 bod 6: konstanta 2 kW kdyz bojler topi (HA nema wattmetr)\n};\n// Prodejní cena (sell) + flag zákazu přetoků pro sell-price guard patron (§8.5 / §11.7)\ndata.sellPrice = getFloat(\"input_number.aktualni_cena_prodej_kwh_h\", 0);\nconst fvePlanAttr = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes || {};\ndata.cantExport = (data.sellPrice <= 0) || (fvePlanAttr.current_mode === \"zakaz_pretoku\");\n\n// B2: All-in flagy (§11.6 + §11.7) — bypass standardnich gate (solar/sell/SOC)\n// pri zaporne cene, zakazu pretoku, nebo bazen_na_max + ultra-levne cene.\n// Buy price entita: input_number.aktualni_cena_kwh (Kc/kWh)\nconst buyPrice = getFloat(\"input_number.aktualni_cena_kwh\", 99);\ndata.zapornaCena = buyPrice <= (cfg.pool_nibe_zaporna_cena_threshold != null ? cfg.pool_nibe_zaporna_cena_threshold : 0);\ndata.ultraLevna  = buyPrice <= (cfg.prah_ultra_levna_nakup || 1);\ndata.poolNaMax   = getBool(\"input_boolean.bazen_na_max\", cfg.pool_na_max === true);\n\ndata.activeFaze = (data.p1on?1:0) + (data.p2on?1:0) + (data.p3on?1:0);\n\n// Stropy (§11.3) — user-changeable HA entity LIVE (BUG 2 fix 10.5.2026 21:19).\n// fve_config se buduje s lagem; user zmena prahu by se reflektovala az pri dalsim refresh.\n// Live read => zmena okamzite v dalsim 60s ticku.\ndata.cilTeplotaVody = getFloat(\"input_number.pozadovana_teplota_v_bazenu\", cfg.pool_cilova_teplota_vody || 28);\ndata.maxTeplotaNadrz = getFloat(\"input_number.max_teplota_nadrz_bazen\", cfg.pool_max_teplota_nadrz || 60);\ndata.minTeplotaNadrz = getFloat(\"input_number.min_teplota_nadrz_bazen\", cfg.pool_min_teplota_nadrz || 30);\nlet stropReason = null;\nif (data.teplotaVody >= data.cilTeplotaVody) {\n    stropReason = \"voda\";  // cil -> patrony OFF + cooldown filtrace\n} else if (data.teplotaNadrz >= data.maxTeplotaNadrz) {\n    stropReason = \"nadrz\"; // strop nadrze -> patrony OFF (NIBE neresi)\n}\n\nmsg.cfg = cfg;\nmsg.data = data;\nmsg.stropReason = stropReason;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "pool_decide_logic"
            ]
        ]
    },
    {
        "id": "pool_decide_logic",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL decide (§11.3/5/7)",
        "func": "// POOL Heating — rozhodovaci logika (§11.3/§11.5/§11.7)\n// Vstup:  msg { cfg, data, stropReason }\n// Vystup: msg.decision = { patronyAllowed, patronyMaxFloor, ventilAction,\n//                          lockUntil, mod, statusText, statusFill }\n\nconst cfg = msg.cfg;\nconst data = msg.data;\nconst now = Date.now();\nconst filtraceCoolMin = cfg.pool_filtrace_cooldown_min || 10;\n\nconst dec = {\n    patronyAllowed: false,\n    patronyMaxFloor: 0,\n    ventilAction: null,      // \"on\" / \"off\" / null\n    lockUntil: null,         // ms\n    mod: \"Vypnuto\",\n    statusText: \"\",\n    statusFill: \"grey\",\n};\n\n// STROP VODY -> patrony OFF + cooldown filtrace\nif (msg.stropReason === \"voda\") {\n    dec.ventilAction = data.ventilOn ? \"off\" : null;\n    dec.lockUntil = now + filtraceCoolMin * 60000;\n    dec.mod = \"Vypnuto\";\n    dec.statusFill = \"green\";\n    dec.statusText = \"CIL voda=\" + data.teplotaVody.toFixed(1) + \"° cooldown \" + filtraceCoolMin + \"m\";\n    msg.decision = dec;\n    return msg;\n}\n// STROP NADRZE -> patrony OFF (NIBE neresi — topi primo)\nif (msg.stropReason === \"nadrz\") {\n    dec.statusFill = \"red\";\n    dec.statusText = \"MAX NADRZ \" + data.teplotaNadrz.toFixed(1) + \"°\";\n    msg.decision = dec;\n    return msg;\n}\n\n// PATRONY PODMINKY (§11.5 + §11.7)\nconst auto    = !data.autoMaHlad;\nconst socOk   = data.soc >= (cfg.topeni_min_soc_patron || 90);\nconst solarOk = data.solarW >= (cfg.topeni_patron_min_solar_w || 5000);\n// §8.5/§11.7: sell-price guard — pri vysoke prodejni cene patrony NESMI bezet\n// (lepsi energii prodat do site nez spalit v patronach). Vyjimka: zakaz pretoku.\nconst maxSellPrice = (cfg.topeni_patron_max_sell_price != null) ? cfg.topeni_patron_max_sell_price : 1.5;\nconst sellOk = data.cantExport || (data.sellPrice <= maxSellPrice);\n// §11.5 bod 6: bojler soubeh vyjimka — pokud vyroba pokryje oba, muzou bezet soucasne\nconst bojlerActivelyHeating = data.bojlerPower > 500;  // W\nconst bojlerOk = !bojlerActivelyHeating\n    || (data.solarW - data.bojlerPower) >= (cfg.topeni_patron_min_solar_w || 5000);\n// FIX (10.5.2026, ZAKONY § 8.5 + § 11.7 + § 4.10.3): SOC ≥ 90 % + solar ≥ 5 kW jsou\n// ABSOLUTNI prahy. Suspendaci povoluje POUZE mod \"zaporna_nakupni_cena\" (NAKUPNI cena < 0,\n// § 4.10.3 SUSPENDOVANA PRAVIDLA). Zakaz pretoku (= PRODEJNI cena <= 0, current_mode\n// \"zakaz_pretoku\") NESUSPENDUJE SOC ani solar — jen sell-price guard (§ 8.5 ř.950:\n// \"pri zaporne prodejni cene patrony pomahaji spotrebovat energii kterou nelze prodat\").\nconst _fveAttr = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes || {};\nconst isZapNak = _fveAttr.current_mode === \"zaporna_nakupni_cena\";\n// FIX (23.5.2026, user): v bazen_na_max + zakaz pretoku (cantExport) se suspenduje SOC i solar gate.\n// Uzivatel rekl: \"V TOMTO MODU RYCHLEHO NATOPENI BAZENU KASLU NA SOC BATERIE, ALE NECHCI ZRAT ZE SITE\".\n// Solar bypass je bezpecny — korekcni smycka patron (10s tick) kontroluje skutecny bCh prebytek\n// a 1 fazi (3 kW) spusti jen pokud bCh > 3 kW. Tj. nezadne zrani ze site.\n// Patrony jsou skalovatelne (3/6/9 kW per §8.5) — nenahradne pro pomale ohrev nadrze pri\n// nedostatku solar prebytku pro NIBE (3.5 kW fix). Per §11.6 pozn. (case 3 ZAKONY).\nconst bazenMaxBypass = data.poolNaMax && data.cantExport;\nconst socOkE   = isZapNak || socOk || bazenMaxBypass;     // § 8.5/§ 11.7 SOC ≥ 90 % — bypass v zap. nákupní ceně NEBO bazen_na_max + cantExport\nconst solarOkE = isZapNak || solarOk || bazenMaxBypass;   // § 8.5/§ 11.7 solar ≥ 5 kW — bypass v zap. nákupní ceně NEBO bazen_na_max + cantExport\nconst sellOkE  = data.cantExport || sellOk;               // § 8.5 ř.950: zákaz přetoků (sell ≤ 0) suspenduje sell-price guard\n// FIX (10.5.2026 21:19, BUG 1, ZAKONY § 8.5 r.942-944):\n// SOC ≥ 95 % + zakaz pretoku => ZAPNOU SE VSECHNY 3 FAZE PATRON,\n// korekcni smycka VYRAZENA, do vybiti pod SOC < 95 %.\n// Bypass solar/sell guards (vecer pri zakazu pretoku solar < 5 kW, sell <= 0).\n// Plati JEN pokud patrony 'mohou bezet' (auto + bojler + !nibe + nadrz strop OK).\n// Tabulka strop nadrze je resena ve stropReason vyse (early return).\nconst _nibeBazenRunning = flow.get(\"pool_nibe_running\") === true;\n// FIX (23.5.2026 v2, user): rozsireno o low-sell trigger per § 8.5/§ 11.7.\n//   Pri SOC ≥ 95 % se patrony chovaji stejne jako pri zakazu pretoku (force-all 3 faze)\n//   take pri prodejni cene pod prah_nevyhodneho_prodeje_kc (default 1 Kc).\n//   ZADNY solar guard — STEJNE chovani jako cantExport, vcetne anti-curtailing efektu\n//   (mensi solar pri vyssim SOC by jinak vedl k omezeni solar -> patrony to vyresi).\n//   Jediny ochranny gate: aktualni hodina musi byt ve slunecnim okne (isSolHourP) —\n//   v noci patrony NESPOUSTET. Analogie cantExport ve fve-heating: h.cantExport = h.isSol && _sp <= 0.\nconst _planAttrPool = (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan_data']\") || {}).attributes\n    || (global.get(\"homeassistant.homeAssistant.states['sensor.fve_plan']\") || {}).attributes\n    || {};\nconst _solStartP = (_planAttrPool.config && _planAttrPool.config.solarStartHour != null) ? _planAttrPool.config.solarStartHour : 9;\nconst _solEndP = (_planAttrPool.config && _planAttrPool.config.solarEndHour != null) ? _planAttrPool.config.solarEndHour : 17;\nconst _hrNowP = new Date().getHours();\nconst _isSolHourP = _hrNowP >= _solStartP && _hrNowP < _solEndP;\nconst _lowSellThrP = (cfg.prah_nevyhodneho_prodeje_kc != null) ? cfg.prah_nevyhodneho_prodeje_kc : 1.0;\nconst _lowSellTriggerP = _isSolHourP && (data.sellPrice < _lowSellThrP);\nconst isCantExport95 = data.cantExport && data.soc >= 95;\nconst isLowSell95 = _lowSellTriggerP && data.soc >= 95;\nconst forceAllOk = (isCantExport95 || isLowSell95) && auto && bojlerOk && !_nibeBazenRunning;\nif (forceAllOk) {\n    dec.patronyAllowed = true;\n    dec.patronyMaxFloor = 3;\n    dec.patronyForceAllPhases = true;  // korekce: target = 3 instant, bypass cooldown\n} else {\n    dec.patronyAllowed = auto && socOkE && solarOkE && sellOkE && bojlerOk;\n    dec.patronyMaxFloor = dec.patronyAllowed ? 3 : 0;\n    dec.patronyForceAllPhases = false;\n}\n\n// VENTIL HYSTEREZE (§11.3)\n// FIX (10.5.2026 21:19, BUG 2): minNadrz LIVE z data (z guard_data HA read).\n// User zmena input_number.min_teplota_nadrz_bazen se promitne v dalsim 60s ticku.\nconst minNadrz = data.minTeplotaNadrz != null ? data.minTeplotaNadrz : (cfg.pool_min_teplota_nadrz || 30);\nconst ventilStartC = cfg.pool_ventil_start_c || 50;\nif (data.ventilOn) {\n    if (data.teplotaNadrz < minNadrz) dec.ventilAction = \"off\";\n} else {\n    if (data.teplotaNadrz >= ventilStartC) dec.ventilAction = \"on\";\n}\n// Ventil ON vyzaduje dostupnou filtraci (§11.5 bod 8)\n// FIX (10.5.2026 21:19, BUG 5): take vyzaduje automatizovat_filtraci_v_bazenu = ON.\n// Pokud user vypnul auto filtraci, switch.filtrace 'nelze ovladat' (per user volby) =>\n// ventil NESMI byt ON (jinak prehrati vymeniku, § 11.5 bod 8).\nfunction _gB2(id, d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;return s.state===\"on\";}\nconst filtraceAutoOn = _gB2(\"input_boolean.automatizovat_filtraci_v_bazenu\", false);\nif (dec.ventilAction === \"on\" && (!data.filtraceAvail || !filtraceAutoOn)) {\n    dec.ventilAction = null;\n}\n// SAFETY: pokud ventil JE ON a filtrace neni dostupna/auto OFF => zavrit ventil.\n// Bez filtrace by se vymenik prehril (§ 11.4). Toto je bezpecnostni reakce, ne sahani na filtraci.\nif (data.ventilOn && (!data.filtraceAvail || !filtraceAutoOn)) {\n    dec.ventilAction = \"off\";\n}\n\n// FILTRACE LOCK (§11.4): pokud ventil bude/je ON -> prodluz lock\n// FIX (10.5.2026 21:19, BUG 5): pokud user vypnul auto filtraci, POOL Heating\n// NESMI nastavit lock (NESAHAT na filtraci per user volby option B).\n// Bez locku ventil byl jiz vypnut vyse (safety) -> filtrace neni nutna.\nconst ventilActiveAfter = (dec.ventilAction === \"on\") || (data.ventilOn && dec.ventilAction !== \"off\");\nif (!filtraceAutoOn) {\n    dec.lockUntil = null;\n} else if (ventilActiveAfter) {\n    dec.lockUntil = now + 60000 + filtraceCoolMin * 60000;\n}\n// B8: pri ventilAction === \"off\" extend cooldown (filtrace musi vyplachnout vymenik)\nelse if (dec.ventilAction === \"off\") {\n    dec.lockUntil = now + filtraceCoolMin * 60000;\n}\n\n// TOPENI_MOD (§11.9 + B3)\nconst nibeRunAfter = flow.get(\"pool_nibe_running\") === true;\n// B3: pri ventil ON + NIBE running -> teplo z nadrze, NIBE ceka v priority 10 (§11.3)\nconst ventilOnAfter = (dec.ventilAction === \"on\") || (data.ventilOn && dec.ventilAction !== \"off\");\nif (nibeRunAfter && ventilOnAfter)            dec.mod = \"BAZÉN - Ventil (NIBE čeká)\";\nelse if (dec.patronyAllowed && nibeRunAfter)  dec.mod = \"BAZÉN - NIBE + Patrony\";\nelse if (dec.patronyAllowed)                  dec.mod = \"BAZÉN - Patrony\";\nelse if (nibeRunAfter)                        dec.mod = \"BAZÉN - NIBE\";\n// B3 safety: pokud HA selectoru chybi option (napr. nove pridana 'BAZÉN - Ventil\n// (NIBE čeká)' v configuration.yaml jeste neni), fallback na nejblizsi existujici.\n// HA jinak odmitne select_option a logoval by error kazdou minutu.\nconst _selOpts = ((global.get(\"homeassistant.homeAssistant.states['input_select.topeni_mod']\") || {}).attributes || {}).options || [];\nif (_selOpts.length && dec.mod && !_selOpts.includes(dec.mod)) {\n    const fb = (dec.mod === \"BAZÉN - Ventil (NIBE čeká)\") ? \"BAZÉN - NIBE\" : \"Vypnuto\";\n    dec.mod = _selOpts.includes(fb) ? fb : \"Vypnuto\";\n}\n\n// STATUS\nconst reasons = [];\nif (!dec.patronyAllowed) {\n    if (!auto)     reasons.push(\"auto\");\n    if (!socOk)    reasons.push(\"SOC<\" + (cfg.topeni_min_soc_patron || 90));\n    if (!solarOk)  reasons.push(\"solar<\" + (cfg.topeni_patron_min_solar_w || 5000));\n    if (!sellOk)   reasons.push(\"sell=\" + data.sellPrice.toFixed(2) + \"Kc>\" + maxSellPrice);\n    if (!bojlerOk) reasons.push(\"bojler=\" + Math.round(data.bojlerPower) + \"W\");\n}\ndec.statusFill = dec.patronyAllowed ? \"green\" : \"grey\";\ndec.statusText = (dec.patronyAllowed ? \"ALLOWED max=\" + dec.patronyMaxFloor + \"f\"\n                                      : \"BLOCKED:\" + reasons.join(\",\"))\n    + \" v=\" + data.teplotaVody.toFixed(1) + \"° n=\" + data.teplotaNadrz.toFixed(1)\n    + \"° SOC=\" + data.soc.toFixed(0) + \"%\";\n\nmsg.decision = dec;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 230,
        "wires": [
            [
                "pool_build_outputs"
            ]
        ]
    },
    {
        "id": "pool_build_outputs",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_decide",
        "name": "POOL build outputs",
        "func": "// POOL Heating — sestaveni vystupu + publikace flow state pro korekci (5s)\n// Vstup:  msg.decision\n// Vystupy:\n//   1 -> ventil action   ({action: \"ventil_on\"/\"ventil_off\"} / null)\n//   2 -> filtrace lock   ({payload: ms} / null)\n//   3 -> topeni_mod sync ({payload: \"BAZÉN - ...\"/\"Vypnuto\"})\n// POZN.: NIBE se od B3 rozhoduje separatne v pool_nibe_decide (60s)\n\nconst dec = msg.decision;\n\n// Flow state pro korekcni smycku (5s tick)\nflow.set(\"pool_patrony_allowed\", dec.patronyAllowed);\nflow.set(\"pool_patrony_max_floor\", dec.patronyMaxFloor);\n// FIX (10.5.2026 21:19, BUG 1): force-all-phases override pro korekcni smycku.\nflow.set(\"pool_patrony_force_all\", dec.patronyForceAllPhases === true);\n\n// Status nodu (diagnostika v NR UI)\nnode.status({fill: dec.statusFill, shape: \"dot\", text: dec.statusText});\n\n// Sestaveni 3 vystupu\nconst out = [null, null, null];\nif (dec.ventilAction === \"on\")  out[0] = {action: \"ventil_on\"};\nif (dec.ventilAction === \"off\") out[0] = {action: \"ventil_off\"};\nif (dec.lockUntil !== null)     out[1] = {payload: dec.lockUntil};\nout[2] = {payload: dec.mod};\n\nreturn out;\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "pool_link_to_vent"
            ],
            [
                "pool_link_to_lock"
            ],
            [
                "pool_link_to_mod"
            ]
        ]
    },
    {
        "id": "pool_g_pat_korekce",
        "type": "group",
        "z": "f1e2d3c4b5a60002",
        "name": "Patrony korekce (10s, §8.5 analogie)",
        "style": {
            "stroke": "#999999",
            "fill": "#fff0d0",
            "label": true,
            "color": "#ff7f0e"
        },
        "nodes": [
            "pool_inject_5s",
            "pool_pat_korekce_func",
            "pool_split_pat_kor",
            "pool_link_to_pat_kor"
        ],
        "x": 23,
        "y": 1219,
        "w": 697,
        "h": 82
    },
    {
        "id": "pool_inject_5s",
        "type": "inject",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "10s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "8",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 119,
        "y": 1260,
        "wires": [
            [
                "pool_pat_korekce_func"
            ]
        ]
    },
    {
        "id": "pool_pat_korekce_func",
        "type": "function",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "POOL korekce patron",
        "func": "// POOL Heating — patrony korekcni smycka (10s tick, analogie §8.5/§8.6)\n// Cte flow.pool_patrony_allowed + flow.pool_patrony_max_floor (nastavuje main 60s).\n// Feedback na baterii (bCh): +nabiji -> pridej fazi; -vybiji -> uber fazi.\n// Dead band (cfg.topeni_patron_dead_band_w) kolem 0 W — prevence oscilace.\n\nconst cfg = global.get(\"fve_config\") || {};\n// CRITICAL GUARD: pool flow NESMI sahat na patrony mimo letni rezim (§8.5 patri FVE Heating).\n// FIX (10.5.2026 21:19, BUG 4): pool_enabled + letni_rezim LIVE z HA (ne cached cfg) =>\n// user vypnutim automatizace dostane okamzite NESAHAT (return null), ne behem dalsiho refresh fve_config.\nfunction _gBl(id, d){const s=global.get(\"homeassistant.homeAssistant.states['\"+id+\"']\");if(!s)return d;return s.state===\"on\";}\nconst _letniLive = _gBl(\"input_boolean.letni_rezim\", cfg.letni_rezim === true);\nconst _poolEnabledLive = _gBl(\"input_boolean.automatizovat_vytapeni_bazenu\", cfg.pool_enabled === true);\nif (!_letniLive || !_poolEnabledLive) {\n    node.status({fill: \"grey\", shape: \"ring\", text: \"pool off (letni/enabled) — NESAHAT\"});\n    return null;\n}\nconst allowed = flow.get(\"pool_patrony_allowed\") === true;\nconst maxFloor = flow.get(\"pool_patrony_max_floor\") || 0;\n\nfunction getFloat(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    const v = parseFloat(s.state);\n    return isNaN(v) ? def : v;\n}\nfunction getBool(id, def) {\n    const s = global.get(\"homeassistant.homeAssistant.states['\" + id + \"']\");\n    if (!s) return def;\n    return s.state === \"on\";\n}\n\n// Aktualni stavy patron\nconst p1on = getBool(\"switch.patrona_faze_1\", false);\nconst p2on = getBool(\"switch.patrona_faze_3_2\", false);\nconst p3on = getBool(\"switch.patrona_faze_3\", false);\nconst actFaze = (p1on?1:0) + (p2on?1:0) + (p3on?1:0);\n\nfunction buildActions(target) {\n    const want = [target >= 1, target >= 2, target >= 3];\n    const cur = [p1on, p2on, p3on];\n    const names = [\"p1\", \"p2\", \"p3\"];\n    const acts = [];\n    for (let i = 0; i < 3; i++) {\n        if (want[i] && !cur[i]) acts.push({action: names[i] + \"_on\"});\n        else if (!want[i] && cur[i]) acts.push({action: names[i] + \"_off\"});\n    }\n    return acts;\n}\n\n// KDYZ NEPOVOLENO -> vypni vse (naraz, vsechny akce)\nif (!allowed) {\n    if (actFaze === 0) {\n        node.status({fill: \"grey\", shape: \"ring\", text: \"korekce: idle (allowed=0)\"});\n        return null;\n    }\n    const acts = buildActions(0);\n    node.status({fill: \"yellow\", shape: \"dot\", text: \"korekce -> OFF vse (\" + actFaze + \"f)\"});\n    return {payload: acts};\n}\n\n// FEEDBACK NA bCh (kladny = nabiji, zaporny = vybiji)\n// B1 fix: bCh musi byt WATTY (sensor.nabijeni_baterii), NE AMPERY (battery_dc_current).\n// fve-heating.json/pat_korekce_func uziva nabijeni_baterii — sjednocujeme.\nconst bCh = getFloat(\"sensor.nabijeni_baterii\", 0);\n// FIX (10.5.2026): deadBand=200W byl OD START kontroleru chybne maly — pri 1 faze 3000W\n// rozdil bCh skoci o ~3-4kW (nabiji 1500 -> vybiji -1500), tj. +deadBand vzdy spustil\n// ubrat-fazi -> oscilace ON/OFF v 10s cyklu. Pouzijeme stejny vzorec jako fve-heating\n// patrony korekce: max(cfg, FAZE_W/2) = 1500W. Plus 30s cooldown po zmene (anti-osc).\nconst FAZE_W = cfg.topeni_patron_faze_w || 3000;\nconst dbCfg = cfg.topeni_patron_dead_band_w || 500;\nconst deadBand = Math.max(dbCfg, Math.floor(FAZE_W / 2));\nconst CD_MS = (cfg.topeni_patron_change_cooldown || 3) * 10000;\nconst lastChg = flow.get(\"pool_pat_last_change\") || 0;\nconst inCooldown = (Date.now() - lastChg) < CD_MS;\n// Jedna faze patrony = 3000 W (tj. prah pridat = +3 kW, prah ubrat = jakykoli vybij)\n\n// B6: Souběh NIBE → bazén — ochrana jističe §1.2 (max_spotreba_sit_w 22 kW).\n// NIBE peak ~14 kW. Pri NIBE → bazén ON omezujeme patrony max na 1 fázi (3 kW),\n// soucet 14+3=17 kW < 22 kW jistič. Bez NIBE plati puvodni maxFloor.\n// FIX 24.5.2026 (jistic vyhozeny v zaporne nakupni cene): clamp na arbitr zn_pat_max_floor\n// (§4.10.5 vrstva 2). Pokud arbitr v PEAK nastavi zn_pat_max_floor=0, patrony OFF okamzite.\nconst nibeRunning = flow.get(\"pool_nibe_running\") === true;\nconst _znFloorPool = global.get(\"zn_pat_max_floor\");\nconst _znCapPool = (_znFloorPool != null) ? _znFloorPool : 99;\nconst maxFloorEff = Math.min(nibeRunning ? Math.min(maxFloor, 1) : maxFloor, _znCapPool);\n\nlet target = actFaze;\nlet reason = \"hold\";\n\n// FIX (10.5.2026 21:19, BUG 1, ZAKONY § 8.5 r.942-944):\n// forceAll = SOC>=95 + zakaz pretoku => target = max (3 faze), bypass cooldown a feedback.\n// Korekcni smycka je VYRAZENA do vybiti SOC pod 95 %. Decide_logic resi reset (forceAll=false).\n// FIX 24.5.2026: forceAll respektuje arbitr zn_pat_max_floor (maxFloorEff je uz clamped vyse).\n// Pri PEAK -> maxFloorEff=0 -> patrony OFF i pri forceAll. Jistic ma absolutni prednost.\nconst forceAll = flow.get(\"pool_patrony_force_all\") === true;\nif (forceAll) {\n    target = maxFloorEff;\n    var _fall = (_znFloorPool != null && _znFloorPool < 3) ? \" CLAMP-arb=\" + _znFloorPool : \"\";\n    reason = \"FORCE-ALL (SOC>=95 + zakaz pretoku) -> \" + maxFloorEff + \"f\" + _fall;\n    const acts = buildActions(target);\n    if (target !== actFaze) flow.set(\"pool_pat_last_change\", Date.now());\n    node.status({fill: \"red\", shape: \"dot\", text: \"FORCE-ALL \" + actFaze + \"->\" + target + \"f\" + _fall});\n    if (acts.length === 0) return null;\n    return {payload: acts};\n}\n\nif (inCooldown) {\n    reason = \"COOLDOWN \" + Math.ceil((CD_MS - (Date.now() - lastChg))/1000) + \"s\";\n} else if (bCh > 3000 && actFaze < maxFloorEff) {\n    // Silne nabijime -> pridat fazi (o 1 krok; korekce opakuje kazdych 10s)\n    target = actFaze + 1;\n    reason = \"bCh=+\" + Math.round(bCh) + \"W > +3kW -> +1f\";\n} else if (bCh < -deadBand && actFaze > 0) {\n    // Vybijime pres dead band -> ubrat fazi\n    target = actFaze - 1;\n    reason = \"bCh=\" + Math.round(bCh) + \"W < -\" + deadBand + \"W -> -1f\";\n} else if (actFaze === 0 && maxFloorEff >= 1 && bCh > FAZE_W) {\n    // §8.5 stupnovani fazi: < 3 kW prebytek -> 0 fazi (1 faze zere 3 kW).\n    // Pri actFaze=0 je bCh ~ realny prebytek (vse, co nejde do domu, jde do baterie).\n    // ZADNY bypass (cantExport / zaporna cena) — § 8.5 stupnovani je absolutni.\n    // Speciální pravidlo \"SOC>=95%+zakaz pretoku -> max fazi\" je v decide-loopu (raise maxFloor),\n    // ne v idle startu — pri SOC<95% a malem prebytku patrony NESMI zacit.\n    target = 1;\n    reason = \"idle bCh=+\" + Math.round(bCh) + \"W > \" + FAZE_W + \"W -> 1f\";\n} else if (actFaze === 0 && maxFloorEff >= 1) {\n    reason = \"WAIT idle bCh=\" + Math.round(bCh) + \"W <= +\" + FAZE_W + \"W (no surplus)\";\n}\n\ntarget = Math.max(0, Math.min(target, maxFloorEff));\nconst acts = buildActions(target);\nif (target !== actFaze) flow.set(\"pool_pat_last_change\", Date.now());\n\nnode.status({\n    fill: target > 0 ? \"green\" : \"grey\",\n    shape: \"dot\",\n    text: \"korekce \" + actFaze + \"->\" + target + \"f | \" + reason + \" | maxF=\" + maxFloorEff + (nibeRunning ? \" (NIBE cap1)\" : \"\"),\n});\n\nif (acts.length === 0) return null;\nreturn {payload: acts};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 309,
        "y": 1260,
        "wires": [
            [
                "pool_split_pat_kor"
            ]
        ]
    },
    {
        "id": "pool_split_pat_kor",
        "type": "split",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "split akci",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 519,
        "y": 1260,
        "wires": [
            [
                "pool_link_to_pat_kor"
            ]
        ]
    },
    {
        "id": "pool_link_to_pat_kor",
        "type": "link out",
        "z": "f1e2d3c4b5a60002",
        "g": "pool_g_pat_korekce",
        "name": "→ patrony exec",
        "mode": "link",
        "links": [
            "pool_link_from_pat"
        ],
        "x": 679,
        "y": 1260,
        "wires": []
    }
]