node-red/flows/vypocitej-ceny.json
[
    {
        "id": "b44cdb66e54727f6",
        "type": "group",
        "z": "d32891aad318f0e3",
        "name": "Naplnění vstupní tabulky cen z http",
        "style": {
            "label": true,
            "fill": "#ffbfbf",
            "color": "#001f60",
            "label-position": "n",
            "fill-opacity": "0.74"
        },
        "nodes": [
            "19c197e0feac1b52",
            "13d6e53e918e0d48",
            "90dbd055aecc8822",
            "b9d72daaacf95105",
            "7b8e1478ae7abdcf",
            "f06592760349c26a",
            "a0375fbe89ce7386",
            "0dccef44f2f263b7",
            "ae99347c2a610653",
            "8cf74ed44cce80e6",
            "9866761975399c7f",
            "aa44087d63024639"
        ],
        "x": 15,
        "y": 19,
        "w": 999,
        "h": 202
    },
    {
        "id": "19c197e0feac1b52",
        "type": "inject",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "00:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 111,
        "y": 60,
        "wires": [
            [
                "8cf74ed44cce80e6"
            ]
        ]
    },
    {
        "id": "13d6e53e918e0d48",
        "type": "http request",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://spotovaelektrina.cz/api/v1/price/get-prices-json-qh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 501,
        "y": 120,
        "wires": [
            [
                "90dbd055aecc8822"
            ]
        ]
    },
    {
        "id": "90dbd055aecc8822",
        "type": "json",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Parsuj JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 681,
        "y": 120,
        "wires": [
            [
                "b9d72daaacf95105"
            ]
        ]
    },
    {
        "id": "b9d72daaacf95105",
        "type": "split",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Rozděl sekce",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "day",
        "property": "payload",
        "x": 871,
        "y": 120,
        "wires": [
            [
                "f06592760349c26a"
            ]
        ]
    },
    {
        "id": "7b8e1478ae7abdcf",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Sestav insert (ceny_raw)",
        "func": "let day = msg.day\nlet hour = msg.payload.hour\nlet minute = msg.payload.minute\nlet priceEur = msg.payload.priceEur\nlet priceCZK = msg.payload.priceCZK\nlet level = msg.payload.level\nlet levelNum = msg.payload.levelNum\nlet insert = \"\"\nlet myRecordCount = flow.get(\"myRecordCount\")\n\ninsert = \n`INSERT INTO \"own_energy_prices\" (\"day\", \"hour\", \"minute\", \"priceEur\", \\\n \"priceCZK\", \"level\", \"levelNum\") VALUES (\"${day}\", ${hour}, ${minute}, \\\n ${priceEur}, ${priceCZK}, \"${level}\", ${levelNum})`\n\nflow.set(\"myRecordCount\", ++myRecordCount)\n\nmsg.payload = insert\nmsg.topic = insert\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 468,
        "y": 180,
        "wires": [
            [
                "0dccef44f2f263b7"
            ]
        ]
    },
    {
        "id": "f06592760349c26a",
        "type": "split",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Iteruj pole",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 298,
        "y": 180,
        "wires": [
            [
                "7b8e1478ae7abdcf"
            ]
        ]
    },
    {
        "id": "a0375fbe89ce7386",
        "type": "sqlite",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "DELETE FROM \"own_energy_prices\";\n",
        "name": "Vymaž tabulku",
        "x": 311,
        "y": 120,
        "wires": [
            [
                "13d6e53e918e0d48"
            ]
        ]
    },
    {
        "id": "0dccef44f2f263b7",
        "type": "sqlite",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "msg.topic",
        "sql": "CREATE TABLE \"own_energy_prices\"   (\n  \"day\" VARCHAR(20) NOT NULL,\n  \"hour\" INTEGER NOT NULL,\n  \"minute\" INTEGER NOT NULL,\n  \"priceEur\" REAL NOT NULL,\n  \"priceCZK\" REAL NOT NULL,\n  \"level\" VARCHAR(20) NOT NULL,\n  \"levelNum\" INTEGER NOT NULL\n);\n",
        "name": "Proveď insert",
        "x": 648,
        "y": 180,
        "wires": [
            [
                "9866761975399c7f"
            ]
        ]
    },
    {
        "id": "ae99347c2a610653",
        "type": "inject",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "15:59",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "59 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "8cf74ed44cce80e6"
            ]
        ]
    },
    {
        "id": "8cf74ed44cce80e6",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Init vars",
        "func": "flow.set(\"myCount\", 1)\nflow.set(\"myRecordCount\", 0)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 131,
        "y": 120,
        "wires": [
            [
                "a0375fbe89ce7386"
            ]
        ]
    },
    {
        "id": "9866761975399c7f",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Počkej na insert (ceny_raw)",
        "func": "let myCount = flow.get(\"myCount\")\nlet myRecordCount = flow.get(\"myRecordCount\")\n\nif (myCount == myRecordCount) {\n  msg.payload = \"ahoj\"\n  return msg;\n} else flow.set(\"myCount\", ++myCount)\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 868,
        "y": 180,
        "wires": [
            [
                "7e338e3827c2fb15"
            ]
        ]
    },
    {
        "id": "aa44087d63024639",
        "type": "inject",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "15:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 15 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "8cf74ed44cce80e6"
            ]
        ]
    },
    {
        "id": "6d97960f9560e05b",
        "type": "sqlitedb",
        "db": "/homeassistant/home-assistant_v2.db",
        "mode": "RWC"
    },
    {
        "id": "23b6b827a7b0e6e5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1"
        }
    },
    {
        "id": "7e338e3827c2fb15",
        "type": "sqlite",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "mydb": "6d97960f9560e05b",
        "sqlquery": "fixed",
        "sql": "SELECT p.day, p.hour, p.minute, p.priceCZK, ph.priceCZKhour, f.*\nFROM own_energy_prices p \nINNER JOIN own_energy_fees f ON 1 = 1 \nINNER JOIN (\n    SELECT day, hour, avg(priceCZK) priceCZKhour \n    FROM own_energy_prices \n    GROUP BY day, hour\n) ph ON p.day = ph.day and p.hour = ph.hour",
        "name": "Načti ceny + poplatky",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "calc_total_prices"
            ]
        ]
    },
    {
        "id": "calc_total_prices",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Vypočítej celkové ceny",
        "func": "// Calculate total buy/sell prices with fees and margins\nconst rows = msg.payload || [];\nconst results = [];\n\nfor (const row of rows) {\n    const { day, hour, minute, priceCZK, priceCZKhour } = row;\n    const { marginBuy, marginProd, distrVT, distrNT, tax, sys_services, poze } = row;\n    \n    // Distribution tariff depends on hour\n    const distr = [6,9,13,16].includes(hour) ? distrVT : distrNT;\n    \n    // Buy prices (with all fees + VAT)\n    const priceCZKhourBuy = (((priceCZKhour / 1000) + marginBuy + distr + tax + sys_services + poze) * 1.21).toFixed(2);\n    const priceCZKquarterBuy = (((priceCZK / 1000) + marginBuy + distr + tax + sys_services + poze) * 1.21).toFixed(2);\n    \n    // Sell prices (minus margin, no VAT)\n    const priceCZKhourProd = Math.floor(((priceCZKhour / 1000) - marginProd) * 100 + Number.EPSILON) / 100;\n    const priceCZKquarterProd = Math.floor(((priceCZK / 1000) - marginProd) * 100 + Number.EPSILON) / 100;\n    \n    results.push({\n        day, hour, minute,\n        priceCZKhourBuy: parseFloat(priceCZKhourBuy),\n        priceCZKquarterBuy: parseFloat(priceCZKquarterBuy),\n        priceCZKhourProd,\n        priceCZKquarterProd\n    });\n}\n\nmsg.payload = results;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "calc_global_ranks"
            ]
        ]
    },
    {
        "id": "calc_global_ranks",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Vypočítej GLOBÁLNÍ ranky",
        "func": "// Calculate GLOBAL ranks across ALL available hours (today + tomorrow)\n// CRITICAL: Do NOT partition by day! Rank all hours together.\nconst rows = msg.payload || [];\n\n// Sort by each price dimension\nconst sortedHourBuy = rows.slice().sort((a, b) => a.priceCZKhourBuy - b.priceCZKhourBuy);\nconst sortedQuarterBuy = rows.slice().sort((a, b) => a.priceCZKquarterBuy - b.priceCZKquarterBuy);\nconst sortedHourProd = rows.slice().sort((a, b) => b.priceCZKhourProd - a.priceCZKhourProd);\nconst sortedQuarterProd = rows.slice().sort((a, b) => b.priceCZKquarterProd - a.priceCZKquarterProd);\n\n// Assign GLOBAL ranks (dense_rank equivalent)\nfunction assignRanks(sorted, priceField) {\n    const ranks = {};\n    let rank = 1;\n    let lastPrice = null;\n    \n    for (const row of sorted) {\n        const price = row[priceField];\n        if (lastPrice !== null && price !== lastPrice) {\n            rank++;\n        }\n        const key = row.day + '_' + row.hour + '_' + row.minute;\n        ranks[key] = rank;\n        lastPrice = price;\n    }\n    return ranks;\n}\n\nconst ranksHourBuy = assignRanks(sortedHourBuy, 'priceCZKhourBuy');\nconst ranksQuarterBuy = assignRanks(sortedQuarterBuy, 'priceCZKquarterBuy');\nconst ranksHourProd = assignRanks(sortedHourProd, 'priceCZKhourProd');\nconst ranksQuarterProd = assignRanks(sortedQuarterProd, 'priceCZKquarterProd');\n\n// Add ranks to rows\nfor (const row of rows) {\n    const key = row.day + '_' + row.hour + '_' + row.minute;\n    row.levelCheapestHourBuy = ranksHourBuy[key] || 99;\n    row.levelCheapestQuarterBuy = ranksQuarterBuy[key] || 99;\n    row.levelMostExpensiveHourProd = ranksHourProd[key] || 99;\n    row.levelMostExpensiveQuarterProd = ranksQuarterProd[key] || 99;\n}\n\nmsg.payload = rows;\nnode.status({fill: 'green', shape: 'dot', text: rows.length + ' cen s globálními ranky'});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "store_to_global"
            ]
        ]
    },
    {
        "id": "store_to_global",
        "type": "function",
        "z": "d32891aad318f0e3",
        "g": "b44cdb66e54727f6",
        "name": "Ulož do global",
        "func": "// Store prices with GLOBAL ranks to global variable\nconst prices = msg.payload || [];\nglobal.set('fve_prices_forecast', prices);\n\n// Find and set current price\nconst now = new Date();\nconst hour = now.getHours();\nlet currentLevel = 5;\n\nfor (const row of prices) {\n    if (row.hour === hour && row.day === 'hoursToday') {\n        currentLevel = row.levelCheapestHourBuy || 5;\n        global.set('fve_current_price', {\n            buy: row.priceCZKhourBuy,\n            sell: row.priceCZKhourProd,\n            levelBuy: row.levelCheapestHourBuy,\n            levelSell: row.levelMostExpensiveHourProd\n        });\n        break;\n    }\n}\n\nglobal.set('fve_price_level', currentLevel);\nnode.status({fill: 'green', shape: 'dot', text: prices.length + ' cen uloženo (GLOBAL ranks)'});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 280,
        "wires": [
            []
        ]
    }
]